{{!-- Start of form, to create new action --}}
<div class="yubo_model tree_model">
    <div class="modal" id="add_actions">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <h4 class="modal-title" id="exampleModalLabel">
                            <img class="edit-image-width" src="./dist/img/Add_action.png" alt="">
                            Add Action
                            </h>
                            {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                    </div>


                    <form  role="form">
                        <div class="row margin-top-header">
                            <div class="col-md-12">
                                <label> Action Name </label>
                                <input type="text" id="actnName" name="actionName" class="form-control"
                                    placeholder="Action Name" required>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                 <label> Action Url </label>
                                <input type="text" id="actnUrl" name="actionUrl" class="form-control"
                                    placeholder="Action Url" required>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                 <label> Action Headers </label>
                                {{!-- <input type="text" id="actnApiKey" name="actionApiKey" class="form-control"
                                    placeholder="Action API Key"> --}}
                                <textarea id="actnHeaders" name="actionHeaders" class="form-control"
                                    placeholder="Action Headers"></textarea>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                 <label> Action Body Data </label>
                                {{!-- <input type="text" id="actnApiScrtKey" name="actionApiScrtKey"
                                    class="form-control" placeholder="Action API Secret"> --}}
                                <textarea id="actnData" name="actionData" class="form-control"
                                    placeholder="Action Body Data"></textarea>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                 <label> Select Method </label>
                                <select id="actnRqwstMthd" name="actionMethod" required class="form-control">
                                    <option selected disabled hidden class="color-white outline-option">
                                        Select Method</option>
                                    <option value="POST" class="color-white outline-option">POST
                                    </option>
                                    <option value="GET" class="color-white outline-option">GET</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margin-top-input slotFieldsDiv">
                            <div class="col-md-12">
                                 <label> What are your slots </label>
                                <select id="slotFields" class="ui fluid search dropdown addctionslotFields" multiple="">
                                </select>
                            </div>
                        </div>
                        {{!-- <div class="row margin-top-input">
                            <div class="col-md-12">
                                <input type="text" id="actnResponse" name="actionResponse" class="form-control"
                                    placeholder="Action Response">
                            </div>
                        </div> --}}
                        
                        <div class="form-group mt10">
                            <label for="operator_title">Add Your Response</label>
                        </div>
                        <div class="row general-container" id="answer-section">
                            <div class="form-group responsediv">
                                <div class="responeappendiv">
                                    <div class="col-sm-5">
                                    <input type="text" name="mytext[]" class="form-control inputkey">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="mytext[]" class="form-control inputvalue">
                                </div>
                                <div class="col-sm-2 text-right">
                                    <button type ="button" class="add_form_field btn br5 addresp">
                                        <span>+</span>
                                    </button>
                                </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 intent_model_btn">
                                <button type="button" class="discard_Btn" data-dismiss="modal">Discard</button>
                                <button type="button" value="Save" class="save_button  actionsave">Save</button>
                            </div>
                        </div>
                </div>
                </form>

            </div>
            <!-- Modal footer -->
        </div>
    </div>
</div>
</div>
{{!-- End of form to create new action --}}