        {{!-- Start of form, to create new webhook --}}
                <div class="yubo_model tree_model">
                    <div class="modal" id="add_webhook">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <h4 class="modal-title" id="exampleModalLabel">
                                            <img class="edit-image-width" src="./dist/img/Add_webhook.png" alt="">
                                            Add Webhook
                                        </h4>
                                            {{!-- <button type="button" class="close"
                                                data-dismiss="modal">&times;</button> --}}
                                    </div>
                                    <form id="add_webhook" role="form">
                                        <div class="row margin-top-header">
                                            <div class="col-md-12 ">
                                                <label> Webhook Name </label>
                                                <input type="text" id="wName" class="form-control"
                                                    placeholder="Webhook Name" required>
                                            </div>
                                        </div>
                                        <div class="row margin-top-input">
                                            <div class="col-md-12 ">
                                                <label> Webhook Url </label>
                                                <input type="text" id="wUrl" class="form-control"
                                                    placeholder="Webhook Url" required>
                                            </div>
                                        </div>
                                        <div class="row margin-top-input">
                                            <div class="col-md-12 ">
                                                <label> Parameters </label>
                                                <input type="text" id="wParameters" class="form-control"
                                                    placeholder="Parameters">
                                            </div>
                                        </div>
                                        <div class="row margin-top-input">
                                            <div class="col-md-12 ">
                                                <label> API Key </label>
                                                <input type="text" id="wApiKey" class="form-control"
                                                    placeholder="API Key">
                                            </div>
                                        </div>
                                        <div class="row margin-top-input">
                                            <div class="col-md-12 ">
                                                <label> API Secret </label>
                                                <input type="text" id="wApiScrtKey" class="form-control"
                                                    placeholder="API Secret">
                                            </div>
                                        </div>
                                        <div class="row margin-top-input">
                                            <div class="col-md-12 ">
                                                <label> Select Method </label>
                                                <select id="wRqwstMthd" class="form-control">
                                                    <option selected disabled hidden class="color-white outline-option">
                                                        Select Method</option>
                                                    <option value="POST" class="color-white outline-option">POST
                                                    </option>
                                                    <option value="GET" class="color-white outline-option">GET</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 intent_model_btn">
                                                <button type="button" class="discard_Btn"
                                                    data-dismiss="modal">Discard</button>
                                                <button type="submit" value="Save" class="save_button">Save</button>

                                                <!-- <div id="dialog1" title="Dialog Title" hidden="hidden">I'm a dialog</div> -->


                                            </div>
                                        </div>
                                        {{!-- <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" value="Save" class="btn btn-success">Save</button>
                                            </div>
                                        </div> --}}
                                        {{!-- <div class="row">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>
                                            </div> --}}

                                        </div>
                                        {{!-- <input type="text" id="wName" placeholder="Webhook Name"
                                            required><br></br>
                                        --}}
                                        {{!-- <input type="text" id="wUrl" placeholder="Webhook Url" required><br></br>
                                        --}}
                                        {{!-- <input type="text" id="wParameters" placeholder="Parameters"><br></br>
                                        --}}
                                        {{!-- <input type="text" id="wApiKey" placeholder="API Key"><br></br> --}}
                                        {{!-- <input type="text" id="wApiScrtKey" placeholder="API Secret"><br></br>
                                        --}}
                                        {{!-- <select id="wRqwstMthd">
                                            <option selected disabled hidden>Select Method</option>
                                            <option value="POST">POST</option>
                                            <option value="GET">GET</option>
                                        </select><br></br> --}}
                                        {{!-- <input type="text" id="wRqwstMthd" placeholder="Request Method"><br></br>
                                        --}}
                                        {{!-- <button type="submit" value="Save" class="btn btn-success">Save</button>
                                        --}}
                                    </form>

                                </div>

                                <!-- Modal footer -->


                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End of form to create new webhook --}}