{{!-- Start of form, to edit any action --}}
<div class="yubo_model tree_model">
    <div class="modal" id="edit_action">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <h4 class="modal-title" id="exampleModalLabel">
                            <img class="edit-image-width" src="./dist/img/Add_webhook.png" alt="">
                            Edit Action
                        </h4>
                        {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
                        --}}
                    </div>
                    <form id="edit_action" role="form">
                        <div class="row margin-top-edit-header">
                            <div class="col-md-12 text-center">
                                <input type="hidden" id="actionId">
                            </div>
                        </div>
                        <div class="row margin-top-header">
                            <div class="col-md-12">
                                <label> Action Name </label>
                                <input type="text" id="actionName" name="actionName" class="form-control"
                                    placeholder="Action Name" required>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                <label> Action Url </label>
                                <input type="text" id="actionUrl" name="actionUrl" class="form-control"
                                    placeholder="Action Url" required>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                <label> Action Header </label>
                                {{!-- <input type="text" id="actnApiKey" name="actionApiKey" class="form-control"
                                    placeholder="Action API Key"> --}}
                                <textarea id="actionHeaders" name="actionHeaders" class="form-control"
                                    placeholder="Action Headers"></textarea>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                <label> Action Data </label>
                                {{!-- <input type="text" id="actnApiScrtKey" name="actionApiScrtKey"
                                    class="form-control" placeholder="Action API Secret"> --}}
                                <textarea id="actionData" name="actionData" class="form-control"
                                    placeholder="Action Body Data"></textarea>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                <label> Action Method </label>
                                <select id="actionMethod" required name="actionMethod" class="form-control">
                                    <option selected disabled hidden class="color-white outline-option">
                                        Select Method</option>
                                    <option value="POST" class="color-white outline-option">POST
                                    </option>
                                    <option value="GET" class="color-white outline-option">GET</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12">
                                <label> Action Slot Field </label>
                                <select id="actionSlotFields" class="slotFields ui fluid search dropdown" multiple="">
                                </select>
                            </div>
                        </div>
                        <div class="row margin-top-input">
                            <div class="col-md-12 text-center editresponsediv new-inputkey">
                                {{!-- <input type="text" id="actionResponse" name="actionResponse" class="form-control"
                                    placeholder="Action Response"> --}}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12 intent_model_btn">
                                <button type="button" class="discard_Btn" data-dismiss="modal">Discard</button>
                                <!-- <div id="dialog1" title="Dialog Title" hidden="hidden">I'm a dialog</div> -->
                                <button type="submit" value="Update" class="save_button">Update</button>
                            </div>
                        </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>