<head>
	 <link rel="stylesheet" type="text/css" href="">
    <link href="assets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="assets/jquery.js"></script>
<link href='assets/fontcss.css' rel='stylesheet' type='text/css'>
<link href='assets/font-awesome.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/style.css"> 
</head>