<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- //*****Load the chatbot for basic user only ***********************//  --}}
    {{#if showActivateButton}}
        <link rel="stylesheet" href="https://yubo.yugasa.org/assets/yubo4yubo.bot.css">
        <script src="https://yubo.yugasa.org/assets/yubo4yubo.bot.js"></script>
    {{/if}}
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="dist/js/commonjs/common.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            }); 
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; 
                j.src ='https://www.googletagmanager.com/gtm.js?id=' + i + dl; 
                f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
<script>
/*
(function(apiKey){
    (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
    v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
        o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
        y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
        z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

        // This function creates anonymous visitor IDs in Pendo unless you change the visitor id field to use your app's values
        // This function uses the placeholder 'ACCOUNT-UNIQUE-ID' value for account ID unless you change the account id field to use your app's values
        // Call this function after users are authenticated in your app and your visitor and account id values are available
        // Please use Strings, Numbers, or Bools for value types.
        pendo.initialize({
            visitor: {
                id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in, default creates anonymous ID
                // email:        // Recommended if using Pendo Feedback, or NPS Email
                // full_name:    // Recommended if using Pendo Feedback
                // role:         // Optional

                // You can add any additional visitor level key-values here,
                // as long as it's not one of the above reserved names.
            },

            account: {
                id:           'ACCOUNT-UNIQUE-ID' // Required if using Pendo Feedback, default uses the value 'ACCOUNT-UNIQUE-ID'
                // name:         // Optional
                // is_paying:    // Recommended if using Pendo Feedback
                // monthly_value:// Recommended if using Pendo Feedback
                // planLevel:    // Optional
                // planPrice:    // Optional
                // creationDate: // Optional

                // You can add any additional account level key-values here,
                // as long as it's not one of the above reserved names.
            }
        });
})('f3c425cd-fe56-44ce-645f-77ac6f8172a3');
*/
</script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId:    '822191299082371',
      cookie:   true, 
      xfbml:    true, 
      version:  'v15.0'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="sidebar-toggle visible-xs" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Logo -->
            <a href="" class="logo">
                {{!-- {{#if logo}}
                {
                <img src="./dist/img/{{logo}}" alt="Logo">
                }
                {{else}}
                { --}}
                <img src="./dist/img/yugasa_bot_logo_colored.png" alt="Bot Logo">
                {{!-- }
                {{/if}} --}}
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <div class="right-div-se">
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                {{!-- <a href="" class="sidebar-toggle visible-xs" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a> --}}

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs client_name">{{#if client_name}}{{client_name}}{{/if}}</span>
                                <img src="./dist/img/profile_placeholder-color.png" class="user-image header_user_image"
                                    alt="User Image">
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/editProfile" class="btn btn-default btn-flat"><img
                                                class="menu_profile_img" src="./dist/img/Profile.png">Edit Profile</a>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/logOut" class="btn btn-default logoutbtn btn-flat"><img
                                                class="menu_logout_img" src="./dist/img/logout.png">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            {{#if showActivateButton}}
                <div class="active_button" >
                    <button class="active-now-button" onclick="gotoBilinPage()" >Activate Now</button>
                </div>
            {{/if}}
        </div>
        </header>
        <script>
            if (localStorage.getItem('pdata')) {
                var pdata = JSON.parse(localStorage.getItem('pdata'))
                if (pdata?.cname) {
                    $('.client_name').html(pdata.cname)
                }
                if (pdata?.profile_img) {
                    let src = './dist/img/' + pdata.profile_img;
                    $('.header_user_image').attr('src', src)
                } else {
                    let src = './dist/img/profile_placeholder-color.png';
                    $('.header_user_image').attr('src', src)
                }
            }
            $('.logoutbtn').click(function () {
                localStorage.removeItem("pdata");
            })
            function gotoBilinPage(){
               window.location.href = "https://admin.helloyubo.com/billing";
            }
        </script>
