<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="dist/js/commonjs/common.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            }); 
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; 
                j.src ='https://www.googletagmanager.com/gtm.js?id=' + i + dl; 
                f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
</head>

<style>
    .back_btn {
        border: 1px solid white;
        background-color: white;
        color: #6800a1;
        font-weight: bold;
    }
</style>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="sidebar-toggle visible-xs" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Logo -->
            <a href="" class="logo">
                {{!-- {{#if logo}}
                {
                <img src="./dist/img/{{logo}}" alt="Logo">
                }
                {{else}}
                { --}}
                <img src="./dist/img/yugasa_bot_logo_colored.png" alt="Bot Logo">
                {{!-- }
                {{/if}} --}}
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            {{!-- <button onclick="history.back()">Go Back</button> --}}
            
            <nav class="navbar navbar-static-top">

                <div class="navbar-custom-menu">
                   
                  <ul class="nav navbar-nav">
                       
                        <li class="dropdown user user-menu">
                              <button class="back_btn" onclick="history.back()">Back</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <script>
            if (localStorage.getItem('pdata')) {
                var pdata = JSON.parse(localStorage.getItem('pdata'))
                if (pdata?.cname) {
                    $('.client_name').html(pdata.cname)
                }
                if (pdata?.profile_img) {
                    let src = './dist/img/' + pdata.profile_img;
                    $('.header_user_image').attr('src', src)
                } else {
                    let src = './dist/img/profile_placeholder-color.png';
                    $('.header_user_image').attr('src', src)
                }
            }
            $('.logoutbtn').click(function () {
                localStorage.removeItem("pdata");
            })
        </script>