<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>


{{#if morris}}
	<!-- Morris Charts JavaScript -->
	<script src="/vendor/raphael/raphael.min.js"></script>
	<script src="/vendor/morrisjs/morris.min.js"></script>
	<script src="/data/morris-data.js"></script>
{{/if}}

{{#if flot}}
	<!-- Flot Charts JavaScript -->
	<script src="/vendor/flot/excanvas.min.js"></script>
	<script src="/vendor/flot/jquery.flot.js"></script>
	<script src="/vendor/flot/jquery.flot.pie.js"></script>
	<script src="/vendor/flot/jquery.flot.resize.js"></script>
	<script src="/vendor/flot/jquery.flot.time.js"></script>
	<script src="/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
	<script src="/data/flot-data.js"></script>
{{/if}}

{{#if tables}}
	<!-- DataTables JavaScript -->
	<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
	<script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
{{/if}}

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>  
