<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <span id="menuClose" class="visible-xs">
    <img src="./dist/img/header-crossIcon.png" class="menuCloseImg" style="display: inline;" data-toggle="push-menu"
      role="button">
  </span>
  {{!-- <div class="navbar-custom-menu visible-xs">
    <ul class="nav navbar-nav">
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-xs client_name">test_chatbot</span>
          <img src="./dist/img/profile_img-1607683326809.jpeg" class="user-image header_user_image" alt="User Image">
        </a>
      </li>
    </ul>
  </div> --}}

  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <p>Analytics</p>
      <li class="">
        <a href="/adminPanel">
          <img class="hover-white-img" src="./dist/img/Dashboard.png">
          <span>Dashboard</span>
        </a>
      </li>
      <li class="">
        <a href="/chat" class="">
          <img src="./dist/img/Communication.png">
          Communication
        </a>
      </li>
      <li class="">
        <a href="/fallbacks" class="">
          <img src="./dist/img/Fallback.png">
          Fallbacks
        </a>
      </li>
      {{#if userTypePro }}
      <li class="">
        <a href="/logs" class="">
          <img src="./dist/img/Logs.png">
          Visitor's Log<span>&nbsp;</span><sup>BETA</sup>
        </a>
      </li>
      {{/if}}
    </ul>
    <ul class="sidebar-menu" data-widget="tree">
      <p>Bot Builder</p>
      <li class="">
        <a href="/story" class="">
          <img src="./dist/img/Your-Story.png">
          Your Story
        </a>
      </li>
      <li class="">
        <a href="/intent" class="">
          <img src="./dist/img/Create-Intent.png">
          Intents
        </a>
      </li>
      <li class="">
        <a href="/tree" class="">
          <img src="./dist/img/Branching-Tree.png">
          Conversational Flow
        </a>
      </li>
    </ul>
    {{#if userTypePro }}
    <ul class="sidebar-menu" data-widget="tree">
      <p>Extensions</p>
      <li class="">
        <a href="/webhooks" class="">
          <img src="./dist/img/Webhooks.png">
          Webhook and Actions<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li>
      {{!-- <li class="">
        <a href="/integration" class="">
          <img src="./dist/img/integrations_new1.png">
          Integrations<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li> --}}
      <li class="">
        <a href="/slots" class="">
          <img src="./dist/img/slots.png">
          Slots<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li>
      <li class="">
        <a href="/language" class="">
          <img src="./dist/img/languages.png">
          Languages
        </a>
      </li>
      {{!-- <li class="">
        <a href="/manage-agents" class="">
          <img src="./dist/img/manageAgent.png">
          Manage-Agents<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li> --}}
     
      {{!-- <li class="">
        <a href="/whatsapp" class="">
          <img src="./dist/img/Communication.png">
          Whatsapp
        </a>
      </li>
      <li class="">
        <a href="/whatsappGroup" class="">
          <img src="./dist/img/create-group.png">
          whatsapp Groups
        </a>
      </li> --}}
    </ul>
    {{/if}}
   {{#if userTypePro }}
   {{!-- {{#if showCampaignTabs }} --}}
    <ul class="sidebar-menu" data-widget="tree">
      <p>Campaigning</p>
      <li class="">
        <a href="/subscribers" class="">
          <img src="./dist/img/mail-settings.png">
          Subscribers
        </a>
      </li>
       <li class="">
        <a href="/mygroup" class="">
          <img src="./dist/img/create-group.png">
          My Group
        </a>
      </li>
      <li class="">
        <a href="/campaigning" class="">
          <img src="./dist/img/campaign.png">
          Campaigning
        </a>
      </li>
      <li class="">
         <a href="/whatsapppAnalytics" class="">
          <img src="./dist/img/whatsapp_analytics.png" style="filter: invert(11%) sepia(47%) saturate(5482%) hue-rotate(274deg) brightness(121%) contrast(141%);">
          Whatsapp Analytics
        </a>
      </li>
    </ul> 
    {{/if}}
    {{!-- {{/if}} --}}

    {{!-- {{#if isHumanAgentEnabled}}
    <ul class="sidebar-menu" data-widget="tree">
      <p>Manage</p>
      <li class="">
        <a href="/manage-agents" class="">
          <img src="./dist/img/editProfile-blue.png">
          Manage-Agents<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li>
    </ul>
    {{/if}} --}}
    <ul class="sidebar-menu" data-widget="tree">
      <p>Settings</p>
      <li class="">
        <a href="/subscription" class="">
          <img src="./dist/img/Settings.png">
          Settings
        </a>
      </li>
      {{!-- <li class="">
        <a href="/mailsettings" class="">
          <img src="./dist/img/mail-settings.png">
          Mail Settings
        </a>
      </li>
       <li class="">
        <a href="/manage-agents" class="">
          <img src="./dist/img/manageAgent.png">
          Manage-Agents<span>&nbsp;</span><sup>PRO</sup>
        </a>
      </li> --}}
      <li class="">
        <a href="/editProfile" class="">
          <img src="./dist/img/editProfile-blue.png">
          Edit Profile
        </a>
      </li>
      {{#unless userTypePro}}
      <li class="">
        <a href="/billing" class="">
          <img src="./dist/img/editProfile-blue.png">
          Subscription
        </a>
      </li>
      {{/unless}}
      <li class="">
        <a href="/help" class="">
          <img src="./dist/img/Help.png">
          Help
        </a>
      </li>
      <li class="">
        <a href="/logOut" class="">
          <img src="./dist/img/logOut-blue.png">
          Sign Out
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<script>
  $(function () {
    $('ul.sidebar-menu li a').each(function () {
      if ($(this).attr('href') == window.location.pathname) {
        $(this).parent().addClass('is-selected');
      }
    });
  });
</script>
