<!DOCTYPE html><html class=''>
<head>
{{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

{{!-- <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"> --}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
{{!-- <link rel="stylesheet" type="text/css" href="ui-chat.css"> --}}
{{!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> --}}
<link rel="stylesheet" type="text/css" href="/dist/css/agentUI.css">
<!-- <script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script> -->
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src="/socket.io/socket.io.js"></script>

 <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYILKJI&placement=bootdeycom" id="_carbonads_js"></script>
<script src="/dist/js/agentPanel.js"></script>
<script src="/dist/js/agentNotification.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
       integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
  
 .popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded border */
    padding: 10px;
    z-index: 1;
    top: -100px;
    width: 80%;
  }

  .popup li {
    background-color: #f2f2f2; /* Different grey color */
    padding: 5px;
    border: 1px solid #999; /* Border color */
    margin-bottom: 10px;
  }

  .popup li {
    padding: 5px;
    cursor: pointer;
  }

  
.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  margin-bottom: 10px;
}

  #userTypeDropdown {
  appearance: none;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #555;
  cursor: pointer;
}

#userTypeDropdown:focus {
  outline: none;
  box-shadow: 0 0 5px #aaa;
}
  
</style>
</head>
<body>


  <!-- Button trigger modal -->

<audio id="audio" src="/dist/files/bell_notification_sound.mp3"></audio>
<div class="row main-cell" id="frame">
  <div class="col-sm-3 new_chat_color" id='mobileView'>
    <div class="row">
      <div id="sidepanel">
        <div class="heading">
            <img class="logo-icon" src="../img/yugasa_bot_logo.png">
                <div class="logout_icon">
                <img src="../img/logout.png" title="Log out"  onclick="logoutFun()">
                </div>
        </div>
        <div id="search" class=" row panel-top">
          <div class="col-lg-4 col-md-12 col-sm-4 col-xs-4" style="width: 30%;">
            <button class="btn btn-danger btn-side active" 
                      style="width: 100%;" 
                      id="all-chats" 
                      onclick="onClickAllChatButton('ALL_CHATS')">All Chats
              </button>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-4 col-xs-4" style="display: flex;width:40%" >
             <button class="btn btn-secondary btn-side"  
                      style=" background: #fff;border-color: purple; width: 100%; color: #000;"
                      id="" 
                      onclick="campaignChatUserList('CAMPAIN_CHATS')">Campaign
              </button>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-4 col-xs-4"style="width: 30%;">
            <button class="btn btn-secondary btn-side" 
                      style="width:100% ;" 
                      id="all-contacts" 
                      onclick="myChatsData('MY_CHATS')">My Chats
              </button>
              
          </div>
        <div style="display : flex; justify-content: space-between;">
           <span>
                <select id="userTypeDropdown" onchange="handleUserTypeChange()" style="margin-top: 10px; border-radius:25px;  padding:5px;
        margin-bottom:5px;">
                <option value="all">All Users</option>
                <option value="whatsapp">WhatsApp Users</option>
                <option value="web">Web Users</option>
                <option value="facebook">Facebook Users</option>
                <option value="google">Google messsenger Users</option>
                <option value="telegram">Telegram Users</option>
                <option value="insta">Instagram Users</option>
                <option value="android">Android Users</option>
                <option value="ios">Ios Users</option>
              </select>
            </span><br>
            <span>
                <select id="userTypeDrop" onchange="handleUserType()" style="margin-top: 10px; border-radius:25px; padding: 1px;">
                <option value="all">Communication</option>
                <option value="agent">Agent communicated Chats</option>
              </select>
            </span> 
        </div>
           
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ser-form">
            <div class = "searchBoxDiv">
            <button type="submit" class="search-b">
              <i class="fa fa-search"></i>
            </button>
            <input type="text" placeholder="Search.." name="search" class="search-f searchbox1 form-control searchBox" onkeyup="searchbox()">
            </div>
          </div>
        </div>
        <div class="campaignTempltDropdown" style="padding-left: 10px;">
          <select class="js-example-placeholder-single js-states form-control tempList "  name="state" onchange="selectSpecificTemplate()" style= " padding: 4px 1px 4px 7px;
                width: 98%;
                padding-left: 2.375rem;
                border-radius: 10px;
                margin-bottom: 11px;
                border: 1.5px solid black;margin-top: 10px;">
                <option val="" disabled selected hidden>Choose Campaign</option>
              </select>
        </div>
        <div class="contacts">
          <ul class="campList">
          </ul>
        </div>
        <div >
          <ul class="tempChatList">
          </ul>
        </div> 
        <div id="contacts" class="user_list">
          <ul class="userList">
          </ul>
        </div>
        <div class="load-chat">
        <button   type="button" 
                  id="loadMoreButtonId"
                  class=" btn btn-secondary
                  button-color border-radius-button down_excel new_button" 
                  style="" 
                  onclick="loadMore(event)" 
                  >Load More
        </button>
        </div>
        <div id="contact-list" class="user_list">
          <ul class ="myChatUserList userList">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 new-content">
    <div class="content">
      <div class="mobileview_banner">
        <div class="heading_mobileview"></div>
        <div class="logout_mobileview" title="Log out"  onclick="logoutmobileviewFun()"></div>
      </div>
      <div class="contact-profile">
        <div id="arrow_icon" title="Back on contact" onclick="onContactlist()"></div>
        <h2 style="display: none;" title="Back on Profile" onclick="onProfile()" class="userNameCenter">Chat</h2>
        <div class="toggle_button">
            <label class="control controlText" id="takeControlLabe"> 
            control
          </label>
          <label class="switch">
          <input type="checkbox" id="checkBoxBtn" checked  >
          <span class="slider round" id="checkboxSlider"></span>
        </label>
        </div>
      </div>
      <div class="messages" id = "chatMessage">
        <ul class="userchatData">
          <div class="bot-image">
            <img src="/dist/img/yugasa_bot_logo_colored.png" alt="Bot Logo">
          </div>
        </ul>
      </div>
      <div class="typingdot ">
        <img src="/img/agentTypingDot.png">
      </div>  
      <div class="message-input send-message" style="margin-bottom: 4px;">
        <div class="wrap">
           {{!-- <div><img src="/img/typing_dots.png"></div> --}}
          {{!-- <div id="form_input">

            <button type="button" onclick="agentTemplateList()"  data-target="#agentTemplate" data-toggle="modal"> 
                                 test    </button>

            <label for="file-upload" class="custom-file-upload">
               <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            </label>
            <input id="file-upload" onchange="uploadfile(event)" accept="image/x-png,image/gif,image/jpeg,application/pdf,application/vnd.ms-excels,.doc" type="file" style="display:none" / >
            <input type="text" 
                   class="form-control typingbox" 
                   placeholder="Type here" 
                   id="textMessage"
                   onkeypress="sendmessagekeyup(event)" />
            <button type="button" class="submit btn btn-info" onclick="sendMessage()" >Send</button>
          </div> --}}
          <textarea class="text-areas" id="textMessage"
                   onkeypress="sendmessagekeyup(event)" oninput="handleInput(event)" style="" id="text" placeholder="type text here"></textarea>
                   <div id="popup" class="popup">
                    <ul id="messageList"></ul>
                  </div>
          <input id="file-upload" onchange="uploadfile(event)" accept="image/x-png,image/gif,image/jpeg,application/pdf,application/vnd.ms-excels,.doc" type="file" style="display:none" / >         
          <label for="file-upload" class="custom-file-upload" style="display: inline;">
               <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            </label>
         
            <img src="/dist/img/writing-form.png" class="test-images" onclick="agentTemplateList()" data-target="#agentTemplate"
              data-toggle="modal">
            <div style="text-align: right;
    padding-right: 16px;">
          <button type="button" class="submit btn btn-info" onclick="sendMessage()" style="margin-top: -30px;margin-left: 9px;box-shadow: none;" >Send</button>

            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 new-sidepanel detail_hide">
    <div class="mobileview_banner">
      <div class="heading_mobileview"></div>
      <div class="logout_mobileview" title="Log out" onclick="logoutmobileviewFun()"></div>
    </div>
    <div class="row">
      <div class="new-detail">
        <div id="arrow_icon2" title="Back on contact" onclick="userDetail()">
          <h2>User Details</h2>
        </div>
      </div>
      <form>
        <!-- Login form creation starts-->
        <div id="login_page">
          {{!-- <h2>Agent info</h2>
          <p class="comment-form-author">visitor@gmail.com</p> --}}
          {{!-- <label for="author">Name <span class="required">*</span></label>
          <input id="author" name="author" type="text" value="" size="30" maxlength="245" required="required"></p>
  
          <p class="comment-form-email">
            <label for="email">Email <span class="required">*</span></label>
            <input id="email" name="email"
              pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
              title="Please enter valid email Example: abc@xyz.com)" type="email" value="" size="30" maxlength="100"
              aria-describedby="email-notes" required="required">
          </p> --}}
        </div>
        <!--- Login form creation ends --->
        <div id="sidepanel" class="right-sidepanel">
          <div class="userDetailSection">
            <label class="labelCss">User Name</label>
            <input type="text" class="form-control" name="userName" id='user_name'>
            <label class="labelCss">Email</label>
            <input type="text"
              pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
              title="Please enter valid email Example: abc@xyz.com)" class="form-control" name="userEmail"
              id='user_email'>
            <label class="labelCss">Phone</label>
            <input type="number" pattern="^\d{10}$" class="form-control" name="userPhone" id='user_phone'>
            <label class="labelCss userNotesDiv">Notes</label>
            <div class="note-text userNotesDiv">
              <div class="userNotes">
              </div>
              <div class="typeNote" style="">
                <input type="text" onkeypress="addNotesOnEnterPress(event)" id="userNotes" class="icon-rtl type-notes" value
                  placeholder="Type note here">
                <button type="button" id="close" class="closing" onclick="addUserNotes()" style="border: none;">
                  <img src="../dist/img/send.png" height="23px;"
                    style="border-radius:50%;position: relative; top: 2px;" />
                </button>
                </input>
              </div>
            </div>
            <br />
            <button type="button" style="color: #f9f9f9;background-color: #6800a1;border-color: #6800a1;"
              class="btn btn-info nw_button0" onclick="updateUserData()">Update</button>
  
          </div>
      </form>
      <!-- <input type="text" class="my info" > -->
      <div id="user-contact_details">
        <label>Location</label>
        <ul>
          <li class="">
            <div class="add-us new-add-us">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <p class="userLocation"></p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <table id="mytable" class="table table-striped display responsive nowrap table-responsive">
          <thead>
            {{!-- <th>Agent List</th> --}}
          </thead>
          <tbody class="agentlist">
          </tbody>
        </table>
      </div>
  
      <!--Google map-->
      <!--  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 155px">
              <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0; width: 100%; height: 100%" allowfullscreen></iframe>
            </div> -->
  
  
      <!--      <div class="add-us">
          <div class="additional">
            <label>Additional info</label>
            <p>Returning Visitor : <strong>3 Visits, 20 Chats</strong></p>
            <p>Last Communication : <strong>Monday, 21 June, 2021</strong></p>
          </div>
        </div> -->
      <!--   <div class="add-us">
          <div class="additional">
            <label>Visited pages</label>
            <p>Visit : <strong>2 pages in 12m</strong></p>
            <p><strong>Welcome to YugasaBot</strong></p>
          </div>
        </div> -->
      <input type="hidden" id="client_Id" name="client_Id">
  
      {{!-- <div class="container">
        <div class="heading_others_tiles">
          <h4>Other Agents</h4>
        </div>
        <div class="row">
          <div class="col-6 col-sm-3" style="width: 50%;">
            <div class="card card_1">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round  round_button" title="Transfer Control"></span>
              </label>
              <div class="agent_status">
                <i class="fa fa-circle text-success mr-2 checkAvailable" title="Online"></i>
              </div>
              <h1>VM</h1>
            </div>
          </div>
          <div class="col-6 col-sm-3" style="width: 50%;">
            <div class="card card_2">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round  round_button" title="Transfer Control"></span>
              </label>
              <div class="agent_status">
                <i class="fa fa-circle text-danger mr-2 checkAvailable" title="Offline"></i>
              </div>
              <h1>AS</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-3" style="width: 50%; margin-top: 25px;">
            <div class="card card_3">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round  round_button" title="Transfer Control"></span>
              </label>
              <div class="agent_status">
                <i class="fa fa-circle text-danger mr-2 checkAvailable" title="Offline"></i>
              </div>
              <h1>TR</h1>
            </div>
          </div>
          <div class="col-6 col-sm-3" style="width: 50%; margin-top: 25px;">
            <div class="card card_4">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round  round_button" title="Transfer Control"></span>
              </label>
              <div class="agent_status">
                <i class="fa fa-circle text-success mr-2 checkAvailable" title="Offline"></i>
              </div>
              <h1>JK</h1>
            </div>
          </div>
        </div>
      </div> --}}
      <div id="" user-contact_details>
        <label>Other Agents</label>
      </div>
      <div class="agent_list">
        <div class="agent_list_head">
          <h4>Other Agents</h4>
        </div>
      </div>
  
    </div>
  </div>
  </div>

<!-- modal for notification  -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 700;">Agent Notification</h4>
        <button type="button" class="close close_icon" data-bs-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="agentNotificationData"> 
         
      </div>

    </div>
  </div>
</div>

  <!-- Modal for agent is  busy message-->
  <div class="modal fade" id="agentisbusymodal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <h2 class="h2">
             Agent 
             <span id="agent_name" style="font-weight: bold;"></span>
             is unable to take control of user
             <span id="user_name" style="font-weight: bold;"></span> now ,
             please send the request to other agent </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  {{!-- model for agent template List --}}

<div class="yubo_model">
  <div class="modal fade" id="agentTemplate" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="title-text"><span style="padding-right: 8px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                <path
                  d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                <path
                  d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
              </svg></span>Choose your template message</h6>
          <button type="button" class="modal_close agent_closed" data-dismiss="modal" style="">x</button>

        </div>

        <div class="card main-card">

          <div class="card-body">
              <div id="accordion" class="scroll_accordian">

              </div>
            
            </div>
          <div class="card-footer" style="">
            <div class="button-div">
              <button class="preview-button" onclick="onSeePreview()">See preview and send</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 
 


{{!-- <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script> --}}
{{!-- <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> --}}
<script>//$(".messages").animate({ scrollTop: $(document).height() }, "fast");

function newMessage() {
  message = $(".message-input input").val();
  if($.trim(message) == '') {
    return false;
  }
  $('<li class="sent"><div class="wrap"><div class="circle"><div class="chat_name"><h2>JY</h2></div></div><p>' + message + '</p></li>').appendTo($('.messages ul'));
  $('.message-input input').val(null);
  $(".messages").animate({ scrollTop: $(document).height() }, "fast");
};

$('.submit').click(function() {
  //newMessage();
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
   // newMessage();
   // return false;
  }
});

     
//# sourceURL=pen.js
</script>
<script>
  $('#contacts li.contact').click(function() {
    $('#contacts li.contact').removeClass('active')
    $(this).addClass('active')
  })
  $('#contact-list li.contact').click(function() {
    $('#contact-list li.contact').removeClass('active')
    $(this).addClass('active')
  })

  $('#all-contacts').click(function() {
    $('#contact-list').css({'display':'block'})
    $('#contacts').css({'display':'none'})
  })

  $('#all-chats').click(function() {
    $('#contact-list').css({'display':'none'})
    $('#contacts').css({'display':'block'})
  })


  // chat with section//

//$('#takeControl').click(function() {
//  $('#leaveControl').removeAttr('style')
//  $('.send-message').removeAttr('style')
//})
//$('#leaveControl').click(function() {
//  $(this).attr('style', 'display:none')
//  $('#takeControl').attr('style', 'display:block')
//  $('.send-message').attr('style', 'display:none')
//})

 $('#takeControl').click(function() {
    $('.contact-profile h2').css({'display': 'inline-block'})
    //$('#leaveControl').css({'margin-left': '38%'})
  })
$(document).ready(function(){
  $("#contacts").click(function(){
    $(".new-content").toggleClass("main");
  });
});

$(".btn-side").on("click", function() {
    $(".btn").removeClass("active");
    $(this).addClass("active");
});

/* 
function hideSelectuser() {
  $(".new_chat_color2").hide()
  $('.new-sidepanel2').hide();
  $('.new-content2').show()
   // alert('ghfhfh  hrt trhe htr')
 }
*/
function onProfile() {
 // alert('profile');
  $('.new-content2').hide();
  $('.new-sidepanel2').show();

} 

function onContactlist(){
  $('.new-sidepanel2').hide();
  $('.new_chat_color2').show();

}

function userDetail() {
  $('.new-sidepanel2').hide();
  $('.new_chat_color2').show();
}

$(window).on('resize', function(){
      var win = $(this);
      if (win.width() < 600) { 

       // alert('width 750 lesss hai')

      $('.new_chat_color').addClass('new_chat_color2');
      $('.new-content').addClass('new-content2');
      $('.new-sidepanel').addClass('new-sidepanel2');

      $('.new-sidepanel').hide();

     // $('.new-content').hide();
      }
    else
    {
      $(".new_chat_color2").show()
      $('.new_chat_color').removeClass('new_chat_color2');
       $('.new-content').removeClass('new-content2');
      $('.new-sidepanel').removeClass('new-sidepanel2');

      $('.new-sidepanel').show();
      $('.new-content').show();
     // $('#floating-control').removeClass('new_chat_color2');
     // $('#floating-control').addClass('floatcontrol');
    }

});

let templateObjData;
async function agentTemplateList() {

    $('#accordion').empty()
    var agentDetails = localStorage.getItem('agentDetails');
    var data =   JSON.parse(agentDetails)
    //var clientId = atob(data.clientId);
    clientId=$("#client_Id").val();
  
        $.ajax({
          method:'POST',
          url:'/getAgentTempList',
           data:{"clientId":clientId},
          success: function(data){
            if(data.statusCode){
              var newArr = data.data[0].template.obj;
              let html = '';
              // let htmlValue = '';
              let counter = 0, innerCounter = 0;
              templateObjData = newArr;

              for(const obj in newArr) {
                var key = obj
                var valueArr = newArr[obj]
                 ++counter;

                 html = `<div class="card">
                      <div class="card-header" id="heading_${counter}">
                        <h5 class="mb-0">
                          <button class="btn_collapse btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_${counter}" aria-expanded="false"
                            aria-controls="collapse_${counter}">
                            ${key}
                          </button>
                        </h5>
                      </div>
                      <div id="collapse_${counter}" class="collapse" aria-labelledby="heading_${counter}" data-parent="#accordion">
                        <div class="card-body">`
                            for(let k in valueArr) {
                                ++innerCounter;
                                html +=`<div class="lables_div">
                                  <input type="radio" id="id_${innerCounter}" name="template_value" value="${valueArr[k]}">
                                  <label class="agent_lables" for="id_${innerCounter}"> ${valueArr[k]} </label>                  
                                  </div>`
                            }
                        `</div>
                      </div>
                    </div>` 

                    $("#accordion").append(html);
              }
            
            }
          },
          error: function (jqXHR, textStatus, err) {
            alert('Please refresh !');
          }
      })

} 

function onSeePreview() {
  var radioBtnValue = $("input[type='radio'][name='template_value']:checked").val();
   $('#agentTemplate').modal('hide');
   $('#textMessage').val(radioBtnValue)   
 }

</script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">


  <script>
    $('#checkboxSlider').mouseenter(function () {
        let clientId = $("#client_Id").val();
      $.ajax({
        type: 'GET',
        url: '/agent/send-template-data',
        data : {"clientId":clientId},
        success: function (res) {
          console.log(res)
          let headingIs = 'WA Template on Take Control';
          $('#checkboxSlider').attr('title', 
            `${headingIs}
            Name: ${res.template.name ? res.template.name : ''}
            header: ${res.template.header ? res.template.header : ''}
            footer: ${res.template.footer ? res.template.footer : ''}
            Message: ${res.template.text ? res.template.text : ''}`)
          }
      })
    })
  </script>

   <script>
    $(document).ready(function(){
    let clientId = $("#client_Id").val();
    $.ajax({
      type:'get',
      url:'/agent/send-template-data',
      data : {"clientId":clientId},
      success:function(res){
        console.log('3333333333',res)
      }
    })
    })
   
  </script>
  <script>

function handleUserTypeChange() {
      var dropdown = document.getElementById("userTypeDropdown");
      var selectedUserType = dropdown.value;

        if (selectedUserType === "whatsapp") {
          console.log("WhatsApp user selected");
          onClickAllWhatsapp('whatsapp')
        
      } else if (selectedUserType === "web") {
        console.log("Web user selected");
        onClickAllWhatsapp('web')

      } else if (selectedUserType === "facebook") {
        console.log("fb user selected");
        onClickAllWhatsapp('facebook')

      } else if (selectedUserType === "google") {
        console.log("google user selected");
        onClickAllWhatsapp('google')

      } else if (selectedUserType === "telegram") {
        console.log("telegram user selected");
        onClickAllWhatsapp('telegram')

      } else if (selectedUserType === "insta") {
        console.log("insta user selected");
        onClickAllWhatsapp('insta')

      } else if (selectedUserType === "android") {
        console.log("android user selected");
        onClickAllWhatsapp('android')

      } else if (selectedUserType === "ios") {
        console.log("ios user selected");
        onClickAllWhatsapp('ios')

      }  else {
        console.log("All users selected");
        onClickAllWhatsapp()
      }
    }
function handleUserType() {
  console.log()
      var dropdown = document.getElementById("userTypeDrop");
      var selectedUserType = dropdown.value;

        if (selectedUserType === "agent") {
          console.log("WhatsApp user selected");
          let agentId = getAgentIdFromSession()
          console.log("88888888888888888",agentId)
          onClickAllWhatsapp2(agentId)
      }else if(selectedUserType === 'all'){
        onClickAllWhatsapp2()
      }
    }
  </script>
  
  
</body>
</html>
