
{{>head}}
{{> sideNavBar sideNavValidation}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery & jQuery UI are required -->
	{{!-- <script src="dtree/js/jquery.js"></script>
	<script src="dtree/js/jquery-ui.js"></script>
	<script src="dtree/js/bootstrap.js"></script>
	<script src="dtree/js/yugasa.flowchart.custom.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="dtree/js/flowchart.js"></script>

	<!-- Flowchart CSS and JS -->
	<link rel="stylesheet" href="dtree/css/bootstrap.css">
	<link rel="stylesheet" href="dtree/css/yugasa.flowchart.custom.css"> --}}

</head>
	<div class="content-wrapper">
		<section class="content">
		<center><h1 style="margin-top:25%;">This is a paid feature, and you have not subscribed for it yet. In order to do so, please connect with the service provider.</h1></center>
	
		 
</section>
</div>
<input type="hidden" id="clientId" value="{{clientId}}">
{{> footer}}