{{>head}}
{{> sideNavBar sideNavValidation}}

{{!-- date picker start here --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="dist/css/new-dbintegration.css">

{{!--
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
--}}
<script type="text/javascript" src="
https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="
https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    /**$(document).ready(function () {
    $('#table').dataTable({
    "bPaginate": false,
    "bLengthChange": false,
    "bFilter": true,
    "language": { "search": "", "search": '<i class="fa fa-search"></i>' },
    "bInfo": false,
    "bAutoWidth": false
    });
    $('#table_filter input').addClass('form-control custom-shadow custom-radius border-0 bg-white').attr('placeholder', 'Search Agents');
    
    }); **/
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>
    th {
vertical-align: middle !important;
background-color: transparent !important;
color: #333 !important;
font-size: 14px !important;
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="col filter new_filter_desp w-100">
        <h3 class="ad_mr_head">Manage Agents</h3>
    </div>
    <!-- Main content -->
    <div class="content  new-manage-cont">
        <input type="hidden" value="{{clientId}}" class="clientId">
        <div id="dbData" class="row display-flex flex-wrap-wrap">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="small-box bg-aqua bg-aqua-1 widg-box-1 new-widg-box">
                    <div class="inner">
                        {{!-- <img src="./dist/img/Create-Intent.svg"> --}}
                        <h3 class="card_head new_crd_head">Ongoing Chats</h3>
                        <h4 class="card_cont">Agents</h4>
                        <h3 id="chat_handling_by_agent">0</h3>
                        <h4 class="card_cont_bot">Bot</h4>
                        <h3 id="totalConversation new_totalconver">0</h3>
                        {{!-- <h5 class="lastChatTime position-right"></h5> --}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="small-box bg-aqua bg-aqua-1 widg-box-2 new-widg-box">
                    <div class="inner">
                        {{!-- <img src="./dist/img/Create-Intent.svg"> --}}
                        <h3 class="card_head new_crd_head">Total Agents</h3>
                        <h1 id="totalConversation" class="totalAgent nw_totalagt">0</h1>
                        {{!-- <h4 class="card_cont_bot">Bot</h4> --}}
                        <div class="agent_status ad_new_des">
                            <div class="card_cont_status" data-class="bg-info" style="position: relative;">
                                <i class="fa fa-circle text-success mr-2"></i>
                                <span class="availableOnlineAgents"> 0
                                </span> Available
                            </div>
                            <div class="card_cont_status
awayOfflineAgents" data-class="bg-info" style="position: relative;">
                                <i class="fa fa-circle text-danger mr-2"></i>
                                <span class="offlineAgents"> 0 </span> Offline
                            </div>
                            <!-- <div class="card_cont_status"
data-class="bg-info" style="position: relative;">
<i class ="fa fa-circle text-warning mr-2"></i>
1 Away
</div> -->
                        </div>
                        <h5 class="lastChatTime position-right"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="small-box bg-aqua bg-aqua-1 widg-box-3
new-widg-box">
                    <div class="inner">
                        {{!-- <img src="./dist/img/Create-Intent.svg"> --}}
                        <h3 class="card_head new_crd_head">Total Chats</h3>
                        <h2 id="totalConversation">{{chatcount}}</h2>
                        {{!-- <h5 class="lastChatTime position-right"></h5> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row new-row">
            <div class="col-md-4">
                <div class="row">
                    <h1 class="main-title  new_main_title">Agents</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="customize-input">

                        <input class="form-control custom-shadow custom-radius border-0 bg-white" id="myInput" onkeyup="myFunction()" type="search" placeholder="Search  Agents...." aria-label="Search">
                        
                        <button type="submit" class="search-b new-search-b "><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-align-right">
                <div class="row">
                    <button type="button" class=" btn btn-secondary
button-color border-radius-button down_excel new_button" data-target="#add_agents" data-toggle="modal" style="border-radius:
10px;" onclick="addAgentsBtn()" data-backdrop="static" data-keyboard="false">Add Agents</button>
                </div>
            </div>
        </div>
        <table id="mytable" class="table table-striped display responsive nowrap table-responsive">
            <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Avg Response Time</th>
                    <th>Avg Rating</th>
                    <th>Availability</th>
                    <th>Actions</th>
            </thead>
            <tbody class="agentlist">

            </tbody>
        </table>
    </div>


    {{!-- Start of form, to create new agents --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="add_agents">
            <div class="modal-dialog">
                <div class="modal-content  new_modal_content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" class="close closeModal
padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                <img class="edit-image-width" src="./dist/img/Add_Agents.png" alt="">
                                Add Agents
                            </h4>
                            {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                        </div>
                        <form id="add_agents_new" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Agent Name </label>
                                    <input type="text" id="agentName" name="agentName" class="form-control"
                                        placeholder="Agent Name" required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Agent's Phone Number </label>
                                    <input type="number" id="agentphone" name="agentphone" class="form-control"
                                        placeholder="Agent's Phone Number">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Agent's Email </label>
                                    <input type="text" id="agentEmail" name="agentEmail" class="form-control"
                                        placeholder="Agents Email (This will be the login id of Agent)" required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Password </label>
                                    <input type="password" id="agentPassword" name="agentPassword" class="form-control"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Agent's Department </label>
                                    <input type="text" id="AgentDepartment" name="AgentDepartment" class="form-control"
                                        placeholder="Agent's Department">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Priority </label>
                                    <input type="text" id="AgentPriority" name="AgentPriority" class="form-control"
                                        placeholder="Priority">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" class="discard_Btn closeModal"
                                        onclick="discard(event)">Discard</button>
                                    <button type="button" value="Save" class="save_button createagent">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- Start of form, to edit new agents --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="edit_agents">
            <div class="modal-dialog">
                <div class="modal-content  new_modal_content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" class=" closeModal close
padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                <img class="edit-image-width" src="./dist/img/Add_Agents.png" alt="">
                                Edit Agents
                            </h4>
                            {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                        </div>
                        <form id="add_agents" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Agent Name </label>
                                    <input type="text" id="name" class="form-control" placeholder="Agent Name" required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Agent's Phone Number </label>
                                    <input type="number" id="mobile" class="form-control"
                                        placeholder="Agent's Phone Number">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Agents Email </label>
                                    <input type="text" id="email" disabled class="form-control" placeholder="Agents Email (This will be the login id of Agent)" required>
                                </div>
                            </div>
                            <!-- <div class="row margin-top-input">
<div class="col-md-12">
<input type="text"
id="agentParameters" class="form-control"
placeholder="Password">
</div>
</div> -->
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Agent's Department </label>
                                    <input type="text" id="department" class="form-control"
                                        placeholder="Agent's Department">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Priority </label> <br>
                                    <input type="number" id="periority" class="form-control" placeholder="Priority">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" class="discard_Btn closeModal"
                                        onclick="discard(event)">Discard</button>
                                    <button type="button" value="Save" class="saveUpdates update_button">Update
                                        Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="/dist/js/manageAgent.js"></script>
<script>
    function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("mytable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    if (td || td1) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else if (txtValue1.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      }
       else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>
{{>footer}}
