<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Panel</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/agentLogin.css">
    {{!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"> --}}
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
     <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/dist/js/agentForgotPassword.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
    <div class="logo-icon">
        <a href="" class="logo">
            <img src="/dist/img/yugasa_bot_logo_colored.png" alt="Bot Logo">
        </a>
    </div>
    <div class="login">
        <h2 class="active" style="width: 84%; margin-left: 8%;"> Forgot Password</h2>

        <form>
            <input type="text"
                   class="text"
                   name="ClientId"
                   id="client_id"
                   autocomplete="off" >
            <span>Client id</span>
            <br>

            <input type="text"
                   class="text"
                   name="username"
                   id="agentUserName"
                   autocomplete="off" >
            <span>email id</span>
            <br>

         
              <button type ="button" 
                    class="signin" 
                    onclick="submitData()"  
                    href ="javascript:void(0)">
                Request To Change Password
            </button>

            <a   
                onclick="goToLoginPage()"  
                href ="javascript:void(0)">
                Go To Login Page
            </a>
            {{!-- <hr> --}}
        </form>

    </div>
</body>
</html>
