<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{{>head}}
{{> sideNavBar sideNavValidation}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-img-story">
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">

    <center><h1 style="position: absolute;top: 35%;left: 20%;}">This feature is available only for <strong>PRO</strong> members</h1></center>

      <!-- The Modal -->
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-large">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="set-close close help-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="img-responsive" src="./dist/img/yubo_help_1.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page one
                      </div> --}}
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="./dist/img/yubo_help_2.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page two
                      </div> --}}
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="./dist/img/yubo_help_3.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page three
                      </div> --}}
                    </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /.row -->


  </section>
  <!-- /.content -->
</div>

{{>footer}}
<script type="text/javascript">
  function yourStory() {
    let bertIntent = [];
    val1 = $('#about').val();
    val2 = $('#services').val();
    val3 = $('#terms').val();
    val4 = $('#contact').val();
    val5 = $('#others').val();
    val = val1 + ' ' + val2 + ' ' + val3 + ' ' + val4 + ' ' + val5;
    bertIntent[0] = val1
    bertIntent[1] = val2
    bertIntent[2] = val3
    bertIntent[3] = val4
    bertIntent[4] = val5
    let nodeBertIntent = {
      "about": val1,
      "services": val2,
      "terms": val3,
      "contact": val4,
      "others": val5
    }
    let pythonBertIntent = {
      "stories": bertIntent
    }

    var wrapper = document.createElement('div');
    wrapper.class = "save_loading";
    wrapper.innerHTML = '<img src="/img/loader.gif">';
    $.ajax({
      type: "POST",
      url: "/uploadYourStory",
      data: { pythonBertIntent: pythonBertIntent, nodeBertIntent: nodeBertIntent },
      beforeSend: async function () {
        await swal({
          title: 'Training in progress...',
          content: wrapper,
          button: false,
          allowOutsideClick: false
        })
      },
      success: async function (data) {
        if (data.message == "success") {
          await swal({
            title: "Training done successfully!",
            icon: "success",
            button: "OK",
          });

        } else {
          swal({
            title: "The given file format is not valid.",
            icon: "error",
            button: "OK",
          });
        }
        location.reload();
      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    });
  }
</script>