{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
<head>
      <link rel="stylesheet" type="text/css" href="/dist/css/billing.css">
      <script src="/dist/js/billing.js"></script>
      <script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>
      {{!-- <script type="text/javascript" src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.prod.js"></script> --}}
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
              integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
      ></script> 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>

<input type="hidden" id="clientId" name="username" value="{{clientId}}">
{{#if showActivateButton}}
    <div class="content-wrapper" style="margin-top: 70px;">
      <section class="content">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
          <p style="font-size: 23px; margin-left:23px">Pick a Plan</p>
            <div class="col-md-6">
              <div class="card card1">
                <div class="row">
                  <div class="col-md-12"style="">
                    <b>1 Month</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="margin-bottom: 5px;">
                    <span style="font-size: 17px;"><b>1000 INR*</b></span>/month
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7"><b>1000 INR*</b><span class="greytext"> every month<br />*Excluding taxes </span></div>
                  <div class="col-md-5" style="text-align: right;">
                      <button class="subscribe-button"
                              onclick="subscribeNow('monthly')">
                              Subscribe now
                        </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card1">
                <div class="row">
                  <div class="col-md-6" style="">
                      <b>1 Year</b>
                  </div>
                  <div class="col-md-6" style="padding-right:0px;text-align:right;">
                    <div class="">
                      <span><img src="./dist/img/best_value.png" alt="sd" height="20px" width="120px"/></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="margin-bottom: 5px;">
                    <span style="font-size: 17px;"><b>10,000 INR*</b></span>/year
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7"><b>10,000 INR*</b><span class="greytext"> every <b></b> Year<br />*Excluding taxes taxes  </span></div>
                  <div class="col-md-5" style="text-align: right;">
                      <button class="subscribe-button" 
                              onclick="subscribeNow('annually')">
                              Subscribe now
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

{{!-- coupon code here  --}}

  <section class="content couponMargintop">
    <div class="row">
        <div class="col-md-3 coupon-code">Have a Coupon Code?</div>
        <div class="col-md-2">
           <input type="text" class="input-box couponinput" />
        </div>
        <div class="col-md-2" style="text-align: right;">
           <button class="apply"  onclick="applyCoupon()">Apply</button>
        </div>
        <div class="col-md-4 card available-coupon">
            <p class="coupons row">Available Coupons</p>
              <div id ="couponListDiv" style="overflow-y: auto;overflow-x: hidden;height: 200px;border:none;box-shadow:none;padding:0px;">
            </div>
        </div>
    </div>   



   {{>footer}}

  </section>

{{/if}}

{{#unless showActivateButton}}
    <div class="content-wrapper">
      <section class="content">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12 my-subscription">My Subscription</div>
            </div>

            <div class="row">
              <div class="col-md-12 current-plan">
                Current Plan
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card card1">
                  <div class="row">
                    <div class="col-md-6 d-flex">
                      <b style="margin-right: 7px;">Yugasa Bot</b>
                        <span><img src="./dist/img/premium.png" alt="sd" height="20px" width="80px"
                        style="margin-bottom:5px;"/></span>
                       
                      </div>
                    <div class="col-md-6 days-left"> <span id="endDate"> </span> Days Left</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-muted payment">
                      Next payment <span id="amount">  </span> INR on <span id="nextPaymentDate">  </span> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 ">
                      <span class="autoRenewalMsgDiv">Automatic renewal every</span>  <span id="planType">  </span> </div>

                    <div class="col-md-6" style="text-align: right;" id = "subCancelDiv">
                      {{!-- <button class="modify-subscription">Cancel Subscription</button> --}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="row">
              <div class="col-md-12 current-plan">
                Billing Information
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card card1">
                  <div class="row text-center">
                      <div class="col-md-2 width"><b>Amount</b></div>
                      {{!-- <div class="col-md-2 width"><b>Payment For</b></div> --}}
                      <div class="col-md-2 width"><b>Sub Reference Id</b></div>
                      <div class="col-md-2 width"><b>Date & Time</b></div>
                      <div class="col-md-2 width"><b>Status</b></div>
                      <div class="col-md-2 width"><b>Action</b></div>

                  </div>
                  <div class="row row-hr"></div>
                  <div class="row text-center subscriptionListDiv" >

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        {{>footer}}

      </section>
    </div>
{{/unless}}

    {{!-- Subscription details modal --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="add_agents">
            <div class="modal-dialog modl_dialg_10">
                <div class="modal-content  new_modal_content" style="margin-top:5%;">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" 
                                id="exampleModalLabel">
                                <button type="button" 
                                        class="close closeModal padding-cross" 
                                        onclick="discard(event)" 
                                        aria-label="">✕</button>
                                        Subscription Details
                            </h4>
                        </div>
                        
                        <div id="orderDetails">
                          <div class="orderDetails">
                              <img class="company-logo" src="./dist/img/yugasa_bot_logo_colored.png" alt="Company Logo">
                              <h2 class="order-title">Subscription Details</h2>

                              <div class="order-details">
                                  <span class="textBold">name:</span><span id="userName" ></span>
                                  <span class="textBold">email:</span><span id="userEmail"></span>
                              </div>
                              <div class="order-details">
                                  <span class="textBold">Phone :</span><span id="userPhone"></span>
                                  <span class="textBold">Subscription Type:</span><span id="subStatus"></span>
                              </div>

                                <div class="order-details">
                                  <span class="textBold">Plan Name:</span><span id="planName"></span>
                                  <span class="textBold" >Plan ID:</span><span id="PlanId"></span>
                              </div>
                                <table>
                                  <thead>
                                      <tr>
                                        <th>Item</th>
                                        <th>Description</th>
                                      </tr>
                                  </thead>
                                  <tbody id="tablebody">
                                    
                                  </tbody>
                                </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{!-- subscription invoice download pdf --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="invoicePdf">
            <div class="modal-dialog ">
                <div class="modal-content  ">
                    <!-- Modal body -->
                    <div class="modal-body">
	                      <div id="invoice">
                                  <div class="content-wrapper3">
                                        <section class="content">
                                          <div class="row" style="margin-bottom: 20px;">
                                            <div class="col-md-8">
                                              <img src="./dist/img/yugasaSL.png" style="width: 35%;"/>
                                            </div>
                                            <div class="col-md-4" style="text-align: right;color:#A4B1D6;">
                                              <b>TAX INVOICE</b>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-8" >
                                              <div class="address">Registered Address:201,Bhavana CGHS</div>
                                              <div class="address">Sector 43,Near Golf Course Road</div>
                                              <div class="address">Gurugram,Hariyana,122001</div>
                                              <div class="address">Mail:contact@yugasa.com</div><br/>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="row">
                                                <div class="col-md-6">
                                                      <div  class="row text-left ">Date</div>
                                                      <div class="row text-left">Invoice No</div>
                                                      <div class="row text-left">Due Date</div>
                                                </div>
                                                <div class="col-md-6 text-center" style="font-weight: 600;" >
                                                      <div class="row r-border l-border t-border" style="background-color: #B7E1CD;padding:1px 7px 1px 7px;"><span id="todaysDate">25/54/2023</span></div>
                                                      <div class=" row t-border l-border r-border" style="padding:1px 7px 1px 7px;">YSL/DL/<span id="subrefid"></span></div>
                                                      <div class=" row r-border l-border t-border b-border" style="padding:1px 7px 1px 7px;">On receiving</div>
                                                </div>
                                              </div>
                                              
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-8" style="border:1px solid black">
                                            <div class="row bill-address-row"> Bill To</div>
                                              <br/>
                                                <div class="row-data">
                                                <div class="address">Mr.Amit Malik</div>
                                                <div class="address">Airdoot India Private Limited</div>
                                                <div class="address">#33, Surve Service Premises Co-Op Society Ltd.</div>
                                                <div class="address">1st Sonawala Cross Lane, Goregoan (East)</div>
                                                <div class="address">Mumbai - 40063,INDIA</div>
                                                <div class="address">GST No. - 27ACDFGHIRIJEIIJ89</div>
                                                </div>
                                              </div>
                                          </div>
                                          
                                          <div class="row description-row">
                                                <div class="col-md-8">
                                                  <div class="row description">Description</div>
                                                  <div class="row account-deatils tax-div">Invoice for License Fee applicable from <span id="startDateSpan"></span> to  <span id="endDateSpan"></span></div>
                                                  <div class="row account-deatils tax-div">against Yugasa Bot Implementation</div>
                                                </div>
                                                
                                                <div class="col-md-2">
                                                  <div class="row tax">
                                                    TAX
                                                  </div>
                                                    <div class="row account-deatils tax-div"></div>
                                                  <div class="row account-deatils tax-div"></div>
                                                </div>

                                                <div class="col-md-2">
                                                  <div class="row amount">
                                                    AMOUNT
                                                  </div>
                                                      <div class="row account-deatils" ><span class="amountSpan"></span> INR</div>
                                                  <div class="row account-deatils" ></div>
                                                </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-md-2" style="margin-top: 10px;">Subtotal</div>
                                            <div class="col-md-2" style="margin-top: 10px; text-align:right;"><span class="amountSpan"></span> INR</div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6 account-details-row">
                                                <div class="row account-details-wire-address">Account Details for wire transfer</div>
                                                <div class="row account-deatils ">Account Name:<span class="account-deatils-span">Yugas software Labs Pvt Ltd</span></div>
                                                <div class="row account-deatils">Bank Name:<span class="account-deatils-span">ICICI Bank</span></div>
                                                <div class="row account-deatils">Account No:<span class="account-deatils-span">039905005143</span></div>
                                                <div class="row account-deatils">SWIFT Code:<span class="account-deatils-span">ICICINBBCTS</span></div>
                                                <div class="row account-deatils">MICR Code:<span class="account-deatils-span">110229060</span></div>
                                                <div class="row account-deatils">E-IEC:<span class="account-deatils-span">AAACY7582J</span></div>
                                                <div class="row account-deatils">IFGSC Code:<span class="account-deatils-span">ICICI0000399</span></div>
                                                <div class="row account-deatils">GST No:<span class="account-deatils-span">06AAACY7582JIZU</span></div>
                                                <div class="row account-deatils">CIN:<span class="account-deatils-span">U72900HR2015PTC056837</span></div>
                                                <div class="row account-deatils">HSN Code:<span class="account-deatils-span">998314</span></div>
                                                <div class="row account-deatils">Purpose of Remittance:Software Consultancy</div>
                                            
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                              <div style="">GST Excluded</div>
                                              {{!-- <div style="margin-top: 40%;">other</div>
                                              <div>Total</div> --}}
                                            </div>
                                            <div class="col-md-2">
                                              <div style="text-align:right;">-</div>
                                            </div>
                                            <div class="">
                                              <div class="col-md-2"></div>
                                              <span>
                                                  <div class="col-md-2 gst-other">
                                                    Other
                                                  </div>
                                                  <div class="col-md-2 gst-amount">
                                                    <span class="amountSpan"></span>  
                                                  </div>
                                              </span>
                                            </div>
                                            <div class="">
                                              <div class="col-md-2"></div>
                                              <span>
                                                  <div class="col-md-2">
                                                    <b>Total</b>
                                                  </div>
                                                  <div class="col-md-2" style="background-color: #A4B1D6;text-align:right">
                                                    <b><span class="amountSpan"></span>  INR</b>
                                                  </div>
                                              </span>
                                            </div>
                                          </div>
                                          <div class="row text-center my-5 invoice-row">
                                            <div class="invoice-contact">If you have any questions about this invoices,please contact</div>
                                            <a href="#">
                                              [Mail:contact@yugasa.com]<br/>
                                              Yugasa Software Labs GSTIN:06AAACY7582J1ZU
                                            </a><br/>
                                            <i><b class="bussiness">Thank you for your bussiness!</b></i>
                                          </div>
                                          {{footer}}
                                        </section>
                                  </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<script>
  function subscribeNow(plan){
       swal({
           title: "We will enable the paid subscription for you. Before that you may like to try our free version by applying the relevant coupon below.",
           icon: "info",
           timer: 20000,
       });
       // $.ajax({
       //     url: '/buySubscriptionPlan',
       //     type: 'post',
       //     data: { plan : plan },
       //     success: function (res) {
       //         if(res){
       //           let payment_session_Id = res.data.data.authLink ;
       //           var win = window.open(payment_session_Id,"mywindow","menubar=1,resizable=1,width=1350,height=1050"); 
       //         }
       //     }
       // })
        
  }

  function parentCallbackFunction() { 
    alert("payment done")
  }

</script>
<script>
  function discard(e) {
    $(".closeModal").attr("data-dismiss", "modal");
   }
</script>
<script>
              
       async function getOrderDetailsPDF(e) {
                await downloadInvoicePdf(e);
                setTimeout(function(){
                  callPdfFunc();
                },1000);
        }
        function callPdfFunc(){
                const element = document.getElementById('invoice');
                html2pdf().from(element).save();
        }
</script>