<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YugasaBot</title>
  <style>
    /* CSS Styling */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      text-align: center;
    }
    .product-image {
      text-align: center;
      margin-bottom: 20px;
    }
    .product-image img {
      max-width: 100%;
      height: auto;
    }
   
    
    @media (max-width: 600px) {
      /* Mobile Styles */
      .container {
        padding: 10px;
      }
      .product-image {
        margin-bottom: 10px;
      }
    }
    .h1tag{
             background: #5d00d4;
             color: white;
             text-align: center;
    }
    .chatbot{
      position: absolute;
    top: 50px;
    color: white;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 37px;
}
    
    .ai-chatbot{
      position: absolute;
    bottom: 43%;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 46px;

    }
    .yugasa-image{
      position: absolute;
      bottom: 25%;
      left: 20%;
      height: 7vh;
      width:40%; 
      text-align: center;
      margin: 37px;

    }
  </style>
</head>
<body>
  <div class="main_div">
    <div style="position: relative;">
      <img src="/dist/img/bg@3x.png" alt="XYZ Smartwatch" width="100%" height="496vh"/>
      <div class="chatbot">Chatbot <br/>Coming Soon...</div>
      <div class="ai-chatbot">
        This AI enabled chatbot is going to be<br/>powered by
      </div>
      <img src="/dist/img/logo@3x.png" alt="XYZ Smartwatch" class="yugasa-image"/>
    </div>
  </div>
</body>

</html>