{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
{{!-- date picker start here --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="dist/css/whatsapp.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
.datarange-input {
  float: left !important;
  margin-left: 37px !important;
  }
.daterangepicker th.month {
    color: black !important;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
   color:black !important;
}
    .new_filter_desp_0 {
   padding-left: 32px;
}


.grp_com_addMore {
    margin-left: 0px;
    margin-top: 5%;
}
.grp_model input {
    width: 27% !important;
    margin-left: 2px;
}

table#group-com-table {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.table-container.grp-table-container {
    display: block;
    overflow-y: scroll;
    border: 1px solid #fff;
    max-height: auto !important;
}
#group-com-table tbody tr td {
    text-align: left;
    width: auto;
}
table#group-com-table thead tr th {
    text-align: left;
}
/******switch btn css*********************************/


/*  Toggle Switch  */

.toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    /*-- padding: 3px;--*/
    margin-left: 4px;
    cursor: pointer;
    width: 40px;
    vertical-align: middle;
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 22px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 2px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.397);
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #6800a1;
    box-shadow: inset 0 0 0 30px #6800a1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
}
.content-wrapper.new_cnt_wrap{
    /*min-height:630px !important;*/
}
.load-list{
  text-align: center;
}
.dataTables_search {
    text-align: right;
    margin-right: 50px;
    font-weight: 700;
}
.subs-search{
    position: absolute;
    top: 0px;
    right:12px;
    margin-top: 0px !important;
    cursor: pointer;
}
.span-search{
    position: relative;
}
.sub_search{
    background-image: url(./dist/img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    outline: 0;
    margin-left: 10px;
    width: 12vw;
    }
        .table > thead:first-child > tr:first-child > th {
    font-size: 15px!important;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 15px!important;
}
.delete-analytic{
  width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.info-analytic{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
tr:nth-child(even) {
     background-color: transparent !important; 
}
tr:hover{
    cursor: pointer;
}
.table>thead>tr>th {
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid black !important;
}
.table{
    border-bottom: 0.8px solid black !important;
}
.btn-primary:active:focus{
  background-color: #6800a1 !important;
}
.download-optU{
  width: 18px;
  margin-right: 3px;
  margin-top: -7px;
}
.download-users{
    height: 35px;
    width: 103px;
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}
thead > tr > th{
  text-align: center !important;
  color: white;
}
tbody > tr > td{
  text-align: center !important;
  line-height: 3rem !important;
  font-size: 15px !important;

}
tr:nth-child(even) {
    background-color: transparent !important;
}
.table > thead:first-child > tr:first-child > th {
    background: transparent !important;
    color: white !important;
    line-height: 2.5rem;

}
#analyticsDataTable > thead:first-child > tr:first-child > th {
    color: black !important;
}
.table {
    width: 94% !important;
    max-width: 100% !important;
    margin: 4% auto;
}
.table-scrollar{
  overflow-y: scroll;
  height: 350px;
  border: 1px solid white;
  margin-top: 15px;
}
.optOut-table{
  margin: 0.2% auto;
  border: 1px solid white;
  color: white;
}
::-webkit-input-placeholder { /* Edge */
  color: rgb(140, 136, 136);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(132, 129, 129);
}

::placeholder {
color: rgb(179, 173, 173);
}
.opt-search{
border: none;
background-color: transparent !important;
border-bottom: 1px solid white !important;
color: white !important;
}
.user-downloadeds{
position: absolute;
right: 16px;
margin-top: -6px;
}
.optOut-contents{
padding-right: 19px;
margin-top: 10px;
}
.optOut-buttons{
float: right;
margin-left: 30px;}
.content.new-manage-cont {
    margin-top: -4% !important;
}
.new-manage-cont{
  margin-top: -33px;
  margin-bottom: 45px;
}
.deleteMobileNo {
  background-color: transparent;
  border: none;
}
.main-footer{
    margin-left: 0px !important;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
 }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hide-loader{
display:none;
}

</style>
<input type="hidden" id="clientId" value="{{clientId}}" >
<input type="hidden" id="clientObjId" value="{{clientObjId}}" >

<div class="content-wrapper new_cnt_wrap">
  <div class="loaderDivContainer" id="loaderDivContainer" style="margin: 278px 545px;">
        <div class="loader" id="loader">
        </div>
    </div>
     <div class="col filter new_filter_desp_0">
        <h3 style="font-size: 35px;">Whatsapp Campaigning Analytics</h3>
        {{!-- <button type="button" onclick="optedOutUserBtn()" class="btn btn-primary" data-toggle="modal" data-target="#optedOutUser" style="float: right;
    margin-top: -45px;    margin-right: 44px;">
              Opted Out Users
           </button> --}}
    </div>
    <div class="new-manage-cont">
        <div class="row new-row" style="margin-bottom:30px">
            <div class="col-md-4">
                <div class="customize-input" style="padding-top: 20px;">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="customize-input">
                    </div> 
                </div>
            </div>
            <div class="col-md-4 text-align-right">
                <div class="row">
                    <div class="image-upload padding-button" onchange="loadSlotJson()">
                        <label for="loadSlotJson">
                            {{!-- <span class="btn btn-secondary button-color width-button upload-button "
                                for="loadSlotJson">17/05/2022-17/08/2022</span> --}}
                        </label>
                        <input type="file"  name="files[]" id="loadSlotJson" style="display: none;"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: -webkit-right;">
          {{!-- <button type="button" onclick="optedOutUserBtn()" class="btn btn-primary" data-toggle="modal" data-target="#optedOutUser" style="margin-top:-40px">
              Opted Out Users
           </button> --}}
        </div>
        <div>
            <div class="customize-input dataTables_search">
                  {{!--*****Daterange picker to pick startdate and enddate *script is also here for daterange ******// --}}
                  <input type="hidden" id="sDate" name="sDate" value={{startDate}} >
                  <input type="hidden" id="eDate" name="eDate" value={{endDate}} >
                  <input type="text" class=" button-color datarange-input" id="dateRange"  name="daterange" value="01/01/2018 - 01/15/2018" />
                  <script>
                        $(function() {
                            let startDate = document.getElementById('sDate').value;
                            let endDate = document.getElementById('eDate').value;
                            
                            if(!startDate)
                                startDate =new Date();
                            if(!endDate)
                                endDate = new Date();

                          $('input[name="daterange"]').daterangepicker({
                              opens: 'left',
                              "startDate": startDate,
                              "endDate": startDate,
                              locale: {
                                format: 'DD/MM/YYYY'
                              },
                              maxDate: new Date()
                          }, function(start, end, label) {
                              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                              document.getElementById('sDate').value = start.format('YYYY-MM-DD');
                              document.getElementById('eDate').value = end.format('YYYY-MM-DD');
                              $(".analyticsList").html("");
                              skip = 0;
                              getAnalyticsList();
                          });
                      });
                  </script>

                  <input type = "text" 
                        id = "searchBoxId"
                        onkeyup="onTypingEvent(event)"
                        style="margin-top: 13px;"
                        class="sub_search"
                        placeholder="Search..." >
                        <span onclick="searchFunction(event)" class="span-search">
                          <i class="fa fa-search subs-search" aria-hidden="true"></i>
                          </span>
                          <button type="button" onclick="optedOutUserBtn()" class="btn btn-primary optOut-buttons" data-toggle="modal" data-target="#optedOutUser">
              Opted Out Users
           </button>
            </div> 
            <div >
            </div>
        </div>
        <table id="analyticsDataTable" class="table table-striped ">
            <thead>
                <tr> 
                    {{!-- <th><input type="checkbox" name="select-all" id="select-all" class="chkall" /></th> --}}
                    <th scope="col">Campaign Time</th>
                    <th scope="col">Campaign Name</th>
                    <th scope="col">Group Name </th>
                    <th scope="col">Sent</th>
                    <th scope="col">Delivered</th>
                    <th scope="col">Read </th>
                    <th scope="col">Responded</th>
                    <th scope="col">Failed</th>
                    {{!-- <th scope="col">Agent Handover</th> --}}
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="analyticsList" >
            </tbody>
        </table>
        <div class="load-list">
           <button type="button" 
                  id="loadMoreButtonId"
                  class=" btn btn-secondary
                  button-color border-radius-button down_excel new_button" 
                  style="" 
                  onclick="loadMore(event)" 
                  >Load More
        </button>

        </div>

        <div>
      
          <div class="yubo_model tree_model">
            <div class="modal" id="optedOutUser" style="margin-top:5px">
              <div class="modal-dialog" style="margin-top: 3%;">
                <div class="modal-content  new_modal_content">
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
                      <h4 class="modal-title" id="exampleModalLabel">
                        <button type="button" class="close closeModal
                                            padding-cross" onclick="discard(event)" aria-label="" style="    margin-top: -9px;">✕</button>
                        Opted Out Users
                      </h4>
                    </div>

                    <div class="optOut-contents" style="">
                      
                      <input type = "text" 
                        id = "searchOptOutData"
                        class="sub_search opt-search"
                        placeholder="Search..." style="
                                                ">
                        <span onclick="searchFunction(event)" class="span-search">
                          <i class="fa fa-search subs-search" aria-hidden="true" style="color: white;"></i>
                          </span>
                       <button onclick="downloadOptedUser()" class="download-users user-downloadeds"><img src="./dist/img/download-users.png" alt="download user" class="download-optU"> Download </button>
                    </div>
        
                    <div class="table-scrollar" style="">
                      <table class="table optOut-table" id="downloadTable" style="">
                          <thead>
                              <tr> 
                                  <th scope="col">Sr No</th>
                                  <th scope="col">Mobile No</th>
                                  <th scope="col">Opted out at</th> 
                                  <th scope="col">Action</th>             
                              </tr>
                          </thead>
                          <tbody id="optedOutUsers" style="height: 100px; overflow: auto;" >
                          </tbody>

                      </table>
        
        
                    </div>
        
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
           {{>footer}}

    </div>

</div>
<div class="yubo_model grp_model">
    <div class="modal fade" id="creategroupmodel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal_dialg dialg_nw_modl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">View Analytics Data</h4>
            <button type="button" class="modal_close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body ">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp-added-member">
                        <h3 class="grp_com_addMore_head">Template Name : <span class ="templateNameClass"> </span> </h3>
                        <h3 class="grp_com_addMore_head">Group Name : <span class ="groupNameClass"> </span></h3>
                        <h3 class="grp_com_addMore_head">Date/Time : <span class ="dateTime"> </span></h3>
                        <br>
                        <h3 class="grp_com_addMore_head">Participants</h3>
                        <div class="table-container grp-table-container" style="max-height:auto">
                        <table id="group-com-table" class="table table-bordred table-hover table-striped ">
                        <thead>
                            <tr>
                              <th>Receiver</th>
                              <th>Current Status</th>
                              <th>Error Reason (if any)</th>
                              <th>Timestamp (Updated On)</th>
                            </tr>
                        </thead>
                        <tbody class="viewAnalyticsDiv">

                        </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
    </div>
</div>


<script src="/dist/js/campaignAnalytics.js"></script>
<script>
    $(document).ready(function(){
          //code for data table pagination 
    });

	function discard(e) {
    $(".closeModal").attr("data-dismiss", "modal");
	}
</script>
{{!-- {{>footer}} --}}
 