<!DOCTYPE html>
<html class=''>

<head>
	<link rel="preload"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0"
		as="font" type="font/woff" crossorigin>
	<link rel="stylesheet" href="{{clientCss}}">
	<style>
		.clearChat {
			margin-left: 216px;
			border-radius: 20px;
		}
	</style>
</head>

<body id="yubo" onclick="closePopups();">
	<div id="frame">
		<div class="content">
			<div class="contact-profile">
				{{!-- <button class="clearChat"
					onclick="Yubo.clearChatHistory()">Clear History</button> --}}
				<img class="logo" src="{{logo}}" alt="">
				<p class="tag-line">{{{msg}}}</p>
				<p class="tag-line sub">How can we help you?</p>
				<div title="Restart Chat" class="restarticon" onclick="onRestart();" style="display:none;">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 264.6 300" style="enable-background:new 0 0 264.6 300;" xml:space="preserve">
					<g>
						<path d="M142.2,64.1c5.2,5.1,10.3,10.2,15.5,15.4c3.1,3.1,4.6,6.7,3.5,11.1c-2.1,9-12.6,11.9-19.4,5.3
							c-7.8-7.6-15.4-15.4-23.2-23.2c-3.9-3.9-7.8-7.7-11.7-11.5c-5.1-5-5.2-12-0.2-17c11.6-11.6,23.2-23.1,34.9-34.6
							c6.9-6.8,17.5-4.1,19.7,5.1c1,4.4-0.5,8-3.5,11.1c-4.7,4.7-9.3,9.3-14.3,14.3c6,1.1,11.7,1.9,17.3,3.2
							c52.8,12,91.8,55.8,97.9,109.8c7.6,66.8-38.5,128-104.9,139.3C86.1,303.9,21,259.9,7.9,192.4c-8.9-45.9,4.2-85.6,37.8-118.4
							c5.6-5.5,12.5-5.6,17.3-0.5c4.7,5,4.1,11.8-1.7,17.2c-17.3,16.3-28.5,36.2-31.7,59.7c-5.8,41.5,7.9,76,41.8,100.7
							c61.5,44.9,147.5,11.2,163.3-63.3c12.2-57.2-27.6-114.8-85.3-123.7c-2.2-0.3-4.3-0.6-6.5-0.9C142.6,63.6,142.4,63.9,142.2,64.1z"></path>
					</g>
					</svg>
				</div>
				<div class="contextmenu" onclick="openMenu();$('#menu-dropdown').toggle();">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt" viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M266 614 c-15 -16 -26 -38 -26 -54 0 -36 44 -80 80 -80 16 0 38 11 54 26 34 35 34 73 0 108 -16 15 -38 26 -54 26 -16 0 -38 -11 -54 -26z"></path><path d="M266 374 c-34 -35 -34 -73 0 -108 35 -34 73 -34 108 0 34 35 34 73 0 108 -16 15 -38 26 -54 26 -16 0 -38 -11 -54 -26z"></path><path d="M266 134 c-15 -16 -26 -38 -26 -54 0 -16 11 -38 26 -54 16 -15 38 -26 54 -26 36 0 80 44 80 80 0 36 -44 80 -80 80 -16 0 -38 -11 -54 -26z"></path></g></svg>
                   <div id="menu-dropdown" class="dropdown-content">
                        <ul class="bot-list">
                            <li onclick="onRestart();">
                                <img title="Restart Chat" style="width: 30px;filter:none;margin-right: 7px;"  src="./dist/img/bot-window-icon/reload-c.png">
                                Restart
                            </li>
                        	<li>
                        		<label for="file-input">
                            		<img src="./dist/img/bot-window-icon/attach-paperclip-c.png" style="width: 30px;filter:none;margin-right: 7px;"  title="Attach File">
                            		Upload file
                            	</label>
                            	<div onchange="uploadFile(); $('#menu-dropdown').hide();" >
	                              <input id="file-input" style="display: none;" type="file" name="fileList" onchange="onFileSelect(event)"
	                                        accept=".jpg, .jpeg, .png, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf" />
	                            </div>
                        	</li>
                            <li id="changelang" onclick="Botlanguage(); $('#menu-dropdown').hide(); openMenu(); $('#changeLanguageModal').show();">
                              <img id="myBtn" src="./dist/img/bot-window-icon/translate-c.png" style="width: 30px;filter:none;margin-right: 7px;"  title="Change Language"> 
                               Language
                            </li>
                        </ul>
                    </div>
				</div>
			</div>

			<div class="messages" id="down">
				<ul id="myList">
					{{#if chatMsg}}
					<li class="sent">
						{{#if chatLogo}}
						<img src="{{chatLogo}}" alt="" />
						{{/if}}
						<p>{{chatMsg}}</p>
					</li>
					{{/if}}
				</ul>

				<div id="wave" style="display: none;">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>

				<input type="hidden" id="clientId" value="{{clientId}}">
				<input type="hidden" id="hutk" value="{{hutk}}">
				<input type="hidden" id="url" value="{{url}}">
				{{#if storageData}}
				<input type="hidden" id="storageData" value="{{storageData}}">
				{{else}}
				<input type="hidden" id="storageData" value="">
				{{/if}}
				{{#if story}}
				<input type="hidden" id="story" value="{{story}}">
				{{else}}
				<input type="hidden" id="story" value="false">
				{{/if}}
				{{#if chatLogo}}
				<input type="hidden" id="chatLogo" value="{{chatLogo}}">
				{{else}}
				<input type="hidden" id="chatLogo" value="">
				{{/if}}
				<input type="hidden" id="client_type" value="{{type}}">
				<input type="hidden" id="incoming_sound" value="{{incoming_sound}}">
				<input type="hidden" id="node" value="False">
				<input type="hidden" id="bottonId" value="1">
			</div>

			<div class="message-input" id="message-input">
				<div class="message-input">
					<div class="wrap">
						<div class="wrap-content">
							<input type="text" id="msg" autocomplete="off" placeholder="Write your message..."
								style="position:relative;" onkeyup="onTypingUser()">
							<div class="myAlert-top alert alert-success" id="success">

							</div>
							<div class="myAlert-bottom alert alert-danger" id="error">

							</div>
							{{!-- <div class="image-upload" style="position:absolute; right:96px;top:8px"
								onchange="uploadFile()" >
								<label for="file-input">
									<i class="yubo-paperclip fa fa-paperclip" style="font-size:24px; cursor:pointer;"></i>
								</label>
								<input id="file-input" style="display: none;" type="file" name="fileList" 
								       onchange="onFileSelect(event)"
									   accept=".jpg, .jpeg, .png, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf" />
							</div> --}}
						</div>

						<img src="img/micro_phone.png" id="mic" style="display: none;" class="attachment"
							title="Start Listening" aria-hidden="true" onclick="voice()">
						<button type="submit" class="submit"
							onclick="Yubo.send(document.getElementById('msg').value, document.getElementById('clientId').value)">
							<svg width="20px" height="20px" fill="#fff" version="1.1" id="sendbtn"
								xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
								y="0px" width="535.5px" height="535.5px" viewBox="0 0 535.5 535.5"
								style="enable-background:new 0 0 535.5 535.5;" xml:space="preserve">
								<polygon points="0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75">
								</polygon>
							</svg>

						</button>
					</div>
				</div>
			</div>
			<!-- The Modal -->
			<div id="changeLanguageModal" class="modal" style="display:none;">
				<div class="modal-content">
					<div class="chnge_lang">
					<span class="close" onclick="$('#changeLanguageModal').hide();">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
							<path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
						</svg>
					</span>
					</div>

					<div class="languageScroll">
						<ul class="lang-list" id="language_list">
						</ul>	
					</div>
						
				</div>

			</div>
			<div class="powerd">
				Powered by <a href="https://helloyubo.com/" target="_blank"
					title="Building Blocks for Building Bots"><img src="img/powered_by.png" alt="Yugasa Bot Logo"></a>
			</div>
		</div>
	</div>
</body>

</html>
<script defer src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.8/dist/js/splide.min.js"></script>
<!-- 	<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script> -->
<!-- <script src="https://formbuilder.online/assets/js/form-render.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.6.1/form-builder.min.js" integrity="sha512-CJ+4BoMQZZKqotzJOnxr8y6rBi6l3JCsc1xcNvaRxY3B0Ubj18Ss7hsvoPdK+qG9NlRXZw+JHhYqKKIeEmjsMA==" crossorigin="anonymous"></script> -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.6.1/form-render.min.js"
	integrity="sha512-MMnuXXrdl6cKoHt7brUa8bJvU9APzxQG6Wn8Bj0SlRJNAOK7qYw1G9ngXfI5kf3oN3IHX4u8UErJBfuFvg1O+w=="
	crossorigin="anonymous"></script>
<script defer src="client.js"></script>
<script defer src="dist/js/chat/chat.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.8/dist/css/splide.min.css">
<link rel="stylesheet" href="dist/css/chat/chat.css">