{{> head}}
{{> sideNavBar}}
<style>
    .configuration {
        width: 100%;
        height: 100vh;
        float: left;
        text-align: center;
        margin: auto;
    }

    .app-id,
    .email-configure {
        width: 100%;
        float: left;
        padding: 20px;
    }

    .configuration label {
        color: #333;
        font-size: 15px;
        text-align: right;
        width: 35%;
        float: left;
        padding-right: 10px;
    }

    .email-configure-in {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .configuration h4 {
        color: #333;
        font-size: 18px;
        display: block;
        font-weight: 600;
    }

    .configuration input {
        border: 1px solid #ccc;
        padding: 0px 15px;
        width: auto;
        margin: 10px 0;
        background-color: #fff;
        color: #333;
        height: 40px;
        border-radius: 5px;
        width: 35%;
        float: left;
    }
</style>

<body>
    <div class="content-wrapper">
        <div class="content bg-grey">
            <div class="container">
                <div class="configuration">
                <div class="email-configure-in">
                    <label>App-Id</label>
                    <input type="text" name="">
                </div>
                <div class="email-configure">
                    <h4>Email Configuration</h4>
                    <div class="email-configure-in">
                        <label>User Email</label><input type="email" id="email" name="email">
                    </div>
                    <div class="email-configure-in">
                        <label>User Password</label><input type="password" id="pwd" name="pwd">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
{{> footer}}