{{> head showActivateButton=showActivateButton}}
{{> sideNavBar showCampaignTabs=showCampaignTabs userTypePro=userTypePro}}
{{!-- date picker start here --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.col-half-offset {
margin-left: 3%
}
.margin-right{
margin-right: 10px;
}
.topmargin{
	top : 10%;
}
#location_chart {
width: 100%;
height: 319px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
 }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hide-loader{
display:none;
}
.filter-button{
	max-width: none !important;
}
.dropdown-right{
	margin-top: 0px !important;
	margin-right: 15px;
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="loaderDivContainer" id="loaderDivContainer" style="margin: 278px 545px;">
        <div class="loader" id="loader">
        </div>
    </div>

<div class="content-wrapper">
<!-- Main content -->
<section class="content">
<div class="row">
<div class="col filter-button">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 filter-button">
			<input type="hidden" id="filterDays" name="filterDays" value={{filterDays}} />
			<input type="hidden" id="sDate" name="sDate" value={{startDate}} />
			<input type="hidden" id="eDate" name="eDate" value={{endDate}} />
			<input type="hidden" id="cname" value="{{name}}">
			<input type="hidden" id="profile_img" value={{profile_img}}>
			<input type="text" id="dateRange" name="daterange" />
		
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<select class="dropdown-right" id="filterDate">
				<option value="1">Last 24 Hours</option>
				<option value="7">Last 1 week</option>
				<option value="14">Last 2 weeks</option>
				<option value="30">Last 1 Month</option>
			</select>
		
		</div>
	</div>
{{!-- <input type="hidden" id="filterDays" name="filterDays" value={{filterDays}} />
<input type="hidden" id="sDate" name="sDate" value={{startDate}} />
<input type="hidden" id="eDate" name="eDate" value={{endDate}} />
<input type="hidden" id="cname" value="{{name}}">
<input type="hidden" id="profile_img" value={{profile_img}}>
<input type="text" id="dateRange" name="daterange" /> --}}
<div class="">
<div class="">
{{!-- <select class="dropdown-right" id="filterDate">
<option value="1">Last 24 Hours</option>
<option value="7">Last 1 week</option>
<option value="14">Last 2 weeks</option>
<option value="30">Last 1 Month</option>
</select> --}}
</div>
</div>

<script>
var startDate = document.getElementById('sDate').value;
var endDate = document.getElementById('eDate').value;

//For dates to display on X-Axis
var dateArray = []
var now = moment({{ startDateInMs }})
var end_Date = moment({{ endDateInMs }})

while (now.isSameOrBefore(end_Date)) {
dateArray.push(now.format('DD MMM, YYYY'));
now.add(1, 'days');
}
if (!dateArray.includes(end_Date.format('DD MMM, YYYY'))) {
dateArray.push(end_Date.format('DD MMM, YYYY'));
}

$('input[name="daterange"]').daterangepicker({
opens: 'left',
"startDate": startDate,
"endDate": endDate,
locale: {
format: 'DD/MM/YYYY'
},
maxDate: new Date()
}, async function (start, end, label) {
await location.replace('/adminPanel?startDate=' + start + '&endDate=' + end);
});
function setSelectedDate(e) {
	const filterDays = document.querySelector("#filterDays").value;
	document.querySelector("#filterDate").value = filterDays
}
function filterByDate(e) {
	const day = e.target.value;
	

    fetch(`/dashboard/filter-date`, {
		method: 'PATCH',
		body: JSON.stringify({
			day
		}),
		headers: {
			'Content-type': 'application/json',
		},
	})
	.then((response) => response.json())
	.then((json) => console.log(json));

	history.go(0)
	showLoader()
}

let filterDate = document.querySelector("#filterDate").addEventListener("change", filterByDate);
setSelectedDate()
hideLoader()
function showLoader(){
    $('#loaderDivContainer').removeClass("hide-loader");
    $('.content').hide(); 
}
function hideLoader(){
    $('#loaderDivContainer').addClass("hide-loader");
    $('.content').show();
}

</script>

</div>
</div>
<!-- Small boxes (Stat box) -->
<div id="dbData" class="row display-flex flex-wrap-wrap">
{{#if showTotalConvers}}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="/chat" target="_blank">
<!-- small box -->
<div class="small-box bg-aqua bg-aqua-1 widg-box-1">
<div class="inner">
<img src="./dist/img/Create-Intent.svg">
<p>Total Conversation</p>
<h3 id="totalConversation">{{totalConversation}}</h3>
<h5 class="lastChatTime position-right">{{lastChatTime}}</h5>
</div>
</div>
</a>
</div>
{{/if}}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="/chat" target="_blank">
<!-- small box -->
<div class="small-box bg-aqua bg-aqua-2 widg-box-2">
<div class="inner">
{{!-- <img src="./dist/img/Create-Intent.svg"> --}}
<img src="./dist/img/group.png">
<p>No. of Visitors</p>
<h3 id="totalConversation">{{noOfVisitors}}</h3>
</div>
</div>
</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="/chat?filter=Leads" target="_blank">
<!-- small box -->
<div class="small-box bg-aqua bg-aqua-3 widg-box-3">
<div class="inner">
<img src="./dist/img/TotalLeads.svg">
<p>Total Leads</p>
<h3>{{totalLeads}}</h3>
<h5 class="lastLeadTime position-right">{{lastLeadTime}}</h5>
</div>
</div>
</a>
</div>
<!-- ./col -->
<!-- ./col -->
{{#if showBClosedCard}}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="/chat" target="_blank">
<!-- small box -->
<div class="small-box bg-aqua bg-green bg-green-3 widg-box-3">
<div class="inner">
<img src="./dist/img/business-closed.png">
<p>Business Closed</p>
<h3 class="buisnessclosed">{{totalBClosed}}</h3>
</div>
</div>
</a>
</div>
{{/if}}
<!-- ./col -->
<!-- ./col -->

<!-- ./col -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="/fallbacks" target="_blank">
<!-- small box -->
<div class="small-box bg-aqua bg-aqua-4 widg-box-4">
<div class="inner">
<img src="./dist/img/Fall.svg">
<p>Unhandled Fallbacks</p>
<h3>{{totalFallbacks}}</h3>
</div>
</div>
</a>
</div>
<!-- ./col -->

</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
<div class="col-lg-12 col-xs-12">
<h2 class="title visible-xs">Progress Chart</h2>
<select class="dropdown-right" id="filterByGraph" onchange="filterByGraph()">
<option value="Line_Daily">Line Chart(Daily Graph)</option>
<option value="Line">Line Chart(Cumulative Graph)</option>
<option value="Bar">Bar Chart</option>
</select>
<h2 class="title hidden-xs">Progress Chart</h2>
<div id="plinechartDaily">
<canvas id="progressChartDaily"></canvas>
</div>
<div id="plinechart" hidden>
<canvas id="progressChart"></canvas>
</div>
<div id="pbarchart" hidden>
<canvas id="progressBarChart"></canvas>
</div>
</div>
</div>
<!-- /.row (main row) -->

<!-- Main row -->
<div class="row">
<div class="col-lg-6 col-xs-12">
<h2 class="title">Source Of Contact<h2>
<div>
<canvas id="sourceContactBarChart" width="400" height="280"></canvas>
</div>
</div>
<div class="col-lg-6 col-xs-12">
<h2 class="title">Contact Location</h2>
<div id="location_mapid">
<img class="contactimage" src="./dist/img/Map.png" width="100%" height="auto">
<div id="location_chart" style="display:none;"></div>
<p class="map_text">The approximate location of users who will chat with Yugasa Bot on your platform will be
displayed here.</p>
</div>
</div>
</div>
<!-- /.row (main row) -->
<div class="row">
<div class="col-md-6">
<div >
<h2 class="title">Intent Analytics</h2>
<div>
<div id="chartdiv" style="width: 100%; height: 400px;"></div>
{{!-- <canvas id="intentAnalyticsChart" width="400" height="280"></canvas> --}}
</div>
</div>
<div style="height:50px">&nbsp;</div>
</div>
<div class="col-md-6"> 
<div >
<h2 class="title">Drop Intent Analytics</h2>
<div>
<div class="chart" id="intent-left-div" style="width: 100%; height: 400px;"></div>
{{!-- <canvas id="intentAnalyticsChart" width="400" height="280"></canvas> --}}
</div>
</div>
<div style="height:50px">&nbsp;</div>
</div>
</div>
<div class="row">
<h2 class="title">User Analytics</h2>
<div>
<div>
<div class="chart" id="userchartdiv" style="width: 100%; height: 400px;"></div>
{{!-- <canvas id="intentAnalyticsChart" width="400" height="280"></canvas> --}}
</div>
</div>
<div style="height:70px">&nbsp;</div>
</div>
{{#unless userTypePro}}
<div class="modal fade yubo_rewards_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog topmargin" role="document">
	  <div class="modal-content">
		<div class="modal-header"style="color: white;">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		  <div class="modal-title" id="exampleModalLabel" style="margin-left:3rem;font-size:20px;font-weight:600" >Welcome to Yugasa Bot admin Panel</div>
		  <h5 style="margin-left:3rem;font-size:13px;color:#9C5DC1" >Here are 6 simple steps to make your Yugasa Bot intelligent and deploy it on your website:</h5>
  
		  
		</div>
		<div class="modal-body"style="color: white;margin-left:3rem">
		  <span class="margin-right">1.</span>Prepare the content on which you want to train your Yugasa Bot. This can be a text content of up to 60K characters<br/><span style="margin-left: 20px;"> (around 20 A4 size pages of content)</span><br/><br/>
  <span class="margin-right">2.</span>Get your Generative AI key and put it in your Yugasa Bot panel (Watch video for this in the'Help' section)</span><br/><br/>
  <span class="margin-right">3.</span>Put content created in step 1, in the 'Your Story' section and click on Train Your Story button.<br/><br/>
  <span class="margin-right">4.</span>Go to settings, design the GUI of your bot window and check preview to test your bot. (Watch video for this in the <br/><span style="margin-left: 20px;">‘Help’ section)</span><br/><br/>
  <span class="margin-right">5.</span>Setup your payment method in the Yugasa Bot 'Billing' section.<br/><br/>
  <span class="margin-right">6.</span>Make Yugasa Bot live on your website. (Watch video for this in the 'Help' section</spn>)<br/><br/>
		</div>
		
	  </div>
	</div>
</div>
{{/unless}}
{{> footer}}

</section>
<!-- /.content -->
</div>

{{!-- {{> footer}} --}}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{{!-- chart.js script --}}
{{!-- chart.js cdn file --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">

// progress line chart(Cumulative) start here 
let Chartobj = {
labels: dateArray,
datasets: [
{
data: [{{ totalConversationArray }}],
label: "Total Conversation",
borderColor: "#00cee6",
fill: false
},
{
data: [{{ totalVisitorsArray }}],
label: "Total No. of Visitors",
borderColor: "#ababed",
fill: false
},
{
data: [{{ totalLeadsArray }}],
label: "Total Leads",
borderColor: "#28a6a8",
fill: false
},
{
data: [{{ totalFallbacksArray }}],
label: "Total Fallbacks",
borderColor: "#ffbf63",
fill: false
}
]
}
if ($('.buisnessclosed').html()) {
Chartobj['datasets'].shift();
let data = {
data: [{{ totalbusinessclosedArraay }}],
label: "Total Buisness Closed",
borderColor: "#00a65a",
fill: false
}
Chartobj['datasets'].splice(2, 0, data)
}
// progress line chart(Daily wise) start here 
let dateArrayForDailyG = [...dateArray]
let dailyChartobj = {
labels: dateArrayForDailyG,
datasets: [
{
data: [{{ totalConversationDaily }}],
label: "Total Conversation",
borderColor: "#00cee6",
fill: false
},
{
data: [{{ totalVisitorsDaily }}],
label: "Total No. of Visitors",
borderColor: "#ababed",
fill: false
},
{
data: [{{ totalLeadsDaily }}],
label: "Total Leads",
borderColor: "#28a6a8",
fill: false
},
{
data: [{{ totalFallbacksDaily }}],
label: "Total Fallbacks",
borderColor: "#ffbf63",
fill: false
}
]
}
if ($('.buisnessclosed').html()) {
dailyChartobj['datasets'].shift();
let data = {
data: [{{ totalbusinessclosedDaily }}],
label: "Total Buisness Closed",
borderColor: "#00a65a",
fill: false
}
dailyChartobj['datasets'].splice(2, 0, data)
}
//show hide graph based on graph selected via dropdown start
async function filterByGraph() {
var filterVal = document.getElementById('filterByGraph').value;
if (filterVal == "Bar") {
$("#plinechartDaily").hide();
$("#plinechart").hide();
$("#pbarchart").show();
} else if (filterVal == "Line_Daily") {
lineGraph(dailyChartobj, "progressChartDaily")
$("#plinechart").hide();
$("#pbarchart").hide();
$("#plinechartDaily").show();
} else {
lineGraph(Chartobj, "progressChart")
$("#plinechartDaily").hide();
$("#pbarchart").hide();
$("#plinechart").show();
}
}
//show hide graph based on graph selected via dropdown end
// progress line chart starts here 
// lineGraph(Chartobj, "progressChart");
lineGraph(dailyChartobj, "progressChartDaily")
async function lineGraph(Chartobj, canvasId) {
var ctx = document.getElementById(canvasId);
Chart.defaults.global.defaultFontColor = '#9a9a9a';
Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
var progressChart = new Chart(ctx, {
type: 'line',
data: Chartobj,

options: {
responsive: true,
maintainAspectRatio: false,
title: {
display: true,
text: 'Progress Chart'
},
scales: {
yAxes: [{
scaleLabel: {
display: true,
labelString: 'Data'
}
}],
xAxes: [{
scaleLabel: {
display: true,
labelString: 'Dates'
}
}]
}
}

});
progressChart.canvas.parentNode.style.height = '400px';
progressChart.canvas.parentNode.style.width = '100%';
return
}

// progress line chart end here 

// Source Of Contact bar chart start here 

var ctx = document.getElementById('sourceContactBarChart');
Chart.defaults.global.defaultFontColor = '#9a9a9a';
Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
// var progressChart = new Chart(ctx, {
// type: 'bar',
// data: {
// labels: ["Internet", "Linkedin", "Facebook", "Word of mouth", "Others"],
// datasets: [
// {
// label: "Contact",
// backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
// data: [{{ internet }}, {{ linkedin }}, {{ facebook }}, {{ wordOfMouth }}, {{ others }}]
// }
// ]
// },
// options: {
// legend: { display: false },
// title: {
// display: true,
// text: 'Predicted world source of contact'
// }
// }
// });

var progressChart = new Chart(ctx, {
type: 'doughnut',
data: {
labels: ["Website", "WhatsApp", "Facebook Messenger", "Instagram", "Google Buisness Messages", "Telegram Messenger","Android App","iOS App",],
datasets: [
{
label: "Contact",
backgroundColor: ["#ababed", "#128C7E", "#3b5998", "#cd0078", "#F4B400", "#0088CC","#9fc037","#959595"],
data: [{{ sources.web }}, {{ sources.wa }}, {{ sources.fb }}, {{ sources.ig }}, {{ sources.gbm }}, {{ sources.tg }}, {{ sources.android }}, {{ sources.ios }}]
}
]
},
options: {
responsive: true,
legend: { display: true, position: "bottom" },
title: {
display: true,
text: 'Number of visitors from different channels'
}
}
});

// Source Of Contact bar chart end here 

//progress bar chart start here 

let monthLeads = {{{ monthLeads }}}

let labels = [];
let values = [];
let colors = [];
let base_color = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f", "#e8c3b9", "#c45850", "#3e95cd"];

monthLeads.forEach((item) => {
labels.push(item.month),
values.push(item.value),
colors.push(base_color[Math.floor(Math.random() * base_color.length)])
});

var ctx = document.getElementById('progressBarChart');
Chart.defaults.global.defaultFontColor = '#9a9a9a';
Chart.defaults.global.defaultFontFamily = "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
var progressChart = new Chart(ctx, {
type: 'bar',
data: {
labels: labels,
datasets: [
{
label: "Leads",
backgroundColor: colors,
data: values
}
]
},
options: {
responsive: true,
maintainAspectRatio: false,
legend: { display: false },
title: {
display: true,
text: 'Leads by Month'
},

scales: {
xAxes: [{
scaleLabel: {
display: true,
labelString: 'Months'
}
}],
yAxes: [{
scaleLabel: {
display: true,
labelString: 'No of Leads'
}
}]
}

}
});
progressChart.canvas.parentNode.style.height = '400px';
progressChart.canvas.parentNode.style.width = '100%';

</script>

<script type="text/javascript">
	let locations = {{{ locations }}}
	let obj = "";
	if ($('#cname').val()) {
	obj = { 'cname': $('#cname').val() }
	}
	if ($('#profile_img').val()) {
	$('.header_user_image').attr('src', './dist/img/' + $('#profile_img').val());
	Object.assign(obj, { 'profile_img': $('#profile_img').val() })
	}
	localStorage.setItem('pdata', JSON.stringify(obj))
</script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldIndiaLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="dist/js/admin/dashboard.js"></script>

{{!-- date picker start here --}}
<script type="text/javascript">

/***************************INTENT ANALYTICS GRAPH********************************/
// Create chart instance
let communicationNodes = {{{node}}}
let communicationIntents = {{{intents}}}
var dataSource = {{{ intentSources }}}
console.log("DATA", dataSource)
var chart = am4core.create("chartdiv", am4charts.PieChart);
// Create pie series
var series = chart.series.push(new am4charts.PieSeries());
series.dataFields.value = "count";
series.dataFields.category = "nodeName";

// Add data
chart.data = dataSource;

// And, for a good measure, let's add a legend
chart.legend = new am4charts.Legend();
chart.legend.position = "bottom"; // Positionning your legend to the right of the chart
chart.legend.scrollable = true; // Make it scrollable
chart.legend.maxHeight = 150;
chart.legend.maxWidth = 200;
chart.legend.useDefaultMarker = true;
//chart.legend.valueLabels.template.disabled = true; //to remove the percentace from legends
var currentSlice;
series.slices.template.events.on("hit", function(ev) {
console.log("EVENT", ev.target.dataItem.value)
console.log("Category", ev.target.dataItem.properties.category)
if (currentSlice) {
currentSlice.tooltip.hide();
}
currentSlice = ev.target;
currentSlice.tooltipText = "{category}: {value.percent.formatNumber('#.#')}% ({value.value})";
currentSlice.invalidate();
currentSlice.showTooltip();
});
/********************************************************************************************/
/*************************USER ANALYTICS GRAPH***********************************************/
//user chart
var userdataSource = {{{ userIntents }}}
console.log("userdataSource", userdataSource)
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
let userchart = am4core.create("userchartdiv", am4charts.XYChart);

// Add data
userchart.data = userdataSource;

// Create axes
let categoryAxis = userchart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "userName";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.labels.template.disabled = true;

let valueAxis = userchart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.inside = true;
valueAxis.renderer.labels.template.disabled = true;
valueAxis.min = 0;

// Create series
function createSeries(field, name) {
// Set up series
let series1 = userchart.series.push(new am4charts.ColumnSeries());
series1.name = name;
series1.dataFields.valueY = field;
series1.dataFields.categoryX = "userName";
series1.sequencedInterpolation = true;
// Make it stacked
series1.stacked = true;
// Configure columns
series1.columns.template.width = am4core.percent(60);
series1.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
// Add label
let labelBullet = series.bullets.push(new am4charts.LabelBullet());
labelBullet.label.text = "{valueY}";
labelBullet.locationY = 0.5;
labelBullet.label.hideOversized = true;

series1.columns.template.events.on("hit", async function (ev) { 
var data = ev.target.dataItem.dataContext; 
console.log("DATA", data)
await location.replace('/chat?userId=' + data.userId );
})
return series1;
}

let userIntentObj = userdataSource[0]
for (const property in userIntentObj) {
if(property == "userName" || property == "userId"){
console.log("property not", property)
//not to include
} else {
createSeries(property, property);
}
}
var userChartlabel = userchart.createChild(am4core.Label);
userChartlabel.text = "Users";
userChartlabel.fontSize = 20;
userChartlabel.FontWeight = 40;
//userChartlabel.align = "center";
userChartlabel.x = 360;
userChartlabel.y = 100;
// Legend
userchart.legend = new am4charts.Legend();
userchart.legend.position = "bottom"; // Positionning your legend to the right of the chart
userchart.legend.scrollable = true; // Make it scrollable
userchart.legend.maxHeight = 400;
userchart.legend.maxWidth = 200;
userchart.legend.useDefaultMarker = true;

/*************************************************************************************************/

/******************************INTENT LEFT GRAPH**************************************************/
// Create chart instance
var dataSource = {{{ leftNodes }}}
var leftNodeDetails = {{{leftNodeDetails}}}
var chart1 = am4core.create("intent-left-div", am4charts.PieChart);

// Create pie series
var intentSeries = chart1.series.push(new am4charts.PieSeries());
intentSeries.dataFields.value = "count";
intentSeries.dataFields.category = "nodeName";

// Add data
chart1.data = dataSource;

// And, for a good measure, let's add a legend
chart1.legend = new am4charts.Legend();
chart1.legend.position = "right"; // Positionning your legend to the right of the chart
chart1.legend.scrollable = true; // Make it scrollable
chart1.legend.maxHeight = 150;
chart1.legend.maxWidth = 200;
chart1.legend.useDefaultMarker = true;
var currentSlice;
intentSeries.slices.template.events.on("hit", async function(ev) {
console.log("EVENT", ev.target.dataItem.value)
console.log("Category", ev.target.dataItem.properties.category)
let searchIntent 
if(communicationIntents.includes(ev.target.dataItem.properties.category)){
searchIntent = ev.target.dataItem.properties.category
} else {
let searchIntentObj = communicationNodes.find(o => o.nodeName === ev.target.dataItem.properties.category);
searchIntent = searchIntentObj.nodeId
}
let leftNodeUsers = leftNodeDetails.filter(e => (e.intent == searchIntent))
let usersArr = leftNodeUsers.map(a => a.userId)
await location.replace('/chat?userId=' + usersArr );
if (currentSlice) {
currentSlice.tooltip.hide();
}
currentSlice = ev.target;
currentSlice.tooltipText = "{category}: {value.percent.formatNumber('#.#')}% ({value.value})";
currentSlice.invalidate();
currentSlice.showTooltip();
});
</script>
{{#unless userTypePro}}
	<script>
			$(window).on('load', function() {
					// Check if the key-value pair is present in localStorage
				let dashboardModal = localStorage.getItem('dashboardModal') ;
				if (dashboardModal == 'false'  || dashboardModal== 'undefined' || dashboardModal== null ) {
					localStorage.setItem("dashboardModal",'true');
					$('#exampleModal').modal('show');
					console.log('Value for "yourKey" in localStorage:', dashboardModal);
				} else {
					// The key-value pair does not exist, do something else
					console.log('Key "yourKey" not found in localStorage.',dashboardModal);
					// Perform your alternative action here
				}
			});
	</script>
{{/unless}}

