{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
<link rel="stylesheet" href="/dist/css/subscription.css">
<link rel="stylesheet" href="/dist/css/Two-stepverification.css">
<script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Extended" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    button.tablinks {
       width: 17.32% !important;
    }
    /*.content-wrapper.bg-img {
       min-height: 200px !important;
    }*/
    .content-wrapper.bg-img.cnt_wrapped_0{
       /* min-height:510px !important;*/
    }
    .set-area {
       padding:0px 20px !important;
    }
    ::-webkit-file-upload-button {
    background: #6800a1;
    border-radius: 15px;
    width: 100px;
    color: white;
    padding: 0.2em;
    border: none;
    height: 30px;
    cursor: pointer;

  }
  .tab {
    overflow: hidden;
    width: 100%;
    border: 0px solid #ccc !important;
    background-color: white !important;
    display: inline-flex !important ;
}
.image{
}
.tablinks{
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.edit_text{
    position: absolute;
    left: 107px;
    top: 30px;
    color: white;
    cursor: pointer;
}
.password_text{
    position: absolute;
    left: 87px;
    top: 14px;
    color: white;
    cursor: pointer;

}
.factor_text{
    top: 15px;
    position: absolute;
    left: 128px;
    color: white;
    cursor: pointer;
}
.tab button {
    background-color: inherit;
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 19px 16px;
    transition: 0.3s;
    width: 25%;
}
 .editProfileTab{
  background-image: url(./dist/img/left-arrow-tab.png);
  background-repeat: no-repeat;
 background-size: cover;  
 background-position:center ;
 background-attachment: inherit;
}
 .editProfileTabs{
  background-image: url(./dist/img/r-arrow-tab.png);
  background-repeat: no-repeat;
 background-size: cover;  
 background-position:center ;
 background-attachment: inherit;
}
.chngPswrdTab{
    background-image: url(./dist/img/middle-tab-links.png);
    background-repeat: no-repeat;
   background-size: cover;  
  background-position:center ;
 background-attachment: inherit;
}
.twofact{
    background-image: url(./dist/img/middle-tab-links.png);
    background-repeat: no-repeat;
   background-size: cover;  
 background-position:center ;
 background-attachment: inherit;

}
.tablinks.active{
    background-image: url(./dist/img/color-left-arrow-tab.png);
    background-repeat: no-repeat;
     background-size: cover;  
      color: aliceblue; 
      background-color: transparent !important;
      background-position:center ;
 background-attachment: inherit;
 }
.tablinks.active:nth-child(2){
      background-image: url(./dist/img/color-tab-link.png);
      background-repeat: no-repeat;
      background-size: cover;  
      color: aliceblue; 
      background-color: transparent !important;
     background-position:center ;
 background-attachment: inherit;
 }
.tablinks.active:nth-child(3){
           background-image: url(./dist/img/color-tab-link.png);
           background-repeat: no-repeat;
            background-size: cover;  
            color: aliceblue; 
           background-color: transparent !important;
         background-position:center ;
         background-attachment: inherit;
}
.tablinks.active:nth-child(4){
           background-image: url(./dist/img/color-tab-link.png);
           background-repeat: no-repeat;
            background-size: cover;  
            color: aliceblue; 
           background-color: transparent !important;
         background-position:center ;
         background-attachment: inherit;
}
.tablinks.active:nth-child(5){
           background-image: url(./dist/img/r-color-tab-link.png) !important;
           background-repeat: no-repeat;
            background-size: cover;  
            color: aliceblue; 
           background-color: transparent !important;
         background-position:center ;
         background-attachment: inherit;
}
@media screen and (max-width:1475px){
.tab_btns{
    background-size: contain !important;  
}
button.tablinks {
    width: 33.32% !important;
}
}
@media screen and (max-width: 650px){
button.tablinks {
    width: 100.32% !important;
}
.tab button {
    padding: 16px 9px !important;
}
}
.time_zone{
margin-left: -29px;
}
.profile_submit{
text-align: -webkit-center;
}
.submit_button{
text-align: -webkit-center;
}




</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-img cnt_wrapped_0">
    <!-- Main content -->
    <section class="content">
        {{!-- setting new design start here --}}
        <div class="row">
            <div class="col-lg-12 col-xs-12 set-area">
                <div class="design-body">
                    <div class="row design-body-padd responsive nowrap">
                        <div class="tab" align="right">

                            <button class="tablinks active editProfileTab tab_btns"
                                onclick="activateTab(event, 'edit-profile')" style="margin-right: 0px;">Edit
                                Profile</button>
                     <button class="tablinks chngPswrdTab tab_btns" onclick="activateTab(event, 'change-pswd')">Change
                                Password</button> 
                             <button class="tablinks subs_tab twofact tab_btns"  onclick="activateTab(event, 'factorauthen')" style="margin-left: 0px;">2FA<span>&nbsp;</sup></button>  
                            {{#if userTypePro}}
                             <button class="tablinks subs_tab twofact tab_btns"  onclick="activateTab(event, 'deactivateAccount')" style="margin-left: 0px;">Deactivate<span>&nbsp;</sup></button>
                             <button class="tablinks subs_tab editProfileTabs tab_btns" onclick="activateTab(event, 'wallet')" style="margin-right: 0px;">Wallet</button>  
                            {{/if}}
                        </div>

                        <div id="edit-pass-full" class="col-lg-12">
                            <div class="row">
                                <!-- Tab content -->
                                <form action="" role="form" id="editformdata" method="POST">
                                    <div id="edit-profile" class="tabcontent edit-profile">
                                        <div class="row edit-profile-cont">
                                            <div class="edit-profile-box">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="set-all-row">
                                                            <div class="col-lg-3">
                                                                <div class="row online-st">
                                                                    <p>Company Name</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="row online-status">
                                                                    <input class="form-control company_name" type="text"
                                                                        name="name" value="{{objdata.name}}" required="required"
                                                                        placeholder="Your company name or your name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="set-all-row">
                                                            <div class="col-lg-3">
                                                                <div class="row online-st">
                                                                    <p>Email id</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="row online-status">
                                                                    <input class="form-control company_email"
                                                                        type="email" placeholder="Email" id="email-Id"
                                                                        name="email" value="{{email}}"
                                                                        required="required" disabled="disabled"
                                                                        aria-required="true"
                                                                        pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                                                        title="Please enter valid email Example: abc@xyz.com)"
                                                                        spellcheck="false" size="35" maxlength="40">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="set-all-row">
                                                            <div class="col-lg-3">
                                                                <div class="row online-st">
                                                                    <p>Mobile Number</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="row online-status">
                                                                    <input class="form-control"
                                                                        type="text" placeholder="Mobile Number" id="phone"
                                                                        name="phone" value="{{phone}}" disabled="disabled" required="required" aria-required="true" pattern=""
                                                                        title="Please enter valid Mobile Number"
                                                                        spellcheck="false" size="35" maxlength="40">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row set-all-row">
                                                        <div class="col-lg-3">
                                                            <div class="row online-st">
                                                                <p>Profile Photo</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="row">
                                                                <div class="area">
                                                                    <input type="file" name="profile_img" id="file-input"
                                                                        accept="image/jpeg, image/png" />
                                                                    <img src="./dist/img/{{profile_img}}" width="40px"
                                                                        height="40px" class="profile_image_edit"
                                                                        alt="User Image">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="set-all-row">
                                                        <div class="col-lg-3">
                                                            <div class="row online-st time_zone">
                                                                <p>Time Zone</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="row">
                                                                <select class=" timezone js-Selector"
                                                                    name="timezone"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row profile_submit">
                                                    <div class="set-all-row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <button class="btn btn-primary confirm-btn"
                                                                    id="editProfile" type="button">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </form>
                            <form action="/changePassword" method="POST" style="border: 1px solid;
    border-radius: 10px;">
                                <div id="change-pswd" class="tabcontent">
                                    {{#if success_msg}}
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        {{success_msg}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                    </div>
                                    {{/if}}
                                    {{#if error_msg}}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        {{error_msg}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                    </div>
                                    {{/if}}
                                    <div class="row change-pswd-cont">
                                        <div class="change-pswd-box">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="set-all-row">
                                                        <div class="col-lg-3">
                                                            <div class="row online-st">
                                                                <p>Old Password</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="row online-status">
                                                                <input class="form-control oldPswrd" type="password"
                                                                    placeholder="Old Password" name="oldPswrd" value=""
                                                                    required="required" aria-required="true"
                                                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,32}$"
                                                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                                    spellcheck="false" size="32">
                                                                <span toggle=".oldPswrd"
                                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="set-all-row">
                                                        <div class="col-lg-3">
                                                            <div class="row online-st">
                                                                <p>New Password</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="row online-status">
                                                                <input class="form-control newPswrd" type="password"
                                                                    placeholder="New Password" name="newPswrd" value=""
                                                                    required="required" aria-required="true"
                                                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,32}$"
                                                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                                    spellcheck="false" size="32">
                                                                <span toggle=".newPswrd"
                                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="set-all-row">
                                                        <div class="col-lg-3">
                                                            <div class="row online-st">
                                                                <p>Confirm Password</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="row online-status">
                                                                <input class="form-control cnfrmPswrd" type="password"
                                                                    placeholder="Confirm Password" name="cnfrmPswrd"
                                                                    value="" required="required" aria-required="true"
                                                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,32}$"
                                                                    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                                    spellcheck="false" size="32">
                                                                <span toggle=".cnfrmPswrd"
                                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row submit_button">
                                                    <div class="set-all-row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <button class="btn btn-primary confirm-btn"
                                                                    id="submitBtn" type="submit">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <form method="post" style="border: 1px solid;border-radius: 10px;">
                                    <div id="wallet" class="tabcontent">
                                        <div class="row wallet-cont">
                                            <div class="wallet-box">
                                                <div class="col-lg-12">
                                                    <label for="" class="pull-right" style="margin-right: 20px;"><i
                                                            class='fas fa-wallet' style='font-size:24px'></i>
                                                        Wallet:
                                                        {{walletData.balance}}<i class="fa fa-rupee" style="font-size:15px"></i></label>
                                                    <div class="row">
                                                        <div class="set-all-row">
                                                            <div class="col-lg-3">
                                                                <div class="row online-st">
                                                                    <input class="form-control addMoney" type="text"
                                                                        placeholder="Please enter amount"
                                                                        name="amount" id="amount" aria-required="true"
                                                                        style="margin-left: 20px; margin-top: 13px;" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="row submit_button">
                                                                    <div class="set-all-row">
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group">
                                                                                <button
                                                                                    class="btn btn-primary confirm-btn"
                                                                                    id="submitBtnMoney" type="submit"
                                                                                    style="margin-top:100px;">Submit</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                </form>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Transactions</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each transactionData}}
                                        <tr>
                                            <td>{{this.transactionType}}</td>
                                            <td>{{this.amount}}<i class="fa fa-rupee" style="font-size:15px"></i></td>
                                            <td>{{this.status}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{!----2FA-----------}}
                        <div id="factorauthen" class="tabcontent">
                            <div class="factor_authen authclss" >
                                {{!-- <h3>Two Factor Authentication</h3> --}}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            {{!-- <div class="content-wrapper"> --}}
                                            <div class="content contnt_prt">
                                                <div class="row">
                                                    <div class="col-lg-12 col-xs-12 authen_set-area">
                                                        <div class="authen_set_design_body">
                                                            <div class="row design-body-padd">
                                                                
                                                                <div class="edit-profile mailsettings_content two_step_verfied_sec">
                                                                    <div class="sandgrid tempcheck nw_sandgrid_cnt">
                                                                        {{!-- <h4 style="font-weight: 600;">Two Factor Authentication</h4> --}}

                                                                        <div class="factor_authen_setting_1">
                                                                            <div class="row">

                                                                        
                                                                                <div class="factor_box authen_detail">
                                                                                    {{!-- <div class="factor_present" role="presentation">
                                                                                        <div class="descript">

                                                                                        </div>
                                                                                    </div> --}}
                                                                                    <div class="factor_authen_descpt factor_link_page" >
                                                                                        {{!-- <a href="signinoptions/two-step-verification/enroll-welcome" class="  kJXJmd" data-rid="403" data-nav-type="5" aria-label="2-Step Verification" aria-describedby="c17"> --}}
                                                                                        <div class="factor_heading" role="text">
                                                                                            <div class="two_way_authen_detal" id="c17">
                                                                                                <div class="heading_authen_prt">
                                                                                                    <div class="two_fctor-dec0" style="-webkit-flex-basis:200px; -ms-flex-preferred-size:200px; flex-basis:200px;">
                                                                                                        <div class="main_head_part0">
                                                                                                           
                                                                                                            <h3 class="heading_section">2 Factor Authentication</h3>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="next_active_btnoff" >
                                                                                                            <div class="main_head_part0 ">
                                                                                                                <div class="btn_switch">
                                                                        
                                                                                                                    <figure class="off_btn_swtch FA_off_switch" aria-hidden="true">
                                                                                                                        <img class="img_sec2" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/status_off_20x20_931c3f37cdf0d3c73a21211cc8c67f44.png" alt="" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/status_off_40x40_15efb82dfd3772686360c91d198b428d.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/status_off_60x60_7add81a7971e4aaad6c1537ed4d9a349.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/status_off_80x80_32aad60f87da1df975e5880792be1099.png 4x" data-iml="15810.5" data-atf="false">
                                                                                                                    </figure>
                                                                                                                </div>
                                                                                                                <div class="btn_indecate">Off</div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div class="next_active_btnOn">
                                                                                                            <div class="main_head_part0 " onclick="twoFactStatus(false)">
                                                                                                                <div class="btn_switch">
                                                                                                                    
                                                                                                                    <figure class="off_btn_swtch FA_off_switch"  aria-hidden="true">
                                                                                                                        <img class="img_sec2" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/status_on_20x20_f22600d4702c742d962e5e06c7807f5e.png" alt="" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/status_on_40x40_b77c748406dd88d1ecdff170e06fb7bd.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/status_on_60x60_7c20df9338944ad9cf90cb4a86ab4c40.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/status_on_80x80_9d037b1ed1dcb028ba487f77e3eedff7.png 4x" data-iml="7677.799999998882" data-atf="false">
                                                                                                                    </figure>
                                                                                                                </div>
                                                                                                                <div class="btn_indecate">On</div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="arrow_sign next_active_btnoff" >
                                                                                                    <figure class="left_arrw_sec"  id="2FA_main_page"style="width: undefinedpx; height: undefinedpx;" aria-hidden="true">
                                                                                                        <span class="icon_show"  aria-hidden="true"></span> 
                                                                                                        
                                                                                                    </figure>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- </div> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.content -->

                            <div class="content-wrapper bg-img cnt_wrapped_0" id="2FA_started_page"  style="margin-left: 0px; margin-top: 3%;">
                                <div class="protect_account nw_prtct_accunt" style="visibility: visible; opacity: 1;" aria-busy="false" data-savescroll="0">
                                    <div class="accunt_sec">
                                        <div class="account_desp0">

                                        </div>
                                        <div class="secton_second_opton">
                                            <div class="back_btn0 back_to_sec">
                                                <div class="bck_spce">
                                                    <div class="back_prctct_btn" >
                                                        <div role="button" class="bck_button_desc new_bck_btn_sec previous_btn prevous-sec"  aria-label="Back" aria-disabled="false" tabindex="0">
                                                            <div class="back_description">

                                                            </div>
                                                            <span class="bck_arrow_icon">
                                                                <span class="" style="top: -12px">
                                                                    <span class="icon_show arrow_btn0" aria-hidden="true"></span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div role="button" class="bck_button_desc new_bck_btn_sec previous_btn pre_vious0" aria-label="Back" aria-disabled="false" tabindex="0">
                                                            <div class="back_description">

                                                            </div>
                                                            <span class="bck_arrow_icon">
                                                                <span class="" style="top: -9px">
                                                                    <span class="icon_show arrow_btn0" aria-hidden="true"></span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <h1 class="description1" tabindex="-1">2-Step Verification</h1>
                                                    </div>
                                                    <div class="protct-accnt-descrpt">
                                                        <div class="passwrd_verified_desc">
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                            <div role="main">
                                                <div class="main_sec-option" >
                                                    <div class="main_div_show">
                                                        <div class="main_div0">
                                                            <div class="main_div_sec">

                                                            </div>
                                                            <div class="div_protct_section">

                                                            </div>
                                                            <div class="security_prt0">
                                                                <div class="secure_desc_img">
                                                                    <div class="left_img_0">
                                                                        <div class="secure_image0">
                                                                            <img src="/dist/img/ezgif.png">
                                                                        </div>
                                                                    </div>
                                                                    <div class="right_contnt0">
                                                                       
                                                                        <div class="acccnt_authen_head">Protect your account with 2 Factor Authentication</div>

                                                                        <div class="para_verified verified_passwrd_desc">
                                                                            <div class="para_verified verified_passwrd_desc sign_in-prt">Each time you sign in to your Admin Panel, you'll need your password and a verification code. If you have activated 2 Factor Authentication.
                                                                            </div>
                                                                            <div class="layer_add_secur sign_in-prt">
                                                                                <div class="layer_imge_sec new_imge_prt2">
                                                                                    <img src="/dist/img/layer-security.png">
                                                                                </div>
                                                                                <div class="verificton_desp">
                                                                                    <div class="verified_passwrd_desc" role="heading" aria-level="2">Add an extra layer of security
                                                                                    </div>
                                                                                    <div class="para_verified verified_passwrd_desc">Enter your password and a unique verification code that's sent to your phone.
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layer_add_secur sign_in-prt">
                                                                                <div class="banner_top_img">
                                                                                    <img src="/dist/img/bad-guys.png">
                                                                                </div>
                                                                                <div class="verificton_desp">
                                                                                    <div class="verified_passwrd_desc" role="heading" aria-level="2">Keep the bad guys out

                                                                                    </div>
                                                                                    <div class="para_verified verified_passwrd_desc">Even if someone else gets your password, it won't be enough to sign in to your account.
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="button_section_nw nw0_bttn_part">
                                                                    <div class="bck_btn_detail0">
                                                                        <div role="button" class="bck_button_desc btn_sec_step0 wen_descrpt_btn0 bck_nxt_btn bttnn_back_part">
                                                                            <div class="step_number_show">

                                                                            </div>
                                                                            <div class="strt_nw_sec strta_btton new_strt_btn ">

                                                                            </div>
                                                                            <span class="verified_page_nw0">
                                                                                <span class="get_start_btn0">Get started</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <c-data id="c65">
                                                    </c-data>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="empty_div">
                                        </div>
                                    </div>   
                                </div>
                            </div>
                              
                            <!-- /.content -->
                            <div class="content-wrapper bg-img cnt_wrapped_0" id="2FA_enter_number_page" style="margin-left: 0px; margin-top: 3%;">
                                <div role="main">
                                    <div class="main_nw_opton">
                                        <div class="new_option-methd">
                                            <div class="main_div0">
                                                <div class="main_div_sec">
                                                      
                                                </div>
                                                <div class="div_protct_section">

                                                </div>
                                                <div class="security_prt0">
                                                    <div class="img_prt1">
                                                        <div class="image_sec-opton">
                                                            <div class="nw-option0-div">
                                                                <div class="lft-dir-img">
                                                                    <div class="left_img_0">
                                                                        <div class="set_phne_imge02">
                                                                            <img src="/dist/img/Daco_4425385.png">
                                                                        </div>
                                                                    </div>
                                                                    <div class="right_contnt0 new_right_contntsec">
                                                                        <div class="acccnt_authen_head">Let's set up two-step authentication</div>

                                                                        <div class="para_verified verified_passwrd_desc">
                                                                            <div class="para_verified paragraph_fld verified_passwrd_desc sign_in-prt">We will send the verification code to this number.</div>
                                                                            <div class="sign_in-prt">
                                                                                <div class="phne_num0">
                                                                                    <div class="list_box_sec">
                                                                                        <div role="listbox" aria-expanded="false" class="verifies_phnnum new_phnnum-verify verify_sec_presnt" >
                                                                                            <div role="presentation">
                                                                                                <div class="enter_type_sec entr_prt" role="presentation">
                                                                                                  
                                                                                                    <div class="cuntry_flg" role="presentation">

                                                                                                    </div>
                                                                           
                                                                                                    <div class="cuntry_detailprt recognize_cntry_flg flg_cntry_num verify_cntrynum">
                                                                                                        <div class="code_cntry"></div>
                                                                                                        <div class="code_with_num phonenum_code0" aria-hidden="true">
                                                                                                            <div class="cuntry_wise-codes">
                                                                                                                <div class="cuntry_name_div" style="background-position: -1px -2245px;" aria-hidden="true"></div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <span class="cntry_name-sec cntry_code-desp">India 
                                                                                                            <span class="codes_sec" dir="ltr">+91</span>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                
                                                                                                </div>
                                                                                                <div class="message_box_aply rate_code_entr" role="presentation"></div>
                                                                                            </div>
                                                                                            <div class="box_hide"  style="display:none;"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="txt_box-sect left_cursr_box text_base_box0" >
                                                                                        <div class="text_pattrn_sec">
                                                                                            <div class="input_box_desc">
                                                                                                <div class="input_text_section">
                                                                                                    <input type="tel" class="input_txt_pttrn auto_complt_box addnum" value="{{phone}}" autocomplete="tel" tabindex="0" placeholder="Enter a phone number" dir="ltr" disabled>
                                                                                                </div>
                                                                                                <div class="entr_code_inputbx">

                                                                                                </div>
                                                                                                <div class="code_filll otpnum">
                                                                                                
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="flex_cdeprt">
                                                                                            <div class="send_num-sec">

                                                                                            </div>
                                                                                            <div class="get_code">

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mesgs_type_box_0">
                                                                                <ul class="content_msgs_dec">
                                                                                    <li>Message and data rates may apply.</li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="sign_in-prt">
                                                                                <div class="paragraph_fld para_verified verified_passwrd_desc" id="i5">You will get OTP via.

                                                                                </div>
                                                                                <div class="txt_msgs_switch">
                                                                                    <div class="Dnsj" >
                                                                                        <span role="presentation">
                                                                                            <div class="radio_swtch-prt">
                                                                                                <label role="presentation" class="btn_rdio">
                                                                                                    
                                                                                                    <div class="text_area msgs_nw_area radio_checkbtn" role="radio" aria-checked="true" aria-posinset="1" aria-setsize="2">
                                                                                                        <div class="chck_two_rdio">

                                                                                                        </div>
                                                                                                        <div class="IHWLbd">

                                                                                                        </div>
                                                                                                        <div class="msgs_show_desc0">
                                                                                                            <div class="select_chckprt">
                                                                                                                <div class="btn_with_chckbx">

                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <span id="i6">Text message</span>
                                                                                                </label>
                                                                                                    
                                                                                            </div>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                    
                                                        </div>
                                                    </div>
                                                    <div class="button_section_nw nw0_bttn_part">
                                                        <div class="bck_btn0-part">
                                                            <div class="bck_btn0-part-b">
                                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part"  style="display: none;" >
                                                                    <div class="step_number_show"></div>
                                                                    <div class="strt_nw_sec strta_btton">

                                                                    </div>
                                                                    <span class="verified_page_nw0">
                                                                        <span class="get_start_btn0">Back</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="step_numbr0">
                                                                <div class="stp_number_b" >
                                                                    <div>Step 1 of 2</div>
                                                                </div>
                                                            </div>
                                                            <div class="nxt_bttnn_prt_sec">
                                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part">
                                                                    <div class="step_number_show"></div>
                                                                    <div class="strt_nw_sec strta_btton">

                                                                    </div>
                                                                    <span class="verified_page_nw0">
                                                                        <span class="get_start_btn enternumberpage" onclick="getOtpFor2FactAuth()">Next</span>
                                                                    </span>
                                                                </div>
                                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part"  style="display: none;" >
                                                                    <div class="step_number_show"></div>
                                                                    <div class="strt_nw_sec strta_btton"></div>
                                                                    <span class="verified_page_nw0">
                                                                        <span class="get_start_btn0">Turn on</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <c-data id="i4"></c-data>
                                    </div>
                                </div>
                            </div>


                            <!-- /.content -->
                            <div class="content-wrapper bg-img cnt_wrapped_0 otppage" id="2FA_enter_otp_page" style="margin-left: 0px; margin-top: 3%;">
                                <div class="security_prt0">
                                    <div class="confirmton_sec0">
                                        <div class="confirm_nw0">
                                            <div class="new-confirm-sec">
                                                <div class="lft-nw_image2a">
                                                    <div class="left_img_0">
                                                        <div class="confrm_image01">
                                                            <img src="/dist/img/conformations.png">
                                                        </div>
                                                    </div>
                                                    <div class="right_contnt0">
                                                        <div class="acccnt_authen_head">Confirm that it works</div>
                                                        <div class="para_verified verified_passwrd_desc">
                                                            <div class="para_verified verified_passwrd_desc sign_in-prt">We just sent a text message with a verification code to 
                                                                <span class="count_numb" style="font-weight:bold;"></span>
                                                            </div>
                                                            <div class="text_sector_bx">
                                                                <div class="txt_box-sect text_base_box0">
                                                                    <div class="text_pattrn_sec">
                                                                        <div class="input_box_desc">
                                                                            <div class="input_text_section">
                                                                                <input type="text" pattern="^(G-)?[0-9]{6}" class="input_txt_pttrn auto_complt_box twofactverifyotp" autocomplete="off" placeholder="Enter the code" maxlength="8">
                                                                                
                                                                            </div>
                                                                            <div class="entr_code_inputbx"></div>
                                                                            <div class="code_filll otpnum"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex_cdeprt">
                                                                        <div class="send_num-sec"></div>
                                                                        <div class="get_code"></div>
                                                                    </div>
                                                                </div>
                                                            </div>Didn't get it? 
                                                            <a role="button" class="mgANbc" onclick="getOtpFor2FactAuth()">Resend</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                    <div class="button_section_nw nw0_bttn_part">
                                        <div class="bck_btn0-part">
                                            <div class="bck_btn0-part-b">
                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part" style="">
                                                    <div class="step_number_show"></div>
                                                    <div class="strt_nw_sec strta_btton"></div>
                                                    <span class="verified_page_nw0">
                                                        <span class="get_start_back" onclick="back()">Back</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="step_numbr0">
                                                <div class="stp_number_b">
                                                    <div>Step 2 of 2</div>
                                                </div>
                                            </div>
                                            <div class="nxt_bttnn_prt_sec">
                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part">
                                                    <div class="step_number_show" style="top: 25px; left: 42.5px; width: 88px; height: 88px;"></div>
                                                    <div class="strt_nw_sec strta_btton"></div>
                                                    <span class="verified_page_nw0">
                                                        <span class="get_start_btn confirmotp" onclick="verifyTwoFactOtp()">Next</span>
                                                    </span>
                                                </div>
                                                <div role="button" class="bck_button_desc btn_sec_step0 turn_switch trn_button_descp bttnn_back_part"  style="display: none;">
                                                    <div class="step_number_show"></div>
                                                    <div class="strt_nw_sec strta_btton"></div>
                                                    <span class="verified_page_nw0">
                                                        <span class="get_start_btn0">Turn on</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{!----Request to deactivate my account-----------}}
                        <div id="deactivateAccount" class="tabcontent">
                            <div class="factor_authen authclss" >
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="content contnt_prt">
                                                <div class="row">
                                                    <div class="col-lg-12 col-xs-12 authen_set-area" id="showDeleteOption">
                                                      <h2> Delete Account</h2>
                                                      <div style="background:rgb(209, 153, 245);    padding: 30px;">
                                                         <h4><strong>If you delete your account, please keep the following in your mind </strong></h4>
                                                         <p>
                                                            <ul>
                                                                <li>Your profile will be permanently deleted including users and chats data. </li>
                                                                <li>Your profile data will not be retrieved. </li>
                                                            </ul>
                                                            {{!-- <p><a href="void:javascript(0)" >Learn more about deleteing your account</p> --}}
                                                             <button class="btn btn-danger"   onclick="deleteAccount()">Delete Account</button>  
                                                         </p>
                                                      </div>
                                                    </div>

                                                    <div class="col-lg-12 col-xs-12 authen_set-area" id="deleteRequestSubmitedDiv">
                                                      <h2> Delete Account</h2>
                                                      <div style="background:rgb(209, 153, 245);    padding: 30px;">
                                                         <h4 style="color: #42008e"><strong>Thanks. We have received your request for your account deletion.   </strong></h4>
                                                      </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

            <!-- /.row -->
            <!-- Main row -->
{{>footer}}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{!-- moment's cdn --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
<script src="dist/js/timezone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
    integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<script>
    $('#submitBtnMoney').click(function (e) {
        e.preventDefault();
        if (!$('#amount').val()) {
            swal({
                title: "Please enter amount",
                icon: "error",
                timer: 5000
            });
        }
        let amount = $('#amount').val();
        let payment_session_Id;
        $.ajax({
            url: 'https://admin.helloyubo.com/add-money',
            type: 'post',
            data: { amount },
            success: function (res) {
                payment_session_Id = res.data.payment_session_id
                const cf = new Cashfree(payment_session_Id);
                cf.redirect();
            }
        })
    })

    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
        getDeleteStatus();
        $('#deleteRequestSubmitedDiv').hide();
    });
    $('.timezone').val("{{timezone}}")
    changeTab("chngPswrd", "chngPswrdTab", "change-pswd")

    //********** To show/hide password *********//
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

</script>
<script>
    $('#2FA_main_page').click(function() {
       // alert('Go To Get Started Page');
        $("#2FA_started_page").show();
        $(".authclss").hide();
    })
    $('.next_active_btnoff').click(function() {
       // alert('Go To Get Started Page');
        $("#2FA_started_page").show();
        $(".authclss").hide();


    })
    var userphone;
    $('.get_start_btn0').click(function() {
       // alert('Go To Enter Phone Number Page');
        $("#2FA_enter_number_page").show();
        $("#2FA_started_page").hide();
        var input = $('.addnum').val();
        userphone = input;
        input = input.replace(/^(\d{0,4})(\d{0,3})/, '$1 $2')
        var prefix = input.substr(0, input.length - 4);
        var suffix = input.substr(-4);
        var masked = prefix.replace(/\d/g, '*');
        var number = masked + suffix;
        $(".count_numb").html(number);
        document.querySelector('.addnum').value = number;
        
    })

    $('.enternumberpage').click(function() {
       // alert('Go To Enter OTP Page');
        $("#2FA_enter_otp_page").show();
        $("#2FA_enter_number_page").hide();
    })
    
    $('.confirmotp').click(function() {
       // alert('Go To Main Page');
        $(".authclss").show();
        $("#2FA_enter_otp_page").hide();
    })

    $("#2FA_hide_content").click(function() {
      // alert('Go To 2FA Page');
       $("#2FA_started_page").hide();
       $("#2FA_enter_number_page").hide();
       $("#2FA_enter_otp_page").hide();
    });
    function back() {
        $("#2FA_enter_number_page").show();
        $("#2FA_enter_otp_page").hide();
    }
     $('.twofact').click(function() {
       // alert('Go To Main Page');
        $(".authclss").show();
        $("#2FA_started_page").hide();
       $("#2FA_enter_number_page").hide();
       $("#2FA_enter_otp_page").hide();

    })
    
</script>
<script>
            var editImages =  document.getElementById("editImages");
            var passwordImages =  document.getElementById("passwordImages");
            var factorImages =  document.getElementById("factorImages");
            editImages.src = "./dist/img/color-left-arrow-tab.png";

            function changeColorsEdit()
            {
                if (editImages.getAttribute('src') == "./dist/img/left-arrow-tab.png")
                {
                     editImages.src = "./dist/img/color-left-arrow-tab.png";
                    passwordImages.src = "./dist/img/middle-tab-links.png";
                    factorImages.src = "./dist/img/r-arrow-tab.png";
                    

                }
                else
                {
                    passwordImages.src = "./dist/img/middle-tab-links.png";
                    factorImages.src = "./dist/img/r-arrow-tab.png";
                     //emailImage.src = "./dist/img/unselected-tab-camp.png";//

                    
                }
            }

            function changeColorsPassword()
            {
                if (passwordImages.getAttribute('src') == "./dist/img/middle-tab-links.png")
                {
                     passwordImages.src = "./dist/img/color-tab-link.png";
                    editImages.src = "./dist/img/left-arrow-tab.png";
                    factorImages.src = "./dist/img/r-arrow-tab.png";
                    

                }
                else
                {
                    editImages.src = "./dist/img/left-arrow-tab.png";
                    factorImages.src = "./dist/img/r-arrow-tab.png";
                     //emailImage.src = "./dist/img/unselected-tab-camp.png";//

                    
                }
            }
            function changeColorsFactor()
            {
                if (factorImages.getAttribute('src') == "./dist/img/r-arrow-tab.png")
                {
                     factorImages.src = "./dist/img/r-color-tab-link.png";
                    editImages.src = "./dist/img/left-arrow-tab.png";
                    passwordImages.src = "./dist/img/middle-tab-links.png";
                    
                    

                }
                else
                {
                    editImages.src = "./dist/img/left-arrow-tab.png";
                    passwordImages.src = "./dist/img/middle-tab-links.png";
                    //managmentImages.src = "./dist/img/r-arrow-tab.png";//
                     //emailImage.src = "./dist/img/unselected-tab-camp.png";//

                    
                }
            }



</script>
<script src="dist/js/commonjs/common.js"></script>
{{!-- {{>footer}} --}}