{{>head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

{{!-- date picker start here --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #dateRange {
        margin-top: 26px;
        height: 30px;
        border: 1 px solid black;
        border-radius: 6px;
        text-align: center;
    }

    .btn {
        border-radius: 6px;
    }

    .user {
        color: black;
    }

    .addToIntent,
    .multiaddtointent {
        color: black;
        background-color: #33ccff;
    }

    #createNewIntent,
    .multicreate_intent {
        color: black;
        background-color: #4dffb8;
    }

    #ignore,
    .ignoreMsg {
        color: black;
        background-color: #ffcc99;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #e8d6f2;
        min-width: -webkit-fill-available;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 8;
        margin-right: 34px;
        border-radius: 6px;
    }
    .dropdown-content a:hover{
        background-color: #6800a1;
        color: white;
    }

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .multidropdowncontent {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 105px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .multidropdowncontent a {
        color: black;
        text-decoration: none;
        display: block;
    }

    .show {
        display: block;
    }

    .content-wrapper.new_cont02 {
        /*min-height: 510px !important;*/
    }

    .intentVerticalScroll {
        height: 400px;
        overflow-x: hidden;
    }

    .intentVerticalScroll2 {
        height: 300px;
        overflow-x: hidden;
    }
        @media (max-width: 1100px){
    #mytable tbody tr td {
    font-size: 14px;
    padding: 8px 10px !important;    }
}
@media (min-width: 1200px) and (max-width:3000px){
    #mytable tbody tr td {
    font-size: 16px;
    padding: 8px 10px !important;    
}
}
table#mytable {
    border-collapse: separate;
     border-bottom:1px solid black !important; 
     border-radius: 0px !important; 
    -moz-border-radius: 10px;
    overflow: hidden;
}
#mytable tr:nth-child(even) {
    background-color: transparent !important;
}
tr:hover{
    background-color: #f0edf1 !important;
    cursor: pointer;
}
#mytable tr:nth-child(even):hover{
    background-color: #f0edf1 !important;
    cursor: pointer;
}
.table>thead>tr>th {
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid black !important;
}
.table{
    border-bottom: 0.8px solid black !important;
}
.width-eye-img ,.width-table-img ,.width-intent-img  {
    height: 30px;
     width: 30px; 
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
.table > thead:first-child > tr:first-child > th {
    font-size: 14px !important;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 14px !important;
    font-weight: 400;
}
.left-card-box .scrollable {
    height: 174px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 14px 22px 10px 27px;
    border-radius: 10px;
}
.left-card-box {
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    padding: 0px 0px 7px 0px !important;
    background-size: cover;
}
.modal-dialog {
    width: 725px !important;
    min-height: unset;
    max-width: 800px !important;
    margin: 20px auto;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 15px !important;
}
@media only screen and (min-width: 1200px){
    .ad_intent .modal-dialog {
    width: 48% !important;
    max-width: 48% !important;
    padding: 20px !important;
}
}
.scrollable-text {
    height: 176px;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    border-radius: 16px;
    background-color: white;
    overflow: hidden;
}
.ad_intent .modal-dialog {
    width: 74%;
    max-width: 74% !important;
    padding: 20px !important;
}
.left-card-box .card-heading input{
    width: 50% !important;
}
.form-group input{
    background-color: white;
    color: black;
}
.card-box {
    height: 242px !important;
}
.entity ul {
    height: 45px !important;
}
.tags{
    border-radius: 23px !important;
    background: #c0bdbd !important;
}
.entity-close {
    width: 10px;
    margin-left: 22px !important;
    margin-top: -3px !important;
    cursor: pointer;
}
.tags-input li{
    width: auto !important;
}
.close{
    font-size: 39px !important;
}
.cross-position {
    position: absolute;
    right: -6px !important;
    top: 4px;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper new_cont02">
    <!-- Main content -->
    <section class="content fallback-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h1 class="main-title">Fallbacks</h1>
                    </div>
                </div>
                <div class="col-md-6 text-align-right">
                    <div class="row">
                        <input type="hidden" id="sDate" name="sDate" value={{sDate}} />
                        <input type="hidden" id="eDate" name="eDate" value={{eDate}} />
                        <input type="text" class="dateRange margin-top-daterange button-color" id="dateRange"
                            name="daterange" />
                        <button class=" btn btn-secondary button-color border-radius-button down_excel" {{!--
                            style="font-size:16px">Download CSV</button> --}}
                        style="border-radius: 10px;">Download CSV</button>
                    </div>
                </div>
                <script>
                    var startDate = document.getElementById('sDate').value;
                    var endDate = document.getElementById('eDate').value;
                    $('input[name="daterange"]').daterangepicker({
                        opens: 'left',
                        "startDate": startDate,
                        "endDate": endDate,
                        locale: {
                            format: 'DD/MM/YYYY'
                        }, maxDate: new Date()
                    }, async function (start, end, label) {
                        await location.replace('/fallbacks?startDate=' + start + '&endDate=' + end);
                    });
                </script>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {{!-- <span> --}}
                            {{!-- <label><input type="checkbox" id="select_all"> Select All</label> --}}
                            <span>
                                <img src="./dist/img/Add to intant.png"
                                    class="multicheck multiaddtointent hide width-img btn background-color-img"
                                    data-text="{{this.text}}" title="Add Intent" text-indx="{{@index}}">
                                <div id="intentdropdown{{@index}}" class="multidropdowncontent intentVerticalScroll">
                                </div>
                                <img src="./dist/img/Create-Intent.png"
                                    class="multicheck btn width-img hide multicreate_intent background-color-img"
                                    data-value="multicreate" data-toggle="modal" title="Create Intent"
                                    data-target="#add_intent">
                                <img src="./dist/img/Ignore.png"
                                    class="multicheck hide btn width-img ignoreMsg background-color-img" title="Ignore"
                                    data-value="multignore">
                            </span>
                            {{!-- </span> --}}
                    </div>
                </div>
            </div>

            <div class="row margin-top-row">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="test-form">S.NO</th>
                                <th class="text-form">
                                    <input type="checkbox" id="select_all">
                                </th>
                                <th class="test-form"> FALLBACK TIME</th>
                                <th class="test-form">FALLBACKS</th>
                                <th class="test-form">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data}}
                            {{#if this.text}}
                            <tr class="tr2" data-index="{{this.sNo}}">
                                <td>
                                    {{this.sNo}}
                                </td>
                                <td>
                                    <input type="checkbox" class="chkbx" data-serial="{{this.sNo}}" name="check[]"
                                        data-text="{{this.text}}" userId="{{this.userId}}" text-indx="{{@index}}">
                                </td>
                                <td>
                                    {{this.date}}
                                </td>
                                <td>
                                    <input type="text" class="border-input-none" id="text{{this.index}}"
                                        value="{{this.text}}" readonly />
                                </td>
                                <td>
                                    <span class="">
                                        <img src="./dist/img/updated-icon/show@2x.png" style=""
                                            class="btn user width-eye-img background-color-img see_conversation_btn "
                                            data-toggle="modal" data-text="{{this.text}}" title="See Conversation"
                                            data-target="#{{this.userId}}" value="{{this.userId}}" sNo={{this.sNo}}
                                            id="{{@index}}">
                                    </span>

                                    <span>
                                         <img src="./dist/img/updated-icon/intent@2x.png"
                                            class="btn addToIntent background-color-img width-table-img btn"
                                            data-id={{this.userId}} data-text="{{this.text}}" title="Add To Intent"
                                            text-indx="{{@index}}" id="addToIntent">

                                        {{!-- dropdown to show all intents --}}
                                        <div id="intentDropdown{{@index}}"
                                            class="dropdown-content intentVerticalScroll2">
                                        </div>
                                    </span>


                                    <span>
                                        <img src="./dist/img/updated-icon/create_intent@2x.png" data-toggle="modal"
                                            data-target="#add_intent"
                                            class="btn add-intent width-intent-img background-color-img singleintent_create"
                                            title="Create Intent" data-id={{this.userId}} data-text="{{this.text}}"
                                            id="createNewIntent" aria-expanded="false">
                                    </span>


                                    <span>
                                         <img src="./dist/img/updated-icon/ignore@2x.png"
                                            class="btn ignoreMsg width-mobile-img width-table-img background-color-img"
                                            id="ignore" title="Ignore" data-text="{{this.text}}"
                                            userId="{{this.userId}}" text-indx="{{@index}}">
                                    </span>

                                    <div class="yubo_model">
                                        <div class="modal fade" id="{{this.userId}}" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="modal_close"
                                                            data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title"><img
                                                                src="./dist/img/customer_chat.png">Customer Chat</h4>
                                                    </div>
                                                    <div class="modal-body userchat chat_body">
                                                        <table class="tab">
                                                            <tbody class="table-primary table_chat">
                                                                <div class="userchat_model"></div>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                </td>
                            </tr>
                            {{/if}}
                            {{/data}}
                            {{!--
                        </tbody> --}}
                    </table>
                </div>
                <ul class="pagination pull-right" style="padding-bottom: 9px;">
                </ul>
                <!-- form for add intent button click -->
                <!--form space-->
                <form id="add_form" class="add_form_data" role="form">
                    <div class="yubo_model ad_intent">
                        <div class="modal fade" id="add_intent" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close padding-cross cross-position"
                                            onclick="discard(event)" aria-label="Close">&times;</button>
                                        <h4 class="modal-title float-heading-none color-white create-font"
                                            id="exampleModalLabel">
                                            <img class="edit-image-width" src="./dist/img/edit_intent.png" alt="">
                                            Create Intent
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="card-box left-card-box">
                                                    <div class="card-heading">
                                                        {{!-- intent name input box --}}
                                                        <div style="display:flex">
                                                            <p class="custom-title">Title</p>
                                                            <input class="form-control intent_name_heading input-md"
                                                                type="text" name="clock" autocomplete="off"
                                                                placeholder="Intent Name" list="intents" value=""
                                                                required>
                                                        </div>
                                                        <datalist id="intents">

                                                        </datalist>
                                                        {{!-- <h2>Training Phrases</h2> --}}
                                                    </div>
                                                    <div class="card-body scrollable scroll-x">
                                                        <div class="row">
                                                            <div class="col-lg-12 append_div">
                                                                <div>

                                                                </div>
                                                                {{!for modal input type div}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 24px;">
                                                <div class="card-box">
                                                    <div class="text_Response">
                                                        <h5 class="custom-title">Text Response</h5>
                                                        <div class="card-body scrollable-text">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="add_bottom-div form-group">
                                                                        <textarea id="add_textresp"
                                                                            placeholder="Enter a Text Response"
                                                                            class="add_greetingresp singlettext_response form-control text-height"
                                                                            name="response" style="margin-bottom:15px;"
                                                                            value="" required /></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="entity_div">
                                                    <div class="entity_header entity_header_margin">
                                                        <div class="entity_title">
                                                            <h5 class="custom-title1">Entities</h5>
                                                        </div>
                                                        <div class="intent_switchBtn">
                                                            <p class="slider_intent_text">Weak</p>
                                                            <label class="switch_intent">
                                                                <input type="checkbox">
                                                                <span class="slider_intent round_intent">
                                                                </span>
                                                            </label>
                                                            <p class="slider_intent_text">Strong</p>
                                                        </div>
                                                    </div>
                                                    <div class="entity">
                                                        <ul class="tags-input">
                                                            <li class="tags-new">
                                                                <textarea type="text"
                                                                    placeholder="Type your entity"></textarea>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="intent_model_btn">
                                                <button type="button" class="discard_Btn"
                                                    onclick="discard(event)">Discard</button>
                                                <button type="submit" value="Save" class="save_button hidden"> </button>
                                                <button type="button" value="Save" onclick="CreateIntent()"
                                                    class="save_button"> Save </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{!-- <ul class="pagination pull-right">
                </ul> --}}
            </div>
        </div>
        {{>footer}}

</div>
</div>
</section>
</div>

<script>
    loadTreeJson() //For showing the node names inside intent names dropdown
    //select all checkboxes
    var txtArr = [], userIdArr = [];
    $("#select_all").change(function () { //"select all" change 
        var status = this.checked; // "select all" checked status

        if (status == true) {
            if ($('.tr2').attr('data-index') != undefined) {
                $(".see_conversation_btn").attr("disabled", true);
                $('.multicheck').removeClass('hide')
            }
        } else if (status == false) {

            $(".see_conversation_btn").attr("disabled", false);
            $('.multicheck').addClass('hide')
            $(".multidropdowncontent").removeClass("show")
        }
        $('.chkbx').each(function () { //iterate all listed checkbox items
            this.checked = status; //change ".checkbox" checked status
            //see conversation button disbaled
        });
    });

    $('.chkbx').change(function () { //".checkbox" change 

        //uncheck "select all", if one of the listed checkbox item is unchecked
        if (this.checked == false) { //if this item is unchecked
            $("#select_all")[0].checked = false; //change "select all" checked status to false
        }
        if ($('.chkbx:checked').length == 0) {
            $('.multicheck').addClass('hide')
            $(".see_conversation_btn").attr("disabled", false);//see conversation button enable
        } else {
            $('.multicheck').removeClass('hide')
            $(".see_conversation_btn").attr("disabled", true);//see conversation button disabled
        }

        //check "select all" if all checkbox items are checked
        if ($('.chkbx:checked').length == $('.chkbx').length) {
            $("#select_all")[0].checked = true; //change "select all" checked status to true
        }
    });


    $('.addToIntent').click(async function () {
        $(".multidropdowncontent").removeClass("show")
        if ($(".dropdown-content").hasClass("show")) {
            $(".dropdown-content").removeClass("show")
        } else {
            let buttontype = "singleintent";
            await getIntents($(this).attr("data-id"), $(this).attr("text-indx"), $(this).attr("data-text"), buttontype);
        }
    })

    /**for multiple add to intent */
    $('.multiaddtointent').click(async function () {
        $(".dropdown-content").removeClass("show")
        if ($(".multidropdowncontent").hasClass("show")) {
            $(".multidropdowncontent").removeClass("show")
        } else {
            var dataid = $('.singleintent_create').attr('data-id')
            let buttontype = "multintent";
            await getIntents(dataid, $(this).attr("text-indx"), $(this).attr("data-text"), buttontype);
        }
    })

    /**for close intent list  */
    $(document).click(function (e) {
        $(".dropdown-content").removeClass("show")
        $(".multidropdowncontent").removeClass("show")
    });

    $(document).on("click", "a[class='intents']", function (e) {

        if ($(this).attr('btn-type') == 'multi') {
            var multintentarray = [];
            var tag = $(this).text();
            $('.chkbx:checked').each(function () {
                multintentarray.push({ tag: tag, text: $(this).attr('data-text'), id: $(this).attr('userid') })
            })
            tag = "";
            text = multintentarray
            var id = "";
        } else {
            var tag = $(this).text();
            var text = $(this).attr('data-text')
            var id = $(this).attr('data-id')
        }

        addTrainingPhrase(tag, text, id);
    });

    function discard(e) {
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Want to discard changes",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then(async (discard) => {
            if (discard) {
                location.reload();
            }
        });
    }

    $(".ignoreMsg").click(async function () {
        var ignorearray = [];
        var text = $(this).attr("data-text")
        var userId = $(this).attr("userId")
        if ($(this).attr('data-value') == "multignore") {
            $('.chkbx:checked').each(function () {
                ignorearray.push({ id: $(this).attr('userid'), text: $(this).attr('data-text') });
                text = "";
                userId = ignorearray
            })
        }
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then(async (willDelete) => {
            if (willDelete) {
                ignoreMsg(text, userId);
            }

            // else {
            //     swal("Your fallbacks are safe!", {
            //         icon: "success",
            //         buttons: false,
            //         timer: 1500
            //     });
            // }
        });
    })

    $('.user').click(function () {
        var i = $(this).attr("sNo")
        var textData = $(this).attr("data-text");
        $.ajax({
            type: "POST",
            url: "/userChat",
            timeout: 20000,
            data: { userId: $(this).attr("value") },
            success: function (data) {
                var data = data.data;
                var wrapper = document.getElementsByClassName("table_chat")[i - 1];
                var myHTML = '';
                for (var indx = 0; indx < data.length; indx++) {
                    if (data[indx].userMsg) {
                        myHTML += '<div class="usermsg"><p>' + data[indx].userMsg + '</p><span class="userDate">' + data[indx].userDate + ' at ' + data[indx].userTime + '</span></div>';
                    } else {
                        myHTML += '<div class="botmsg"><p>' + data[indx].botMsg + '</p><span class="botDate">' + data[indx].botDate + ' at ' + data[indx].botTime + '</span></div>';
                    }
                }
                $('.userchat_model').append(myHTML)

            }, error: function (jqXHR, textStatus, err) {
                //show error message
                alert('text status ' + textStatus + ', err ' + err)
            }
        });
    });

    //********************************************************//
    async function getIntents(dataid, id, text, buttontype) {
        var addAncorTag = "";
        $(".intents").remove();
        $.ajax({
            type: "POST",
            url: "/intent",
            success: function (data) {
                for (intents of data.query) {

                    if (buttontype == 'singleintent')
                        addAncorTag = "<a class='intents' data-id='" + dataid + "' data-text='" + text + "' href='#'>" + intents.tag + "</a>"
                    else
                        addAncorTag = "<a class='intents' btn-type='multi' data-id='" + dataid + "' href='#'>" + intents.tag + "</a>"
                    $("#intentDropdown" + id).append(addAncorTag);
                    $("#intentdropdown" + id).append(addAncorTag);
                }
                if (buttontype == 'singleintent') {
                    $(".dropdown-content").removeClass("show")
                    $("#intentDropdown" + id).toggleClass("show")
                } else if (buttontype == 'multintent') {
                    $('.multidropdowncontent').removeClass("show")
                    $("#intentdropdown" + id).toggleClass("show")
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        });
    }

    async function addTrainingPhrase(tag, text, id) {
        $.ajax({
            type: "POST",
            url: "/addTrainingPhrase",
            data: { tag: tag, text: text, userId: id },
            success: async function (data) {
                await swal(data, {
                    icon: "success",
                    buttons: false,
                    timer: 1500
                })
                location.reload();
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        });
    }

    async function ignoreMsg(text, userId,) {
        $.ajax({
            type: "POST",
            url: "/ignoreMsg",
            data: { userId: userId, text: text, },
            success: async function (data) {
                await swal("Cool !", "Fallback has been deleted successfully!", {
                    icon: "success",
                    buttons: false,
                    timer: 1500
                });
                location.reload();
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })
    }

    /***create new intent for single single text*/

    $(document).on("click", ".singleintent_create", function (e) {
        var appenddiv = '<div class=" add_input_fields_wrap form-group input-icons-i"><input class=" single_input_create form-control" placeholder="Add a Value Expression" value="' + $(this).attr("data-text") + '" required /><i class="add_remove_field"></i></div>'
        $('.append_div').append(appenddiv);
        window.singleintentid = $(this).attr('data-id')
        window.singleintenttext = $(this).attr('data-text')

    })
    //Remove fields on click of delete icon a Add Intenta
    $(document).on("click", ".add_remove_field", function (e) {
        if ($('.add_remove_field').length == 2) {
            $('.add_remove_field').removeClass('fa fa-trash')
        }
        e.preventDefault();
        $(this).closest('div').remove();
        $(this).closest('input').val('');
    })
    //for adding multiple training phase
    $(document).on("keypress", ".single_input_create", function (e) {
        if (e.which == 13) {
            $('.append_div').append('<div class=" add_input_fields_wrap form-group input-icons-i"><input class="single_input_create form-control" placeholder="Add a Value Expression" value="" required /><i class="add_remove_field fa fa-trash"></i></div>');
            // e.preventDefault();
            // return false;
        }
    })

    //for adding multiple training response
    //$(document).on("keypress", ".singlettext_response", function (e) {
    //if (e.which == 13) {
    //   inputVal = $(this).val();
    //    $('.add_bottom-div').append('<div class=" add_input_fields_wrap form-group input-icons-i"> <input placeholder="Enter a Text Response" class="add_greetingresp singlettext_response form-control" required /> <i class="add_remove_field fa fa-trash"></i></div>');
    //  }
    // });// 


    /* for create intent multiple data */
    $('.multicreate_intent').click(function () {

        $('.intent_name_heading').addClass('multiintentname')
        $('.saveBtn').addClass('multiintentsave')
        // $('.multiintentsave').removeAttr('id')

        $('.add_form_data').removeAttr('id')
        $('.add_form_data').attr('id', "add_multicreate_intent");

        $('.chkbx:checked').each(function () {
            var appenddiv = '<div class=" create_multi_intent_input add_input_fields_wrap form-group input-icons-i"><input class="add_txtSearchProdAssign create_input_type keypattern form-control" placeholder="Add a Value Expression" value=' + $(this).attr('data-text') + ' required /><i class="add_remove fa fa-trash"></i></div>'
            $('.append_div').append(appenddiv);
        })
    })
    /**for adding mulitple training phase*/
    $(document).on("keypress", ".create_multi_intent_input", function (e) {
        if (e.which == 13) {
            $('.append_div').append('<div class=" create_multi_intent_input add_input_fields_wrap form-group input-icons-i"><input class="add_txtSearchProdAssign create_input_response keypattern form-control" placeholder="Add a Value Expression" value="" required /><i class="add_remove fa fa-trash"></i></div>')
            // e.preventDefault();
            // return false;
        }
    })

    /**for removing training phase*/
    $(document).on("click", ".add_remove", function (e) {
        if ($('.add_remove').length == 2) {
            $('.add_remove').removeClass('fa fa-trash')
        }
        e.preventDefault(); $(this).closest('div').remove();
        $(this).closest('input').val('');
    })

    function CreateIntent() {
        if (document.getElementById('add_form')) {
            /* for validation will be removed after designing */
            if ($('.intent_name_heading').val() == '') {
                alert('intent name cant be blank')
                return;
            } else if ($('.single_input_create').val() == '') {
                alert('training phase cant be blank ')
                return;
            } else if ($('.singlettext_response').val() == '') {
                alert('response cant be blank ')
                return;
            }
            /************************************************/
            let add_values = [], add_greetresp = [], entities = [];
            $('.single_input_create').each(function () {
                if (this.value != '') {
                    add_values.push(this.value);
                }
            });

            $('.entitiesTag').each(function () {
                if ((!$(this).closest('.tags-input').hasClass('existingdata'))) {
                    entities.push($(this).html());
                }
            })
            if (entities.length < 1) {
                entities = []
            }


            $('.singlettext_response').each(function () {
                if (this.value != '') {
                    add_greetresp.push(this.value);
                }
            });
            var tag = $('.intent_name_heading').val();
            //Send all info from form to api for saving all info related to Intent
            $.ajax({

                type: "POST",
                url: "/addIntentData",
                timeout: 10000,
                data: { tag: tag, pattern: add_values, response: add_greetresp, userId: singleintentid, entites: entities, text: singleintenttext },
                success: async function (resp) {
                    if (resp == 'exists') {
                        await alert('Intent Name Exists');
                    }
                    else {
                        await swal("Intent created successfully", {
                            icon: "success",
                            buttons: false,
                            timer: 1500
                        })
                        location.reload();
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    alert('Something went wrong, please refresh the page')
                }
            });

        } else {
            /** for validation will be removed after desingning*/
            if ($('.intent_name_heading').val() == '') {
                alert("intent name can't be blank")
                return;
            } else if ($('.create_input_type').val() == '') {
                alert("training phase can't be blank")
                return;
            } else if ($('.singlettext_response').val() == '') {
                alert("response can't be blank")
                return;
            }

            /**********************************************/
            var createintentarray = [];
            $('.chkbx:checked').each(function () {
                createintentarray.push({ id: $(this).attr('userid'), text: $(this).attr('data-text') })
            })
            var tag = $('.multiintentname').val()
            var trainingphases = [];
            var textresponse = [];

            $('.create_input_type').each(function () {
                if (this.value != '') {
                    trainingphases.push($(this).val())

                }

            })
            $('.singlettext_response').each(function () {
                if (this.value != '') {
                    textresponse.push($(this).val())
                }
            })

            $('.create_input_response').each(function () {
                if (this.value != '') {
                    trainingphases.push($(this).val())

                }

            })

            var text = "";
            $.ajax({

                type: "POST",
                url: "/addIntentData",
                timeout: 10000,
                data: { tag: tag, pattern: trainingphases, response: textresponse, userId: createintentarray, text: text },
                success: async function (resp) {
                    if (resp == 'exists') {
                        await alert('Intent Name Exists');
                    }
                    else {
                        await swal("Intent created successfully", {
                            icon: "success",
                            buttons: false,
                            timer: 1500
                        })
                        location.reload();
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    alert('Something went wrong, please refresh the page')
                }
            });

        }
    }

    //**********************************//
    $('.down_excel').click(function () {
        var comm_arr = [];
        $('.chkbx').each(function () {
            comm_arr.push({ id: $(this).attr('data-serial'), text: $(this).attr('data-text') })
        })
        if (comm_arr.length < 1) {
            alert('There are no fallbacks to download');
            return;
        }
        var data = JSON.stringify(comm_arr);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            }
        };
        xhttp.open("POST", "/fallbackexcel", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.responseType = "blob";
        xhttp.onload = function (event) {
            var blob = xhttp.response;
            var fileName = xhttp.getResponseHeader("fileName") //if you have the fileName header available
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = fileName;
            link.click();
        };
        xhttp.send(data);

    })

    /****************************************************************************/
    //edit intent entity

    function existingTag(text) {
        var existing = false,
            text = text.toLowerCase();

        $(".tags").each(function () {
            if ($(this).text().toLowerCase() == text) {
                existing = true;
                return "";
            }
        });

        return existing;
    }

    $(function () {
        $(".tags-new textarea").focus();
        $(".tags-new textarea").keyup(function (e) {

            var tag = $(this).val().trim(),
                length = tag.length;
            console.log(length)
            if (length > 0 && ((tag.charAt(length - 1) == ',') && (tag != ",") || e.which == 13)) {
                tag = ((tag.charAt(length - 1) == ',') && (tag != ",")) ? tag.substring(0, length - 1) : tag.substring(0, length)
                if (!existingTag(tag)) {
                    $('<li class="tags"><span class="entitiesTag">' + tag + '</span><img class="entity-close" src="./dist/img/cross-sign.png" alt="cross-image"></li>').insertBefore($(".tags-new"));
                    $(this).val("");
                }
                else {
                    $(this).val(tag);
                }
            }
        });

        $(document).on("click", ".tags .entity-close", function () {
            $(this).parent("li").remove();
        });

    });
</script>
<script src="dist/js/commonjs/pagination.js"></script>
{{!-- {{>footer}} --}}