<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Crop Box</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>
    <div>
        <form method="POST" action="/fbform">
            <label>Name</label><br>
            <input type="text"  name="name"><br><br>
            <label >Phone Number</label><br>
            <input type="text" name="phone"><br><br>
            <label>Email</label><br>
            <input type="Email" name="email"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
<script type="text/javascript">
alert(window.location);

</script>