<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            }); 
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; 
                j.src ='https://www.googletagmanager.com/gtm.js?id=' + i + dl; 
                f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Content Wrapper. Contains page content -->
    <div class="container-fluid bg-loginpage">
        <div class="row">
            <div class="login-div">
                <div class="login-page height-div">
                    <!-- Main content -->
                    <header>
                        <div class="yubo-header">

                            <div class="yubo-header-left">
                                <a href="https://helloyubo.com/"><img src="./dist/img/yugasa_bot_logo.png"></a>

                            </div>
                            <div class="yubo-header-right">
                                <span id="menuOpen" class="visible-xs">
                                    <div class="burger-menu menuOpenImg"></div>
                                    <div class="burger-menu menuOpenImg"></div>
                                    <div class="burger-menu menuOpenImg"></div>
                                </span>
                                <div class="menuList">
                                    <div class="menuList-ul">
                                        <ul class="list-unstyled">
                                            <span id="menuClose" class="visible-xs">&#10005;
                                            </span>
                                            <li><a href="https://helloyubo.com/">Home</a></li>
                                            <li><a
                                                    href="https://helloyubo.com/about-yubo-conversational-ai-chatbot/">About</a>
                                            </li>
                                            <li class="in"><a href="#">Avatars<img class="dropdown_icon visible-xs"
                                                        src="./dist/img/menu-img/triangle-img.png"></a>
                                                <ul class="list-unstyled submenu-ul">
                                                    <li><a
                                                            href="https://helloyubo.com/ecommerce-website-for-your-business/"><img
                                                                src="./dist/img/menu-img/ecommerce-1.png">Ecommerce</a>
                                                    </li>
                                                    <li><a
                                                            href="https://helloyubo.com/lead-generation-for-your-business/"><img
                                                                src="./dist/img/menu-img/Lead-Gen-2.png">New
                                                            Business
                                                            Leads</a></li>
                                                    <li><a href="#"><img src="./dist/img/menu-img/HR-Assistant-2.png">HR
                                                            Assistance</a></li>
                                                    <li><a href="#"><img
                                                                src="./dist/img/menu-img/Delivery-Tracker-1.png">Delivery
                                                            Tracker</a></li>
                                                    <li><a href="#"><img
                                                                src="./dist/img/menu-img/Print-to-Digital-Ad-2.png">Print
                                                            to
                                                            Digital Ad</a></li>
                                                    <li><a href="#"><img
                                                                src="./dist/img/menu-img/Ticket-Selling-2.png">Ticket
                                                            Selling</a></li>
                                                    <li><a href="#"><img
                                                                src="./dist/img/menu-img/Digital-Promotion-1.png">Digital
                                                            Promotion</a></li>
                                                    <li><a href="#"><img
                                                                src="./dist/img/menu-img/Appointment-Book-2.png">Appointment
                                                            Booking</a></li>
                                                    <li><a
                                                            href="https://helloyubo.com/customer-support-for-your-business/"><img
                                                                src="./dist/img/menu-img/Customer-Support-2.png">Customer
                                                            Support 24×7</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="https://helloyubo.com/integrations/">Integrations</a>
                                            </li>
                                            <li><a href="https://helloyubo.com/blog/">Blog</a></li>
                                            <li><a href="https://helloyubo.com/contact/">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <section class="content">
                        <!-- Small boxes (Stat box) -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="login-panel panel panel-default">
                                    <div class="logo">
                                        <span class="head-text">Reset Yugasa Bot Password</span>
                                    </div>

                                    {{#if error_msg}}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>{{error_msg}}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times</span>
                                        </button>
                                    </div>
                                    {{/if}}
                                    <div class="panel-body">
                                        <h4 class="text-center pad-10">Enter Your Registered Email Address/UserName</h4>
                                        <form action="/forgot" role="form" method="POST">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input class="form-control input-radius padding-left-placeholder"
                                                        type="text"
                                                        placeholder="Enter Your Registerd Email Address/UserName"
                                                        name="email" required="required" aria-required="true"
                                                        title="Enter Your Registerd Email Address or UserName To Recover Your Password"
                                                        spellcheck="false" size="5" autofocus>
                                                    <img class="icon-size-mail" src="/img/mail.png" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="btn btn-primary loginBtn" id="sendBtn" type="submit"
                                                        value="Send">
                                                </div>
                                            </fieldset>
                                        </form>
                                        <input type="hidden" value="{{limitStatus}}" class="limitStatus">
                                        <input type="hidden" value="{{message}}" class="message">
                                        <div class="page-link-login">
                                            <div class="page-link f-left">
                                                <a href="/login">Login Here</a>
                                            </div>
                                            <div class="page-link-span">|</div>
                                            <div class="page-link f-right">
                                                <a href="/register">Register Here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer-login">
        <div class="col-md-12">
            <div class="login-signup-footer">
                {{>footer}}
            </div>
        </div>
    </div>
    </div>
    <script>
        var width = $(window).width();
        if (width < 768) {
            //open burger menu
            $(document).ready(function () {
                $('#menuOpen').click(function (e) {
                    $('.menuList-ul').toggle();

                    $('.menuOpenImg').hide();
                    $('.menuCloseImg').show();
                    e.stopPropagation();
                });
                $('#menuClose').click(function () {
                    $('.menuList-ul').hide();
                    $('.menuOpenImg').show();
                    $('.menuCloseImg').hide(600);
                });
            });
            //to stop propagation after writing query to close menu by clicking anywhere on the web page
            $('.menuList-ul').click(function (e) {
                e.stopPropagation();
            });
            //to close the menu after clicking anywhere in the document(webpage)
            $(document).click(function () {
                $('.menuList-ul').hide();
                $('.menuOpenImg').show();
                $('.menuCloseImg').hide(300);
            });
            //to create submenu
            $('.yubo-header-right li.in a').click(function () {
                $('.submenu-ul').slideToggle(300);

            });

        }

    </script>
    
    <script>
        $(document).ready(function(){
            let limitStatus = $(".limitStatus").val(),
                message     = $(".message").val();
            if(limitStatus == "true"){
                alert(message);  
            }
        })
        if (window.performance.navigation.type == window.performance.navigation.TYPE_RELOAD) {
            $(".limitStatus").val(0);
            $(".message").val("");
        }
    </script>
</body>

</html>