<!DOCTYPE html>
<html class=''>

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{msg}} - Powered by Yugasa Bot</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="https://yubo.yugasa.org/{{logo}}">
	<link rel="preload"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0"
		as="font" type="font/woff" crossorigin>
	<link rel="stylesheet" href="https://yubo.yugasa.org/{{clientCss}}">
	<style>
		.clearChat {
			margin-left: 216px;
			border-radius: 20px;
		}
	</style>
</head>

<body id="yubo" onclick="closePopups();">
	<div id="frame">
		<div class="content">
			<div class="contact-profile">
				{{!-- <button class="clearChat"
					onclick="Yubo.clearChatHistory()">Clear History</button> --}}
				<img class="logo" src="https://yubo.yugasa.org/{{logo}}" alt="">
				<p class="tag-line">{{msg}}</p>
				<p class="tag-line sub">How can we help you?</p>
				<div class="contextmenu" onclick="openMenu();$('#menu-dropdown').toggle();">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt" viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M266 614 c-15 -16 -26 -38 -26 -54 0 -36 44 -80 80 -80 16 0 38 11 54 26 34 35 34 73 0 108 -16 15 -38 26 -54 26 -16 0 -38 -11 -54 -26z"></path><path d="M266 374 c-34 -35 -34 -73 0 -108 35 -34 73 -34 108 0 34 35 34 73 0 108 -16 15 -38 26 -54 26 -16 0 -38 -11 -54 -26z"></path><path d="M266 134 c-15 -16 -26 -38 -26 -54 0 -16 11 -38 26 -54 16 -15 38 -26 54 -26 36 0 80 44 80 80 0 36 -44 80 -80 80 -16 0 -38 -11 -54 -26z"></path></g></svg>
                   <div id="menu-dropdown" class="dropdown-content">
                        <ul class="bot-list">
                            <li onclick="onRestart();">
                                <img title="Restart Chat" style="width: 30px;filter:none;margin-right: 7px;"  src="https://yubo.yugasa.org/dist/img/bot-window-icon/reload-c.png">
                                Restart
                            </li>
                        	<li>
                        		<label for="file-input">
                            		<img src="https://yubo.yugasa.org/dist/img/bot-window-icon/attach-paperclip-c.png" style="width: 30px;filter:none;margin-right: 7px;"  title="Attach File">
                            		Upload file
                            	</label>
                            	<div onchange="uploadFile(); $('#menu-dropdown').hide();" >
	                              <input id="file-input" style="display: none;" type="file" name="fileList" onchange="onFileSelect(event)"
	                                        accept=".jpg, .jpeg, .png, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf" />
	                            </div>
                        	</li>
                            <li id="changelang" onclick="Botlanguage(); $('#menu-dropdown').hide(); openMenu(); $('#changeLanguageModal').show();">
                              <img id="myBtn" src="https://yubo.yugasa.org/dist/img/bot-window-icon/translate-c.png" style="width: 30px;filter:none;margin-right: 7px;"  title="Change Language"> 
                               Language
                            </li>
                        </ul>
                    </div>
				</div>
			</div>

			<div class="messages" id="down">
				<ul id="myList">
					{{#if chatMsg}}
					<li class="sent">
						{{#if chatLogo}}
						<img src="https://yubo.yugasa.org/{{chatLogo}}" alt="" />
						{{/if}}
						<p>{{chatMsg}}</p>
					</li>
					{{/if}}
				</ul>

				<div id="wave" style="display: none;">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>

				<input type="hidden" id="clientId" value="{{clientId}}">
				<input type="hidden" id="hutk" value="{{hutk}}">
				<input type="hidden" id="url" value="{{url}}">
				{{#if storageData}}
				<input type="hidden" id="storageData" value="{{storageData}}">
				{{else}}
				<input type="hidden" id="storageData" value="">
				{{/if}}
				{{#if story}}
				<input type="hidden" id="story" value="{{story}}">
				{{else}}
				<input type="hidden" id="story" value="false">
				{{/if}}
				{{#if chatLogo}}
				<input type="hidden" id="chatLogo" value="https://yubo.yugasa.org{{chatLogo}}">
				{{else}}
				<input type="hidden" id="chatLogo" value="">
				{{/if}}
				<input type="hidden" id="client_type" value="{{type}}">
				<input type="hidden" id="incoming_sound" value="{{incoming_sound}}">
				<input type="hidden" id="node" value="False">
				<input type="hidden" id="bottonId" value="1">
			</div>

			<div class="message-input" id="message-input">
				<div class="message-input">
					<div class="wrap">
						<div class="wrap-content">
							<input type="text" id="msg" autocomplete="off" placeholder="Write your message..."
								style="position:relative;" onkeyup="onTypingUser()">
							<div class="myAlert-top alert alert-success" id="success">

							</div>
							<div class="myAlert-bottom alert alert-danger" id="error">

							</div>
							{{!-- <div class="image-upload" style="position:absolute; right:96px;top:8px"
								onchange="uploadFile()" >
								<label for="file-input">
									<i class="fa fa-paperclip" style="font-size:24px; cursor:pointer;"></i>
								</label>
								<input id="file-input" style="display: none;" type="file" name="fileList" 
								       onchange="onFileSelect(event)"
									   accept=".jpg, .jpeg, .png, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf" />
							</div> --}}
						</div>

						<img src="https://yubo.yugasa.org/img/micro_phone.png" id="mic" style="display: none;" class="attachment"
							title="Start Listening" aria-hidden="true" onclick="voice()">
						<button type="submit" class="submit"
							onclick="Yubo.send(document.getElementById('msg').value, document.getElementById('clientId').value)">
							<svg width="20px" height="20px" fill="#fff" version="1.1" id="sendbtn"
								xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
								y="0px" width="535.5px" height="535.5px" viewBox="0 0 535.5 535.5"
								style="enable-background:new 0 0 535.5 535.5;" xml:space="preserve">
								<polygon points="0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75">
								</polygon>
							</svg>

						</button>
					</div>
				</div>
			</div>
			<!-- The Modal -->
			<div id="changeLanguageModal" class="modal" style="display:none;">
				<div class="modal-content">
					<div class="chnge_lang">
					<span class="close" onclick="$('#changeLanguageModal').hide();">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
							<path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
						</svg>
					</span>
					</div>

					<div class="languageScroll">
						<ul class="lang-list" id="language_list">
						</ul>	
					</div>
						
				</div>

			</div>
			<div class="powerd">
				Powered by <a href="https://helloyubo.com/" target="_blank"
					title="Building Blocks for Building Bots"><img src="https://yubo.yugasa.org/img/powered_by.png" alt="Yugasa Bot Logo"></a>
			</div>
		</div>
	</div>
</body>

</html>
<script defer src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script defer src="https://yubo.yugasa.org/socket.io/socket.io.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.8/dist/js/splide.min.js"></script>
<!-- 	<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script> -->
<!-- <script src="https://formbuilder.online/assets/js/form-render.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.6.1/form-builder.min.js" integrity="sha512-CJ+4BoMQZZKqotzJOnxr8y6rBi6l3JCsc1xcNvaRxY3B0Ubj18Ss7hsvoPdK+qG9NlRXZw+JHhYqKKIeEmjsMA==" crossorigin="anonymous"></script> -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.6.1/form-render.min.js"
	integrity="sha512-MMnuXXrdl6cKoHt7brUa8bJvU9APzxQG6Wn8Bj0SlRJNAOK7qYw1G9ngXfI5kf3oN3IHX4u8UErJBfuFvg1O+w=="
	crossorigin="anonymous"></script>
<script defer src="https://yubo.yugasa.org/client.js"></script>
<script defer src="https://yubo.yugasa.org/dist/js/chat/chat.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.8/dist/css/splide.min.css">
<link rel="stylesheet" href="https://yubo.yugasa.org/dist/css/chat/chat.css">
<style type="text/css">
	
#frame {
    width: 100%;
    height: 100vh;
    min-height: auto;
    max-height: initial;
}
#frame .content .contact-profile img {
    margin: 0 auto;
}

.tag-line {
    text-align: center;
}
#frame .content .messages {
    min-height: calc(100% - 180px);
    max-height: calc(100% - 182px);
    margin-bottom: 20px;
}
div#down {
    padding-right: 25%;
    padding-left: 25%;
}

#frame .content .message-input {
    position: relative;
    bottom: 5px;
    width: 71%;
    z-index: 99;
    padding-bottom: 0;
    padding-left: 5px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
#frame .content .message-input .wrap button {
    height: 41px;
}

#frame .content {
	width: 100% !important;
}

@media screen and (max-width: 768px) {
	div#down {
	    padding-right: 0 !important;
	    padding-left: 0 !important;
	}
	#frame .content .message-input {
	    width: 100% !important;
	}
	.powerd {
    	position: absolute;
    	bottom: 5px;
	}
	#frame .content .messages {
	    min-height: calc(100% - 202px);
	    max-height: calc(100% - 197px);
	}
}

#frame .content .contextmenu img {
	margin-left: 0 !important;
}

#frame .content #sendbtn {
	width: 20px;
	position: absolute;
	top: 10px;
	left: 14px;
}

</style>