{{> head}}
{{> sideNavBar}}
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="compaign-title">Create Group</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 com-xs-3">
                <div id="groupList" class="group-dropdown-check-list" tabindex="100">
                    <span class="groupList_selected">Select Users</span>
                    <ul class="groupItems">
                        <li> <span>Group Name :</span> <input type="text" name="groupname" class="groupName"
                                required="required">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 com-xs-9">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Created Group</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody class="groupdata">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="yubo_model group_model_contact">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                        <input type="text" class="group-title removehtml groupname">
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="grp-added-member">
                                    <table class="table table-bordred table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody class=" removehtml userdatamodel">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div id="contactList" class="contact-dropdown-check-list" tabindex="100">
                                    <span class="contactList_selected">Select Users</span>
                                    <ul class="contactItems adduseritems">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="grp_model_btn update_edted_data ">Update Details</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    // to create group
    var checkList = document.getElementById('groupList');
    checkList.getElementsByClassName('groupList_selected')[0].onclick = function (evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
    }
    // to add more contact
    var addContact = document.getElementById('contactList');
    addContact.getElementsByClassName('contactList_selected')[0].onclick = function (evt) {
        if (addContact.classList.contains('visible'))
            addContact.classList.remove('visible');
        else
            addContact.classList.add('visible');
    }
    /*******************************************************
    api for rendering data of userlist as well as create group
    *********************************************************/
    $.ajax({
        type: "POST",
        url: "/getuserName",
        data: { group: 'true' },
        success: function (data) {
            if (data) {
                // loop for username list in create group dropdown
                for (i = 0; i < data.data.length; i++) {
                    if (data.data[i].mail) {
                        $('.groupItems').append(' <li><input type="checkbox" class="chkbx" data-id =' + data.data[i].userId + ' data-mail=' + data.data[i].mail + ' value="' + data.data[i].name + '">' + data.data[i].name + '</li>')
                    }
                }
                $('.groupItems').append('<li><button type="button" class="createGroup group_create">Create Group</button></li>');

                // loop for createdgroup list in createdgroup table

                for (i = 0; i < data.groupcreated.length; i++) {
                    let key = Object.keys(data.groupcreated[i].createdgroup);
                    $('.groupdata').append(`<tr><td group-id="${data.groupcreated[i]._id}">${key[0]}</td>
                                <td class="actionbutton">
                                    <button class="grp_view" group-id="${data.groupcreated[i]._id}" value="" data-toggle="modal" data-target="#myModal">
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye"
                                            class="svg-inline--fa fa-eye fa-w-18" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path fill="currentColor"
                                                d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button class="grp_delete" group-id="${data.groupcreated[i]._id}"value="">
                                        <svg aria-hidden="true" focusable="false" height="32px" data-prefix="far"
                                            data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="currentColor"
                                                d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z">
                                            </path>
                                        </svg>
                                    </button>
                                </td></tr>`)
                }
            }
        }, error: function (jqXHR, textStatus, err) {
            alert('Please refresh !');
        }
    })
    /**************************************
    api for creating group from given users
    ***************************************/
    $(document).on("click", ".createGroup", function (e) {
        if ($('.groupName').val() == '') {
            alert('Group name Cannot be blank');
            return;
        }
        let creategroup = [], parentobj = {};
        $('.chkbx:checked').each(function () {

            let groupobj = {
                userId: $(this).attr('data-id'), name: ($(this).val() == 'unknown user' ? '' : $(this).val()), mail: $(this).attr('data-mail')
            }
            creategroup.push(groupobj)
        })
        parentobj[$('.groupName').val()] = creategroup;

        $.ajax({
            type: "POST",
            url: "/creategroup",
            data: parentobj,
            success: function (data) {
                if (data) {
                    alert(data.msg)
                    location.reload();
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })
    })

    /**************************************************** 
    api to delete created group
    ****************************************************/
    $(document).on("click", ".grp_delete", function (e) {
        $.ajax({
            type: "POST",
            url: "/deletegroup",
            data: { groupId: $(this).attr('group-id') },
            success: function (data) {
                if (data) {
                    location.reload();
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })
    })

    /***************************************************
    api to edit  group
    ***************************************************/
    $(document).on("click", ".grp_view", function (e) {
        $.ajax({
            type: "POST",
            url: "/editgroup",
            data: { groupId: $(this).attr('group-id') },
            success: function (data) {
                if (data) {
                    $('.removehtml').html('')
                    let key = Object.keys(data.data.createdgroup);
                    $('.groupname').val(key[0])
                    $('.update_edted_data').attr('usergroup-id', data.data._id)
                    for (i = 0; i < data.data.createdgroup[key].length; i++) {
                        $('.userdatamodel').append(`<tr class=lengthcal
                        userdataId="${data.data.createdgroup[key][i].userId}" data-name ="${data.data.createdgroup[key][i].name}" data-mail ="${data.data.createdgroup[key][i].mail}">
                                                <td>${data.data.createdgroup[key][i].name}</td>
                                                <td>${data.data.createdgroup[key][i].mail}</td>
                                                <td  class="dltuser" data-id = ${data.data.createdgroup[key][i].userId}>&times;</td>
                                            </tr>`)
                    }
                    // for add more users
                    $('.adduseritems').html('')
                    for (i = 0; i < data.userdata.length; i++) {
                        if (data.userdata[i].mail) {
                            $('.adduseritems').append(`<li><input type="checkbox" class="adduserchkbx" data-id =${data.userdata[i].userId} data-mail=${data.userdata[i].mail} value="${data.userdata[i].name}">${data.userdata[i].name}</li>`)
                        }
                    }
                    $('.adduseritems').append('<li><button class="addnewuserdata">Add user</button></li>')
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })
    })

    /***************************************
    for removing specific user from group
    ****************************************/
    $(document).on("click", ".dltuser", function (e) {
        if ($('.lengthcal').length < 2) {
            return;
        }
        $(this).parent('tr').remove();
    })
    /***************************************
    for adding specific users
    ****************************************/
    $(document).on("click", ".addnewuserdata", function (e) {
        let namedata;
        $('.adduserchkbx:checked').each(function () {
            $(this).closest('li').remove();
            $(this).val() == 'unknown user' ? namedata = '' : namedata = $(this).val();
            $('.userdatamodel').append(`<tr class=lengthcal userdataId="${$(this).attr('data-id')}" data-mail="${$(this).attr('data-mail')}" data-name =${namedata}>
                                                <td>${namedata}</td>
                                                <td>${$(this).attr('data-mail')}</td>
                                                <td  class="dltuser"data-id = ${$(this).attr('data-id')}>&times;</td>
                                            </tr>`)
        })
    })
    /****************************************
    api to update group details
    ****************************************/
    $(document).on("click", ".update_edted_data", function (e) {
        if ($('.groupname').val() == '') {
            alert('Group Name cannot be blank');
            return;
        }
        let updategrouparray = {}, dataobj, groupId;
        groupId = $(this).attr('usergroup-id')
        updategrouparray[$('.groupname').val()] = [];
        $('.lengthcal').each(function () {
            datobj = {
                mail: $(this).attr('data-mail'), name: $(this).attr('data-name'), userId: $(this).attr('userdataid')
            }
            updategrouparray[$('.groupname').val()].push(datobj)
        })
        $.ajax({
            type: "POST",
            url: "/updategroup",
            data: { groupId: groupId, updateddata: updategrouparray, groupName: $('.groupname').val() },
            success: function (data) {
                if (data.status == 'Succeesss') {
                    alert(data.msg)
                    location.reload();
                } else {
                    alert(data.msg)
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })

    })

</script>
{{> footer}}
