{{>head}}
{{>sideNavBar}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="help-content content content-in">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <h1 class="main-title2">Get the best out of your Yugasa Bot!</h1>
            <div class="sub-title">
              <h3>Browse through our exhaustive set of self explanatory video tutorials to explore the ultimate intelligence of Yugasa Bot.</h3>
            </div>
          </div>
        </div>
{{!--         <div class="col-md-12 margin-top-div">
          <div class="input-group add-on">
            <input type="hidden" id="keyword" value={{keyword}}>
            <input class="form-control" placeholder="Search" name="srch_term" id="srch_term" type="text">
            <div class="input-group-btn">
              <button class="btn btn-secondary search-button-intent" type="button"><i class="glyphicon glyphicon-search"
                  onclick="keywordSrch()"></i></button>
            </div>
          </div>
        </div> --}}
      </div>
      <div class="help-grid">
        <div class="help-card" onclick="lightbox_open('intro');">
          <div class="video-thumb"><img src="https://i.ytimg.com/vi_webp/D1wBpInYzvg/maxresdefault.webp"/></div>
          <div class="title"><h3>Yugasa Bot Onboarding Video</h3></div>
          <div class="short-desc"><p>Watch 'Onboarding Help' video below to learn how you can integrate Yugasa Bot on your website in few minutes. No Coding Required!</p></div>
        </div>
        <div class="help-card" onclick="lightbox_open('intents');">
          <div class="video-thumb"><img src="https://i.ytimg.com/vi_webp/NY4CKkCRx4o/maxresdefault.webp"/></div>
          <div class="title"><h3>What are Intents?</h3></div>
          <div class="short-desc"><p>This video explains how to create intents for different types of queries so that Yugasa Bot can understand the context and respond intelligently.</p></div>
        </div>
        <div class="help-card" onclick="lightbox_open('fallbacks');">
          <div class="video-thumb"><img src="https://i.ytimg.com/vi_webp/8aZ36hSenBY/maxresdefault.webp"/></div>
          <div class="title"><h3>Handling Fallbacks!</h3></div>
          <div class="short-desc"><p>What if your website visitor asks something for which Yugasa Bot is not trained for? Know what are Fallbacks and how you can efficiently handle them.</p></div>
        </div>
        <div class="help-card" onclick="lightbox_open('settings');">
          <div class="video-thumb"><img src="https://i.ytimg.com/vi_webp/shbfENvPdXY/maxresdefault.webp"/></div>
          <div class="title"><h3>Customizing Yugasa Bot window</h3></div>
          <div class="short-desc"><p>Customizing the look and feel of Yugasa Bot window is a cakewalk. Watch this video to know how you can change the appearance of Yugasa Bot window to match with the color scheme of your website.</p></div>
        </div>
        <div class="help-card" onclick="lightbox_open('conversational_flow');">
          <div class="video-thumb"><img src="https://i.ytimg.com/vi_webp/APNlzZP0EcM/maxresdefault.webp"/></div>
          <div class="title"><h3>Conversational Flow</h3></div>
          <div class="short-desc"><p>Easily create a flow of conversation with a user friendly GUI. Direct Yugasa Bot to ask the questions to the users and present them with different choices or capture information through contact form.</p></div>
        </div>
        <div class="contact_help">
          <p>Looking for more? Contact us!</p>
          <form id="help_form">
          <div>
            <label>Title</label>
            <input type="text" name="title" required="">
            <label>Message</label>
            <textarea name="query" required=""></textarea>
            <button type="submit" value="Save">Send</button>
          </div>
          </form>
        </div>
      </div>

    </div>
  </section>
  <div id="light">
    <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
    <video id="intro" width="600px" controls src="https://admin.helloyubo.com/videos/help/intro.webm" type="video/webm" style="display:none;">
      </video>
    <video id="intents" width="600px" controls src="https://admin.helloyubo.com/videos/help/intents.webm" type="video/webm" style="display:none;">
      </video>
    <video id="fallbacks" width="600px" controls src="https://admin.helloyubo.com/videos/help/fallbacks.webm" type="video/webm" style="display:none;">
      </video>
    <video id="settings" width="600px" controls src="https://admin.helloyubo.com/videos/help/settings.webm" type="video/webm" style="display:none;">
      </video>
    <video id="conversational_flow" width="600px" controls src="https://admin.helloyubo.com/videos/help/conversational_flow.webm" type="video/webm" style="display:none;">
      </video>
  </div>

  <div id="fade" onClick="lightbox_close();"></div>
</div>
{{>footer}}
<link rel="stylesheet" href="dist/css/admin/help.css">
<script src="dist/js/help.js">
</script>