{{>head}}
{{> sideNavBar sideNavValidation }}

<link rel="stylesheet" href="dist/css/help.css">

<style>
        .navBarul_li>li.active>a {
        background-color: red;
        }
        .content {
            margin-top: 0px !important;
            padding: 0px !important;
        }
        .design-body {
            padding: 0 !important;
            margin-top: 0px !important;
        }
        .contactusDiv .tabcontent {
            width: 557px;
            margin-left: 22%;
        }
</style>  
<div class="content-wrapper new_cnt_wrap">

  <div > 
    <section class="content settings">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="design-body ">
            <div class="row design-body-padd">
                <div class="tab" style="margin-top: 30px;">
                    <button style="width: 50%;" class="tablinks design_tab active" id="defaultOpen"
                    onclick="activateTab(event, 'botDesign')"> Contact Us </button>
                    <button style="width: 50%;" class="tablinks" onclick="activateTab(event, 'botSetting')">
                    Help Videos </button>
                </div>
                <div id="edit-pass-full" class="col-lg-12 contactusDiv">
                    <div class="row">
                    <input type="hidden" class="botval" value={{custombot}}>
                    <div id="botDesign" class="tabcontent botDesign">
                    <div class="contact_help">
                                <p>Looking for more? Contact us!</p>
                                <form id="help_form">
                                    <div>
                                    <label>Title</label>
                                    <input type="text" name="title" required="">
                                    <label>Message</label>
                                    <textarea name="query" required=""></textarea>
                                    <button type="submit" value="Save">Send</button>
                                    </div>
                                </form>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                {{!-- Yugasa video section --}}
                <form onsubmit="settings()">
                  <div id="botSetting" class="tabcontent">
                    <div class="col-lg-12 p-0">
                      <section class="help-content content content-in">
                        <div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <h1 class="main-title2">Get the best out of your Yugasa Bot!</h1>
                                <div class="sub-title">
                                  <h3>Browse through our exhaustive set of self explanatory video tutorials to explore
                                    the ultimate intelligence of Yugasa Bot.</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="help-grid">
                            {{!-- <div class="help-card" onclick="lightbox_open('conversational_flow');">
                              <div class="video-thumb"><img
                                  src="./videos/help/basic/admin_popup.png" /></div>
                              <div class="title">
                                <h3>Here are 6 simplesteps to make your Yugasa Bot  intelligent and deploy it on your website.</h3>
                              </div>
                             
                            </div> --}}

                            <div class="help-card" onclick="lightbox_open('intro');">
                              <div class="video-thumb"><img
                                  src="https://i.ytimg.com/vi_webp/D1wBpInYzvg/maxresdefault.webp" /></div>
                              <div class="title">
                                <h3> Make Yugasa Bot live on your website</h3>
                              </div>
                              {{!-- <div class="short-desc">
                                <p>Watch 'Onboarding Help' video below to learn how you can integrate Yugasa Bot on your
                                  website in few minutes. No Coding Required!</p>
                              </div> --}}
                            </div>
                            <div class="help-card" onclick="lightbox_open('intent');">
                              <div class="video-thumb"><img
                                  src="https://i.ytimg.com/vi_webp/NY4CKkCRx4o/maxresdefault.webp" /></div>
                              <div class="title">
                                <h3>Edit design of Yugasa Bot window and see preview</h3>
                              </div>
                              {{!-- <div class="short-desc">
                                <p>This video explains how to create intents for different types of queries so that
                                  Yugasa Bot can understand the context and respond intelligently.</p>
                              </div> --}}
                            </div>
                            <div class="help-card" onclick="lightbox_open('fallbacks');">
                              <div class="video-thumb"><img
                                  src="https://i.ytimg.com/vi_webp/8aZ36hSenBY/maxresdefault.webp" /></div>
                              <div class="title">
                                <h3>Create and deploy OpenAi key in yugasa bot</h3>
                              </div>
                              {{!-- <div class="short-desc">
                                <p>What if your website visitor asks something for which Yugasa Bot is not trained for?
                                  Know what are Fallbacks and how you can efficiently handle them.</p>
                              </div> --}}
                            </div>
                            <div class="help-card" onclick="lightbox_open('settings');">
                              <div class="video-thumb"><img
                                  src="https://i.ytimg.com/vi_webp/shbfENvPdXY/maxresdefault.webp" /></div>
                              <div class="title">
                                <h3>Plug b play bot from Yugasa Bot</h3>
                              </div>
                              {{!-- <div class="short-desc">
                                <p>Customizing the look and feel of Yugasa Bot window is a cakewalk. Watch this video to
                                  know how you can change the appearance of Yugasa Bot window to match with the color
                                  scheme of your website.</p>
                              </div> --}}
                            </div>
                            {{!-- 
                            <div class="help-card" onclick="lightbox_open('conversational_flow');">
                              <div class="video-thumb"><img
                                  src="https://i.ytimg.com/vi_webp/APNlzZP0EcM/maxresdefault.webp" /></div>
                              <div class="title">
                                <h3>Conversational Flow</h3>
                              </div>
                              <div class="short-desc">
                                <p>Easily create a flow of conversation with a user friendly GUI. Direct Yugasa Bot to
                                  ask the questions to the users and present them with different choices or capture
                                  information through contact form.</p>
                              </div>
                            </div>
                            <div class="help-card" onclick="lightbox_open('campaigning');">
                              <div class="video-thumb"><img
                                  src="./img/documents/campaigning.png" /></div>
                              <div class="title">
                                <h3>Campaigning</h3> 
                              </div>
                              <div class="short-desc">
                                <p>Boost Conversions & Increase Sales With Campaigning feature of Yugasa Bot.
                                   Campaigning feature allows you to send Email and WhatsApp campaigns to 
                                   your leads.Turn your customers from curious, to interested, and then to
                                   excited using Yugasa Bot's smart </p>
                              </div>
                            </div>

                            <div class="help-card" onclick="lightbox_open('hack');">
                              <div class="video-thumb"><img
                                  src="./img/documents/hack.png" /></div>
                              <div class="title">
                                <h3>HACK - Human Agent Control Kit</h3>
                              </div>
                              <div class="short-desc">
                                <p>HACK - Human Agent Control Kit Agent handover or Chat control transfer 
                                  to human agent is a very important and needed feature in a chatbot
                                  solution.</p>
                              </div>
                            </div>
                            <div class="help-card" onclick="lightbox_open('keyjson');">
                              <div class="video-thumb"><img
                                  src="./img/documents/keyjson.jpg" /></div>
                              <div class="title">
                                <h3>Google Sheets KeyJSON generation</h3>
                              </div>
                              <div class="short-desc">
                                <p>This video demonstrates how to generate KeyJSON file to be able to integrate Google Sheets with Yugasa Bot.</p>
                              </div>
                            </div>
                            <div class="help-card" onclick="lightbox_open('write_to_sheet');">
                              <div class="video-thumb"><img
                                  src="./img/documents/write_to_sheet.jpg" /></div>
                              <div class="title">
                                <h3>Yugasa Bot integration with Google Sheet</h3>
                              </div>
                              <div class="short-desc">
                                <p>This video demonstrates Yugasa Bot integration with Google Sheet to write data to the sheet</p>
                              </div>
                            </div> --}}
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>

      <div id="light">
        <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
        <video id="intro" width="600px" controls src="./videos/help/basic/makeYugasaBotLiveOnYourWebsite.mp4"
          type="video/webm" style="display:none;">
        </video>
        <video id="intent" width="600px" controls src="./videos/help/basic/EditDesignOfYugasaBotWindowAndSeePreview.mp4"
          type="video/webm" style="display:none;">
        </video>
        <video id="fallbacks" width="600px" controls src="./videos/help/basic/howToGetGenAiKey.mp4"
          type="video/webm" style="display:none;">
        </video>
        <video id="settings" width="600px" controls src="./videos/help/basic/PlugNPlayBotFromYugasaBot.mp4"
          type="video/webm" style="display:none;">
        </video>
       <video id="conversational_flow" width="600px" controls
          src="./videos/help/basic/admin_popup.png" type="video/webm"
          style="display:none;">
        </video>
      {{!--
        <video id="campaigning" width="600px" controls 
          src="./videos/help/Campaigning.webm" type="video/webm"
          style="display:none;">
        </video>
        <video id="hack" width="600px" controls
          src="./videos/help/HACK.webm" type="video/webm"
          style="display:none;">
        </video>
        <video id="keyjson" width="600px" controls
          src="./videos/help/keyjson.webm" type="video/webm"
          style="display:none;">
        </video>
        <video id="write_to_sheet" width="600px" controls
          src="./videos/help/write_to_sheet.webm" type="video/webm"
          style="display:none;">
        </video> --}}
      </div>

  <div id="fade" onClick="lightbox_close();"></div>
  </div>

  {{>footer}}
  <link rel="stylesheet" href="dist/css/admin/help.css">
  <script src="dist/js/help.js">
  </script>

