{{>head}}
{{> sideNavBar sideNavValidation}}
<section class="content integration-area">
    
<div class="content-wrapper">
    <h1 class="main-title">Properties</h1>
    {{#if msg}}
    <h2>{{msg}}</h2>
    {{else}}
    <div class="prop-multiselect">
        <div class="prop-selectBox" onclick="showCheckboxes()">
            <select id="select-prop">
                <option>Select Properties</option>
            </select>
            <div class="prop-overSelect"></div>
        </div>
        <div id="prop-checkboxes">
            {{#prop}}
            <label for="{{this.name}}">
                <input type="checkbox" name="{{this.name}}" {{#if this.checkbox}} checked="true" {{/if}} label="{{this.label}}" id="{{this.name}}" />{{this.label}}
            </label>
            {{/prop}}
        </div>
    </div>
    {{/if}}
</div>

</section>
{{>footer}}

<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("prop-checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;

            var propArray = [], sList;
            $('label > input[type=checkbox]', $('#prop-checkboxes')).each(function () {
                if ($(this).val() == "on" && this.checked) {
                    propArray.push({
                        name: $(this).attr("name"),
                        label: $(this).attr("label")
                    })
                }

            });

            $.ajax({
                type: "POST",
                url: "/properties",
                timeout: 10000,
                data: { properties: propArray },
                success: async function (resp) {
                    if(resp.msg == "success"){
                        await alert("Properties saved successfully! You can check conversational flow to see your selected properties.")
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    alert('Something went wrong, please refresh the page')
                }
            });

        }
    }
    


</script>