{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="dist/js/admin/intent.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.tiny.cloud/1/wcams96z6akxfd5jx8t72ebn39roih9mm3uq8ytsa0ad0uk6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  </head>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/dist/css/intentStyle.css">
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="tab">
            {{#if userTypePro}}
            <button class="tablinks active whatsappCampTab tab_butns" onclick="activateTab(event, 'intent-selection')">Intent</button>
            <button class="tablinks  whatsappCampTab tab_butns" onclick="activateTab(event, 'bulk-selection')">Zero Shot</button>
            {{/if}}
            {{#unless userTypePro}}
              <button class="tablinks  whatsappCampTab tab_butns active" onclick="activateTab(event, 'bulk-selection')">Zero Shot</button>
            {{/unless}}
        </div>
        <div id="intent-selection" class="tabcontent">
            <div class="right-shift">
                <div class="container"></div>
                <div class="intent-header">
                    <div class="col-md-12">
                        <div class="row intent-padding">
                            {{!-- <div class="col-lg- col-md- col-sm- col-xs-">
                                <div class="row">
                                    <h1 class="main-title">Intents</h1>
                                </div>
                            </div> --}}
                            {{!-- <form id="upload-form" enctype="multipart/form-data">
                                <input type="file" name="file" accept=".xlsx">
                                <button type="submit">Upload</button>
                            </form>
                            <form action="/excel" method="get">
                                <button type="submit">Download</button>
                            </form>
                            <button onclick="downloadExcel()">Download Excel</button> --}}
        
                            <div id="result"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-hdr">
                                    <div class="addButton row" style="display: inline-flex;">
                                        <div class="image-upload padding-button" onchange="loadIntents()">
                                            <label for="loadIntent">
                                                <span
                                                    class="btn btn-secondary button-color width-button upload-button nw_uplod_btn0 "
                                                    for="loadIntent">Upload Json</span>
                                            </label>
                                            <input type="file" id="loadIntent" style="display:none;" name="intents"
                                                accept=".json">
                                        </div>
        
                                        <button type="button" data-toggle="modal" data-target="#add_intent"
                                            class="btn btn-secondary add-intent width-button" aria-expanded="false">Add
                                            Intent</button>
                                        <button type="button" onclick="trainIntent()" class="btn trainBtn width-button">
                                            Train</button>
                                        <button class=" btn btn-secondary button-color intent_excel padding-button">Download
                                            CSV</button>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 searchBtn">
                                <div class="row">
                                    {{!-- <form class="navbar-form" role="search" action="/intent" method="POST"> --}}
                                        <div class="input-group add-on">
                                            <input type="hidden" id="keyword" value="{{keyword}}">
                                            <input placeholder="Search" onkeyup="OnSearch()" id="srch_term" />
                                            <span class="span-search" onkeyup="OnSearch()">
                                                <i class="fa fa-search subs-search" aria-hidden="true"></i>
                                            </span>
        
                                            {{!-- <input class="form-control" placeholder="Search" name="srch_term"
                                                id="srch_term" type="text">
                                            <div class="input-group-btn">
                                                <button class="btn btn-secondary search-button-intent" type="button"><i
                                                        class="glyphicon glyphicon-search" onclick="keywordSrch()"></i></button>
                                            </div> --}}
                                        </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
            <form id="edit_form" role="form">
            <div class="container">
                <div class="intentTable" id="joy" style="width:100%">
                    <div class="table-primary" id="tBody"></div>
                </div>
            </div>
            <!-- On CLick of table td this modal opens-->
            <div class="yubo_model ad_intent">
                <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content" style="padding-left: 93px;padding-right: 65px;">
                            <div class="modal-header">
                                {{!-- <button type="button" class="close padding-cross" onclick="discard(event)" aria-label="Close">&#10005;</button> --}}
                                <button type="button" class="modal_close" onclick="discard(event)" aria-label="Close">
                                    &times;
                                </button>
                                <h4 class="modal-title float-heading-none color-white padding-title" id="exampleModalLabel">
                                    {{!-- <img class="edit-image-width" src="./dist/img/edit_intent.png" alt=""> --}}
                                    Edit Intent
                                </h4>
                            </div>
                            <div class="modal-body justify-content-center">
                                <div class="row modal-padding">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-box-one left-card-box">
                                            <div class="col-md-4 card-heading">
                                                <div style="display:flex">
                                                    <p class="custom-title">Title</p>
                                                    <input class="form-control input-md custom-input add-input" type="text" name="clock"
                                                        id="tag" placeholder="Intent Name" list="intents" autocomplete="off" required>
                                                </div>
                                                {{!-- intent name input box --}}
                        
                                                <datalist id="intents">
                                                </datalist>
                                                {{!-- <h2>Training Phrases</h2> --}}
                                            </div>
                                             <div class="row">
                                                        <div class="col-md-12" style="display:inline-flex ;">
                                                            <h5 class="col-md-4 sample mt-2" style="padding-left: 15px;">Sample Phrases</h5>
                                                            <div class="col-md-8 added-phrases  ">
                                                                <button type="button" onclick="updatePatterns()" class="btn-phrases">
                                                                    Auto Generate </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                      
                                            <div class="row">
                        
                                                <div class="card-body card-one-body  margin-top-button ">
                                                    <div class="row">
                                                        <div class="col-md-12 phrase-body phrase-Ebody" style="">
                                                            <div id="loader" class="row loader" style="display:none;">
                                                                <center><img src="./dist/img/yubo_loader.gif" class="loader_img"></center>
                                                                <center><div class="loader-text">Generating training phrases..</div></center>
                                                            </div>
                                                            <div class="col-md-12 card-contents">
                                                                <div
                                                                    class="input_fields_wrap form-group input-icons-i scroll-bar-width height-scroll">
                                                                </div>
                                                            </div>
                                                            {{!-- <div class="col-md-2 added-phrases d-flex">
                                                                <button type="button" onclick="updatePatterns()" class="btn-phrases">
                                                                    Add Phrases</button>
                                                            </div> --}}
                                                        </div>
                                                    </div>
                                                </div>
                        
                                            </div>
                        
                                        </div>
                                        <div class="row">
                                            <div class="col pt-md-5">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex">
                                                    <div class="card-box-one" style="padding-top: 26px;">
                                                        <h5 class="custom-title1 text-titles" >Bot Response</h5>
                                                        <div class="bottom-div form-group" id="bot_responce">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="entities-div entity_div ">
                                                        <div class="entity_header">
                                                            <div class="entity_title">
                                                                <h5 class="custom-title1 text-titles">Entities</h5>
                                                            </div>
                                                            {{!-- <div class="intent_switchBtn">
                                                                <p class="slider_intent_text">Weak</p>
                                                                <label class="switch_intent">
                                                                    <input type="checkbox">
                                                                    <span class="slider_intent round_intent">
                                                                    </span>
                                                                </label>
                                                                <p class="slider_intent_text">Strong</p>
                                                            </div> --}}
                                                        </div>
                                                        <div class="entity one-entities">
                                                            <ul class="tags-input">
                                                                <li class="tags-new entities-textarea ">
                                                                    <textarea class="" type="text" placeholder="Type your entity"></textarea>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-lg-12">
                                                <div class="intent_model_btn" style="margin-left: -20px;">
                                                    <button type="button" class="discard_Btn btn-discards "
                                                        onclick="discard(event)">Discard</button>
                                                    <button type="submit" value="Save" class="save_button btn-saved">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </form>
        
        </div>
        <div id="bulk-selection" class="tabcontent">
            <div class="zero-section">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="bluk-buttons">
                            <div class="image-upload padding-button">
                                <label for="excel-file">
                                    <span class="btn btn-secondary button-color width-button upload-button nw_uplod_btn0">Upload Excel</span>
                                </label>
                                <input type="file" id="excel-file" style="display:none" accept=".xlsx" onchange="handleFileSelect(event)">
                            </div>
                        
                            {{!-- <form action="/excel" method="get">
                                <button type="submit">Download</button>
                            </form> --}}
                            <button onclick="downloadExcel()" class="btn trainBtn width-button">Download Excel</button>
                            <button type="button" onclick="trainFaqs()" class="btn trainBtn width-button">
                                Train</button>
                            <button type="button"  data-target="#add_questions" data-toggle="modal" data-placement="top" class="btn trainBtn width-button">
                                Add Question</button>
                        
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 search-bluk">
                        <div class="row">
                            {{!-- <form class="navbar-form" role="search" action="/intent" method="POST"> --}}
                                  <div class="dataTables_search">
                                    <input type = "text" 
                                                id = "searchBoxId"
                                                onkeyup="onTypingEvent(event)"
                                                style="height: 40px;
                                                    background: transparent;
                                                    border: none;
                                                    border-bottom: 2px solid #000000;"
                                                placeholder="Search..." class="sub_search" >
                                                <span class="span-search" 
                                                    onclick="searchFunction(event)">
                                                    <i class="fa fa-search subs-search" aria-hidden="true"></i>
                                                </span>
                                    </div>
                        </div>
                    </div>
                </div>

            </div>
            {{!-- <form id="upload-form" enctype="multipart/form-data">
                                <input type="file" name="file" accept=".xlsx">
                                <button type="submit">Upload</button>
                            </form>
                            <form action="/excel" method="get">
                                <button type="submit">Download</button>
                            </form>
                            <button onclick="downloadExcel()">Download Excel</button> --}}
                          <div class="checkbox-container">
                            <label for="selectAll">Select All</label>
                            <input type="checkbox" id="selectAll" onchange="selectAllCheckboxes()" />
                           <div class="delBtn" value="">
                            <button id="deleteSelectedBtn" class="delete-selected-button hide" onclick="deleteSelectedData()">
                                <img src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents">
                             </button>
                        </div>


                            </div>
                        <form id="edit_form" role="form">
                            <div class="container">
                                <div class="zeroShotDataDiv">
                                    {{!-- <div class="card intent_fader_bulk">
                                        <div class="row bluk-options">
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderR-image">
                                                <div class="user card-headerB"> Tag 1 </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: -6px;">
                                                <div class="intent-actions bluk_iActions">
                                                    <label title="" class="switch"><input id="" value="" onchange="inactiveIntent(this.id, this.value)"
                                                            type="checkbox" hidden=""><span class="slider round-new"></span></label>
                                                    <button id='+ item._id + ' value='+avalue+' class="analytics-btn-bulk analytics-active"
                                                        onclick="selectAnalytics(this.id, this.value)" style="border: none;background-color: transparent;"><i
                                                            class="fa fa-pie-chart" aria-hidden="true"></i></button>
                                                    <div class="editIntent" data-toggle="modal" data-target="#openModal" value=' + item._id + '><img
                                                            src="dist/img/updated-icon/new_edit_icon.png" class="intent_edit">
                                                    </div>
                                                    <div class="delBtn" value=""><button id=' + item._id + ' value="' + item.tag + '" type="button"
                                                            onclick="deleteIntent(this.id,this.value)" class="delete_intent"><img
                                                                src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents"></button>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row que_answer">
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderL-ques">
                                                <div class=""> Question</div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderL-ans">
                                                <div class=""> Answer </div>
                                            </div>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                            

                        </form>

                            <div class="yubo_model tree_model">
                                <div class="modal" id="add_questions">
                                    <div class="modal-dialog modl_dialg_10">
                                        <div class="modal-content  new_modal_content" style="margin-top:5%;">
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="row">
                                                    <h4 class="modal-title" id="exampleModalLabel">
                                                        <button type="button" class="close closeModal
                                                            padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                                        <img class="edit-image-width" src="./dist/img/Add_Whatsapp.png" alt="">
                                                        Add Question
                                                    </h4>
                                                    {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                                                </div>
                                                <form id="faq-form" role="form">
                                                    <div class="row margin-top-header">
                                                        <div class="col-md-12">
                                                            <label for="tag-name">Tag Name</label>
                                                            <input type="text" id="tag-name" name="tag-name" class="form-control"
                                                                placeholder="Tag Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-top-header">
                                                        <div class="col-md-12">
                                                            <label for="question">Question</label>
                                                            <input type="text" id="question" name="question" class="form-control"
                                                                placeholder="Question" required>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-top-input">
                                                        <div class="col-md-12 ">
                                                            <label for="answer">Answer</label>
                                                            <textarea type="text" id="answer" value="" name="answer" class="form-control"
                                                                placeholder="Answer" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 intent_model_btn">
                                                            <button type="button" class="discard_Btn closeModal"
                                                                onclick="discard(event)">Discard</button>
                                                            <button type="submit" value="Submit"
                                                                class="save_button createUser">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="yubo_model tree_model">
                                <div class="modal" id="edits_questions">
                                    <div class="modal-dialog modl_dialg_10">
                                        <div class="modal-content  new_modal_content" style="margin-top:5%;">
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="row">
                                                    <h4 class="modal-title" id="exampleModalLabel">
                                                        <button type="button" class="close closeModal
                                                            padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                                        <img class="edit-image-width" src="./dist/img/Add_Whatsapp.png" alt="">
                                                        Edit Question
                                                    </h4>
                                                    {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                                                </div>
                                                <form id="faq-form1" role="form">
                                                    <div class="row margin-top-header">
                                                        <div class="col-md-12">
                                                            <label for="tag-name">Tag Name</label>
                                                            <input type="text" id="tag-name1" name="tag-name" class="form-control"
                                                                placeholder="Tag Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-top-header">
                                                        <div class="col-md-12">
                                                            <label for="question">Question</label>
                                                            <input type="text" id="question1" name="question" class="form-control"
                                                                placeholder="Question" required>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-top-input">
                                                        <div class="col-md-12 ">
                                                            <label for="answer">Answer</label>
                                                            <textarea type="text" id="answer1" value="" name="answer" class="form-control"
                                                                placeholder="Answer" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 intent_model_btn">
                                                            <button type="button" class="discard_Btn closeModal"
                                                                onclick="discard(event)">Discard</button>
                                                            <button type="submit" value="Submit"
                                                                class="save_button createUser1">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;">
                    <button    type="button" 
                    id="loadMoreButtonId"
                    class=" btn btn-secondary
                    button-color border-radius-button down_excel new_button" 
                    style="" 
                    onclick="loadMore(event)" 
                    >Load More
                    </button>

                </div>
        </div>
        
        <!-- form to edit the intent-->
        
        <!-- form for add intent button click -->

        <form id="add_form" role="form">
            <div class="yubo_model ad_intent">
                <div class="modal fade" id="add_intent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-contents">
                            <div class="modal-header">
                                <button type="button" class="modal_close" onclick="discard(event)" aria-label="Close">
                                    &times;
                                </button>
                                <h4 class="modal-title float-heading-none color-white" id="exampleModalLabel">
                                    <img class="edit-image-width" src="./dist/img/edit_intent.png" alt="">
                                    Add Intent
                                </h4>

                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-box left-card-box">
                                            <div class="card-heading" style="margin-top: 35px;">
                                                <div style="display:flex">
                                                    <p class="custom-title">Title</p>
                                                    <input class="form-control input-md custom-input" type="text"
                                                        name="clock" id="add_tag" autocomplete="off"
                                                        placeholder="Intent Name" list="intents" style="width: 30%;" required>
                                                </div>
                                                <datalist id="intents">
                                                </datalist>
                                            </div>
                                            <div class="row">
                                                        <div class="col-md-12" style="display:inline-flex ;">
                                                            <h5 class="col-md-4 sample mt-2" style="padding-left: 15px;">Sample Phrases</h5>
                                                            <div class="col-md-8 added-phrases  ">
                                                                <button type="button" onclick="addSingleIntentPattern()" class="btn-phrases">
                                                                    Auto Generate</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="col-md-12 phrase-body phrase-Abody">
                                                <div id="Addloader" class="row loader" style="display:none;">
                                                    <center><img src="./dist/img/yubo_loader.gif" class="loader_img"></center>
                                                    <center><div class="loader-text">Generating training phrases..</div></center>
                                                </div>
                                                <div class="card-body scrollable scroll-x card-contents">
                                                    <div class="row">
                                                        <div class="col-lg-12 ">
                                                            <div
                                                                class="add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width height-scroll">
                                                                <input id="add_expression"
                                                                    placeholder="Add a Value Expression"
                                                                    class=" add_txtSearchProdAssign form-control"
                                                                    name="expression" value="{{name}}"
                                                                    style="margin-bottom:15px !important;" required />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bot-card" >
                                        <div class="card-box-one">
                                            <div class="text_Response">
                                                <h5 class="custom-title text-title">Bot Response</h5>
                                                <div id="add_textresp">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 entities-card">
                                        <div class="entities-div entity_div">
                                            <div class="entity_header entity_header_margin">
                                                <div class="entity_title">
                                                    <h5 class="custom-title1 text-title">Entities</h5>
                                                </div>
                                                {{!-- <div class="intent_switchBtn">
                                                    <p class="slider_intent_text">Weak</p>
                                                    <label class="switch_intent">
                                                        <input type="checkbox">
                                                        <span class="slider_intent round_intent">
                                                        </span>
                                                    </label>
                                                    <p class="slider_intent_text">Strong</p>
                                                </div> --}}
                                            </div>
                                            <div class="entity two-entities">
                                                {{!-- <div class="entity_tag"></div> --}}
                                                {{!-- <textarea type="text" class="entity_input"></textarea> --}}
                                                <ul class="tags-input existingdata">
                                                    <li class="tags-new">
                                                        <textarea type="text" placeholder="Type your entity"></textarea>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="intent_model_btn">
                                            <button type="button" class="discard_Btn btn-discards"
                                                onclick="discard(event)">Discard</button>
                                            <button type="submit" value="Save" class="save_button btn-saved">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

       {{>footer}}
 
</div>
</section>
</div>

{{!-- {{>footer}} --}}


<script type="text/javascript">
    async function loadIntents() {
        
        const intents = document.getElementById("loadIntent");
        const fdata = new FormData();
        fdata.append("intents", intents.files[0])

        var filePath = document.getElementById('loadIntent').value
        var allowedExtensions = /(\.json)$/i;

       // console.log('file path', allowedExtensions.exec(filePath))
        
       if (!allowedExtensions.exec(filePath)) {
            swal("file format you have uploaded is not valid.")
        } 
        else 
        {
          fetch('/uploadIntents', {
            method: "post",
            body: fdata
        }).then(resp => resp.json())
            .then(async result => {

                var trHTML = '';
                result.forEach(async function (item, i) {
                    var patterns = item.patterns;
                    var displayPattern = '';
                    for (data of patterns) {
                        displayPattern += '<div class="showPattern">' + data + '</div>';
                    }
                    if (item.active_status == "off") {
                        checkValue = ""
                        cvalue = "off"
                        checkTitle = "Inactive"
                    } else {
                        checkValue = "checked"
                        cvalue = "on"
                        checkTitle = "Active"
                    }
                    if (item.analyticsFlag == true) {
                        analyticsValue = "checked"
                        avalue = "on"
                        title = "Intent_Analytics_True"
                        let analyticsDiv = document.getElementById('"'+item._id+'"')
                        analyticsDiv.classList.add("analytics-active");
                    } else {
                        analyticsValue = ""
                        avalue = "off"
                        title = "Intent_Analytics_False"
                        let analyticsDiv = document.getElementById('"'+item._id+'"')
                        analyticsDiv.classList.remove("analytics-active");
                    }
                    /*trHTML += '<div class="card intent_fader"><div class="intent-cont-header"><div class="intent-box-header"><div class="user card-header" value=' + item._id + ' id=' + i + '>' + item.tag + '</div><div class="editIntent" data-toggle="modal" data-target="#openModal" value=' + item._id + '><i class="fa fa-edit" title="Edit Intent"></i></div><div class="delBtn" value=""><button id=' + item._id + ' value="" type="button" onclick="deleteIntent(this.id,this.value)"class="delete_intent"><i class="fa fa-trash-o" title="Delete"></i></button></div></div></div><div class="bodyContainer">' + displayPattern + '</div></div>';
                    $('#tBody').html(trHTML).fadeIn();*/
                     trHTML += '<div class="card intent_fader"><div class="intent-cont-header"><div class="intent-box-header"><div class="user card-header" value=' + item._id + ' id=' + i + '>' + item.tag + '</div><div class="intent-actions">'+
                '<label title=' + checkTitle + ' class="switch"><input id=' + item._id + ' value=' + cvalue + ' onchange="inactiveIntent(this.id, this.value)" type="checkbox" hidden=""' + checkValue + '><span class="slider round-new"></span></label>'+
                '<button  id='+ item._id + ' value='+avalue+' class="analytics-btn analytics-active" onclick="selectAnalytics(this.id, this.value)"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>'+
                '<div class="editIntent" data-toggle="modal" data-target="#openModal" value=' + item._id + '><img src="dist/img/updated-icon/new_edit_icon.png" class="intent_edit"></div><div class="delBtn" value=""><button id=' + item._id + ' value="' + item.tag + '" type="button" onclick="deleteIntent(this.id,this.value)" class="delete_intent"><img src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents"></button></div></div></div></div><div class="bodyContainer">' + displayPattern + '</div></div>';
                $('#tBody').html(trHTML).fadeIn();
                })

                var item = '';
                for(int of result) {
                      item += '' + int.tag + ',';   
                }
                 if(item) {
                     await swal("   Successfully  uploaded,  Already available intents", item)
                 } else {
                     await swal("Successfully uploaded")
                 }   
               // await swal("Already available intents", item)
                location.reload();
            })
            .catch(error => {
                swal("Looks like the file format you have uploaded is not valid.")
                //location.reload();
            }
            )  

        }
 
    }

    function OnSearch() {
      var input = document.getElementById("srch_term");
      var filter = input.value.toLowerCase();
      var nodes = document.getElementsByClassName('intent_fader');

      for (i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
            nodes[i].style.display = "inline-block";
        } else {
          nodes[i].style.display = "none";
        }
      }
    }

   /* const srch_box = document.getElementById('srch_term');
    srch_box.addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
            keywordSrch();
        }else{
            if(document.getElementById('srch_term').value.length == 0){
               document.getElementById('keyword').value="";
               document.getElementById('srch_term').value = "";
               getIntentList();
            }
        }
    });

    async function keywordSrch() {
        var val = document.getElementById('srch_term').value;
        if (val) {
            await location.replace('/intent?keyword=' + val);
        } else {
            location.href = '/intent'
        }
    } */

    var item;
    var item_id;
    // document.getElementById("add_form").addEventListener("submit", addIntents);
    /** Generates new input fields on click of input fields for Add Intent*/
    var inputVal;
    var add_wrapper = $(".add_input_fields_wrap");
    var add_bottom = $(".add_bottom-div");
    $(document).on("keypress", "input.add_txtSearchProdAssign", function (e, j) {
        if (e.which == 13) {
            inputVal += $(this).val();
            index = $('input.add_txtSearchProdAssign').index(this);
            $(add_wrapper).append('<div class=" add_input_fields_wrap form-group input-icons-i"><input class="add_txtSearchProdAssign keypattern form-control" placeholder="Add a Value Expression" value="" required /><i class="add_remove_field fa fa-trash"></i></div>');

        }
    });
      //Assign New input fields on keypress edit field
    $(document).on("keypress", "input.txtSearchProdAssign", function (e, j) {
        if (e.which == 13) {
            inputVal += $(this).val();
            index = $('input.txtSearchProdAssign').index(this);
            $(wrapper).append('<div class=" input_fields_wrap form-group input-icons-i"> <input class="txtSearchProdAssign keypattern form-control" placeholder="Add a Value Expression" name="name" value="" required /> <i class="remove_field fa fa-trash"></i></div>');
            
        }
    });
  

    //Remove fields on click of delete icon a Add Intenta
    $(add_wrapper).on("click", ".add_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })

    $(add_bottom).on("click", ".add_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    });
    //After Clicking save btn this fn called and retrieve all info from Input fields
    // function addIntents() {
    document.getElementById("add_form").addEventListener("submit", function (event) {
        event.preventDefault();
        var data_id;
        var add_values = [];
        var add_greetresp = [];
        let entities = [];

        $('.entitiesTag').each(function () {
            if ((!$(this).closest('.tags-input').hasClass('existingdata'))) {
                entities.push($(this).html())
            }
        })
      
        if (entities.length < 1) {
            entities = []
        }

        $('.add_txtSearchProdAssign').each(function () {
            if (this.value != '') {
                add_values.push(this.value);
            }
        });

         var botContent = tinyMCE.get("add_textresp").getContent();
         add_greetresp.push(botContent);
        var tag = document.getElementById('add_tag').value;
        tag = tag.toLowerCase()
        tag = tag.replace(/\s+/g, "_");
        //Send all info from form to api for saving all info related to Intent
        console.log(entities)
        $.ajax({
            type: "POST",
            url: "/addIntentData",
            timeout: 10000,
            data: { tag: tag, pattern: add_values, response: add_greetresp, entitytype: '', entites: entities, createintent: "" },
            success: async function (resp) {

                if (resp == 'exists') {
                    await swal('Intent Name Exists')
                   // await alert('Intent Name Exists');
                } else if (resp == 'intent created successfully') {
                    swal("Cool !", "Intent created successfully!", {
                        icon: "success",
                        buttons: false,
                        timer: 1500
                    });
                    location.reload();
                }
            },
            error: function (jqXHR, textStatus, err) {
                alert('Something went wrong, please refresh the page')
            }
        });
    });

    // document.getElementById("edit_form").addEventListener("submit", sendgreetings);
    var wrapper = $(".input_fields_wrap");
    var bottom = $(".bottom-div");

    //Remove fields on click of delete icon
    $(wrapper).on("click", ".remove_field", function (e) {

        e.preventDefault(); $(this).parent('div').remove();
    })
    $(bottom).on("click", ".remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })
    var values = [];
    var greetresp = [];
    // function sendgreetings() {
    document.getElementById("edit_form").addEventListener("submit", function (event) {
        event.preventDefault();
        var data_id;
        var values = [];
        var greetresp = [];
        var entities = [];

        $('.entitiesTag').each(function () {
            if ((!$(this).closest('.tags-input').hasClass('existingdata'))) {
                entities.push($(this).html())
            }
        })
        if (entities.length < 1) {
            entities = [];
        }
        $('.txtSearchProdAssign').each(function () {
            if (this.value != '') {
                values.push(this.value);
            }
        });
         var botContent = tinyMCE.get("bot_responce").getContent();
         greetresp.push(botContent);
        var tag = document.getElementById('tag').value;
        tag = tag.toLowerCase()
        var id = $('.new-div').attr('id');
        //Send all info from form to api for saving all info related to Intent
        $.ajax({
            type: "POST",
            url: "/editIntentData",
            timeout: 10000,
            data: { tag: tag, pattern: values, entites: entities, entitytype: '', response: greetresp, id: id },
            success: function (resp) {

                if (resp == 'exists') {
                    swal('Intent Name Exists')
                   // alert('Intent Name Exists ');
                    $('#tag').css('border-color', 'red');
                  //  $('#tag').val('Intent name exits');
                } else {
                    alert('Intent updated Successfully')
                    location.reload();
                }
            },
            error: function (jqXHR, textStatus, err) {
                alert('Something went wrong, please refresh the page')
            }
        });
    });

   function getIntentList(){
    $.ajax({
        type: "POST",
        url: "/intent",
        data: { data: document.getElementById('keyword').value },
        timeout: 10000,
        success: function (resp) {
            $("#srch_term").val(document.getElementById('keyword').value)
            var resp = resp.query;
            var trHTML = '';
            resp.forEach(function (item, i) {

                if (item.active_status == "off") {
                    checkValue = ""
                    cvalue = "off"
                    checkTitle = "Inactive"
                } else {
                    checkValue = "checked"
                    cvalue = "on"
                    checkTitle = "Active"
                }
                 if (item.analyticsFlag == true) {
                        analyticsValue = "checked"
                        avalue = "on"
                        title = "Intent-Analytics-Enabled"
                       // let analyticsDiv = document.getElementById('"'+item._id+'"')
                      //  console.log(analyticsDiv)
                       // analyticsDiv.classList.add("analytics-active");
                    } else {
                        analyticsValue = ""
                        avalue = "off"
                        title = "Intent-Analytics-Disabled"
                      //  let analyticsDiv = document.getElementById('"'+item._id+'"')
                      //   console.log(analyticsDiv)
                       // analyticsDiv.classList.remove("analytics-active");
                    }
                var patterns = item.patterns;
                var displayPattern = '';
                for (data of patterns) {
                    displayPattern += '<div class="showPattern">' + data + '</div>';
                }
               trHTML += '<div class="card intent_fader"><div class="intent-cont-header"><div class="intent-box-header"><div class="user card-header" value=' + item._id + ' id=' + i + '>' + item.tag + '</div><div class="intent-actions">'+
                '<label title=' + checkTitle + ' class="switch"><input id=' + item._id + ' value=' + cvalue + ' onchange="inactiveIntent(this.id, this.value)" type="checkbox" hidden=""' + checkValue + '><span class="slider round-new"></span></label>'+
                 '<label  title=' + title + ' class="switch-graph"><input id=' + item._id+`_uniqueId` + ' class=' + item._id +  ' value=' + avalue + ' onchange="selectAnalytics(this.id, this.value)" type="checkbox" hidden=""' + analyticsValue + '><i class="fa fa-pie-chart" aria-hidden="true"></i><span class="slider round-new"></span></label>'+
                '<div class="editIntent" data-toggle="modal" data-target="#openModal" value=' + item._id + '><img src="dist/img/updated-icon/new_edit_icon.png" class="intent_edit"></div><div class="delBtn" value=""><button id=' + item._id + ' value="' + item.tag + '" type="button" onclick="deleteIntent(this.id,this.value)" class="delete_intent"><img src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents" ></button></div></div></div></div><div class="bodyContainer">' + displayPattern + '</div></div>';
                $('#tBody').html(trHTML).fadeIn();


            });
        }, error: function (jqXHR, textStatus, err) {
            alert('Something went wrong, please refresh the page')
        }
    });
   }
   getIntentList();

    var edit_wrap = $(".input_fields_wrap");
    var bottom_wrap = $(".bottom-div");

    $(edit_wrap).on("click", ".edit_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })
    $(bottom_wrap).on("click", ".edit_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })

    $("#joy").on("click", ".editIntent", function () {
        $('.new-div').remove();
        $('.edit-resp').remove();
        var value = $(this).attr('value');
        $(".popup").attr("id", value);

        $.ajax({
            type: "POST",
            url: "/intentbyid",
            timeout: 2000,
            data: { intentId: value },
            success: function (data) {
                data_id = data[0]._id;
                var pattern = data[0].patterns;
                var response = data[0].responses;
                var entities = data[0].entities;

                $('#tag').attr("value", data[0].tag)

                $.each(pattern, function (i) {
                    if (i > 0) {
                        var html = '<div class="new-div form-group input-icons-i" id=' + data_id + ' role="dialog"><input id="exp" placeholder="Add a Value Expression" class=" keypattern txtSearchProdAssign edit form-control" name="expression" value="' + pattern[i] + '" required="true" /><i class="edit_remove_field fa fa-trash"></i></div>';
                    } else {
                        var html = '<div class="new-div form-group input-icons-i" id=' + data_id + ' role="dialog"><input id="exp" placeholder="Add a Value Expression" class=" keypattern txtSearchProdAssign edit form-control" name="expression" value="' + pattern[i] + '" required="true" /></div>';
                    }
                    $(edit_wrap).append(html);
                });
                $.each(response, function (i) {
                   $(bottom_wrap).val(tinyMCE.activeEditor.setContent(response[i]))
                });
                $.each(entities, function (i) {
                    if (i >= 0) {
                        var entitiesdata = $('<li class="tags"><span class="entitiesTag">' + entities[i] + '</span><img class="entity-close" src="./dist/img/cross-sign.png" alt="cross-image"></li>').insertBefore($(".tags-new"));
                    }
                })
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please refresh the page")
            }
        });
    });
    function discard(e) {
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Want to discard changes",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((discard) => {
            if (discard) {
                $('#openModal').modal('hide');
                $('#add_intent').modal('hide');
                $('#edits_questions').modal('hide');
                $('#add_questions').modal('hide');
            } else {
                swal("Your intents are safe!");
            }
        });
    }

    function deleteIntent(id, name) {

        //var result = confirm("Are you sure want to delete " +name+"?");
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this intent!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/deleteintent",
                        timeout: 2000,
                        data: { intentId: id, intentName: name },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (jqXHR, textStatus, err) {
                            //alert('text status '+textStatus+', err '+err)
                            swal("Something went wrong, please refresh the page");
                        }
                    });
                } else {
                    swal("Your intents are safe!");
                }
            });
    }

</script>
<script type="text/javascript">

    async function inactiveIntent(id, val) {
        if (val == "on") {
            val = "off"
        } else {
            val = "on"
        }
        document.getElementById(id).value = val

        $.ajax({
            type: "POST",
            url: "/setActiveStatus",
            data: { status: document.getElementById(id).value, id: id },
            success: async function (resp) {
                if (resp.message == "success") {
                    if (val == "off") {
                        await swal({
                            title: "Intent gets inactive",
                            icon: "success",
                            button: "OK",
                        })
                    } else {
                        await swal({
                            title: "Intent gets active",
                            icon: "success",
                            button: "OK",
                        })

                    }
                    //location.reload();
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }

    async function selectAnalytics(id, val) {
        let status
        if (val == "on") {
            document.getElementById(id).value = 'off'
            val = "off"
            status = false
        } else {
            document.getElementById(id).value = 'on'
            val = "on"
            status = true
        }
        let intentId = id.split('_')[0]
        $.ajax({
            type: "POST",
            url: "/setAnalyticsFlag",
            data: { analyticsFlag: status, id: intentId },
            success: async function (resp) {
                if (resp.statusCode == "200") {
                    if (val == "off") {
                        await swal({
                            title: "Analytics deactivated successfully",
                            icon: "success",
                            button: "OK",
                        })
                    } else {
                        await swal({
                            title: "Analytics activated successfully",
                            icon: "success",
                            button: "OK",
                        })

                    }
                    //location.reload();
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }
    
    function trainIntent() {
        let wrapper = document.createElement('div');
        wrapper.id = "save_loading";
        wrapper.class = "save_loading";
        wrapper.innerHTML = '<img src="/img/loader.gif">';
        $.ajax({
            type: "POST",
            url: "/getTrainData",
            timeout: 300000,
            beforeSend: function () {
                swal({
                    title: 'Training in progress...',
                    content: wrapper,
                    button: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                })
            },
            success: async function (resp) {
                if (resp.message && resp.message.status == "success") {
                    let htmlDiv = document.createElement("div");
                    htmlDiv.id = "chartdiv";
                    await amchart(resp.message.data.validation_accuracy, htmlDiv)
                    swal("Cool !", "Training done successfully!", {
                        icon: "success",
                        content: htmlDiv,
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        buttons: [false, "Close"],
                        // timer: 1500
                    });
                }
                else if (resp.message == "empty") {
                    swal("Oops !", "No intents to train!", {
                        icon: "error",
                        buttons: false,
                        timer: 1500
                    });
                }
                else {
                    swal({
                        title: "The given file format is not valid.",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
        //  }
    }

    function trainFaqs() {
        let wrapper = document.createElement('div');
        wrapper.id = "save_loading";
        wrapper.class = "save_loading";
        wrapper.innerHTML = '<img src="/img/loader.gif">';
        $.ajax({
            type: "POST",
            url: "/getFaqData",
            timeout: 300000,
            beforeSend: function () {
                swal({
                    title: 'Training in progress...',
                    content: wrapper,
                    button: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                })
            },
            success: async function (resp) {
                if (resp.message && resp.message.status == "success") {
                    swal("Cool !", "Training done successfully!", {
                        icon: "success",
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        buttons: [false, "Close"]
                    });
                }
                else if (resp.message == "empty") {
                    swal("Oops !", "No faqs to train!", {
                        icon: "error",
                        buttons: false,
                        timer: 1500
                    });
                }
                else {
                    swal({
                        title: "The given file format is not valid.",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }


    function saveText(text, filename) {
        var a = document.createElement('a');
        a.setAttribute('href', 'data:text/plain;charset=utf-u,' + encodeURIComponent(text));
        a.setAttribute('download', filename);
        document.body.appendChild(a);
        a.setAttribute("style", "display: none;");
        a.click();
        a.remove();
    }

</script>

<script>
    loadTreeJson() //For showing the node names inside intent names dropdown

    $('.intent_excel').click(function () {
        var comm_arr = [];
        var data = JSON.stringify(comm_arr);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            }
        };
        xhttp.open("POST", "/intentexcel", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.responseType = "blob";
        xhttp.onload = function (event) {
            if (xhttp.getResponseHeader("intents") == "false" && xhttp.getResponseHeader("fileName") == null) {
                return alert("There are no intents to download")
            }

            let intents = xhttp.getResponseHeader("intents"),
                blob = xhttp.response,
                fileName = xhttp.getResponseHeader("fileName"), /*if you have the fileName header available */
                link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = fileName;
            link.click();
        };
        xhttp.send(data);

    })
</script>

<script>
    function existingTag(text) {
        var existing = false,
            text = text.toLowerCase();

        $(".tags").each(function (i) {
          
            if ($(this).text().toLowerCase() == text) {
                existing = true;
                return "";
            }
        });

        return existing;
    }

    $(function () {
        $(".tags-new textarea").focus();
        $(".tags-new textarea").keyup(function (e) {

            var tag = $(this).val().trim(),
                length = tag.length;
            if (length > 0 && ((tag.charAt(length - 1) == ',') && (tag != ",") || e.which == 13)) {
                tag = ((tag.charAt(length - 1) == ',') && (tag != ",")) ? tag.substring(0, length - 1) : tag.substring(0, length)
                if (!existingTag(tag)) {
                    $('<li class="tags"><span class="entitiesTag">' + tag + '</span><img class="entity-close" src="./dist/img/cross-sign.png" alt="cross-image"></li>').insertBefore($(".tags-new"));
                    $(this).val("");
                }
                else {
                    $(this).val(tag);
                }
            }
        });

        $(document).on("click", ".tags .entity-close", function () {
            $(this).parent("li").remove();
        });

    });

    
    function updatePatterns() {
        var arrData = []
         var data = document.getElementsByClassName('keypattern')
         for(let i=0; i<data.length;i++) {
            if(data[i].value) {
               arrData.push(data[i].value)
            }
         }
         
         if(arrData.length>=1) {
            $('#loader').show()  

            $.ajax({
            type: "POST",
            url: "/updatePatterns",
            data: {data:arrData},
            success: async function (resp) {
               $('#loader').hide()
                if (resp.msg.status == "success") {
                    var newRes = resp.msg.data.phrase_array
                    var displayPattern =''
                    for (data of newRes) {
                        displayPattern += '<div class="new-div form-group input-icons-i" id=' + data_id + ' role="dialog"><input id="exp" placeholder="Add a Value Expression" class=" keypattern txtSearchProdAssign edit form-control" name="expression" value="' + data + '" required="true" /><i class="edit_remove_field fa fa-trash"></i></div>';
                        
                    }
                    $('.input_fields_wrap').html(displayPattern)
                    //location.reload();
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
         } else {
            swal({
                title: "At least one sample phrase is required for Auto Generation",
                icon: "error",
                button: "OK",
            });
         }   

    }

    function addSingleIntentPattern() {
        var arrData = []
         var data = document.getElementsByClassName('add_txtSearchProdAssign')
         for(let i=0; i<data.length;i++) {
            if(data[i].value) {
               arrData.push(data[i].value)
            }
         }
        
         if(arrData.length>=1) { 
            $('#Addloader').show() 

            $.ajax({
            type: "POST",
            url: "/updatePatterns",
            data: {data:arrData},
            success: async function (resp) {
               $('#Addloader').hide()
                if (resp.msg.status == "success") {
                    var newRes = resp.msg.data.phrase_array
                    var displayPattern =''
                    for (data of newRes) {
                       displayPattern +='<div class="add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width " style="margin-bottom: 0px"> <input id="add_expression" placeholder="Add a Value Expression" class="add_txtSearchProdAssign form-control" name="expression" value="' + data + '" required /><i class="add_remove_field fa fa-trash addEditBtn"></i></div>'
                        
                    }
                    $('.add_input_fields_wrap').html(displayPattern)
                    //location.reload();
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
         } else {
            swal({
                title: "At least one sample phrase is required for Auto Generation",
                icon: "error",
                button: "OK",
            });
         }   

    }

</script>

<script>

    tinymce.init({
        selector: '#add_textresp',
        // inline: true,
        menubar:false,
        statusbar: false,
        toolbar: 'undo redo | bold italic | link image',
        forced_root_block:'',
        force_br_newlines:true,
        force_p_newlines : false,
        entity_encoding : "raw",
        convert_fonts_to_spans: false,
        plugins: "link,paste",
        paste_as_text: true
    });  

    tinymce.init({
        selector: '.bottom-div',
        // inline: true,
        menubar:false,
        statusbar: false,
        toolbar: 'undo redo | bold italic | link image',
        forced_root_block:'',
        force_br_newlines:true,
        force_p_newlines : false,
        entity_encoding : "raw",
        convert_fonts_to_spans: false,
        plugins: "link,paste",
        paste_as_text: true
    });  
 function downloadExcel() {
        // make a GET request to the server to download the Excel file
        window.location.href = '/excel';
      }

    function handleFileSelect(event) {
  const file = event.target.files[0];
  const formData = new FormData();
  formData.append('file', file);
  fetch('/bulkFaqs', {
    method: 'POST',
    body: formData
  })
  .then(response => {
    if (response.ok) {
      swal({
        title: "Data has been uploaded successfully!",
        text: "Successfully updated in database",
        icon: "success",
        timer: 3500,
      }).then(() => {
          getBulkData();
        });
      
    } else {
      swal({
        title: "Error",
        text: "An error occurred while uploading the file",
        icon: "error",
      });
      throw new Error('File upload failed');
    }
  })
  .then(text => {
    // Display the response in the #result element
    document.getElementById('result').textContent = text;
  })
  .catch(error => {
    // Display an error message
    swal({
      title: "Error",
      text: "Invalid excel file!",
      icon: "error",
    });
  });
}

 
</script>
<script>
 const faqForm = document.querySelector('#faq-form');
      faqForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const tagName = document.querySelector('#tag-name').value;
        const question = document.querySelector('#question').value;
        const answer = document.querySelector('#answer').value;
        const data = {
          tagName,
          question,
          answer,
        };
        const response = await fetch('/addQuestion', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
        if (response.ok) {
            
          document.querySelector('#tag-name').value = '';
          document.querySelector('#question').value = '';
          document.querySelector('#answer').value = '';
          swal({
            title: "Good job!",
            text: "Question Has been added successfully!",
            icon: "success",
        })
         afterOperationReloadPage();

        } else {
          swal("Tag name is already used!");
        }
      });
</script>
<script>
let skip = 0;
let limit = 10;
docCount = 0
function getBulkData () {
  let searchData = $("#searchBoxId").val();
    //$(".zeroShotDataDiv").html("");
let data = {
    searchItem: searchData,
    skip: skip,
    limit: limit,
    status: 200
  };
    
    $.ajax({
        url: "/getIntentBulkData",
        method: "GET",
        data: data,
        success: function (response) {
            skip= response.skip
            docCount = response.docCount
            console.log("response", response)
            let result = response.result
            for (let data of result ) {
                data.answer=data.answer.replace(new RegExp("\r\n", "g"),'<br>');
                data.answer=data.answer.replace(new RegExp("\n", "g"),'<br>');
                data.question=data.question.replace(new RegExp("\r\n", "g"),'<br>');
                data.question=data.question.replace(new RegExp("\n", "g"),'<br>');
                let html = `<div class="card intent_fader_bulk">
                                        <div class="row bluk-options">
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderR-image">
                                                <div class="user card-headerB"><span><input type="checkbox" onclick="toggleDeleteButton()"class="delete-checkbox" data-id="${data._id}" /></span>${data.tagName}</div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: -6px;">
                                                <div class="intent-actions bluk_iActions">
                                                  <label title="" class="switch">
                                                    <input id="${data._id}" value="${data.status}" onchange="inactiveIntentBulk('${data._id}', this.checked ? 1 : 0)" type="checkbox" data-id="${data._id}" hidden="" ${data.status ? 'checked' : ''}>
                                                    <span class="slider round-new"></span>
                                                    </label>
                                                    {{!-- <button id="${data._id}" data-value="${data.analyticStatus}" class="analytics-btn-bulk ${data.analyticStatus ? 'analytics-active' : 'analytics-inactive'}" onclick="toggleAnalytics(event, this.id, this.getAttribute('data-value'))" style="border: none;background-color: transparent; ">
                                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                                    </button> --}}
                                                    
                                                   <div class="editIntent1" id="${data._id}" onclick="openEditModal('${data._id}')">
                                                        <img src="dist/img/updated-icon/new_edit_icon.png" class="intent_edit">
                                                    </div>
                                                    <div class="delBtn" value=""><button id=' ${data._id} ' value="${data.tagName}" type="button"
                                                            onclick="deleteIntent2(this.id,this.value)" class="delete_intent"><img
                                                                src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row que_answer">
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderL-ques">
                                                <div class="">${data.question}</div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 borderL-ans">
                                                <div class="">${data.answer}</div>
                                            </div>
                                        </div>
                                    </div>`;
                                $(".zeroShotDataDiv").append(html)
            }

            
        }
    });

}
getBulkData();

function loadMore(event) {
  skip = Number(skip) + Number(limit);
  if (docCount >= skip) {
    getBulkData();
  } else {
    $("#loadMoreButtonId").hide();
  }
}


var delayTimer;
function searchFunction(e) {
    clearTimeout(delayTimer);
    delayTimer= setTimeout(()=>{
        $(".zeroShotDataDiv").html("");
        skip = 0;
        getBulkData();
        return;
    },400)
    
  }

  let timeout=null;
  function onTypingEvent(e) {
    let ascii,
      key = e.key;
    ascii = key.charCodeAt(0);
  
    let searchData = $("#searchBoxId").val();
    if(timeout){
        clearTimeout(timeout)
    }
    if (ascii != 66) {
      if (searchData.length > 3) {
        timeout=setTimeout(()=>{
          $(".zeroShotDataDiv").html("");
        skip = 0;
        // getgroupdata();
        searchFunction(e)
        return;
        }, 500)
        
      }
    }
    if (searchData.length == 0) {
      $(".zeroShotDataDiv").html("");
      skip = 0;
      getBulkData();
    }
  }
function inactiveIntentBulk(id, status) {
  $.ajax({
    type: "PATCH",
    url: "/zeroShotStatus",
    data: JSON.stringify({
      id: id,
      status: status
    }),
    contentType: "application/json",
    success: function(response) {
      console.log(response.message);

      if (status == 1) {
        swal("Success", "Activated successfully.", "success");
      } else {
        swal("Success", "Inactivated successfully.", "success");
      }
    },
    error: function(xhr, status, error) {
      console.log("Error: " + error);
    }
  });
}




</script>
<script>

$('.createUser1').click(function(e){
    e.preventDefault();
    let answer = tinyMCE.get("answer1").getContent();
    let question = $('#question1').val();
    let tagName = $('#tag-name1').val();
    let _id = $('.editIntent1').attr('id');
 $.ajax({
        type: 'post',
        url: "/editBulkIntentData",
        data: { tagName: tagName, answer: answer, question: question, _id: _id },
        success: function(res) {
            swal({
            title: "Good job!",
            text: "Data has been updated successfully",
            icon: "success",
            timer: 1000
            });            
            $('#edits_questions').modal('hide');
            afterOperationReloadPage();

        }
    });
});

function openEditModal(_id ) {
    $.ajax({
        type: 'post',
        url: "/getZeroShotDataById",
        data: { _id : _id },
        success: function(res) {
             $('#tag-name1').val(res.data.tagName);
             $('#question1').val(res.data.question);
             $('.editIntent1').attr('id', _id);
             tinymce.init({
                 selector: '#answer1',
                 // inline: true,
                 menubar:false,
                 statusbar: false,
                 toolbar: 'undo redo | bold italic | link image',
                 forced_root_block:'',
                 force_br_newlines:true,
                 force_p_newlines : false,
                 entity_encoding : "raw",
                 convert_fonts_to_spans: false,
                 plugins: "link,paste",
                 paste_as_text: true
             });  
             $('#answer1').val(tinyMCE.activeEditor.setContent(res.data.answer));
             $('#edits_questions').modal('show');
        }
    });
}
function selectAllCheckboxes() {
  const selectAllCheckbox = document.getElementById('selectAll');
  const checkboxes = document.querySelectorAll('.delete-checkbox');

  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAllCheckbox.checked;
  });

  toggleDeleteButton();
}

function toggleDeleteButton() {
  const deleteButton = document.getElementById('deleteSelectedBtn');
  const checkboxes = document.querySelectorAll('.delete-checkbox:checked');
  if (checkboxes.length > 0) {
    deleteButton.classList.remove('hide');
  } else {
    deleteButton.classList.add('hide');
  }
}

function deleteSelectedData() {
  const checkboxes = document.querySelectorAll('.delete-checkbox:checked');
  const selectedIds = Array.from(checkboxes).map((checkbox) => checkbox.dataset.id);

  if (selectedIds.length === 0) {
    swal('Please select at least one item to delete.');
    return;
  }

    swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this intent!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((confirmed) => {
    if (confirmed) {
      $.ajax({
        type: 'POST',
        url: '/deleteSelected',
        data: { ids: selectedIds },
        success: function (data) {
          swal(data.message);
          skip= 0;

          getBulkData();
            const deleteButton = document.getElementById('deleteSelectedBtn');

            deleteButton.classList.add('hide');


        },
        error: function (jqXHR, textStatus, err) {
          console.log(err);
          swal('Error deleting data. Please try again.');
        }
      });
    }
  });
}

toggleDeleteButton();

$( document ).ready(function() {
    {{#if userTypePro}}
        $("#intent-selection").addClass("active");
        document.getElementById('intent-selection').style.display = "block";
    {{else}}
        $("#bulk-selection").addClass("active");
        document.getElementById('bulk-selection').style.display = "block";
    {{/if}}
});
</script>
<script>
    function afterOperationReloadPage(){
        $("#add_questions").modal('hide');
        $(".zeroShotDataDiv").html("");
        skip = 0;
        limit = 10;
        getBulkData();
    }
</script>
</body>

</html>