{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

<link rel="stylesheet" href="/dist/css/language.css">
<script src="https://rawcdn.githack.com/FuriosoJack/TableHTMLExport/v2.0.0/src/tableHTMLExport.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{{!-- <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</link> --}}
<link  href="https://cdnjs.cloudflare.com/ajax/libs/font- 
awesome/4.7.0/css/font-awesome.min.css"
 rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
 

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper cont_wrap0">
  <!-- Main content -->
  <section class="content">
    <div class="lang_clss">
      <div class="row margin-top-pad">
             <div class="col-md-4">
          <h1 class="main-title" style="font-size: 30px; padding-left: 26px; margin-bottom: -3px;">Languages</h1>
        </div>
      </div>
      <!-- Example single danger button -->
      {{!-- <div class="col-md-4"></div> --}}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
        <div class="dropdown">

          <input value="Select Language" class="btn btn-primary icon-rtl" type="button" data-toggle="dropdown" id="selectBtn" >
          {{!-- <img src="./dist/img/drop_down_icons.png" class="dropdown-arrow"> --}}
          {{!-- <img src="./dist/img/down-arrow-black.png"> --}}

          <ul class="dropdown-menu" id="lang-main_page">
            {{!-- {{#each languageList}} --}}
            {{!-- <li><a value="{{this}}" class="hindilangpage" onclick="readJson(this.innerHTML)">{{this}}</a></li>
            --}}

            {{!-- {{/each}} --}}
          </ul>

        </div>
      </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="display: inline-flex;justify-content: center;">
          <label for="excel-file">
            <span class="btn btn-secondary button-color width-button upload-button nw_uplod_btn0">Upload Excel</span>
          </label>
          <input type="file" id="excel-file" style="display:none" accept=".xlsx" onchange="handleFileSelect(event)">

                    
            <button class=" btn btn-secondary button-color intent_excel padding-button" id="download-btn">Download Excel</button>
          
        </div>

      <div class="lang_img">
        <img id="backgroundImg" src="./dist/img/language_placeholder.png" alt="language" style="width: 100%;padding-top: 13px;">
      </div>
    </div>


    <div class="" id="language_page">
     <div class="row" >
        {{!-- <div class="col-md-6"></div> --}}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-6 text-right" style="display: flex;">
          <br>
          <button class="btn btn-xs btn-edit" id="edit_active_btn" style="">Edit</button>
          <button class="btn btn-primary  btn-xs btn-downld" id="download_btn" value=""
            onclick="languageJson()">Download</button>
        </div>
      </div>


      <div class="row" style="padding-left: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tableFixHead">

          <table class="table table-bordered chat_table">
            <thead>
              <tr>
                <th class="edithead">English Phrase</th>
                <th class="edithead">Translated Phrase</th>
              </tr>
            </thead>
            <tbody class="chatData">

            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="container" id="otherlangpage">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-right">
          {{!-- <br> --}}
          <button class="btn btn-info btn-xs btn-update" id="updateBtn" onclick="updateLanguage()">Update</button>
          <button class="btn btn-warning btn-xs btn-cancel" value="" id="discardId"
            onclick="onDiscard()">Discard</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 tableFixHead">

          <table class="table table-bordered" id="editableTable">
            <thead>
              <tr>
                <th class="edithead">English Phrase</th>
                <th class="edithead">Translated Phrase</th>
              </tr>
            </thead>
            <tbody class="updateChatData">

            </tbody>
          </table>
        </div>
      </div>
    </div>
   {{>footer}}

  </section>
</div>

{{!-- {{>footer}} --}}

<script>
  (function () {
    $("#language_page").hide()
    $("#otherlangpage").hide()
  })();

  // var dataJSON;
  $('#selectBtn').click(function () {
    $.ajax({
      type: "GET",
      url: "/languageCode",
      success: function (data) {

        if (data.data.length > 0) {
          $('#lang-main_page').html('');
          for (var obj in data.data) {
            let html =
              `<li id="hindilangpage"><a value="${data.data[obj]}" onclick="readJson(this.innerHTML)">${data.data[obj]}</a></li>`
            $('#lang-main_page').append(html);
          }

        } else {
          Swal.fire({
            title: 'For language options, please contact Yugasa Bot Team',
            type: 'text',
            confirmButtonText: 'OK',
            confirmButtonColor: "#00c0ef",

          })
        }

      }, error: function (jqXHR, textStatus, err) {
        console.log('error', err)
      }
    });

  })

  function readJson(langkey) {

    $('#updateBtn').val(langkey);
    $('#selectBtn').val(langkey);
    $('#download_btn').val(langkey);
    $('#discardId').val(langkey);

    $("#language_page").show();
    $("#otherlangpage").hide();
    $(".lang_img img:last-child").remove()

    var langkey = langkey;
    $.ajax({
      type: "POST",
      url: "/readJson",
      data: langkey,
      success: function (data) {
       
        $('.chatData').html('');
        for (var obj in data.data) {
          let html =
            `<tr class="tr2">
                <td class="boxcolr">${obj}</td>
                <td class="boxcolr">${data.data[obj].toString().trim()}</td>
              </tr>`
          $('.chatData').append(html);
        }

        $('.updateChatData').html('');
        for (var obj in data.data) {
          let html =
            `<tr data-id="1" class="userdatalist">
                <td class="boxcolr" key-data="${obj}" >${obj}</td>
                <td class="success"><textarea type="text" value="${data.data[obj].toString().trim()}"> ${data.data[obj].toString().trim()}</textarea> </td>
              </tr>`
          $('.updateChatData').append(html);
        }

      }, error: function (jqXHR, textStatus, err) {
        console.log('error', err)
      }
    })
  }

  function updateLanguage() {
    var newData = []
    var filepath = $('#updateBtn').val()
    $(".userdatalist").each(function (i) {

      let groupobj = {
        // [$(this).find(".boxcolr").attr("key-data")]: $(this).find(".success").attr("value-data")
        [$(this).find(".boxcolr").attr("key-data")]:$(this).find(".success textarea").val().toString().trim()
      };
      newData.push(groupobj)
    });
    var dataJSON = Object.assign({}, ...newData)

    var updateData = {
      data: dataJSON,
      path: filepath
    }

    $.ajax({
      type: "POST",
      url: "/updatelanguage",
      data: updateData,
      success: function (data) {

        if (data) {
          Swal.fire({
            title: 'Updated Successfully!',
            confirmButtonColor: "#00c0ef",
            icon: "success",
            type: 'success',
            timer: 1500,
            confirmButtonText: 'OK'
          }).then(() => {
            // location.reload();
            readJson(filepath)
          });
        }

      }, error: function (jqXHR, textStatus, err) {
        console.log('error', err)
      }
    });
  }

  function languageJson() {
    var lang = $('#download_btn').val()

    $("#editableTable").tableHTMLExport({
      type: 'json',
      filename: `${lang}` + '.json',
      ignoreColumns: '.acciones,#primero',
      ignoreRows: '#ultimo'
    });

  }

  function onDiscard() {
    var filepath = $('#discardId').val();

    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      confirmButtonColor: "#00c0ef",
      // showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: 'Ok',
    }).then((result) => {
      if (result.isConfirmed) {
        readJson(filepath)
      } else if (result.isDenied) {
        Swal.fire('Changes are not saved', '', 'info')
      }
    })
  }

</script>
<script>

  /* $('#hindilangpage').click(function () {
    $("#language_page").show();
    $("#otherlangpage").hide();
    $(".lang_img img:last-child").remove()
  }) */

  $('#edit_active_btn').click(function () {
    $("#otherlangpage").show();
    $("#language_page").hide();
  })

const downloadBtn = document.querySelector('#download-btn');

    downloadBtn.addEventListener('click', function() {
      fetch('/readLanguage')
        .then(response => response.blob())
        .then(blob => {
          const url = window.URL.createObjectURL(new Blob([blob]));
          const a = document.createElement('a');
          a.href = url;
          a.download = 'Translation.xlsx';
          document.body.appendChild(a);
          a.click();
          a.remove();
        })
        .catch(error => {
          console.error('Error downloading file:', error);
        });
    });


async function handleFileSelect(event) {
    const file = event.target.files[0];
    const formData = new FormData();
    formData.append('excelFile', file);

    try {
      const response = await fetch('/uploadExcelLanguage', {
        method: 'POST',
        body: formData
      });
      const data = await response.json();
      if (data.status === 200) {
        swal({
          title: "Data has been uploaded successfully!",
          text: "Successfully updated into JSON!",
          icon: "success",
          type: 'success',
          timer: 3500,
        });
      }else{
        swal({
          title : "Invalid excel file!"
        })
      }
    } catch (error) {
      console.error(error);
    }
  }

</script>