<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="fontfamily" href="dist/css/mont-heavy.woff">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Content Wrapper. Contains page content -->
    <div class="bg-loginpage">
        <div class="login-div">
            <div class="login-page">
                <!-- Main content -->
                <header>
                    <div class="yubo-header">

                        <div class="yubo-header-left">
                            <a href="https://helloyubo.com/"><img src="./dist/img/yugasa_bot_logo.png"></a>

                        </div>
                        <div class="yubo-header-right">
                            <span id="menuOpen" class="visible-xs">
                                <div class="burger-menu menuOpenImg"></div>
                                <div class="burger-menu menuOpenImg"></div>
                                <div class="burger-menu menuOpenImg"></div>
                            </span>
                            <div class="menuList">
                                <div class="menuList-ul">
                                    <ul class="list-unstyled">
                                        <span id="menuClose" class="visible-xs">&#10005;
                                        </span>
                                        <li><a href="https://helloyubo.com/">Home</a></li>
                                        <li><a
                                                href="https://helloyubo.com/yugasabot-omnichannel-ai-enabled-chatbot-100-languages/">About</a>
                                        </li>
                                        <li class="in"><a href="#">Avatars<img class="dropdown_icon visible-xs"
                                                    src="./dist/img/menu-img/triangle-img.png"></a>
                                            <ul class="list-unstyled submenu-ul">
                                                {{!-- <li><a
                                                        href="https://helloyubo.com/whats-app-chatbot-for-your-business/"><img
                                                            src="./dist/img/menu-img/whats-app-chatboat.png">What's app Chatbot</a>
                                                </li> --}}
                                                <li><a
                                                        href="https://helloyubo.com/yugasabot-get-conversational-ai-for-ecommerce-website/"><img
                                                            src="./dist/img/menu-img/ecommerce-1.png">Ecommerce</a>
                                                </li>
                                                <li><a href="https://helloyubo.com/yugasabot-indias-top-lead-generation-chatbot-for-your-business/"><img
                                                            src="./dist/img/menu-img/Lead-Gen-2.png">New
                                                        Business
                                                        Leads</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-hr-assistance/"><img src="./dist/img/menu-img/HR-Assistant-2.png">HR
                                                        Assistance</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-deliver-tracker/"><img
                                                            src="./dist/img/menu-img/Delivery-Tracker-1.png">Delivery
                                                        Tracker</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-offline-ads/"><img
                                                            src="./dist/img/menu-img/Print-to-Digital-Ad-2.png">Print
                                                        to
                                                        Digital Ad</a></li>
                                                <li><a href="#"><img
                                                            src="./dist/img/menu-img/Ticket-Selling-2.png">Ticket
                                                        Selling</a></li>
                                                <li><a href="#"><img
                                                            src="./dist/img/menu-img/Digital-Promotion-1.png">Digital
                                                        Promotion</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-appointment-booking/"><img
                                                            src="./dist/img/menu-img/Appointment-Book-2.png">Appointment
                                                        Booking</a></li>
                                                <li><a href="https://helloyubo.com/yugasabot-best-chatbot-to-enable-24x7-customer-support/"><img
                                                            src="./dist/img/menu-img/Customer-Support-2.png">Customer
                                                        Support 24×7</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="https://helloyubo.com/yugasabot-integrate-chatbot-with-your-existing-it-infra/">Integrations</a>
                                        </li>
                                        <li><a href="https://helloyubo.com/blog/">Blog</a></li>
                                        <li><a href="https://helloyubo.com/contact-us/">Contact</a></li>
                                         <!-- <li><a href="https://admin.helloyubo.com/help">Help</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="content">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="login-text">
                                <div class="banner-text">
                                    <h3>Congratulation!</h3>
                                    <h4>You have decided to stay ahead of your competition by deploying AI
                                        in your business.</h4>
                                    <p>You are just two steps away to own a chatbot for your website.
                                    </p>
                                </div>
                                <div class="desktop-content">
                                    <div class="counter-div">
                                        {{!-- <p>Yugasa Bot does</p> --}}
                                        <div class="counter-container">
                                            <div class="counter" data-target="100000"></div>
                                            <span> Communications / Month</span>
                                        </div>
                                        <div class="counter-container">
                                            <div class="counter" data-target="100"></div>
                                            <span>Leads / Day</span>
                                        </div>
                                        <div class="counter-container">
                                            <div class="counter" data-target="20"></div>
                                            <span>Integrations</span>
                                        </div>
                                    </div>
                                    <div class="btm-rgt-icon">
                                        <ul class="list-unstyled">
                                            <li><img src="./dist/img/SaaS-Platform.png"></li>
                                            <li><img src="./dist/img/VAPT-Validated.png"></li>
                                            <li><img src="./dist/img/Gdpr.png"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="login-panel panel panel-default">
                                <div class="logo">
                                    <span class="head-text">Welcome to Yugasa Bot</span>
                                </div>
                                {{#if success_msg}}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    {{success_msg}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times</span>
                                    </button>
                                </div>
                                {{/if}}
                                {{#if error_msg}}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {{error_msg}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times</span>
                                    </button>
                                </div>
                                {{/if}}

                                {{#if verification_msg}}
                                <div class="panel-body verify-div">
                                    <h5>Verify Email</h5>
                                    <img src="./dist/img/verify-icon.png">
                                    <p>{{verification_msg}}</p>
                                </div>
                                {{else}}
                                <div class="panel-body">
                                    <h3 class="text-center color-black padding-0 font-weight-bold margin-top-login">
                                        LOGIN</h3>
                                    <form action="/adminPanel" role="form" class="formact" method="POST">
                                        <fieldset>

                                            <div class="form-group">
                                                <input class="form-control input-radius padding-left-placeholder client_id"
                                                    type="text" placeholder="Registered email address or Username"
                                                    id="username" name="username" required="required"
                                                    aria-required="true"
                                                    pattern="^((?=.{8,20}$)(?![_.0-9])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])|([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))$"
                                                    title="Please enter a valid username or email address."
                                                    spellcheck="false" size="20" minlength="4" maxlength="40" autofocus>
                                                <img class="icon-size" src="/img/Icon feather-user.png" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    type="password" placeholder="Password" id="password" name="password"
                                                    value="" required="required" aria-required="true"
                                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,32}$"
                                                    title="Must contain at least one number, one special character, one uppercase and lowercase letter, and at least 8 or more characters"
                                                    spellcheck="false" size="32">
                                                <img class="icon-size" src="/img/Icon feather-lock.png" />
                                                <span toggle="#password"
                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                            </div>
                                            <div class="form-group otpfield hide">
                                                <input class="form-control input-radius padding-left-placeholder otpfield"
                                                    type="number" placeholder="Enter OTP" id="userOtp" name="userotp"
                                                    required="required" aria-required="true" 
                                                    title="Please enter a valid otp"
                                                    size="15" maxlength="15" minlength="4">
                                                <img class="icon-size-phone" src="/img/mobile.png" />
                                                <button type="button" class="resendbtn SendOTP">Send OTP</button>
                                                 <button type="button" class="resendbtn otpresend">Resend OTP</button>
                                                 <div class="messageDiv">
                                                 </div>
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input height-checkbox"
                                                    id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Remember
                                                    Me</label>
                                            </div>
                                            <!-- Change this to a button or input when using this as a form -->
                                            <div class="form-group">
                                                <input class="btn btn-primary loginBtn" pagetype="{{type}}" disabled="disabled"
                                                   isverified="false" id="submitBtn" type="submit" value="Login">
                                            </div>
                                        </fieldset>
                                    </form>
                                    <div class="page-link-login">
                                        <div class="page-link f-left">
                                            <a href="/register">Register Here</a>
                                        </div>
                                        <div class="page-link-span">|</div>
                                        <div class="page-link f-right">
                                            <a href="/forgot">Forgot Password</a>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mobile_content">
                            <div class="counter-div">
                                {{!-- <p>Yugasa Bot does</p> --}}
                                <div class="counter-container">
                                    <div class="counter" data-target="100000"></div>
                                    <span> Communications / Month</span>
                                </div>
                                <div class="counter-container">
                                    <div class="counter" data-target="100"></div>
                                    <span>Leads / Day</span>
                                </div>
                                <div class="counter-container">
                                    <div class="counter" data-target="20"></div>
                                    <span>Integrations</span>
                                </div>
                            </div>
                            <div class="btm-rgt-icon">
                                <ul class="list-unstyled">
                                    <li><img src="./dist/img/SaaS-Platform.png"></li>
                                    <li><img src="./dist/img/VAPT-Validated.png"></li>
                                    <li><img src="./dist/img/Gdpr.png"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row login-signup-footer">
                    {{>footer}}
                </div>
            </div>
        </div>
    </div>
    <script>
        /////////////////////////////////////////////////////////////////////////////////////////////////////
        //add event construct for modern browsers or IE
        //which fires the callback with a pre-converted target reference
        function addEvent(node, type, callback) {
            if (node.addEventListener) {
                node.addEventListener(
                    type,
                    function (e) {
                        callback(e, e.target);
                    },
                    false
                );
            } else if (node.attachEvent) {
                node.attachEvent("on" + type, function (e) {
                    callback(e, e.srcElement);
                });
            }
        }

        //identify whether a field should be validated
        //ie. true if the field is neither readonly nor disabled,
        //and has either "pattern", "required" or "aria-invalid"
        function shouldBeValidated(field) {
            return (
                !(field.getAttribute("readonly") || field.readonly) &&
                !(field.getAttribute("disabled") || field.disabled) &&
                (field.getAttribute("pattern") || field.getAttribute("required"))
            );
        }

        //field testing and validation function
        function instantValidation(field) {
            //if the field should be validated
            if (shouldBeValidated(field)) {
                //the field is invalid if:
                //it's required but the value is empty
                //it has a pattern but the (non-empty) value doesn't pass
                var invalid =
                    (field.getAttribute("required") && !field.value) ||
                    (field.getAttribute("pattern") &&
                        field.value &&
                        !new RegExp(field.getAttribute("pattern")).test(field.value));

                //add or remove the attribute is indicated by
                //the invalid flag and the current attribute state
                if (!invalid && field.getAttribute("aria-invalid")) {
                    field.removeAttribute("aria-invalid");
                    field.classList.add("mystyle");
                }
                else if (invalid && !field.getAttribute("aria-invalid")) {
                    field.setAttribute("aria-invalid", "true");
                    field.classList.remove("mystyle");
                }
            }
        }

        //now bind a delegated change event
        //== THIS FAILS IN INTERNET EXPLORER <= 8 ==//
        //addEvent(document, 'change', function(e, target)
        //{
        //  instantValidation(target);
        //});

        //now bind a change event to each applicable for field
        var fields = [
            document.getElementsByTagName("input"),
            document.getElementsByTagName("textarea")
        ];
        for (var a = fields.length, i = 0; i < a; i++) {
            for (var b = fields[i].length, j = 0; j < b; j++) {
                addEvent(fields[i][j], "change", function (e, target) {
                    instantValidation(target);
                });
            }
        }

        //********** To show/hide password *********//
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        //for remember me functionality on login page
        $('#submitBtn').click(function () {
            if ($('#exampleCheck1').prop("checked")) {
                localStorage.setItem('connectuser', btoa($('#username').val()))
                localStorage.setItem('coonectpass', btoa($('#password').val()))
            } else {
                localStorage.removeItem("connectuser");
                localStorage.removeItem("coonectpass");
                $('#exampleCheck1').prop("checked", false)
            }
        })
        $(document).ready(function () {
            if (localStorage.getItem("connectuser") && (localStorage.getItem("coonectpass"))) {
                $('#exampleCheck1').prop("checked", true)
                $('#username').val(atob(localStorage.getItem("connectuser")));
                $('#password').val(atob(localStorage.getItem("coonectpass")))
            }

              if ($('.client_id').val().length > 0){
                   console.log('doc ready')
                get2FAStatus();

               }
        }
        )

        //counter js

        const counters = document.querySelectorAll(".counter");

        counters.forEach((counter) => {
            counter.innerText = "0";
            const updateCounter = () => {
                var target = +counter.getAttribute("data-target");
                const count = +counter.innerText;
                const increment = target / 500;
                if (count < target) {
                    counter.innerText = `${Math.ceil(count + increment)}`;
                    setTimeout(updateCounter, 1);
                } else {
                    target = target + "+";
                    counter.innerText = target;
                }
            };
            updateCounter();
        });
    </script>
    <script>
        var width = $(window).width();
        if (width < 768) {
            //open burger menu
            $(document).ready(function () {
                $('#menuOpen').click(function (e) {
                    $('.menuList-ul').toggle();

                    $('.menuOpenImg').hide();
                    $('.menuCloseImg').show();
                    e.stopPropagation();
                });
                $('#menuClose').click(function () {
                    $('.menuList-ul').hide();
                    $('.menuOpenImg').show();
                    $('.menuCloseImg').hide(600);
                });
            });
            //to stop propagation after writing query to close menu by clicking anywhere on the web page
            $('.menuList-ul').click(function (e) {
                e.stopPropagation();
            });
            //to close the menu after clicking anywhere in the document(webpage)
            $(document).click(function () {
                $('.menuList-ul').hide();
                $('.menuOpenImg').show();
                $('.menuCloseImg').hide(300);
            });
            //to create submenu
            $('.yubo-header-right li.in a').click(function () {
                $('.submenu-ul').slideToggle(300);

            });

        }
        if ($('.loginBtn').attr('pagetype') == 'community') {
            $('#submitBtn').attr('type', 'button')
            $('.loginBtn').addClass('communitylogin')
        }

        $('.communitylogin').click(function () {
            $.ajax({
                type: "POST",
                url: "/communitylogin",
                timeout: 10000,
                data: { username: $('#username').val(), password: $('#password').val() },
                success: function (resp) {
                    if (resp.message == 'Login Successfully') {
                        alert(resp.message);
                        window.location.href = "/wordpresstemplate?token=" + resp.data;
                    } else {
                        alert(resp.message);
                        return;
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    alert('Something went wrong, please refresh the page')
                }
            });
        })

    </script>
        <script>
        let otpSend = false;
        $('.otpField').val('');
        // for verify otp 
        $('body').on('blur', '.client_id', function (e) {
            if (($('.client_id').val().length > 0)) {
               get2FAStatus();
            }
         })
         userPhone='';
         function get2FAStatus(){
              $.ajax({
                    type: "POST",
                    url: "/get2FaStatus",
                    timeout: 100000,
                    data: { 
                            clientId:$('.client_id').val()
                          },
                    success: async function (resp) {

                        if (resp.statusCode == "200") {
                            if(resp.data._2FA == 'true' || resp.data._2FA == true){
                                // $('.otpField').attr('disabled', false);
                                $('.otpField').prop("disabled", false); // Element(s) are now enabled.
                                $('#userOtp').attr('disabled', false);
                                //  $(".otpField").removeAttr('disabled');
                                $('.otpfield').removeClass('hide');
                                $("#submitBtn").attr('disabled');
                                $("#submitBtn").attr('disabled','disabled')
                                userPhone = resp.data.phone ; 
                            }else{
                                  $("#submitBtn").removeAttr('disabled');
                                  $('#userOtp').attr('disabled', true);
                                  $('#userOtp').addClass('hide');
                                  //$('.otpField').attr('disabled', true);
                                  //$('.otpfield').addClass('hide');
                            }
                        } else {
                                  $("#submitBtn").removeAttr('disabled');
                                  $('#userOtp').attr('disabled', true);
                                  $('#userOtp').addClass('hide');
                                  $('.otpfield').addClass('hide');
                        }
                    }
                });
         }
        

        $('body').on('keyup', '#userOtp', function (e) {

            if (($('#userOtp').val().length > 3)) {
                $("#submitBtn").removeAttr('disabled');
            }else{
                $("#submitBtn").attr('disabled','disabled')
            }
         })
          function loginOtpVerify(){
            let  data=  { 
                            clientId:$('.client_id').val(),
                            otp     :$('#userOtp').val(),
                          }

              $.ajax({
                    type: "POST",
                    url: "/verfiyLoginOtp",
                    timeout: 100000,
                    data: { 
                            clientId:$('.client_id').val(),
                            otp     :$('#userOtp').val(),
                          },
                    success: async function (resp) {

                        if (resp.statusCode == "200") {
                            $("#submitBtn").removeAttr('disabled');
                            $("#submitBtn").attr('isverified', 'true');
                            //$('.otpField').attr('disabled', true);
                            //$('.otpfield').addClass('hide');
                        } else {
                            $('#userOtp').val('');
                            alert(resp.message)
                        }
                    }
                });
         }
        
         $('.otpresend').hide();
         $('body').on('click', '.SendOTP', function (e) {
            if ($("#submitBtn").attr('isverified') == 'false' && otpSend == false) {
               getLoginOtp();
            }
        });
//resend otp without using the previous
$('body').on('click', '.otpresend', function (e) {
               getLoginOtp();
        });

        function getLoginOtp(){
            $.ajax({
                type: "POST",
                url: "/getLoginOtp",
                timeout: 100000,
                data: { 
                        clientId:$('.client_id').val()
                        },
                success: async function (resp) {
                      //console.log("hbs login",resp);
                    if (resp.statusCode == "200") {
                        otptimer();
                        $('.messageDiv').html(`An otp has been sent to this ${userPhone} number and You have ${resp.limit} request limit left now.`);
                        $('.SendOTP').hide();
                        $('.otpresend').show();
                        otpSend = true ;
                    } else {
                        alert(resp.message)
                    }
                }
            });
        }
   
         function otptimer(){
            let timeleft = 1;
            let downloadTimer = setInterval(function(){
            let time = 120 - timeleft;
            if(time <= 0){
                clearInterval(downloadTimer);
                $(".otpresend").html('Resend OTP');
                return;
            }
            $(".otpresend").html(time+" sec");
                timeleft += 1;
            }, 1000);
        }
            
   
    </script>
</body>

</html>
