{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

{{!-- date picker start here --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{{!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" /> --}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="dist/css/admin/logs.css" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper new_cont-wrap01">
    <!-- Main content -->
    <section class="content fallback-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h1 class="main-title">Logs</h1>
                    </div>
                </div>
                <div class="col-md-6 text-align-right">
                    <div class="row">
                        {{!-- <span id="since">Since: 08-Jun-2021</span> --}}
                       {{!--  <input type="hidden" id="camp" name="camp" value={{camp}} />
                        <input type="hidden" id="sDate" name="sDate" value={{sDate}} />
                        <input type="hidden" id="eDate" name="eDate" value={{eDate}} /> --}}
              {{!--           <input type="text" class="dateRange margin-top-daterange button-color" id="dateRange"
                            name="daterange" /> --}}
             {{!--            <i class="togglechart fa fa-pie-chart" title="Show Pie Chart" aria-hidden="true"></i> --}}
                    </div>
                </div>
                <script>
                    // var startDate = document.getElementById('sDate').value;
                    // var endDate = document.getElementById('eDate').value;
                    // var campaign = document.getElementById('camp').value;
                </script>
            </div>
            <div class="row box_row">
              <div class="col-12 col-sm-6 col-md-3">
                    <div id="facebook" class="campaign-box">
                        <span class="campaign-box-icon"><img src="./dist/img/facebook.svg" alt="Facebook Ads" title="Facebook Ads" height="30px"></span>
                        <div class="campaign-box-content">
                            <span class="campaign-box-text">Facebook Ads</span>
                            <span class="campaign-box-number">{{fbcount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div id="google" class="campaign-box">
                        <span class="campaign-box-icon"><img src="./dist/img/google.svg" alt="Google Ads" title="Google Ads" height="30px"></span>
                        <div class="campaign-box-content">
                            <span class="campaign-box-text">Google ADS</span>
                            <span class="campaign-box-number">{{goglcount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div id="web" class="campaign-box">
                        <span class="campaign-box-icon"><img src="./dist/img/web.svg" alt="Organic Search" title="Organic Search" height="30px"></span>
                        <div class="campaign-box-content">
                            <span class="campaign-box-text">Organic Search</span>
                            <span class="campaign-box-number">{{orgcount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div id="instagram" class="campaign-box">
                        <span class="campaign-box-icon"><img alt="Instagram Ads" title="Instagram Ads" src="./dist/img/instagram.svg" height="30px"></span>
                        <div class="campaign-box-content">
                            <span class="campaign-box-text">Instagram Ads</span>
                            <span class="campaign-box-number">{{instacount}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                if(campaign!=''){
                    $('.campaign-box').each( function () {
                        if(campaign.search($(this).prop('id'))>=0){
                            $(this).toggleClass('selected');
                        }
                    });
                }
            </script>
            <div class="row loader" style="display:none;">
                <center><img src="./dist/img/yubo_loader.gif" class="loader_img"></center>
                <center><div>Fetching records..</div></center>
            </div>
 {{!--            <div class="row chart" >
                <div id="chartdiv"></div>
            </div> --}}
            <div class="row margin-top-row">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="test-form">LAST VISIT AT (IST)</th>
                                <th class="test-form">CAMPAIGN</th>
                                <th class="test-form">NO. OF VISITS</th>   
                                <th class="test-form">URL</th>
                                <th class="test-form">HOST</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            {{#data}}
                            {{#if this.clientId}}
                            <tr class="tr2 {{this.campaign.campaign}}" data-index="{{this.sNo}}">
                                <td>{{this.updatedAt}}</td>
                                <td><img src="./dist/img/{{this.campaign.campaign}}.svg" alt="{{this.campaign.title}}" title="{{this.campaign.title}}" height="30px"></td>
                                <td>{{this.count}}</td>
                                <td><a href="{{this.url}}" target="_blank">{{this.url}}</a></td>
                                <td>{{this.host}}</td>
                            </tr>
                            {{/if}}
                            {{/data}}
                            {{!--
                        </tbody> --}}
                    </table>
                </div>
                <ul class="pagination pull-right">
                </ul>
            </div>
        </div>
        {{>footer}}

</div>
</div>
</section>
</div>
<script src="dist/js/commonjs/pagination.js"></script>
{{!-- <script src="dist/js/commonjs/datatables.js"></script> --}}
<script type="text/javascript">
$('.campaign-box').click( async function(){
    $('.loader').show();
    $(this).toggleClass('selected');
    let camplist=[]
    $('.campaign-box.selected').each( function () {
        camplist.push($(this).prop('id'));
    });
    campaign=camplist.join();
    console.log(campaign)
    // let start = startDate.split("/");
    // let end = endDate.split("/");
    // start = new Date( start[2], start[1] - 1, start[0]);
    // start.setDate(start.getDate() + 1)
    // start=start.getTime();
    // end = new Date( end[2], end[1] - 1, end[0]);
    // end.setDate(end.getDate() + 1)
    // end=end.getTime();
    
    // if(campaign!=''){
    //     await location.replace('/logs?startDate=' + start + '&endDate=' + end + '&campaign=' + campaign);
    // } else {
    //     await location.replace('/logs?startDate=' + start + '&endDate=' + end);
    // }
    if(campaign!=''){
        await location.replace('/logs?campaign=' + campaign);
    } else {
        await location.replace('/logs');
    }
    
})

// $('input[name="daterange"]').daterangepicker({
//     opens: 'left',
//     "startDate": startDate,
//     "endDate": endDate,
//     timeZone: 'Asia/Kolkata',
//     locale: {
//         format: 'DD/MM/YYYY'
//     }, maxDate: new Date()
// }, async function (start, end, label) {
//     $('.loader').show();
//     if(campaign==''){
//         await location.replace('/logs?startDate=' + start + '&endDate=' + end);
//     } else {
//         await location.replace('/logs?startDate=' + start + '&endDate=' + end + '&campaign=' + campaign);
//     }
    
// });

</script>
{{!-- <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="dist/js/commonjs/piechart.js"></script> --}}
{{!-- {{>footer}} --}}