{{> head}}
{{> sideNavBar}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!---********** CSS only **********--->

<style>
    button.mailsettings-btn-submit.emailconfig {
        margin-top: 20px;
        background-color: #6800a1;
        color: #fff;
        border-radius: 5px; 
    }
</style>

<body>
    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-xs-12 set-area">
                    <div class="design-body">
                        <div class="row design-body-padd">
                            {{!-- <div class="tab ">
                                <button class="tablinks active">Edit
                                    Details</button>
                            </div> --}}
                            <div class="edit-profile-box mailsettings_content">
                                <div class="sandgrid tempcheck" value="{{mailconfig}}">
                                    <h4>Please enter your mail account credentials. </h4>
                                    {{!-- <label>
                                        <input name="sandgrid_radio" type="radio" value="yes"
                                            class="sendgridbtn mailsettings_btn" checked="checked">
                                        Yes
                                    </label>
                                    <label>
                                        <input name="sandgrid_radio" type="radio" value="no"
                                            class=" mailbtn mailsettings_btn">
                                        No
                                    </label> --}}
                                    <div class="mailsettings_api">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>API
                                                    Key<span>*</span></label></div>


                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 new_key_add" style="margin-bottom: 12px;"> <input type="password"
                                                    name="" class="apikey" required="required"></div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>Verfied
                                                    Email<span>*</span></label></div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"><input type="text" name=""
                                                    class="verfiedemail" required="required"></div>
                                        </div>
                                    </div>
                                    <div class="mailsettings_mail hide">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label>Host<span>*</span></label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" name="" class="host"
                                                    required="required">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label>Port<span>*</span></label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" name="" class="port"
                                                    required="required">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label>Email<span>*</span></label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="email" name="" class="useremail"
                                                    required="required">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label>Password<span>*</span></label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="password" name="" class="userpass"
                                                    required="required">
                                                     <p class="disclaimer">* You can use this account only for Testing purpose.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="mailsettings-btn-submit emailconfig">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".mailsettings_btn").on("click", function () {
            if ($(this).val() == 'yes') {
                $('.mailsettings_mail').addClass('hide');
                $('.mailsettings_api').removeClass('hide');
            }
            else {
                $('.mailsettings_api').addClass('hide');
                $('.mailsettings_mail').removeClass('hide');
            }
        })


        $.ajax({
            type: "POST",
            url: "/mailconfigdata",
            success: function (data) {
                if (data.status == 'success') {
                    if ( data.data.campaignconfig && data.data.campaignconfig.accounttype == "Sendgrid") {
                        $('.sendgridbtn').attr('checked', true);
                        $('.apikey').val(data.data.campaignconfig.sendgridkey)
                        $('.verfiedemail').val(data.data.campaignconfig.verfiedUser)
                    } else {
                        $('.mailbtn').attr('checked', true)
                        $('.useremail').val(data.data.campaignconfig.useremail);
                        $('.userpass').val(data.data.campaignconfig.password);
                        $('.host').val(data.data.campaignconfig.host);
                        $('.port').val(data.data.campaignconfig.port);
                        $('.mailsettings_api').addClass('hide');
                        $('.mailsettings_mail').removeClass('hide');
                    }
                }
            }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
            }
        })


        $('.emailconfig').click(function () {
            let obj;
                if ($('.apikey').val() == '' || $('.verfiedemail').val() == '') {
                    alert('Both fields are mandatory');
                    return;
                }
                obj = {
                    accounttype: 'Sendgrid',
                    sendgridkey: $('.apikey').val(),
                    verfiedUser: $('.verfiedemail').val()
                }
            

            $.ajax({
                type: "POST",
                url: "/emailconfig",
                data: { obj },
                success:  async function (data) {
                    if (data.status == 'Succeesss') {
                        await swal({
                            title: data.msg,
                            icon: "success",
                            dangerMode: false,
                            timer:1500
                        })
                       
                    }
                }, error: function (jqXHR, textStatus, err) {
                    alert('Please refresh !');
                }
            })

        })
    </script>
</body>
{{> footer}}
