{{> head}}
{{> sideNavBar userTypePro=userTypePro}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</link>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/font- 
awesome/4.7.0/css/font-awesome.min.css"
 rel="stylesheet">

 <link rel="stylesheet" href="dist/css/mygroup.css">

<body>
  <div class="content-wrapper nw_cnt_wrappd">
    <div class="content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="compaign-title">My Groups</h1>
        </div>
      </div>
      <div class="dataTables_search">
            <input type = "text" 
                        id = "searchBoxId"
                        onkeyup="onTypingEvent(event)"
                        style=""
                        placeholder="Search..." class="sub_search" >
                        <span class="span-search" 
                              onclick="searchFunction(event)">
                            <i class="fa fa-search subs-search" aria-hidden="true"></i>
                        </span>
        </div>
            <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 group_data">
          <div class="my-group groupdata" style="padding:30px;display:flex;flex-wrap: wrap;">
          </div>
        </div>
      <div class="yubo_model grp_model">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog nw_cnt_dialg02" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><img src="./dist/img/edit_intent.png" class="creategrouphead_img">Update Group</h4>
                <button type="button" class="modal_close modalclosecls"  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body ">
                <div class="row">
                  <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                    <div class="creategrouphead">
                      <h5>Group Name:</h5>
                      <input type="text" class="groupname">
                    </div>
                  </div>
                  {{!-- <div class="col-lg-4 col-md-4 com-sm-6 col-xs-6">
                    <div class="grp_search_com">
                      <input type="text" class="searchTermGrp" placeholder="">
                      <button type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div> --}}
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <input type="text" 
                                class="cd-search table-filter" 
                                data-table="order-table" 
                                style="float: right"
                                placeholder="Search item..">
                    <div class="grp-added-member">
                        <h3 class="grp_com_addMore_head">Participants</h3>
                        <div class="table-container grp-table-container">
                          <table id="group-com-table" class="table table-bordred table-hover table-striped cd-table order-table">
                            <thead>
                              <tr>
                                <th><label class="com_grp_chkbox">
                                  {{!-- <input type="checkbox" class="headingckbox adduserckbox"> --}}
                                    <span class="grp_checkmark"></span>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody class="userdatamodel removehtml">
                            </tbody>
                          </table>
                        </div>
                    
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp_com_addMore addgrp_more10">
                      <h3 class="grp_com_addMore_head">Add More</h3>
                      <input type="text" class="instant_user instantuserdata" placeholder="User Name" style="width: 22%; height: 34px;">
                      <input type="email" class="instant_email instantuserdata" placeholder="Email Id" style="width: 22%; height: 34px;">
                        <select id="country" required onchange="country_code()" style="width:12%; height: 32px;">
                                        <option value="select country">Select country </option>
                                        <option value="India">&#x1F1EE;&#x1F1F3; </option>
                                     </select>
                      <input type="text" id="userPhone" class="instant_phone instantuserdata" placeholder="Phone number with country code" style="width: 22%; height: 34px;">
                      <button class="grp_com_addMore_btn add_more_user">Add</button>
                    </div>
                    <div class="com_sbmit_btn_div">
                      <button type="button" class="grp_model_btn update_edted_data">Update Group </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- view group model  --}}
      <div class="yubo_model grp_model">
        <div class="modal fade" id="viewmodal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog nw_cnt_dialg02" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">View Group</h4>
                <button type="button" class="modal_close closemodal2"  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body ">
                <div class="row">
                  <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                    <div class="creategrouphead">
                      <h5>Group Name:</h5>
                       <input type="text" class="groupname" readonly="true">
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="text" 
                          class="cd-search table-filter" 
                          data-table="order-table" 
                          style="float: right"
                          placeholder="Search item..">
                    <div class="grp-added-member"> 
                        <h3 class="grp_com_addMore_head">Participants</h3>
                        <div class="table-container grp-table-container" style="max-height:290px;">
                          <table id="group-com-table" class="table table-bordred table-hover table-striped cd-table order-table">
                            <thead>
                              <tr>
                                <th><label class="com_grp_chkbox">
                                    <span class="grp_checkmark"></span>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody class="viewDataModal removehtml">
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
         <div style="text-align: center;">
                    <button    type="button" 
                    id="loadMoreButtonId"
                    class=" btn btn-secondary
                    button-color border-radius-button down_excel new_button" 
                    style="" 
                    onclick="loadMore(event)" 
                    >Load More
                    </button>

                </div>
      </div>
    </div>
    {{!-- {{> footer}} --}}
</div>
</body>
<script src="dist/js/pages/mygroup.js"></script>

<script>
  
function country_code() {
    var val = document.getElementById("country").value;

    if(val === "select country") {
        document.getElementById("userPhone").value = "";
    }
    else if (val === "India") {
        document.getElementById("userPhone").value = 91;
    }
    else if (val === "US") {
        document.getElementById("userPhone").value = "1";
    }
   }


</script>

{{> footer}}
