<!DOCTYPE html>
<html>
<head>
  <title>404 Error - Page Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }
    
    .container {
      text-align: center;
      margin-top: 20%;
    }
    
    h1 {
      font-size: 48px;
      color: #333;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 24px;
      color: #666;
    }
    
    a {
      color: #007bff;
      text-decoration: none;
    }
    
    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }
    a:hover {
      background-color: #555;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>404 Error - Page Not Found</h1>
    <p>Oops! The page you are looking for could not be found.</p>
    <p>Please go back to the <a href="/">homepage</a> or try searching for what you need.</p>
  </div>
</body>
</html>

