<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
</head>
<style>
    .resendbtn {
        /*   text-align: right;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    right: 20px;
    position: absolute;
    top: 10px; &*/
        text-align: right;
        display: inline-block;
        padding: 4px 15px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #6800A1;
        right: 4px;
        position: absolute;
        top: 4px;
        font-size: 13px;
        border-radius: 25px;
        color: #fff;
    }

    @media only screen and (max-width: 991px) {
        .resendbtn {
            padding: 5px 15px;
            right: 5px;
            top: 5px;
        }
    }

    @media only screen and (max-width: 480px) {
        .resendbtn {
            padding: 4px 15px;
            right: 4px;
            top: 4.5px;
        }
    }

    .otptimercss {
        text-align: right;
        display: inline-block;
        margin: 0;
        right: 20px;
        position: absolute;
        top: 10px;
    }

    .iconsizeotp {
        width: 17px !important;
    }
</style>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Content Wrapper. Contains page content -->

    <div class="bg-loginpage">
        <div class="login-div">
            <div class="login-page">
                <header>
                    <div class="yubo-header">

                        <div class="yubo-header-left">
                            <a href="https://helloyubo.com/"><img src="./dist/img/yugasa_bot_logo.png"></a>

                        </div>
                        <div class="yubo-header-right">
                            <span id="menuOpen" class="visible-xs">
                                <div class="burger-menu menuOpenImg"></div>
                                <div class="burger-menu menuOpenImg"></div>
                                <div class="burger-menu menuOpenImg"></div>
                            </span>
                            <div class="menuList">
                                <div class="menuList-ul">
                                    <ul class="list-unstyled">
                                        <span id="menuClose" class="visible-xs">&#10005;
                                        </span>
                                        <li><a href="https://helloyubo.com/">Home</a></li>
                                        <li><a
                                                href="https://helloyubo.com/yugasabot-omnichannel-ai-enabled-chatbot-100-languages/">About</a>
                                        </li>
                                        <li class="in"><a href="#">Avatars<img class="dropdown_icon visible-xs"
                                                    src="./dist/img/menu-img/triangle-img.png"></a>
                                            <ul class="list-unstyled submenu-ul">
                                                {{!-- <li><a
                                                        href="https://helloyubo.com/whats-app-chatbot-for-your-business/"><img
                                                            src="./dist/img/menu-img/whats-app-chatboat.png">What's app
                                                        Chatbot</a>
                                                </li> --}}
                                                <li><a
                                                        href="https://helloyubo.com/yugasabot-get-conversational-ai-for-ecommerce-website/"><img
                                                            src="./dist/img/menu-img/ecommerce-1.png">Ecommerce</a>
                                                </li>
                                                <li><a
                                                        href="https://helloyubo.com/yugasabot-indias-top-lead-generation-chatbot-for-your-business/"><img
                                                            src="./dist/img/menu-img/Lead-Gen-2.png">New
                                                        Business
                                                        Leads</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-hr-assistance/"><img
                                                            src="./dist/img/menu-img/HR-Assistant-2.png">HR
                                                        Assistance</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-deliver-tracker/"><img
                                                            src="./dist/img/menu-img/Delivery-Tracker-1.png">Delivery
                                                        Tracker</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-offline-ads/"><img
                                                            src="./dist/img/menu-img/Print-to-Digital-Ad-2.png">Print
                                                        to
                                                        Digital Ad</a></li>
                                                <li><a href="#"><img
                                                            src="./dist/img/menu-img/Ticket-Selling-2.png">Ticket
                                                        Selling</a></li>
                                                <li><a href="#"><img
                                                            src="./dist/img/menu-img/Digital-Promotion-1.png">Digital
                                                        Promotion</a></li>
                                                <li><a href="https://helloyubo.com/chatbot-appointment-booking/"><img
                                                            src="./dist/img/menu-img/Appointment-Book-2.png">Appointment
                                                        Booking</a></li>
                                                <li><a
                                                        href="https://helloyubo.com/yugasabot-best-chatbot-to-enable-24x7-customer-support/"><img
                                                            src="./dist/img/menu-img/Customer-Support-2.png">Customer
                                                        Support 24×7</a></li>
                                            </ul>
                                        </li>
                                        <li><a
                                                href="https://helloyubo.com/yugasabot-integrate-chatbot-with-your-existing-it-infra/">Integrations</a>
                                        </li>
                                        <li><a href="https://helloyubo.com/blog/">Blog</a></li>
                                        <li><a href="https://helloyubo.com/contact-us/">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main content -->
                <section class="content">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="login-text">
                                <div class="banner-text">
                                    <h3>Congratulation!</h3>
                                    <h4>You have decided to stay ahead of your competition by deploying AI
                                        in your business.</h4>
                                    <p>You are just two steps away to own a chatbot for your website.
                                    </p>
                                </div>
                                <div class="desktop-content">
                                    <div class="counter-div">
                                        <div class="counter-container">
                                            <div class="counter" data-target="100000">100000+</div>
                                            <span> Communications / Month</span>
                                        </div>
                                        <div class="counter-container">
                                            <div class="counter" data-target="100">100+</div>
                                            <span>Leads / Day</span>
                                        </div>
                                        <div class="counter-container">
                                            <div class="counter" data-target="20">20+</div>
                                            <span>Integrations</span>
                                        </div>
                                    </div>
                                    <div class="btm-rgt-icon">
                                        <ul class="list-unstyled">
                                            <li><img src="./dist/img/SaaS-Platform.png"></li>
                                            <li><img src="./dist/img/VAPT-Validated.png"></li>
                                            <li><img src="./dist/img/Gdpr.png"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="login-panel panel panel-default">
                                <div class="logo">
                                    <span class="head-text">Welcome to Yugasa Bot</span>
                                </div>

                                <div class="panel-heading">
                                    <h3 class="panel-title">Registration</h3>
                                </div>
                                {{#if error_msg}}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    {{error_msg}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times</span>
                                    </button>
                                </div>
                                {{/if}}
                                <div class="panel-body">
                                    <h3 class="text-center">
                                        REGISTER</h3>
                                    <form action="/register" role="form" method="POST">
                                        <fieldset>

                                            <div class="form-group margin-bottom-input">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    type="text" placeholder="Username" id="username" name="username"
                                                    required="required" aria-required="true"
                                                    pattern="^(?=.{8,20}$)(?![_.0-9])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"
                                                    title="Username is required & should only contain alphanumeric characters, underscore and dot. Underscore, number and dot can't be at the end or start. Underscore and dot can't be next to each other. Underscore or dot can't be used multiple times in a row. Number of characters must be between 8 to 20. "
                                                    spellcheck="false" size="20" minlength="4" maxlength="32" autofocus>
                                                <img class="icon-size" src="/img/Icon feather-user.png" />
                                            </div>
                                            <div class="form-group margin-bottom-input">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    type="email" placeholder="Email" id="email-Id" name="email"
                                                    required="required" aria-required="true"
                                                    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                                    title="Please enter valid email Example: abc@xyz.com)"
                                                    spellcheck="false" size="35" maxlength="40">
                                                <img class="icon-size-mail" src="/img/mail.png" />
                                            </div>
                                            <div class="form-group margin-bottom-input">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    type="password" placeholder="Password" id="password" name="password"
                                                    required="required" aria-required="true"
                                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,32}$"
                                                    title="Must contain at least one number, one special character, one uppercase and lowercase letter, and at least 8 or more characters"
                                                    spellcheck="false" size="32" maxlength="32">
                                                <img class="icon-size" src="/img/Icon feather-lock.png" />
                                                <span toggle="#password"
                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                            </div>
                                            <input type="hidden" class="registerdata_region" value=""
                                                name="locationdata">
                                            <div class="form-group margin-bottom-input">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    type="tel" placeholder="Enter 10 digit Mobile Number" id="phone" name="phone"
                                                    required="required" aria-required="true" pattern="^\d{10}$"
                                                    title="Please enter valid mobile number, special character not allow"
                                                    spellcheck="false" size="15" maxlength="15">
                                                <img class="icon-size-phone" src="/img/mobile.png" />
                                                <button type="button" class="resendbtn SendOTP">Send OTP</button>
                                            </div>
                                            <div class="form-group margin-bottom-input otpfield hide">
                                                <input
                                                    class="form-control input-radius padding-left-placeholder otpField"
                                                    maxlength="4" placeholder=" Otp" disabled="disabled"
                                                    pattern="^\d{10}$" type="tel">
                                                <img class="icon-size-url iconsizeotp" src="/img/otp-icon.png" />
                                                <button type="button" class="resendbtn otpresend">Resend OTP</button>
                                            </div>
                                            <div>
                                                <p class="warnMessage" style="margin-left: 30px;"></p>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-radius padding-left-placeholder"
                                                    id="websiteUrl" type="url" name="url"
                                                    placeholder="https://website.com" title="Your website url"
                                                    spellcheck="false">
                                                <img class="icon-size-url" src="/img/website.jpg" />
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="trms_cndtn_chkbx" required
                                                    title="You must read & accept the terms and conditions in order to sign up on the platform.">
                                                <h5 role="button" class="tnc_btn" data-toggle="modal"
                                                    data-target="#termsModal"
                                                    title="You must read & accept the terms and conditions in order to sign up on the platform.">
                                                    I accept these Terms and Conditions</h5>
                                            </div>
                                            <div class="form-group margin-bottom-input">
                                                <input class="btn btn-primary loginBtn" disabled="disabled"
                                                    isverified="false" type="submit" id="submitBtn" value="Sign Up">
                                            </div>
                                        </fieldset>
                                    </form>
                                    <div class="page-link-login">
                                        <div class="page-link f-left">
                                            <a href="/login">Login Here</a>
                                        </div>
                                        <div class="page-link-span">|</div>
                                        <div class="page-link f-right">
                                            <a href="/forgot">Forgot Password</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_content">
                            <div class="counter-div">
                                <div class="counter-container">
                                    <div class="counter" data-target="100000">100000+</div>
                                    <span> Communications / Month</span>
                                </div>
                                <div class="counter-container">
                                    <div class="counter" data-target="100">100+</div>
                                    <span>Leads / Day</span>
                                </div>
                                <div class="counter-container">
                                    <div class="counter" data-target="20">20+</div>
                                    <span>Integrations</span>
                                </div>
                            </div>
                            <div class="btm-rgt-icon">
                                <ul class="list-unstyled">
                                    <li><img src="./dist/img/SaaS-Platform.png"></li>
                                    <li><img src="./dist/img/VAPT-Validated.png"></li>
                                    <li><img src="./dist/img/Gdpr.png"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row login-signup-footer">
                    {{>footer}}
                </div>
            </div>
        </div>
        <!--Model for terms&Conditions start-->
        <div class="privacy-policy">
            <div class="modal fade" id="termsModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center"><strong>TERMS AND CONDITIONS</strong></h3>
                            <p>1. These are the terms and conditions for getting access to Yugasa Bot’s Admin Panel and
                                Bot
                                Builder.</p>
                            <p>2. Using this Admin Panel, you (Client) can create an instance of Yugasa Bot which you
                                may
                                integrate into your website to attend your visitors 24x7 through text chat only. Yugasa
                                Bot
                                may
                                collect visitors’ contact details and chat logs in its CRM.</p>
                            <p>3. Look and Feel / Frontend of the bot on the website: It will be a chat window with a
                                custom
                                color scheme as per your Yugasa Bot Window Settings adjusted by you. The chat window
                                shall be
                                put
                                in the form of an embedded view that can be seen functional on all the channels.</p>
                            <p>4. Yugasa Bot will become intelligent through the ‘Your Story’ Section of the bot builder
                                and
                                shall
                                deploy AI and NLP to start responding to your website visitors.</p>
                            <p>5. Intelligence through the other tools of bot builder i.e., Conversation Flow, Intents
                                and
                                webhooks, is not available in the basic version of Yugasa Bot and will require a signup
                                for
                                the
                                Pro version of Yugasa Bot.</p>
                            <p>6. The Yugasa Bot shall be used as an assistant to help your website visitors in
                                replying
                                to queries whose answers are mentioned in ‘Your Story’ Section. Any information not
                                mentioned in the ‘Your Story’ section will not be known to Yugasa Bot. You can re-train
                                Yugasa Bot
                                around such required intelligence as per the need from time to time through ‘Your
                                Story’.
                            </p>
                            <p>7. Client understands that making a chatbot ‘intelligent’ is an ongoing and evolving
                                process.
                                Yugasa Bot can be made more intelligent from the Admin section by monitoring the
                                FallBack
                                option.
                                Client shall keep checking the ‘Fallbacks’ section to know Yugasa Bot’s failures and
                                will
                                improve
                                content in ‘Your Story’ section.</p>
                            <p>8. ‘Your Story’ section, through all its sub sections can accept a maximum of 1600 x 5 =
                                8000
                                Characters.</p>
                            <p>9. Hosting / Servers: Yugasa Bot is a SaaS app and shall be hosted on Yugasa’s Cloud
                                Partner
                                Servers and there will not be any additional expense for any hardware maintenance at
                                client’s end.</p>
                            <p>10. Concurrency: Yugasa Bot will be able to handle upto maximum 2 concurrent users asking
                                different
                                queries at the same time with an uptime of 97%. The promised uptime is calculated on the
                                monthly basis.</p>
                            <p>11. Branding and Whitelabeling: There will be a Yugasa Bot logo on the chatbot window at
                                bottom
                                with a link to www.helloyubo.com. Client, in no eventuality, shall remove that logo or
                                its
                                link while using the chatbot on his or her website.</p>
                            <p>12. The Bot will come with single language support and that is English. For the areas
                                where
                                Yugasa Bot will be trained in, Yugasa Bot will use Natural Language5. Processing (NLP)
                                algorithms to
                                be
                                able to understand the intent of the questions put to it and will respond to those
                                questions
                                accordingly.</p>
                            <p>13. No Support to following features:
                            <ul>
                                <li>Client understands that for the basic Yugasa Bot version, there will not be any
                                    support or
                                    training from Yugasa Software Labs. Only paid support can be bought from Yugasa for
                                    basic Version.</li>
                                <li>There will not be any voice support by the bot. Basic Yugasa Bot will support only
                                    text
                                    chat.
                                </li>
                                <li>No social media integration is included in the Yugasa Bot Basic version.</li>
                            </ul>
                            </p>
                            <p>14. There can be different behaviour of Yugasa Bot’s window based on the browsers default
                                offerings.</p>
                            <p>15. Yugasa Software Labs Private Limited holds strict restrictions for using Yugasa Bot
                                in
                                encouraging or promoting any illegal, anti-social, abusive, harassing, threatening or
                                any
                                other such activity which can be harmful for any individual or to the society as whole.
                                Yugasa holds full rights to immediately remove the bot from the client’s website without
                                any
                                prior notice to the client in case Client is detected to be violating any of the above
                                stated security conditions.</p>
                            <p>16. If Yugasa Bot is removed from the website after using it once, then redeploying
                                Yugasa Bot on the
                                same website in future will act as a new instance. This means that any historical data
                                related to intelligence, communication and Fallbacks etc will be lost after removing
                                Yugasa Bot.
                            </p>
                            <p>17. No data or access of the Admin section shall be continued to be provided to the
                                client in
                                case he / she stops using the license(free or paid) of Yugasa Bot after whatsoever time.
                            </p>
                            <p>18. Any third party issues like client’s website or other platform not working may cause
                                Yugasa Bot
                                to stop working on that platform. Yugasa Software Labs or Yugasa Bot is not responsible
                                for
                                any
                                such shortcomings or issues.</p>
                            <p>19. Yugasa Bot will not be responsible for bringing business leads on the client's
                                website /
                                app.
                                Visitors landing on the client's website will be able to talk to Yugasa Bot on their
                                discretion
                                for collecting necessary information.</p>
                            <p>20. Yugasa Bot does not guarantee any kind of resolution to the visitor’s grievances when
                                implemented for support purposes.</p>
                            <p>21. Any failure of Yugasa Bot in satisfying the visitor in solving his query will have no
                                obligation on Yugasa Software Labs Pvt Ltd.</p>
                            <p>22. Implementation of Yugasa Bot is free from technology constraints of the client’s
                                website.
                            </p>
                            <p>23. Any additional feature other than Yugasa Bot Basic shall be quoted additionally and
                                shall
                                be
                                charged separately in both Integration fee and License fee.</p>
                            <p>24. Yugasa holds complete rights to update or modify or add to any of the terms and
                                conditions before or after Yugasa Bot is deployed on client’s website at any time
                                without any
                                prior notice to the Client.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Model for terms&Conditions end-->
    </div>
    <script>
        let locationobj = {}
        function ipLookUp() {
            $.ajax('https://ipapi.co/json').then(function success(response) {
                if (response) {
                    locationobj = { 'city': response.city, 'state': response.region, 'longitude': response.longitude, 'latitude': response.latitude, 'ip': response.ip, 'usertimezone': response.timezone, 'callingcode': response.country_calling_code, 'currency': response.currency }
                    $('.registerdata_region').val(JSON.stringify(locationobj))
                }
            }, function fail(data, status) { console.log('Request failed. Returned status of', status); });
        }
        ipLookUp();
        /////////////////////////////////////////////////////////////////////////////////////////////////////
        //add event construct for modern browsers or IE
        //which fires the callback with a pre-converted target reference
        function addEvent(node, type, callback) {
            if (node.addEventListener) {
                node.addEventListener(
                    type,
                    function (e) {
                        callback(e, e.target);
                    },
                    false
                );
            } else if (node.attachEvent) {
                node.attachEvent("on" + type, function (e) {
                    callback(e, e.srcElement);
                });
            }
        }

        //identify whether a field should be validated
        //ie. true if the field is neither readonly nor disabled,
        //and has either "pattern", "required" or "aria-invalid"
        function shouldBeValidated(field) {
            return (
                !(field.getAttribute("readonly") || field.readonly) &&
                !(field.getAttribute("disabled") || field.disabled) &&
                (field.getAttribute("pattern") || field.getAttribute("required"))
            );
        }

        //field testing and validation function
        function instantValidation(field) {
            //if the field should be validated
            if (shouldBeValidated(field)) {
                //the field is invalid if:
                //it's required but the value is empty
                //it has a pattern but the (non-empty) value doesn't pass
                var invalid =
                    (field.getAttribute("required") && !field.value) || (field.getAttribute("pattern") && field.value &&
                        !new RegExp(field.getAttribute("pattern")).test(field.value));

                //add or remove the attribute is indicated by
                //the invalid flag and the current attribute state
                if (!invalid && field.getAttribute("aria-invalid")) {
                    field.removeAttribute("aria-invalid");
                    field.classList.add("mystyle");
                }
                else if (invalid && !field.getAttribute("aria-invalid")) {
                    field.setAttribute("aria-invalid", "true");
                    field.classList.remove("mystyle");
                }
            }
        }

        //now bind a delegated change event
        //== THIS FAILS IN INTERNET EXPLORER <= 8 ==//
        //addEvent(document, 'change', function(e, target)
        //{
        // instantValidation(target);
        //});

        //now bind a change event to each applicable for field
        var fields = [
            document.getElementsByTagName("input"),
            document.getElementsByTagName("textarea")
        ];
        for (var a = fields.length, i = 0; i < a; i++) {
            for (var b = fields[i].length, j = 0; j < b; j++) {

                addEvent(fields[i][j], "change", function (e, target) {
                    instantValidation(target);
                });
            }
        }

        //********** To show/hide password *********//
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
    <script>
        var width = $(window).width();
        if (width < 768) {
            //open burger menu
            $(document).ready(function () {
                $('#menuOpen').click(function (e) {
                    $('.menuList-ul').toggle();

                    $('.menuOpenImg').hide();
                    $('.menuCloseImg').show();
                    e.stopPropagation();
                });
                $('#menuClose').click(function () {
                    $('.menuList-ul').hide();
                    $('.menuOpenImg').show();
                    $('.menuCloseImg').hide(600);
                });
            });
            //to stop propagation after writing query to close menu by clicking anywhere on the web page
            $('.menuList-ul').click(function (e) {
                e.stopPropagation();
            });
            //to close the menu after clicking anywhere in the document(webpage)
            $(document).click(function () {
                $('.menuList-ul').hide();
                $('.menuOpenImg').show();
                $('.menuCloseImg').hide(300);
            });
            //to create submenu
            $('.yubo-header-right li.in a').click(function () {
                $('.submenu-ul').slideToggle(300);

            });

        }
        // for get otp 
        $('body').on('click', '.SendOTP', function (e) {
            if ($('#phone').val() && $('#password').val() && $('#username').val() && ($("#submitBtn").attr('isverified') == 'false')) {
                $.ajax({
                    type: "POST",
                    url: "/getotp",
                    timeout: 100000,
                    data: { phone: $('#phone').val(), email: $('#email-Id').val(),clientId:$('#username').val()},
                    success: async function (resp) {
                        if (resp.msg == "success") {
                            otptimer();
                            $('.otpField').attr('disabled', false)
                            $('.SendOTP').hide();
                            $('.otpfield').removeClass('hide');
                            $('.warnMessage').html(`You have ${resp.limit} request limit left now.`);
                        }
                        else {
                         alert(resp.message);
                        }
                    },
                    error: function (jqXHR, textStatus, err) {
                        alert('Something went wrong, please refresh the page')
                    }
                });
            }
        })

        // for verify otp 
               $('body').on('blur', '.otpField', function (e) {
            if (($('.otpField').val().length == 4)) {
                $.ajax({
                    type: "POST",
                    url: "/verfiyotp",
                    timeout: 100000,
                    data: { phone: $('#phone').val(), otp: $('.otpField').val(), email: $('#email-Id').val(),clientId:$('#username').val() },
                    success: async function (resp) {
                        if (resp.status == "success") {
                            $('.otpfield').addClass('hide');
                            $('.otpField').attr('disabled', true);
                            $("#phone").prop("readonly",true);
                            $("#submitBtn").removeAttr('disabled');
                            $("#submitBtn").attr('isverified', resp.verified);
                        } else {
                            $('.otpField').val('');
                            alert(resp.message)
                        }
                    }
                });
            }
        })
        
        // for resend otp 
        $('body').on('click', '.otpresend', function (e) {
            if ($('#phone').val().length >= 10) {
                $.ajax({
                    type: "POST",
                    url: "/getotp",
                    timeout: 100000,
                    data: { phone: $('#phone').val(), email: $('#email-Id').val(),clientId:$('#username').val()},
                    success: async function (resp) {
                        if (resp.msg == "success") {
                            alert('We have resent the Otp on your registered mobile number');
                            otptimer();
                            $('.warnMessage').html(`You have ${resp.limit} request limit left now.`);
                            return;
                        }else{
                            alert(resp.message)
                        }
                    },
                    error: function (jqXHR, textStatus, err) {
                        alert('Something went wrong, please refresh the page')
                    }
                });
            }
        })
function otptimer(){
  let timeleft = 1;
  let downloadTimer = setInterval(function(){
  let time = 120 - timeleft;
   if(time <= 0){
    clearInterval(downloadTimer);
    $(".otpresend").html('Resend OTP');
    return;
  }
   $(".otpresend").html(time+" sec");
    timeleft += 1;
}, 1000);
}
   

    </script>
</body>

</html>
