<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/admin/intent.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>
    .save_loading {
        margin: 0 auto;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: ro;
        transform-origin: 50% 50%;
    }

    /*----- SLOTS -------*/

    p.custom-title.new_custom_title {
        margin-left: 29px;
    }
    p.custom-title.new_title {
        margin-left: -81px;
    }
    input#addslotregex {
        margin-top: -55px;
        margin-left: 10px;
        zoom:1.5;
    }
    label.new-box {
        margin-top: -38px;
        font-size: 18px;
        margin-left: 10px;
        transform: translate(1px, -4px);
        font-weight: 600;
        color: #fff;
    }
    input#regexchkbox {
        zoom: 1.5;
    }
    /*.intent_model_btn.new-intent_btn {
        margin-top: -50px;
    }*/

    #add_tag,
    #tag {
        background-color: rgba(0, 0, 0, 0);
        background-image: url("./img/down_arrow.svg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: right;
        background-position-y: center;
        background-size: 40px 50px;
    }

    .switch {
        position: absolute;
        display: inline-block;
        width: -35px;
        height: 60px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .modal-dialog.new-modal-dialog{
        /*margin-top:1px;*/
        height: 590px;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
    #chartdiv {
        width: 100%;
        height: 240px;
    }
    .entity_div.new-entity-div {
        display: none;
    }

         #srch_term{
        height: 40px;
    }
    .left-card-box .card-heading, .right-card-box .card-heading {
        padding: 0px 0px !important;
    }

    /*.left-card-box .scrollable {
      height: 219px !important;
    }*/

    .intent_model_btn.new-intent_btn {
       margin-top: 4% !important;
    }


    /*button.downloadjson.btn.trainBtn.width-button.downjsondata {
      margin-left: -1px !important;
    }*/

    /*.content {
      padding-left: 0px !important;
    }*/
    button.downloadjson.btn.trainBtn.width-button.downjsondata {
        margin-top: 2px !important;
    }
    @media (min-width:768px) {
        span.btn.btn-secondary.button-color.width-button.upload-button {
            margin-bottom: -5px !important;
        }

        h1.main-title.head_nw_db0 {
            margin-left: -17px !important;
        }

        .left-card-box {
         /* padding: 0px 0px !important;*/
        }

        /*.left-card-box .scrollable {
          height: 135px;
        }*/

        .new-left-card {
            width:100% !important
        }

         .intent_model_btn.new-intent_btn {
          margin-top: 30px !important;
        }

        /*.modal-header .close {
           margin-right: -60px;
        }*/

        .card-body.new_body_slot{
           min-width: 568px;
        }

    }

    @media (min-width:500px) {
        button.downloadjson.btn.trainBtn.width-button.downjsondata.nw_json_btn1 {
           margin-top: 8px !important;
        } 

        /*.left-card-box .scrollable {
           height: 155px;
        }*/

        .modal-dialog.new-modal-dialog {
            min-height: 1000px !important;
            height: 1000px !important;
        }

        .card-body.scrollable.scroll-x {
            min-width: 567px;
            margin-left: -59px;
        }

    }

    @media (max-width:425px) {
        h1.main-title.head_nw_db0 {
            font-size: 34px !important;
            margin-left: -17px !important;
        }

        .modal-dialog.new-modal-dialog {
            height: 930px !important;
        }

        .yubo_model button.modal_close {
            right: 3px !important;
        }

        .nw_slot_crds {
            height: 40% !important;
        }

    } 

    @media (min-width: 1024px)and (max-width:1100px){
        .new-left-card {
            width: 100% !important;
        }

        .modal-dialog.new-modal-dialog {
            width: 75% !important;
            max-width: 75% !important;
        }

        .modal-dialog.new-modal-dialog {
            min-height: 1000px !important;
            height: 1000px !important;
        }

        .card-body.scrollable.scroll-x, 
        .card-body.new_body_slot {
            min-width: 615px !important;
           /*margin-left: -48px !important;*/
        }

        .left-card-box {
           height: 52%;
        }
    }

    @media only screen and (max-width: 991px) {
        .btn {
            margin-left: 1px !important;
            margin-right: 5px !important;
        }
    }

    input.new_inputbox0 {
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 15px;
        width: 96%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .new_body_slot{
        border:1px solid #fff;
        /*border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;*/
        border-radius: 10px;
        margin-top: 15px;
        
    }

    input.new_addslot_box{
        width:45%;
        margin-top: 10px;
        margin-left: 10px;
    }

    input.new_addslot_box1{
        margin-left:15px;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .modal-dialog.new-modal-dialog{
        height: auto;
    }

    .height-scroll {
        height: 250px;
        overflow-y: scroll;
    }

    .modal-dialog {
      margin: -7px auto;
    }

    .intent_model_btn {
        margin-left: -2%;
    }

    .new-intent_btn {
        margin-left: 0%;
    }

    .left-card-box {
       height: 52%;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .new_addslot_box_nwrezex{
        text-align: center;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 0.5%;
    }

    button.close.padding-cross {
        margin-right: 1%;
    }
    .width-button {
    border-radius: 10px;
    height: 35px !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 91px !important;
}
@media (max-width: 991px){
    .btn-hdr {
    text-align: left;
   padding: 0px 0 !important; 
}

.addButton{
    display: flex;
}

}
.download-imgs{
   filter:  brightness(0) invert(1);
   width: 18px;
height: 20px;
margin-top: -4px;
margin-left: 4px;
}
.addButton{
        padding: 0px !important;
    display: inline-block;
}
.intent_fader {
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 15px 1%;
    width: 47%;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 15px solid #fff;
    }
    .edit-icon{
        margin-top: -9px;
    margin-left: 20px;
    font-size: 1.8rem;
}
.search-icons{
    margin-top: 14px;padding-right: 30px;
}
.upload-images{
    width: 18px;
height: 20px;
margin-top: -4px;
margin-left: 4px;

}
.search-input{
    border-radius: 10px !important;
    background-color: #eee;
}
.yubo_model .new-modal-content {
     padding: 0px 0px ; 
}
.discard_Btn {
    width: 121px;
    height: 38px;
    padding: 10px;
    background-color: #f36a6b;
    color: #000;
    border-radius: 23px;
    outline: none;
    border: 1px solid #f36a6b;
    margin-left: 5px;
    margin-right: 10px;
}
.save_button, .update_button {
    width: 123px;
    height: 39px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    border: 1px solid #fff;
}
.btn-danger {
  color: rgb(151, 19, 19);
  background-color: #6800a1 !important;
  border: none !important;
}
.modal-header .close {
    margin-top: -7px;
}
.editSlot i:before {
    float: left;
    font-size: 18px;
    position: absolute;
    right: 36px;
    top: -3px;
    cursor: pointer;
}
.add_modals{
    padding: 13px 20px 15px 20px !important;
}
.add_close{
    position: absolute;
    right: 12px !important;
    top: -2px !important;
    font-size: 40px;
    padding: 0;
    background: no-repeat;
    border: 0;
    color: #fff!important;
    font-weight: 600;
}
.add_plus_buttons{
     position: fixed;
    bottom: 60px;
    right: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6800a1;
    color: white;
    border: none;

}

img.intent_edit {
    width: 30px;
    display: block;
    cursor: pointer;
    margin-top: -13px;
}
img.delete_intents {
    width: 30px;
    display: block;
    margin-top: -13px;
}    
.delBtn{
    padding-left: 10px;
}
</style>

<section class="content integration-area">

    <div class="content-wrapper">
    <!-- Main content -->
        <section class="content">
            <div class="right-shift">
                <div class="container"></div>
                <div class="slot-header">
                    <div class="col-md-12">
                        <div class="row intent-padding" style="padding-left: 29px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h1 class="main-title head_nw_db0" style="font-size: 30px;">Manage DB Content</h1>
                            </div>
                                <div class="row" style="margin-left: -31px;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                    {{!-- <form class="navbar-form" role="search" action="/intent" method="POST"> --}}
                                        <div class="input-group add-on" style="    width: 98%;">
                                            <input type="hidden" id="keyword" value="{{keyword}}">
                                            <input class="form-control search-input" placeholder="Search Parameter" name="srch_term" onkeyup="myFun()" id="srch_term"
                                                type="text">
                                                <span class="fa fa-search form-control-feedback search-icons " style=""></span>
                                               

                                                                    

                                                
                                            {{!-- <div class="input-group-btn">
                                                <button class="btn btn-secondary search-button-intent" type="button"><i
                                                        class="glyphicon glyphicon-search"
                                                      ></i></button>
                                            </div>
                                             --}}
                                        </div>
                                </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="btn-hdr" style="text-align: center;">
                                <div class="addButton row">
                                        {{!-- <button type="button" data-toggle="modal" data-target="#add_slot" onclick="onAddSlotBtn()"
                                        class="btn btn-secondary add-slot button-color width-button" aria-expanded="false"><img src="https://s30.postimg.org/xjjlfotlt/icon4.png"/>Add
                                        Slot </button> --}}
                                    <div class="image-upload padding-button" onchange="loadSlotJson()">
                                        <label for="loadSlotJson">
                                            <span class="btn btn-secondary button-color width-button upload-button " for="loadSlotJson"> JSON <img
                                                    src="./dist/img/json-upload.png" class="upload-images" style=""></span>
                                        </label>
                                        <input type="file" id="loadSlotJson" style="display: none;" name="slotJson" accept=".json">
                                    </div>

                                    <button type="button"
                                        class="btn btn-secondary trainslot button-color width-button" aria-expanded="false">Train Bot</button>
                                        {{!-- <button type="button"
                                        class="btn btn-secondary contextobj button-color width-button" aria-expanded="false">context object</button> --}}
                                    {{!-- <button class=" btn btn-secondary button-color intent_excel padding-button">Download
                                        CSV</button> --}}
                                          <button type="button"  class=" downloadjson btn trainBtn width-button downjsondata nw_json_btn1 ">
                                            JSON <img
                                                    src="./dist/img/download-jsons.png" class="download-imgs" >
                                    </button>
                                </div>
                            </div>
                        </div>
                            </div>
                            
                    </div>
                </div>
            </div>
            <button class="add_plus_buttons" type="button" data-toggle="modal" data-target="#add_slot" onclick="onAddSlotBtn()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="width: 39px;
    height: 43px;">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></button>
        </div>
         <!-- form to edit the intent-->
        <form id="edit_form" role="form">
            <div class="container">
                <div class="intentTable" id="joy" style="width:100%">
                    <div class="table-primary" id="tBody"></div>
                </div>
            </div>
            <!-- On CLick of table td this modal opens-->
            <div class="yubo_model ad_intent">
                <div class="modal fade" id="openEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog new-modal-dialog" role="document">
                        <div class="modal-content  new-modal-content">
                            <div class="modal-header">
                                <button type="button" class="close padding-cross" onclick="discard(event)"
                                    aria-label="Close">&#10005;</button>
                                <h4 class="modal-title float-heading-none color-white padding-title"
                                    id="exampleModalLabel">
                                    <img class="edit-image-width" src="./dist/img/edit_intent.png" alt="">
                                    Edit Slots
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 9px 30px 20px 30px;">
                                        <div class="card-box left-card-box  new-left-card" style="margin-top: -48px; height:auto">
                                            <div class="card-heading">
                                                <input type="checkbox" class="crm text-center updateregexchkbox "id="updateregexchkbox">
                                                <label class="new-box">Regex</label>
                                                <div style="display:flex">
                                                    <p class="custom-title">Title</p>
                                                    <input class="form-control input-md custom-input" type="text"
                                                        name="clock" id="tag" placeholder="Slot Name" list="intents"
                                                        autocomplete="off" required>
                                                         <p class="custom-title new_custom_title">Label</p>
                                                    <input class="form-control input-md custom-input" type="text"
                                                    name="clock" id="slotlabel"  list="intents"
                                                    autocomplete="off" required>
                                                </div>
                                                <datalist id="intents">
                                                </datalist>
                                            </div>

                                            <div class="card-body scrollable scroll-x" style="min-width:auto ;margin-left: auto;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="editSlotParams add_params add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width height-scroll editunchecked" style="display: inline-block; border: 1px solid #fff; border-radius: 10px;">

                                                        </div> 
                                                        
                                                          <div class="add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width height-scroll maindivregex regexupdate" style="display: none; border: 1px solid #fff; 44border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body new_body_slot" style="min-width:auto ;margin-left: auto;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="add_input_fields_wrap form-group input-icons-i input-box-radius">
                                                            <input id="edit_ask"
                                                                placeholder="Phrase to ask for this Slot. e.g. 'Do you care for any specific brand?'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />

                                                                <input id="edit_match"
                                                                placeholder="Phrase on matching this Slot. e.g. 'That's a wonderful choice you have madel'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />

                                                                <input id="edit_mismatch"
                                                                placeholder="Phrase on mismatch of this Slot. e.g. 'This doesn't match any option. Please choose from any of the available options below.'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="intent_model_btn new-intent_btn">
                                                <button type="button" class="discard_Btn" onclick="discard(event)">Discard</button>
                                                <button type="button" value="Save" class="save_button updateSlotBtn">Update</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- form for add intent button click -->
        <form id="add_form" role="form">

            <div class="yubo_model ad_intent">
                <div class="modal fade" id="add_slot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog  new-modal-dialog" role="document" >
                        <div class="modal-content  new-modal-content add_modals" style="">
                            <div class="modal-header">
                                <button type="button" class="modal_close add_close" onclick="discard(event)" aria-label="Close">
                                    &times;
                                </button>
                                <h4 class="modal-title float-heading-none color-white" id="exampleModalLabel">
                                    <img class="edit-image-width" src="./dist/img/edit_intent.png" alt="">
                                    Add Slots
                                </h4>

                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-box left-card-box new-left-card ">
                                            <div class="card-heading">
                                                <div style="display:flex">
                                                    <input type="checkbox" class="crm text-center regexchkbox" id="addslotregex">
                                                     <label class="new-box">Regex</label>
                                                    <p class="custom-title new_title">Title</p>
                                                    <input class="form-control input-md custom-input" type="text"
                                                        name="clock" id="add_tag" autocomplete="off"
                                                        placeholder="Slot Name" list="intents" required>
                                                        <p class="custom-title  new_custom_title">Label</p>
                                                <input class="form-control input-md custom-input" type="text"
                                                name="clock" id="addslotlabel" placeholder="Slot Name" list="intents"
                                                autocomplete="off" required>
                                                </div>
                                                <datalist id="intents">
                                                </datalist>
                                            </div>
                                            <div class="card-body scrollable scroll-x" style="min-width:auto ;margin-left: auto;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        
                                                        <div class="add_params add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width height-scroll maindiv" style="display: inline-block; border: 1px solid #fff; border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                                            <div class="parameter_add"  id="parameter_count_0" style="display: inline-flex; width:92%">
                                                                <input id="add_expression"
                                                                placeholder="Add Parameters"
                                                                class="param_kay_add add_txtSearchProdAssign form-control new_addslot_box"
                                                                name="expression" value=""
                                                                style="margin-bottom:15px;" required />

                                                            <input id="add_expression"
                                                                placeholder="Add variants of parameter separated by comments [,]"
                                                                class="param_value_add add_txtSearchProdAssign form-control new_addslot_box1"
                                                                name="expression" value=""
                                                                style="margin-bottom:15px;" required />
                                                            </div>
                                                        </div>

                                                        <div class="add_input_fields_wrap form-group input-icons-i input-box-radius add-scroll-bar-width height-scroll addinputstylish" 
                                                        style="display:none; border: 1px solid #fff; border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                                            <input id="add_expresssion1"
                                                                placeholder="Add Regex String here"
                                                                class=" add_txtSearchProdAssign form-control new_addslot_box_nwrezex"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />
                                                        </div>
                                                                
                                                                
                                                        {{!-- </div> --}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body new_body_slot" style="min-width:auto ;margin-left: auto;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div
                                                            class="add_input_fields_wrap form-group input-icons-i input-box-radius">
                                                            <input id="ask"
                                                                placeholder="Phrase to ask for this Slot. e.g. 'Do you care for any specific brand?'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />

                                                                <input id="match"
                                                                placeholder="Phrase on matching this Slot. e.g. 'That's a wonderful choice you have madel.'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />

                                                                <input id="mismatch"
                                                                placeholder="Phrase on mismatch of this Slot. e.g. 'This doesn't match any option. Please choose from any of the available options below.'"
                                                                class=" add_txtSearchProdAssign form-control new_inputbox0"
                                                                name="expression" value="{{name}}"
                                                                style="margin-bottom:15px;" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="intent_model_btn">
                                            <button type="button" class="discard_Btn"
                                                onclick="discard(event)">Discard</button>
                                            <button type="button" class="slot_save_button save_button">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </section>
        {{>footer}}

    </div>
    
</section>
{{!-- {{>footer}} --}}


<script type="text/javascript">
let parameterCount = 0
async function loadSlotJson() {
        const slots = document.getElementById("loadSlotJson");
        const fdata = new FormData();
        fdata.append("slotJson", slots.files[0])

        try{
            const resp = await fetch('/uploadSlotJson', {
            method: "post",
            body: fdata
            });
            const result = await swal("Json uploaded successfully");
            location.reload();
        }
        catch(error){
            swal("Looks like the file format you have uploaded is not valid.")
        }

}

    //load slot  data onpage load
    loadSlots();
    async function loadSlots() {
        fetch('/loadslot', {
            method: "post",
        }).then(resp => resp.json())
            .then(async result => {

                title = "Click to Active"
                var trHTML = '';
                var slotdata = result.data
                slotdata.forEach(async function (item, i) {
                    if (item.active_status == "off") {
                    checkValue = ""
                    value = "off"
                    title = "Click to Active"
                } else {
                    checkValue = "checked"
                    value = "on"
                    title = " Click to Inactive"
                }
                    var patterns = item.slotsParam;
                                       
                    var displayPattern = '';
                    if(item.regex === true  || item.regex =='true' ){

                        displayPattern += '<div class="showPattern">' + patterns[0] + '</div>';
                    }else{
                        for (data of patterns) {
                        displayPattern += '<div class="showPattern">' + Object.keys(data) + '</div>';
                     }
                    }
                    trHTML += '<div class="card intent_fader"><div class="intent-cont-header"><div class="intent-box-header"><div class="user card-header" value=' + item._id + ' id=' + i + '>' + item.slotLabel + '</div><div style="display:flex"><label title=' + title + ' class="switch"><input id=' + item._id + ' value=' + value + ' onchange="inactiveIntent(this.id, this.value)" type="checkbox" hidden=""' + checkValue + '><span class="slider round-new"></span></label><div class="editSlot" data-toggle="modal" data-target="#openEditModal" value=' + item._id + '><img src="dist/img/updated-icon/new_edit_icon.png" class="intent_edit"></div><div class="delBtn" value=""><button id=' + item._id + ' value="" type="button" onclick="deleteSlot(this.id,this.value)"class="delete_intent"><img src="dist/img/updated-icon/delete_newIcon.png" class="delete_intents"></button></div></div></div></div><div class="bodyContainer">' + displayPattern + '</div></div>';
                    $('#tBody').html(trHTML).fadeIn();
                })
            })
            .catch(error => {
                swal("Looks like the file format you have uploaded is not valid.")
                //location.reload();
            }
            )
    }



    const srch_box = document.getElementById('srch_term');
    srch_box.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            keywordSrch();
        }
    });

    async function keywordSrch() {
        var val = document.getElementById('srch_term').value;
        if (val) {
            await location.replace('/intent?keyword=' + val);
        } else {
            location.href = '/intent'
        }
    }

    var item;
    var item_id;
    var inputVal;
    var add_wrapper = $(".add_params");
   // var add_bottom = $(".add_bottom-div");
    $(document).on("keypress", "input.add_txtSearchProdAssign", function (e, j) {

        if (e.which == 13) {
            parameterCount = parameterCount + 1
            inputVal += $(this).val();
            index = $('input.add_txtSearchProdAssign').index(this);
             $(add_wrapper).append(
            '<div class="parameter_add"  id="parameter_count_' + parameterCount + '" style="display: inline-flex; width: 100%">'+
           '<input id="add_expression" placeholder="Add Parameter" class="param_kay_add add_txtSearchProdAssign form-control new_addslot_box"'+
            'name="expression" value="{{name}}"' +
            'style="margin-bottom:15px;" required />'+

            '<input id="add_expression"' +
            'placeholder="Add variants of parameter separated by comments [,]"'+
            'class="param_value_add add_txtSearchProdAssign form-control new_addslot_box1"'+
            'name="expression" value="{{name}}"'+
            'style="margin-bottom:15px;" required />'+
            '<div class="col-md-1"><span class="delete btn btn-danger tree_model_sustract" style="margin-top: 10px!important; margin-bottom: 5px!important;padding: 10px; padding-top: 6px;" ' +
            'id="delete_Parameter_'+ parameterCount +'" onclick="deleteParameter(this.id)' +
            '" style="font-size:16px; font-weight:bold;">' +
            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.46 155.26">' +
            '<defs>' +
            '<style>' +
            '.cls-1 {' +
            'fill: #fff;' +
            '}' +
            '</style>' +
            '</defs>' +
            '<title>delete</title>' +
            '<g id="Layer_2" data-name="Layer 2">' +
            '<g id="chatbot">' +
            '<path class="cls-1" d="M4.55,54.59H18.2v96.13a4.54,4.54,0,0,0,4.54,4.54h91a4.55,4.55,0,0,0,4.55-4.54V54.59h13.64a4.55,4.55,0,1,0,0-9.1H4.55a4.55,4.55,0,1,0,0,9.1Zm40.94,82.48a4.55,4.55,0,0,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.09,0V63.68a4.55,4.55,0,1,1,9.09,0Z"></path>' +
            '<path class="cls-1" d="M127.37,22.74a4.55,4.55,0,0,0-4.55-4.54H91V4.55A4.55,4.55,0,0,0,86.43,0H50a4.54,4.54,0,0,0-4.55,4.55V18.2H13.65A4.54,4.54,0,0,0,9.1,22.74V36.39H127.37ZM54.59,9.1H81.88v9.1H54.59Z"></path>' +
            '</g>' +
            '</g>' +
            '</svg>' +
            '</span>' +
            '</div>' +
            '</div>'
        )

        }
    });
      //Assign New input fields on keypress edit field
    $(document).on("keypress", "input.txtSearchProdAssign", function (e, j) {
        if (e.which == 13) {
            inputVal += $(this).val();
            index = $('input.txtSearchProdAssign').index(this);
            $(wrapper).append('<div class=" input_fields_wrap form-group input-icons-i"> <input class="txtSearchProdAssign keypattern form-control" placeholder="Add a Value Expression" name="name" value="" required /> <i class="remove_field fa fa-trash"></i></div>');
        }
    });

    //Remove fields on click of delete icon a Add Intenta
    $(add_wrapper).on("click", ".add0._remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })

    $(add_bottom).on("click", ".add_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    });


    // document.getElementById("edit_form").addEventListener("submit", sendgreetings);
    var wrapper = $(".input_fields_wrap");
    var bottom = $(".bottom-div");

    //Remove fields on click of delete icon
    $(wrapper).on("click", ".remove_field", function (e) {

        e.preventDefault(); $(this).parent('div').remove();
    })
    $(bottom).on("click", ".remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })
    var values = [];
    var greetresp = [];
    //update slot data ajax call
    $('.updateSlotBtn').click(function(){
        event.preventDefault();
        var data_id;
        var values = [];
        $('.txtSearchProdAssign').each(function () {
            if (this.value != '') {
                values.push(this.value);
            }
        });

        id = $('.new-div').attr('id'),
        regex=$('.regexchkbox').val()=='1' ? true : false;
        let regexupdate;
        let keyArray = []
        let responsearray =[];
        $('.parameter_add').each(function(index){
            let obj = {}
              let someHtmlString = $(this).find('input.param_kay_add').val()
              obj[ $("<div>").text(someHtmlString).html()]= $(this).find('input.param_value_add').val().split(',').map(function (value) {
              return value.trim();
            });
            if($(this).find('input.param_kay_add').val() != '' && $(this).find('input.param_value_add').val() != ''){
              keyArray.push(obj);
            }
        })
        let slotName =  document.getElementById('tag').value;
        let slotsParam;
        let slotLabel =$('#slotlabel').val();
        if(regexcheckedupdate == 'true'){
            slotsParam =$('#add_expresssionupdate1').val().trim();
            regexupdate = true;
        }else{
            slotsParam =keyArray;
            regexupdate = false;
        }


     if(!slotName){
        swal({
          title: "Please provide slot name",
          icon: "warning",
          timer: 3500
        });
      }else if(!slotLabel){
        swal({
          title: "Please provide slot label",
          icon: "warning",
          timer: 3500
        });
      }else if(slotsParam.length == 0){
        swal({
          title: "Please provide parameters",
          icon: "warning",
          timer: 3500
        });    
      } else{
        let objData ={
                    slotName: slotName, 
                    slotLabel:slotLabel,
                    id: selectedSlotItd,
                    slotsParam:slotsParam,
                    regex:regexupdate,
                    ask : $('#edit_ask').val(),
                    match:$('#edit_match').val(),
                    mismatch : $('#edit_mismatch').val()
                }
        
        //Send all info from form to api for saving all info related to Intent
        $.ajax({
            type: "POST",
            url: "/updateSlot",
            timeout: 10000,
            data: objData,
            success: async function (resp) {
                if(resp.statusCode == "200" || resp.statusCode == "201" ){
                     await swal(resp.msg);
                     location.reload();
                }else{
                     await swal(resp.msg);
                }
            },
            error: function (jqXHR, textStatus, err) {
                alert('Something went wrong, please refresh the page')
            }
        });
      }
    });

    var edit_wrap = $(".input_fields_wrap");
    var bottom_wrap = $(".bottom-div");

    $(edit_wrap).on("click", ".edit_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })
    $(bottom_wrap).on("click", ".edit_remove_field", function (e) {
        e.preventDefault(); $(this).parent('div').remove();
    })
    var checkregexbool = false;
    selectedSlotItd="";
    //on edit slot  data funnction  ,fill  all data on edit button
    $("#joy").on("click", ".editSlot", function () {
        $('.new-div').remove();
        $('.edit-resp').remove();
        var value = $(this).attr('value');
        $(".popup").attr("id", value);

        $.ajax({
            type: "POST",
            url: "/slotbyId",
            timeout: 2000,
            data: { id: value },
            success: function (data) {
                data_id = data.data._id;
                selectedSlotItd = data.data._id;
                var slotparams =data.data.slotsParam;
                checkregexbool = data.data.regex;
                $('#tag').attr("value", data.data.slotName)
                $('#slotlabel').val(data.data.slotLabel)
                $('#edit_ask').val(data.data.ask)
                $('#edit_match').val(data.data.match)
                $('#edit_mismatch').val(data.data.mismatch)
                if(data.data.regex==true){
                    document.querySelector('.maindivregex').style.display = 'inline-flex';
                    document.querySelector('.editSlotParams').style.display = 'none';
                    $('#updateregexchkbox').prop('checked', true);
                    regexcheckedupdate = 'true';
                }else{
                    document.querySelector('.maindivregex').style.display = 'none';
                    document.querySelector('.editSlotParams').style.display = 'inline-block';
                    $('#updateregexchkbox').prop('checked', false);
                }
                $('.editSlotParams').html('');
                let count=99;
                slotparams.forEach(ele=>{
                    if(data.data.regex == false || data.data.regex == 'false' ){ 
                        for (const property in ele){        
                        count++;
                        let html =`
                                <div class="parameter_add" id="parameter_count_${count}" style="display: inline-flex; width: 100%">
                                                <input id="add_expression" 
                                                        placeholder="Add Parameter" 
                                                        class="param_kay_add add_txtSearchProdAssign form-control new_addslot_box" 
                                                        name="expression" value="${property}" style="margin-bottom:15px;" 
                                                        required="">

                                            <input id="add_expression" 
                                                    placeholder="Add variants of parameter separated by comments [,]" 
                                                    class="param_value_add add_txtSearchProdAssign form-control new_addslot_box1" 
                                                    name="expression" value="${ele[property]}" style="margin-bottom:15px;" required="">
                                            `
                                            //to solve the design issue in edit modal added this code
                                        if(count == 100){
                                            html+= `<div class="col-md-1">
                                                    </div>`
                                            }
                                        if(count != 100){
                                        html+= `<div class="col-md-1">
                                                <span class="delete btn btn-danger tree_model_sustract" 
                                                        style="margin-top: 10px!important; margin-bottom: 5px!important;padding: 10px; padding-top: 6px;" 
                                                        id="delete_Parameter_${count}"
                                                        onclick="deleteParameter(this.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.46 155.26">
                                                    <defs><style>.cls-1 {fill: #fff;}</style></defs>
                                                    <title>delete</title>
                                                    <g id="Layer_2" data-name="Layer 2"><g id="chatbot">
                                                        <path class="cls-1" d="M4.55,54.59H18.2v96.13a4.54,4.54,0,0,0,4.54,4.54h91a4.55,4.55,0,0,0,4.55-4.54V54.59h13.64a4.55,4.55,0,1,0,0-9.1H4.55a4.55,4.55,0,1,0,0,9.1Zm40.94,82.48a4.55,4.55,0,0,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.09,0V63.68a4.55,4.55,0,1,1,9.09,0Z"></path>
                                                        <path class="cls-1" d="M127.37,22.74a4.55,4.55,0,0,0-4.55-4.54H91V4.55A4.55,4.55,0,0,0,86.43,0H50a4.54,4.54,0,0,0-4.55,4.55V18.2H13.65A4.54,4.54,0,0,0,9.1,22.74V36.39H127.37ZM54.59,9.1H81.88v9.1H54.59Z"></path></g></g></svg></span>
                                            </div>`
                                            }

                                            `
                                </div>
                        `
                        $(".editSlotParams").append(html);
                        }  
                        }
                    else{
                         $('.maindivregex').html('');
                         let html =`<input id="add_expresssionupdate1"
                                                                placeholder="Add Regex String here"
                                                                class=" add_txtSearchProdAssign form-control new_addslot_box_nwrezex"
                                                                name="expression" value="${slotparams}"
                                                                 style="margin-bottom:15px;" required />`
                        $(".maindivregex").append(html);
                    }
                })

            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please refresh the page")
            }
        });
    });
    function discard(e) {
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Want to discard changes",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((discard) => {
            if (discard) {
                location.reload();
            } else {
                swal("Your slots are safe!");
            }
        });
    }

    function deleteSlot(id) {

        //var result = confirm("Are you sure want to delete " +name+"?");
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this slot!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/deleteslot",
                        timeout: 2000,
                        data: { slotid: id},
                        success: async function (data) {
                            await swal (data.msg)
                            location.reload();
                        },
                        error: function (jqXHR, textStatus, err) {
                            //alert('text status '+textStatus+', err '+err)
                            swal("Something went wrong, please refresh the page");
                        }
                    });
                } else {
                    swal("Your Slots are safe!");
                }
            });
    }

</script>
<script type="text/javascript">

    async function inactiveIntent(id, val) {
        if (val == "on") {
            val = "off"
        } else {
            val = "on"
        }
        document.getElementById(id).value = val

        $.ajax({
            type: "POST",
            url: "/setslotActive",
            data: { status: document.getElementById(id).value, id: id },
            success: async function (resp) {
                if (resp.message == "success") {
                    if (val == "off") {
                        await swal({
                            title: "Slots gets inactive",
                            icon: "success",
                            button: "OK",
                        })
                    } else {
                        await swal({
                            title: "Slots gets active",
                            icon: "success",
                            button: "OK",
                        })

                    }
                    //location.reload();
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }

    function saveText(text, filename) {
        var a = document.createElement('a');
        a.setAttribute('href', 'data:text/plain;charset=utf-u,' + encodeURIComponent(text));
        a.setAttribute('download', filename);
        document.body.appendChild(a);
        a.setAttribute("style", "display: none;");
        a.click();
        a.remove();
    }

</script>


<script>
    function existingTag(text) {
        var existing = false,
            text = text.toLowerCase();

        $(".tags").each(function (i) {
            if ($(this).text().toLowerCase() == text) {
                existing = true;
                return "";
            }
        });

        return existing;
    }

    $(function () {
        $(".tags-new textarea").focus();
        $(".tags-new textarea").keyup(function (e) {

            var tag = $(this).val().trim(),
                length = tag.length;
            if (length > 0 && ((tag.charAt(length - 1) == ',') && (tag != ",") || e.which == 13)) {
                tag = ((tag.charAt(length - 1) == ',') && (tag != ",")) ? tag.substring(0, length - 1) : tag.substring(0, length)
                if (!existingTag(tag)) {
                    $('<li class="tags"><span class="entitiesTag">' + tag + '</span><img class="entity-close" src="./dist/img/cross-sign.png" alt="cross-image"></li>').insertBefore($(".tags-new"));
                    $(this).val("");
                }
                else {
                    $(this).val(tag);
                }
            }
        });

        $(document).on("click", ".tags .entity-close", function () {
            $(this).parent("li").remove();
        });

    });

    $('.trainslot').click(function(){
            $.ajax({
                        type: "POST",
                        url: "/trainslot",
                        timeout: 2000,
                        success: async function (data) {
                            try{
                                  await swal (data.msg)
                            }catch(error){
                                //console.log('error',error)
                                swal ('error in training')
                            }
                        },
                        error: function (jqXHR, textStatus, err) {
                            //alert('text status '+textStatus+', err '+err)
                            swal("Something went wrong, please refresh the page");
                        }
                    });
    })


$('.downloadjson').click(function(){
            $.ajax({
                        type: "POST",
                        url: "/downloadjson",
                        timeout: 2000,
                        success: async function (resp) {
                            try{
                                downloadObjectAsJson(resp.data,"slot");
                                  await swal (resp.msg)
                            }catch(error){
                                //console.log('error',error)
                                swal ('error in downloading json')
                            }
                        },
                        error: function (jqXHR, textStatus, err) {
                            //alert('text status '+textStatus+', err '+err)
                            swal("Something went wrong, please refresh the page");
                        }
                    });
    })



async function downloadObjectAsJson(exportObj, exportName){
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
    var downloadAnchorNode = document.createElement('a');
    downloadAnchorNode.setAttribute("href",     dataStr);
    downloadAnchorNode.setAttribute("download", exportName + ".json");
    document.body.appendChild(downloadAnchorNode); // required for firefox
    downloadAnchorNode.click();
    downloadAnchorNode.remove();
  }

// for manually slot additionaddition
$('.slot_save_button').click(function(){
    let keyArray = []
    let responsearray =[],regex=$('.regexchkbox').val()=='1' ? true : false
    $('.parameter_add').each(function(index){
        let obj = {}
        let someHtmlString = $(this).find('input.param_kay_add').val()
        obj[ $("<div>").text(someHtmlString).html() ]= $(this).find('input.param_value_add').val().split(',').map(function (value) {
          return value.trim();
        });
        if($(this).find('input.param_kay_add').val() != '' && $(this).find('input.param_value_add').val() != ''){
              keyArray.push(obj);
            }
    })
        let slotsParam;
         if(regexchecked == 'true'){
             slotsParam = 1;
         }else{
             slotsParam = keyArray;
         }
        let slotName = $('#add_tag').val();
       
        let slotLabel =$('#addslotlabel').val();
        let ask=$('#ask').val();
        let match=$('#match').val();
        let mismatch=$('#mismatch').val();
        let addexp=$('#add_expresssion1').val().trim();

     if(!slotName){
        swal({
          title: "Please provide slot name",
          icon: "warning",
          timer: 3500
        });
      }else if(!slotLabel){
        swal({
          title: "Please provide slot label",
          icon: "warning",
          timer: 3500
        });
      }else if(slotsParam.length == 0){
        swal({
          title: "Please provide parameters",
          icon: "warning",
          timer: 3500
        });    
      } else{

    $.ajax({
                        type: "POST",
                        data:{
                                slotName:slotName,
                                slotsParam:keyArray,
                                slotLabel: slotLabel,
                                regex:regex,
                                ask:ask,
                                match:match, 
                                mismatch:mismatch,
                                addexp:addexp
                            },
                        url: "/slotadd",
                        success: async function (resp) {
                            try{
                                  await swal (resp.msg)
                                  location.reload();
                            }catch(error){
                                //console.log('error',error)
                                swal ('error in adding slot')
                            }
                        },
                        error: function (jqXHR, textStatus, err) {
                            //alert('text status '+textStatus+', err '+err)
                            swal("Something went wrong, please refresh the page");
                        }
                    });
      }
})
    let regexchecked ='false';
    $('.regexchkbox').click(function() {
                
        if(this.checked) {
            $('.regexchkbox').val('1')
            regexchecked ='true';
            document.querySelector('.maindiv').style.display = 'none';

            document.querySelector('.addinputstylish').style.display = 'inline-flex';
        }else{
            regexchecked ='false';
            document.querySelector('.maindiv').style.display = 'inline-flex';
            document.querySelector('.addinputstylish').style.display = 'none';
            $('.regexchkbox').val('0')
        }

    })
    let regexcheckedupdate ='false';
      $('.updateregexchkbox').click(function() {
        if(this.checked) {
             regexcheckedupdate ='true';
            document.querySelector('.editunchecked').style.display = 'none';
            document.querySelector('.maindivregex').style.display = 'inline-flex';

            if(checkregexbool !== true){
                 $('.regexupdate').html('');
            let html =`<input id="add_expresssionupdate1"
                        placeholder="Add Regex String here"
                        class=" add_txtSearchProdAssign form-control new_addslot_box_nwrezex"
                        name="expression" value=""
                        style="margin-bottom:15px;" required />`
                        $(".regexupdate").append(html);
            }
        }else{
             regexcheckedupdate ='false';
            document.querySelector('.maindivregex').style.display = 'none';
            document.querySelector('.editunchecked').style.display = 'inline-block';

            if(checkregexbool !== false){
            $('.editSlotParams').html('');
            let count=99;
            count++;

              let html =`
                            <div class="parameter_add" id="parameter_count_${count}" style="display: inline-flex; width: 100%">
                                            <input id="add_expression" 
                                                    placeholder="Add Parameter" 
                                                    class="param_kay_add add_txtSearchProdAssign form-control new_addslot_box" 
                                                    name="expression" value="" style="margin-bottom:15px;" 
                                                    required="">

                                        <input id="add_expression" 
                                                placeholder="Add variants of parameter separated by comments [,]" 
                                                class="param_value_add add_txtSearchProdAssign form-control new_addslot_box1" 
                                                name="expression" value="" style="margin-bottom:15px;" required="">
                                        `
                                        //to solve the design issue in edit modal added this code
                                       if(count == 100){
                                        html+= `<div class="col-md-1">
                                                </div>`
                                        }
                                       if(count != 100){
                                       html+= `<div class="col-md-1">
                                            <span class="delete btn btn-danger tree_model_sustract" 
                                                    style="margin-top: 10px!important; margin-bottom: 5px!important;padding: 10px; padding-top: 6px;" 
                                                    id="delete_Parameter_${count}"
                                                    onclick="deleteParameter(this.id)">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.46 155.26">
                                                <defs><style>.cls-1 {fill: #fff;}</style></defs>
                                                <title>delete</title>
                                                <g id="Layer_2" data-name="Layer 2"><g id="chatbot">
                                                    <path class="cls-1" d="M4.55,54.59H18.2v96.13a4.54,4.54,0,0,0,4.54,4.54h91a4.55,4.55,0,0,0,4.55-4.54V54.59h13.64a4.55,4.55,0,1,0,0-9.1H4.55a4.55,4.55,0,1,0,0,9.1Zm40.94,82.48a4.55,4.55,0,0,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.09,0V63.68a4.55,4.55,0,1,1,9.09,0Z"></path>
                                                    <path class="cls-1" d="M127.37,22.74a4.55,4.55,0,0,0-4.55-4.54H91V4.55A4.55,4.55,0,0,0,86.43,0H50a4.54,4.54,0,0,0-4.55,4.55V18.2H13.65A4.54,4.54,0,0,0,9.1,22.74V36.39H127.37ZM54.59,9.1H81.88v9.1H54.59Z"></path></g></g></svg></span>
                                        </div>`
                                        }

                                        `
                            </div>
                      `
                       $(".editSlotParams").append(html);
            
            
        }
        }

    })

</script>
<script>
function search() {
   var name = document.getElementById("searchForm").elements["srch_term"].value;
   var pattern = name.toLowerCase();
   var targetId = "";
   var divs = document.getElementsByClassName("col-md-2");
   for (var i = 0; i < divs.length; i++) {
      var para = divs[i].getElementsByTagName("p");
      var index = para[0].innerText.toLowerCase().indexOf(pattern);
      if (index != -1) {
         targetId = divs[i].parentNode.id;
         document.getElementById(targetId).scrollIntoView();
         break;
      }
   }
}
</script>
<script>
  function myFun() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("srch_term");
  filter = input.value.toUpperCase();
  table = document.getElementById("tBody");
  tr = table.getElementsByClassName("card");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("div")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      }
       else {
        tr[i].style.display = "none";
      }
    }
  }
}

function deleteParameter(id) {
    var delBtnId = id
    let delBtnIndex = delBtnId.split('_')
    let decrementIndexVal = delBtnIndex[2]
    let parameterCount = parseInt(decrementIndexVal) - 1
   //console.log("Parameter count after delete", parameterCount)
    $('#parameter_count_'+decrementIndexVal ).remove()
}

function onAddSlotBtn(){
    //clear all previou data values stored in input boxes 
   $('.parameter_add').each(function(index){
        $(this).find('input.param_kay_add').val('')
        $(this).find('input.param_value_add').val('')
    })
}

</script>