
{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YugasaBot</title>
  <style>
    /* CSS Styling */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      text-align: center;
    }
    .product-image {
      text-align: center;
      margin-bottom: 20px;
    }
    .product-image img {
      max-width: 100%;
      height: auto;
    }
    p {
      text-align: justify;
    }
    @media (max-width: 600px) {
      /* Mobile Styles */
      .container {
        padding: 10px;
      }
      .product-image {
        margin-bottom: 10px;
      }
    }
    .h1tag{
             background: #5d00d4;
             color: white;
             text-align: center;
    }
  </style>
</head>
<style>
  .margintop{
    margin-top: -58px;
  }
  .h2class{
      background: #6800a1;
      padding:10px;
      color : white ;
      font-weight: 600;  
      margin-top: 36px;
      border-radius: 15px;
      padding: 20px;
      text-align: center
  }
  .buttonColor{
    background-color: #6800a1;
    color: white;
  }
</style>
<body>
<div class="content-wrapper  new_cntent_wrapstory">

  <div class="container">
    <div>
        <h2  class="h2class" > 
          To enable this feature, update your Generative AI key under the 'Settings' page.
        </h2>
        <p style="text-align: center;padding:10px">
          <h3  style="text-align: center;padding:10px">
             Watch this video to know how to get generative AI Key 
          </h3>
        </p>
    </div>
    <div style="text-align: center;">
{{!--       
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_tOHdhantgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe> --}}

      <video width="420" height="340" controls class="margintop">
        <source src="./videos/help/basic/howToGetGenAiKey.mp4" type="video/mp4">
        <source src="./videos/help/basic/howToGetGenAiKey.mp4" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <br/>
      <a href="/subscription" class="">
        <button type="button" class="btn buttonColor">
            Go to Settings
        </button>
      </a>
    </div>

  </div>
{{>footer}}

  </div>

</body>
</html>