<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

<style>
  .content-wrapper.bg-img-story.new_cntent_wrapstory{
    min-height:510px !important;
  }
  li.About.active:before {
    border-bottom: 1px solid #064e86 ;
}
li.Services.active:before {
    border-bottom: 1px solid #f3443a;
}
.rectangle {
  height: 6%;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-right-radius: 10px;
  {{!-- margin-left: 30px; --}}
}
.story{
  font-size: 30px;
  font-weight:700;
  text-align:center;
  padding:10px
}
.textarea-story{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    line-height: 20px;
}
textarea.form-control {
    height: 65% !important;
}
.uploadstory.button-color.btn.btn-secondary {
  margin-bottom: 40px;
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-img-story new_cntent_wrapstory">
  <!-- Main content -->
  <section class="content">
    {{#unless genAiStory}}
      <!-- Small boxes (Stat box) -->
      <div class="row">
      <div id="exTab2" class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-view">
            <div class="panel-title">
              <ul class="nav nav-tabs">
                <li class="active About">
                  <a href="#1" data-toggle="tab">
                    <img src="./dist/img/About2.png" class="icon-img">
                    <img src="./dist/img/About.png">
                    <h3>About</h3>
                  </a>
                </li>
                <li class="Services"><a href="#2" data-toggle="tab">
                    <img src="./dist/img/Services-2.png" class="icon-img">
                    <img src="./dist/img/Services.png">
                    <h3> Services</h3>
                  </a>
                </li>
                <li class="Terms"><a href="#3" data-toggle="tab">
                    <img src="./dist/img/Terms2.png" class="icon-img">
                    <img src="./dist/img/Terms.png">
                    <h3> Terms</h3>
                  </a>
                </li>
                <li class="Contact"><a href="#4" data-toggle="tab">
                    <img src="./dist/img/Contact2.png" class="icon-img">
                    <img src="./dist/img/Contact.png">
                    <h3> Contact</h3>
                  </a>
                </li>
                <li class="Other"><a href="#5" data-toggle="tab">
                    <img src="./dist/img/Other-2.png" class="icon-img">
                    <img src="./dist/img/Other.png">
                    <h3> Other</h3>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel-body">
            <div class="tab-content ">
              <div class="tab-pane active panel-1" id="1">
                <textarea class="form-control" id="about" rows="3" onkeyup="word_count(this,1)" maxlength="{{#if isGenAiEnabled}}12000{{else}}1600{{/if}}"
                  placeholder="You are just a step away to get Yugasa Bot working on your website. Simply copy paste text here about your company and save that text. Yugasa Bot will know about you immediately after that and shall be good to tell about you, if anyone asks it the same.">{{story.about}}</textarea>
                <span id="wordcount1">Limit - {{#if isGenAiEnabled}}12000{{else}}1600{{/if}} characters</span>
              </div>
              <div class="tab-pane panel-2" id="2">
                <textarea class="form-control" id="services" rows="3" onkeyup="word_count(this,2)" maxlength="{{#if isGenAiEnabled}}12000{{else}}1600{{/if}}"
                  placeholder="Tell Yugasa Bot about your services and offerings here.">{{story.services}}</textarea>
                <span id="wordcount2">Limit - {{#if isGenAiEnabled}}12000{{else}}1600{{/if}} characters</span>
              </div>
              <div class="tab-pane panel-3" id="3">
                <textarea class="form-control" id="terms" rows="3" onkeyup="word_count(this,3)" maxlength="{{#if isGenAiEnabled}}12000{{else}}1600{{/if}}"
                  placeholder="Share your company's terms and conditions with Yugasa Bot, so that it can tell those to your website visitor, whenever needed.">{{story.terms}}</textarea>
                <span id="wordcount3">Limit - {{#if isGenAiEnabled}}12000{{else}}1600{{/if}} characters</span>
              </div>
              <div class="tab-pane panel-4" id="4">
                <textarea class="form-control" id="contact" rows="3" onkeyup="word_count(this,4)" maxlength="{{#if isGenAiEnabled}}12000{{else}}1600{{/if}}"
                  placeholder="Type in your Contact details here. Yugasa Bot will inform your website visitor about those, when asked by anyone">{{story.contact}}</textarea>
                <span id="wordcount4">Limit - {{#if isGenAiEnabled}}12000{{else}}1600{{/if}} characters</span>
              </div>
              <div class="tab-pane panel-5" id="5">
                <textarea class="form-control" id="others" rows="3" onkeyup="word_count(this,5)" maxlength="{{#if isGenAiEnabled}}12000{{else}}1600{{/if}}"
                  placeholder="Do you have anything more to tell Yugasa Bot. Sure, share that over here and Yugasa Bot will learn that too.">{{story.others}}</textarea>
                <span id="wordcount5">Limit - {{#if isGenAiEnabled}}12000{{else}}1600{{/if}} characters</span>
              </div>
            </div>
            <button class="uploadstory button-color btn btn-secondary" onclick="yourStory()">Train Your Story</button>
          </div>
        </div>
      </div>
      {{!-- popup modal --}}
      <div class="help-button">
        <!-- Button to Open the Modal -->
        <!-- Large modal -->
        <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
          <span class="question-mark">?</span>
          <span class="help-text">Help</span></button>
      </div>



      </div> <!-- /.row -->

    {{/unless}}
    {{!-- //Show the big story section if user has added GenAi Key in settings section --}}
    {{#if genAiStory}}
      <div class="story">SHARE YOUR STORY</div>
      <div class="row">
      <div class="col-md-1"></div>
         <div class="col-md-10">
        <div class="tab-pane active panel-1" id="1">
          <div class="rectangle">
            <span id="wordcount1"><p style="text-align: right;padding-right: 12px; margin-top:8px">Characters: <span id="story_word_typed">0</span>/60000</p></span>
          </div>
          <textarea class="form-control textarea-story" 
                    id="story_area" rows="15" cols="5" placeholder="" 
                    onkeyup="story_word_count()" 
                    maxlength="60000">{{story.about}}</textarea>
          </div>
            <button class="uploadstory button-color btn btn-secondary" 
                    onclick="yourStoryForBasicUSer()">Train Your Story
            </button>
        </div>
      <div class="col-md-1"></div>
      </div>
      <div class="help-button">
        <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
          <span class="question-mark">?</span>
          <span class="help-text">Help</span></button>
      </div>
    {{/if}}

    {{>footer}}
  </section>
  <!-- /.content -->
</div>

      <!-- The Modal -->
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-large">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="set-close close help-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="img-responsive" src="./dist/img/yubo_help_1.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page one
                      </div> --}}
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="./dist/img/yubo_help_2.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page two
                      </div> --}}
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="./dist/img/yubo_help_3.png" alt="...">
                      {{!-- <div class="carousel-caption">
                        Help page three
                      </div> --}}
                    </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{{!-- {{>footer}} --}}
<script type="text/javascript">
  function yourStory() {

    let bertIntent = [];
    val1 = $('#about').val();
    val2 = $('#services').val();
    val3 = $('#terms').val();
    val4 = $('#contact').val();
    val5 = $('#others').val();
    if(val1=='' && val2 =='' && val3 =='' && val4 =='' && val5 ==''){
      alert('Please enter data to tarin your story.');
      retutn;
    }
    val = val1 + ' ' + val2 + ' ' + val3 + ' ' + val4 + ' ' + val5;
    bertIntent[0] = val1
    bertIntent[1] = val2
    bertIntent[2] = val3
    bertIntent[3] = val4
    bertIntent[4] = val5
    let nodeBertIntent = {
      "about": val1,
      "services": val2,
      "terms": val3,
      "contact": val4,
      "others": val5
    }
    let pythonBertIntent = {
      "stories": bertIntent
    }

    var wrapper = document.createElement('div');
    wrapper.class = "save_loading";
    wrapper.innerHTML = '<img src="/img/loader.gif">';
    $.ajax({
      type: "POST",
      url: "/uploadYourStory",
      data: { pythonBertIntent: pythonBertIntent, nodeBertIntent: nodeBertIntent },
      beforeSend: async function () {
        await swal({
          title: 'Training in progress...',
          content: wrapper,
          button: false,
          closeOnClickOutside: false,
          closeOnEsc: false,
        })
      },
      success: async function (data) {
        if (data.message == "success") {
          await swal("Cool !", "Training done successfully!", {
            icon: "success",
            buttons: false,
            timer: 1500
          });
        } else if (data.message == "limit") {
          await swal({
            title: "Exceeded limit, total limit is 8000 characters",
            icon: "error",
            button: "OK",
          });
        }else if (data.message == "less") {
          await swal({
            title: "Your story word limit must be greater than 50 characters.",
            icon: "error",
            button: "OK",
          })
        }else {
          await swal({
            title: "The given file format is not valid.",
            icon: "error",
            button: "OK",
          });
        }
        location.reload();
      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    });
  }

  //for restricting word Limit
  var start_count = 1, wordlength;
  var maxlength;
  if({{isGenAiEnabled}}){
    maxlength=12000;
  } else {
    maxlength=1600;
  }
  do {
    function word_count(obj, count) {
      var wordcount = document.getElementById("wordcount" + count)
      wordlength = maxlength - obj.value.length;
      wordcount.innerHTML = wordlength + "/" + maxlength;

      if (wordlength < 10) {
        wordcount.style.color = "firebrick"
      } else {
        wordcount.style.color = "black"
      }
    }
    start_count++
  } while (start_count <= maxlength)

</script>

<script>
  $( document ).ready(function() {
      story_word_count();
  });
  
  function story_word_count() {
      typed_word = document.getElementById("story_area").value;
      typed_word_length = typed_word.length;
      word_count = document.getElementById("story_word_typed");
      word_count.innerHTML = typed_word_length;
  }

  function yourStoryForBasicUSer(){
        let bertIntent = [];
        val1 = $('#story_area').val();
        if(val1 =='' || val1 == undefined ){
          alert('Please enter data to tarin your story.');
          retutn;
        }
        bertIntent[0] = val1
        bertIntent[1] = ""
        bertIntent[2] = ""
        bertIntent[3] = ""
        bertIntent[4] = ""
        let nodeBertIntent = {
          "about": val1,
          "services": "",
          "terms": "",
          "contact": "",
          "others": ""
        }
        let pythonBertIntent = {
          "stories": bertIntent
        }
        
        var wrapper = document.createElement('div');
        wrapper.class = "save_loading";
        wrapper.innerHTML = '<img src="/img/loader.gif">';
        $.ajax({
          type: "POST",
          url: "/uploadYourStory",
          data: { pythonBertIntent: pythonBertIntent, nodeBertIntent: nodeBertIntent },
          beforeSend: async function () {
            await swal({
              title: 'Training in progress...',
              content: wrapper,
              button: false,
              closeOnClickOutside: false,
              closeOnEsc: false,
            })
          },
          success: async function (data) {
            if (data.message == "success") {
              await swal("Cool !", "Training done successfully!", {
                icon: "success",
                buttons: false,
                timer: 1500
              });
            } else if (data.message == "limit") {
              await swal({
                title: "Exceeded limit, total limit is 60000 characters",
                icon: "error",
                button: "OK",
              });
            }else if (data.message == "less") {
              await swal({
                title: "Your story word limit must be greater than 50 characters.",
                icon: "error",
                button: "OK",
              })
            }else {
              await swal({
                title: "The given file format is not valid.",
                icon: "error",
                button: "OK",
              });
            }
            location.reload();
          }, error: function (jqXHR, textStatus, err) {
            alert('Please refresh !');
          }
        });
  }

</script>