

{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
{{!-- date picker start here --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="dist/css/new-dbintegration.css">
<link rel="stylesheet" href="dist/css/whatsapp.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{{!-- cdn links for data table  --}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />  
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" /> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"> </script>
{{!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> --}}
{{!--
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
--}}
{{!-- <script type="text/javascript" src="
https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="
https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="/socket.io/socket.io.js"></script> --}}
<style>
    .new_filter_desp_0 {
    /* max-width: 238px; */
    /* float: right; */
    /* text-align: left; */
    /* margin-bottom: 30px; */
   padding-left: 32px;
}


.grp_com_addMore {
    margin-left: 0px;
    margin-top: 5%;
}

.grp_model input {
    width: 23% !important;
    margin-left: 2px;
}

table#group-com-table {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.table-container.grp-table-container {
    display: block;
    overflow-y: scroll;
    /* height: 112px; */
    border: 1px solid #fff;
    max-height: 139px;
    /* border-bottom: 1px solid #fff; */
}


/******switch btn css*********************************/


/*  Toggle Switch  */

.toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
    display: inline-block;
    height: 15px;
    position: relative;
    overflow: visible;
    /*-- padding: 3px;--*/
    margin-left: 4px;
    cursor: pointer;
    width: 32px;
    vertical-align: middle;
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 22px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: 2px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 89%;
    height: 90%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.397);
    border: 1px solid #6800a1;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #6800a1;
    box-shadow: inset 0 0 0 30px #6800a1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
}
.content-wrapper.new_cnt_wrap{
    /*min-height:630px !important;*/
}
.deletebuttonClass{
    border: none;
    background: transparent;
}
.deleteImgStyle{
    height: 18px;
    width: 13px;
}
.clolorFilter{
    filter: invert(11%) sepia(47%) saturate(5482%) hue-rotate(274deg) brightness(121%) contrast(141%);
}

/*************************************************
*style for loader css
*************************************************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
 }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hide-loader{
display:none;
}

.editUser{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.deletUser{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.sub_search{
        background-image: url(./dist/img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    outline: 0;
    margin-left: 10px;
    width: 12vw;
    }
.dataTables_search {
   /* text-align: right;*/
    margin-right: 48px;
    font-weight: 700;
    padding-right: 15px;
   /* display: inline-flex;*/
}
.subscribe_title{
font-size: 35px;
padding: 25px 10px 11px 15px;
margin-top:25px !important;
}
.subs-search{
    position: absolute;
    top: 0px;
    right:12px;
    margin-top: 0px !important;
    cursor: pointer;
}
.span-search{
    position: relative;
}
.subs-buttons{
    display: inline-flex;
}
.fa-lg {
    font-size: 14px !important;
    line-height: .75em;
    vertical-align: -15%;
}
.select-btn{
    width: 150px;
    padding-right: 17px !important;
    background-position: 96% center !important;
    padding-left: 5px !important;
}
select{
    /*font-family: 'FontAwesome';*/
}
@media (min-width: 992px) and (max-width:1260px){
.col-md-6 {
    width: 32%;
}
}
.table > thead:first-child > tr:first-child > th {
    font-size: 15px !important;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 15px !important;
    font-weight: 400;
}
tbody td {
    padding: 8px 10px !important;
}
tr:nth-child(even) {
     background-color: transparent !important; 
}
tr:hover{
    background-color: #f0edf1 !important;
    cursor: pointer;
}
.table>thead>tr>th {
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid black !important;
}
.table{
    border-bottom: 0.8px solid black !important;
}
.com-grp img {
    left: 16px;
    width: 25px;
    height: 25px;
}
.deleteImgStyle {
    height: 25px;
    width: 25px !important;
}
.content-wrapper.new_cnt_wrap {
    /*min-height: 630px !important;*/
}
.text-align-right {
    margin-top: -2px !important;
    padding-left: 0%;
}
@media (min-width: 768px) and (max-width: 990px){
.content.new-manage-cont {
    margin-top: -6% !important;
}
}
button.creategroup.com-grp{
    margin-left: 3% !important;
}
.main-footer{
    margin-left: 0px !important;
}
.search_zeroS{
    text-align: end;
    padding-right: 0px !important;
}
#docCount{
    margin-left: 17px;
}
.upload-button{
    font-family: "Source Sans Pro", sans-serif !important;
}
   
/*************************************************
*style for loader css
*************************************************/

</style>

<div class="content-wrapper new_cnt_wrap">
    <div class="loaderDivContainer" id="loaderDivContainer" style="margin: 278px 545px;">
        <div class="loader" id="loader">
        </div>
    </div>
    <div class="content  new-manage-cont">
        <h3 style="" class="subscribe_title">Subscribers List</h3>
        {{!-- <p id="docCount"></p> --}}
        <div class="row new-row" style="margin-bottom:30px">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{!--   --}}
                <div class="customize-input" style="">
                    {{!-- <button class="bt2 com-dlt hide">
                        <img src="./dist/img/Delete.png" title="delete">
                    </button> --}}
                    <button class="creategroup  com-grp ">
                        <img src="./dist/img/updated-icon/add_group_icons.png" title="Create Group">
                    </button>
                    <button class="optinMultipleUser  com-grp ">
                        <img src="./dist/img/updated-icon/tap_fallabck_icon.png" title="Opt In Selected User" class="">
                    </button>
                    <button class="optoutMultipleUser com-grp ">		
                        <img src="./dist/img/updated-icon/delete_intent_icon.png" title="Opt Out Selected User" class="">		
                	</button>
                    <button class="deleteMultipleUser  deletebuttonClass">
                        <img src="./dist/img/updated-icon/delete_newIcon.png" class ="deleteImgStyle" title="Delete USers">		
                	</button>
                    
                        {{!-- <input class="form-control custom-shadow custom-radius border-0 bg-white" id="myInput" onkeyup="getUserList()" type="search" placeholder="Search User...." aria-label="Search">
                        
                        <button type="submit" class="search-b new-search-b "><i class="fa fa-search"></i></button> --}}
                </div>
            </div>
            {{!-- <div class="col-md-4">
                <div class="row">

                </div>
            </div> --}}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-align-right">
                <div class="row subs-buttons">
                    <div class="image-upload padding-button" onchange="loadSlotJson()">
                        <label for="loadSlotJson">
                            <span class="btn btn-secondary button-color width-button upload-button " data-toggle="tooltip" data-placement="top" title="Upload Excel"
                                for="loadSlotJson"> <i class="fa fa-arrow-up fa-lg"> Upload Excel</i></span>
                        </label>
                        <input type="file"  name="files[]" id="loadSlotJson" style="display: none;"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    </div>
                    <button type="button" class="downloadexcell btn btn-secondary button-color border-radius-button" data-toggle="tooltip" data-placement="top" title="Sample Excel" style="border-radius:10px;"><i class="fa fa-download fa-lg"> Sample Excel</i></button>
                    <select id="filterSubscribers" class="select-btn button-color" data-toggle="tooltip"
                        data-placement="top" title="Download Subscribers List" onchange="filterSubscribers()">
                        <option value="none" selected disabled hidden>
                            <span class="tooltiptext"> Download Subscriber</span>
                        </option>
                        <option value="50">Download subscribers in current view</option>
                        <option value="1000">Download last 1000 subscribers</option>
                        <option value="10000">Download last 10000 subscribers</option>
                        <option value="0"> Download all subscribers list</option>
                    </select>
                    {{!-- <form enctype="multipart/form-data">
                        <input id="loadSlotJson" type=file  name="files[]">
                    </form> --}}
                    {{!-- <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea> --}}

                    <button type="button" class=" btn btn-secondary
                    button-color border-radius-button down_excel new_button" data-target="#add_agents" data-toggle="modal" style="border-radius:
                    10px;" data-placement="top" title="Add User" onclick="addUserBtn()" data-backdrop="static" data-keyboard="false"><i class='fa fa-plus fa-lg'> Add User</i></button>
                </div>
            </div>
        </div>
        <div class=" row dataTables_search">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <p id="docCount"></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 search_zeroS">
                <input type = "text" 
                        id = "searchBoxId"
                        onkeyup="onTypingEvent(event)"
                        style=""
                        placeholder="Search..." class="sub_search" >
                        <span class="span-search" 
                              onclick="searchFunction(event)">
                            <i class="fa fa-search subs-search" aria-hidden="true"></i>
                        </span>

            </div>
            
        </div>
        <table id="subscribersTable" class="table table-striped ">
            <thead>
                <tr> 
                    {{!-- <th> </th> --}}
                    <th><input type="checkbox" name="select-all" id="select-all" class="chkall" /></th>
                    <th scope="col">Name</th>
                    <th scope="col">Mail Id</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Opt-In</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            {{!-- <tbody class="ExcelData" id="myTabledata">
            </tbody> --}}
           <tbody class="ExcelData" >

            </tbody>
        </table>
        <div style="text-align: center;">
             <button    type="button" 
                    id="loadMoreButtonId"
                    class=" btn btn-secondary
                    button-color border-radius-button down_excel new_button" 
                    style="" 
                    onclick="loadMore(event)" 
                    >Load More
        </button>

        </div>
        
        </div>

    <ul class="pagination pull-right">  </ul>

    {{!-- Start of form, to create new user --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="add_agents">
            <div class="modal-dialog modl_dialg_10">
                <div class="modal-content  new_modal_content" style="margin-top:5%;">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" class="close closeModal
                                padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                <img class="edit-image-width" src="./dist/img/Add_Whatsapp.png" alt="">
                                Add User
                            </h4>
                            {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                        </div>
                        <form id="add_agents_new" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Name </label>
                                    <input  type="text" 
                                            id="userName" 
                                            name="name" 
                                            class="form-control"
                                            placeholder="User Name" required>
                                </div>
                            </div>
                            <div class="row margin-top-header">
                                <div class="col-md-12 ">
                                     <label> Phone Number </label>
                                     <div>
                                         <select id="country" required onchange="country_code()" style="width:18%; height: 34px;">
                                        <option value="select country">Select country </option>
                                        <option value="India">&#x1F1EE;&#x1F1F3; </option>
                                     </select>
                                    <input  type="text" 
                                            id="userPhone"
                                            name="phone" 
                                            placeholder="Phone number with country" style="width: 81%; height: 34px;"
                                            maxlength="12"  required>
                                     </div>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Email </label>
                                    <input type="text" 
                                           id="userEmail" 
                                           value=""
                                           name="email" 
                                           class="form-control"
                                           placeholder="Email" 
                                           required>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" class="discard_Btn closeModal"
                                        onclick="discard(event)">Discard</button>
                                    <button type="button" value="Submit" class="save_button createUser">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Start of form, to edit new user --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="edit_agents">
            <div class="modal-dialog modl_dialg_10">
                <div class="modal-content  new_modal_content" style="margin-top:5%;">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" 
                                        class=" closeModal close padding-cross" 
                                        onclick="discard(event)" 
                                        aria-label="">✕
                                </button>
                                <img class="edit-image-width" 
                                     src="./dist/img/Add_Agents.png" 
                                     alt="">
                                Edit User
                            </h4>
                        </div>
                        <form id="add_agents" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Name </label>
                                    <input type="text" 
                                           id="name" 
                                           class="form-control" 
                                           placeholder="Name" 
                                           required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Phone Number </label>
                                    <input type="number" 
                                           id="phone" 
                                           class="form-control"
                                           placeholder="Phone number with country code">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Email </label>
                                    <input type="text" 
                                          id="email" 
                                          class="form-control"
                                          placeholder="Email"
                                          required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" 
                                            class="discard_Btn closeModal"
                                            onclick="discard(event)">Discard</button>
                                    <button type="button" 
                                            value="Save" 
                                            class="saveUpdates update_button">Update Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</div>
<div class="yubo_model grp_model">
    <div class="modal fade" id="creategroupmodel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal_dialg dialg_nw_modl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Create/Update Group</h4>
            <button type="button" class="modal_close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body ">
            <div class="row">
                <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                    <div class="creategrouphead">
                        <h5>Group As:</h5>
                        <select class="group_select creategroup-select">
                        <option value="">createNew</option>
                        </select>
                    </div>
                    <div class="creategrouphead grouptitle">
                        <h5>Group Name:</h5>
                        <input class="groupName" type="text">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 com-sm-6 col-xs-6">
                {{!-- <div class="grp_search_com">
                    <input type="text" class="searchTermGrp" placeholder="">
                    <button type="submit">
                    <i class="fa fa-search"></i>
                    </button>
                </div> --}}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp-added-member">
                        <h3 class="grp_com_addMore_head">Participants</h3>
                        <div class="table-container grp-table-container">
                        <table id="group-com-table" class="table table-bordred table-hover table-striped ">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="adduserdata removehtml">

                        </tbody>
                        </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp_com_addMore addgrp_more0">
                        <input type="text" class="instant_user instantuserdata" value="" placeholder="Name">
                        <input type="email" class="instant_email instantuserdata" value="" placeholder="Email Id">
                        <select id="countrys" required onchange="country_codes()" style="width:12%; height: 32px;">
                                        <option value="select country">Select country </option>
                                        <option value="India">&#x1F1EE;&#x1F1F3; </option>
                                     </select>
                                    <input  type="text"
                                             class="instant_phone instantuserdata" 
                                            id="userPhones"
                                            name="phone" 
                                            placeholder="Phone number with country code" style="width: 22%!important;"  required>
                        <button class="grp_com_addMore_btn add_more_user">Add</button>
                    </div>
                    <div class="com_sbmit_btn_div">
                        <button type="button" class="grp_model_btn createNewGroup addGroupdata">Create/Update Group</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
    </div>
</div>

<input type="hidden" id="clientId" value="{{clientId}}" >


<script src="/dist/js/subscribers.js"></script>


{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTabledata tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });


});

$('.downloadexcell').click(function () {
      let url = window.location.origin+"/dist/files/sample.xlsx"
      window.open(url, "_blank");
});

async function filterSubscribers() {
        var val = document.getElementById("filterSubscribers").value;
        var comm_arr = [];
        comm_arr.push({ clientId: $(this).attr('data-clientId'), filtervalue: val })
        if (comm_arr.length < 1) {
            alert('There are no data to download');
            return;
        }
        if (val == "0") {
            swal({
                title: "It may take some time to download the full list",
                icon: "warning",
                timer: 5000
            });
        }
        var data = JSON.stringify(comm_arr);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            }
        };
        xhttp.open("POST", "/getAllSubscriberList", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.responseType = "blob";
        xhttp.onload = function (event) {
            var blob = xhttp.response;
            var fileName = xhttp.getResponseHeader("fileName") //if you have the fileName header available
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = fileName;
            link.click();
        };
        xhttp.send(data);

    }


function country_code() {
    var val = document.getElementById("country").value;

    if(val === "select country") {
        document.getElementById("userPhone").value = "";
    }
    else if (val === "India") {
        document.getElementById("userPhone").value = 91;
    }
    else if (val === "US") {
        document.getElementById("userPhone").value = "1";
    }
   }

function country_codes() {
    var val = document.getElementById("countrys").value;

    if(val === "select country") {
        document.getElementById("userPhones").value = "";
    }
    else if (val === "India") {
        document.getElementById("userPhones").value = "91";
    }
    else if (val === "US") {
        document.getElementById("userPhones").value = "1";
    }
   }
   

</script>

{{!-- {{>footer}} --}}
