<!DOCTYPE html>
<body>
<p>Dear User,</p>
<br>
<p>Click <a href="">here</a> to reset your password</p>
<p>For any queries or difficulty in login please write to us on  <a href="yubo.yugasa@gmail.com" target="_blank">yubo.yugasa@gmail.com</a> </p>
<br>
<p>Best Regards</p>
<p>Yugasa Bot</p>
<br>
</body>
</html>