<!DOCTYPE html><html class=''>
	<head>
		<style type="text/css">
			.attachment {
			    margin-top: 13px;
			    left: 271px;
			    width: 15px;
			    bottom:-32px;
			}
	    </style>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="{{clientCss}}">
	</head>
	<body id="yubo">
		<div id="frame">
			<div class="content">
				<div class="contact-profile">
					<img src="{{logo}}" alt="">
					<p class="tag-line">{{msg}}<br>
		              How can we help you?</p>
					
				</div>
				<div class="messages" id="down">
					<ul id="myList">
						<li class="sent">
							<p>{{chatMsg}}</p>
						</li>
					</ul>
					<div id="wave" style="display: none;">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>

						<input type="hidden" id="clientId" value="{{clientId}}">
						<input type="hidden" id="client_type" value="{{type}}">
						<input type="hidden" id="node" value="False">
						<input type="hidden" id="bottonId" value="1">
				</div>
				
					<div class="message-input" id="message-input">
					<div class="message-input">
						<div class="wrap">
					<input type="text" id="msg" autocomplete="off"  placeholder="Write your message..."/><img src="img/micro_phone.png" id="mic" class="attachment" title="Start Listening" aria-hidden="true" onclick="voice()"><button class="submit" 
							onclick="Yubo.send(document.getElementById('msg').value, document.getElementById('clientId').value)"><img src="img/send.png"></button>
						</div>
				    </div>
				</div>
				<div class="powerd">
					Powered by <a href="https://helloyubo.com/" target="_blank" title="Building Blocks for Building Bots"><img src="img/yubo_logo.png" alt="Yugasa Bot Logo"></a>
				</div>
			</div>
		</div>
 <script >
	function scrollDown(){
		var myConsole = document.getElementById('down');
		window.scrollTo(0,document.body.scrollHeight);
        myConsole.scrollTop = myConsole.scrollHeight;
    }
    scrollDown();



 var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = 'en-IN';
        function voice(){
        	document.getElementById('mic').setAttribute('src',"img/mic_off.png")
        	document.getElementById('mic').setAttribute('title',"Stop Listening")
        	document.getElementById('mic').setAttribute('onclick',"stop();")
	        recognition.start();
	        document.getElementById("msg").placeholder = "Listening...";
	       	recognition.onsoundstart = function(){  
	            recognition.onresult = function(event) {
	                var current = event.resultIndex;
	                var transcript = event.results[current][0].transcript;
	                // console.log('silence')
	                // $('#msg').empty();
	                document.getElementById('msg').value=transcript
	                Yubo.send(transcript,document.getElementById('clientId').value);
	                stop();
            	}
        	}
		}
        function stop(){
        	document.getElementById('mic').setAttribute('src',"img/micro_phone.png")
        	document.getElementById('mic').setAttribute('title',"Start Listening")
        	document.getElementById('mic').setAttribute('onclick',"voice();")
	        recognition.stop();
	        document.getElementById("msg").placeholder = "Write your message...";
		}	
		
</script>
</body>
 <script defer src="client.js"></script>
</html>