<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yugasa Bot | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    {{!--
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css"> --}}
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="fontfamily" href="dist/css/mont-heavy.woff">
    <link rel="shortcut icon" href="dist/files/favicon.png">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            }); 
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; 
                j.src ='https://www.googletagmanager.com/gtm.js?id=' + i + dl; 
                f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M45GTHQ');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M45GTHQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<div class="bg-loginpage">
    <div class="login-div">
        <div class="thanyou-page">
            <!-- Main content -->
            <header>
                <div class="yubo-header">

                    <div class="yubo-header-left">
                        <a href="https://helloyubo.com/"><img src="./dist/img/yugasa_bot_logo.png"></a>

                    </div>
                    <div class="yubo-header-right">
                        <span id="menuOpen" class="visible-xs">
                            <div class="burger-menu menuOpenImg"></div>
                            <div class="burger-menu menuOpenImg"></div>
                            <div class="burger-menu menuOpenImg"></div>
                        </span>
                        <div class="menuList">
                            <div class="menuList-ul">
                                <ul class="list-unstyled">
                                    <span id="menuClose" class="visible-xs">✕
                                    </span>
                                    <li><a href="https://helloyubo.com/">Home</a></li>
                                    <li><a href="https://helloyubo.com/about-yubo-conversational-ai-chatbot/">About</a>
                                    </li>
                                    <li class="in"><a href="#">Avatars<img class="dropdown_icon visible-xs"
                                                src="./dist/img/menu-img/triangle-img.png"></a>
                                        <ul class="list-unstyled submenu-ul">
                                            <li><a href="https://helloyubo.com/ecommerce-website-for-your-business/"><img
                                                        src="./dist/img/menu-img/ecommerce-1.png">Ecommerce</a>
                                            </li>
                                            <li><a href="https://helloyubo.com/lead-generation-for-your-business/"><img
                                                        src="./dist/img/menu-img/Lead-Gen-2.png">New
                                                    Business
                                                    Leads</a></li>
                                            <li><a href="#"><img src="./dist/img/menu-img/HR-Assistant-2.png">HR
                                                    Assistance</a></li>
                                            <li><a href="#"><img
                                                        src="./dist/img/menu-img/Delivery-Tracker-1.png">Delivery
                                                    Tracker</a></li>
                                            <li><a href="#"><img
                                                        src="./dist/img/menu-img/Print-to-Digital-Ad-2.png">Print
                                                    to
                                                    Digital Ad</a></li>
                                            <li><a href="#"><img src="./dist/img/menu-img/Ticket-Selling-2.png">Ticket
                                                    Selling</a></li>
                                            <li><a href="#"><img
                                                        src="./dist/img/menu-img/Digital-Promotion-1.png">Digital
                                                    Promotion</a></li>
                                            <li><a href="#"><img
                                                        src="./dist/img/menu-img/Appointment-Book-2.png">Appointment
                                                    Booking</a></li>
                                            <li><a href="https://helloyubo.com/customer-support-for-your-business/"><img
                                                        src="./dist/img/menu-img/Customer-Support-2.png">Customer
                                                    Support 24×7</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://helloyubo.com/integrations/">Integrations</a>
                                    </li>
                                    <li><a href="https://helloyubo.com/blog/">Blog</a></li>
                                    <li><a href="https://helloyubo.com/contact/">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="verify-div">
                    <div class="verify-div-in">
                        <img src="./dist/img/verify-mail.png" class="verify-div-img" alt="Mail Image">
                        {{#if verification_msg}}
                        <p>{{verification_msg}}</p>
                        {{else}}
                        <p>We have sent a verification link on your registered email. Please check your spam folder in case you do not see that in your inbox.</p>
                        {{/if}}
                        <h5>“What clients say about YugasaBot”</h5>
                    </div>
                    <div>
                        <iframe src="https://www.youtube.com/embed/IWWZrAoQzOk" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="verify-btn">
                        <div class="verify-btn-in">
                            <div class="verify-btn-lt f-left">
                                <a class="need-assistance"
                                    title="Clicking here will shoot an email to our team to assist you.">Need
                                    Assistance</a>
                            </div>
                            <div class="verify-btn-span">|</div>
                            <div class="verify-btn-rt f-right">
                                <a title="Click here to go on login page" href="/login">Login Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="dist/js/thank-you.js"></script>
</body>