{{> head showActivateButton=showActivateButton}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery & jQuery UI are required -->
    <script src="TreeLogic/js/jquery-ui.js"></script>
    <script src="TreeLogic/js/bootstrap.js"></script>
    <script src="TreeLogic/js/yugasa.flowchart.custom.js"></script>
    {{!--
    <script src="dist/js/admin/tree.js"></script> --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <script src="TreeLogic/js/flowchart.js"></script>

    <!-- Flowchart CSS and JS -->
    <link rel="stylesheet" href="TreeLogic/css/bootstrap.css">
    <link rel="stylesheet" href="TreeLogic/css/yugasa.flowchart.custom.css">
    <link rel="stylesheet" href="dist/css/new-dbintegration.css">

    {{!-- Form Integration Links & Scripts --}}
    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> --}}
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
    {{!--
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"> --}}
    {{!-- Form Integration Links & Scripts End --}}
    <link rel="stylesheet" href="/dist/css/ace-editor-css/editor-styles.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/wcams96z6akxfd5jx8t72ebn39roih9mm3uq8ytsa0ad0uk6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<style>
    .viewlogPara{
        color: #c6c6c6 !important; 
    }
    .errorDatas{
        word-break: break-all;
    }
    table > thead > tr > th {
        text-align: center !important;
        border-bottom: 1px solid white;
    }
    table > tbody > tr > td {
        text-align: center !important;
    }
    table{ 
        width:100%; 
        table-layout: fixed; 
        overflow-wrap: break-word; 
    } 
    td:nth-child(1){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    }
    .fa-info-circle{
        font-size: 18px;
    }

    td:active {
    overflow: visible;
    white-space: normal;
    }
    .errorLogMainDiv tr td{
       vertical-align: baseline;
       padding: 10px;
    }
    tr:nth-child(even) {
       background-color: transparent !important;
    }

    i.fa.fa-trash {
        color: #ffffff !important;
    }
        .errorLogData{
        border: 1px solid white;
        margin-top: 7px;
        padding: 10px;
    }
    .code-log-body{
        border: 1px solid black;
        background-color:#6800A1;
        padding: 0px;
        border-radius: 10px;
        color: white;
        margin-top: 24px;
    }
    .node_datas p{
        margin: 0 0 0px !important;
    }
    .node_datas{
        padding: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 136px;
    }
    .content-wrapper{
        margin-bottom: 60px;
    }
    .refresh-node{
        margin-right: 16px;
        cursor: pointer;
    }
    .close_nodes{
        cursor: pointer;
    }
    .open_nodes{
        background-color: #6800A1;
        margin-top: 20px;
        color: white;
    }


    body {
        font-family: 'Source Sans Pro', sans-serif
    }

    .gnrl-response-tags {
        list-style: none;
        display: inline-block;
        font-size: 14px;
        overflow: auto;
    }

    .gnrl-response-tags li {
        float: left;
    }

    .tags {
        background: #ffffff;
        padding: 5px;
        border-radius: 8px;
        margin: 5px;
        position: relative;
        color: #000;
        opacity: .9;
    }

    .entity-close {
        width: 10px;
        margin-left: 15px;
        margin-top: -5px;
        cursor: pointer;
    }

    img {
        vertical-align: middle;
    }

    .starBtn {
        background-color: #d9534f !important;
        border: 1px solid #d9534f !important;
        padding: 0px !important;
        fill: red;
    }
    .starBtn svg {
        fill: white;
    }
    #overflowTest {
        background: white;
        color: white;
        padding: 15px;
        width: 100%;
        height: 160px;
        overflow: scroll;
        border: 1px solid #ccc;
    }

    /*h1{
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        color: #957dad;
        font-family: 'Montserrat', sans-serif;

    }*/
    section{
        padding: 5%;
        padding-top: 0;
        height: 100vh;
    }

    .side{
        margin-left: 0;
    }
    button{
        margin: 10px;
        border-color:  #957dad !important;
        /*color: #888888 !important;*/
        margin-bottom: 25px;
    }
    button:hover{
        background-color: #fec8d8 !important;
    }
    textarea{
        padding: 3%;
        border-color: #957dad;
        border-width: thick;
    }
    .flex-box{
        display:flex;
        justify-content:center;
    }
    input.add_new_var{
        margin-left:15px;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .container {
        position: absolute;
        bottom: 0;
        top:7rem;
        width:100%;
        display: flex;
    }
    .left {
        height: 100%;
        width: 50%;
        border: 1px solid #d5d5d5
    }
    .right {
        flex: 1
    }
    .media-div{
        display: flex;
        margin-left: -4px;
    }
    ::-webkit-file-upload-button {
    background: #c48fe2;
    border-radius: 15px;
    width: 91px;
    color: white;
    padding: 0.1em;
    border: none;
    height: 30px;
    cursor: pointer;
   }
   .upload-button{
    margin-left: auto;
    margin-top: -1px;
    width: auto !important;
    border-radius: 15px;
    border: none;
    height: 30px;
    background-color: #c48fe2;
    color: white;
   }
   .choose-files{
    background-color: transparent !important;
    color: white !important;
   }
   button:hover {
     background-color:#c48fe2!important;
}
.media-attached{
    margin-top:10px;
    margin-left: -10px;
}
.editor_div {
  margin-top: 10px;
  padding-bottom:20px;
  border-radius: 5px;
}
.active{
    background: none!important;
}
.general-settings-heading{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 6px;
}
.close.general-settings-close{
    margin-bottom: 0;
    color: #000;
}
.general-settings .nav a{
    font-weight: bold;
    font-size: 14px;
}
@media only screen and (max-width: 991px){
.upload-button {
    margin-left: auto!important;
    margin-right: 0 !important;
}

}

</style>
<div class="content-wrapper">
    <section class="content">
        <div class="col-md-12 padZero">
            <div class="col-md-12 padZero">
                <h1 class="main-title2">Conversational Flow</h1>
            </div>
            <div class="col-md-12 padZero">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid tree-new">
                        <ul class="nav navbar-nav navbar-left select-node">
                            <li class="node_list">
                                <select class="form-control minimal node-list" id="node-list">
                                    <option selected>Select Node</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right select-options">
                            <li>
                                <div class="alert alert-success" id="alert-message" style="display: none;">
                                    <strong>Success!</strong> Data is saved.
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Create Node">
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/draw.png" title="Create Node">
                                    --}}
                                    <svg aria-hidden="true" focusable="false" height="32px" data-prefix="fas"
                                        data-icon="paint-brush" class="svg-inline--fa fa-paint-brush fa-w-16" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M167.02 309.34c-40.12 2.58-76.53 17.86-97.19 72.3-2.35 6.21-8 9.98-14.59 9.98-11.11 0-45.46-27.67-55.25-34.35C0 439.62 37.93 512 128 512c75.86 0 128-43.77 128-120.19 0-3.11-.65-6.08-.97-9.13l-88.01-73.34zM457.89 0c-15.16 0-29.37 6.71-40.21 16.45C213.27 199.05 192 203.34 192 257.09c0 13.7 3.25 26.76 8.73 38.7l63.82 53.18c7.21 1.8 14.64 3.03 22.39 3.03 62.11 0 98.11-45.47 211.16-256.46 7.38-14.35 13.9-29.85 13.9-45.99C512 20.64 486 0 457.89 0z">
                                        </path>
                                    </svg>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">


                                    <li><a href="#" class="create_general_operator">General Node</a></li>
                                    <li><a href="#" class="create_contact_operator">Contact Node</a></li>
                                    {{#if userTypePro}}
                                    <li><a href="#" class="create_root_operator">Root Node</a></li>
                                    <li><a href="#" class="create_email_operator">Email Node</a></li>
                                    <li><a href="#" class="create_phone_operator">Phone Node</a></li>
                                    {{!-- <li><a href="#" class="create_product_operator">Product Node</a></li> --}}
                                    {{!-- <li><a href="#" class="create_image_operator">Image Node</a></li>
                                    <li><a href="#" class="create_video_operator">Video Node</a></li> --}}
                                    <li><a href="#" class="create_appointment_operator">Calendar Node</a></li>
                                    <li><a href="#" class="create_leaf_operator">Leaf Node</a></li>
                                    <li><a href="#" class="create_code_operator">Code Node</a></li>
                                    {{/if}}
                                </ul>
                            </li>
                            <li><a href="#" id="load_local" title="Load Saved Data">
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/download.png"
                                        title="Load Local Storage Data"> --}}
                                    <svg aria-hidden="true" focusable="false" height="32px" data-prefix="fas"
                                        data-icon="download" class="svg-inline--fa fa-download fa-w-16" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                                        </path>
                                    </svg>
                                </a></li>

                            <li><a href="#" calss="get_data" id="get_data" title="Get JSON Data">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.66 156.91">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <title>Json</title>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="chatbot">
                                                <path class="cls-1"
                                                    d="M122.66,28.24v1h-20a9.56,9.56,0,0,1-9.55-9.55V0h1.32Z" />
                                                <path class="cls-1"
                                                    d="M102.65,38.79a19.16,19.16,0,0,1-19.1-19.1V0H16a15.85,15.85,0,0,0-5.32.91A15.66,15.66,0,0,0,7.16,2.67,16,16,0,0,0,0,16V140.91a16,16,0,0,0,16,16h90.66a16,16,0,0,0,16-16V38.79ZM46.74,121.48l-7.1,6.39L19.58,105.58,39.64,83.29l7.1,6.39-14.32,15.9ZM59.2,128l-9.1-2.9,13.37-42L72.57,86ZM83,127.87l-7.1-6.39,14.32-15.9L75.93,89.68,83,83.29l20.06,22.29Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/json-file.png"
                                        title="Get JSON Data"> --}}
                                    {{!-- <img class="tool-icon img-size" src="./dist/img/Json.png"
                                        title="Get JSON Data"> --}}
                                    {{!-- <svg aria-hidden="true" focusable="false" data-prefix="far" height="32px"
                                        data-icon="file-code" class="svg-inline--fa fa-file-code fa-w-12" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path fill="currentColor"
                                            d="M149.9 349.1l-.2-.2-32.8-28.9 32.8-28.9c3.6-3.2 4-8.8.8-12.4l-.2-.2-17.4-18.6c-3.4-3.6-9-3.7-12.4-.4l-57.7 54.1c-3.7 3.5-3.7 9.4 0 12.8l57.7 54.1c1.6 1.5 3.8 2.4 6 2.4 2.4 0 4.8-1 6.4-2.8l17.4-18.6c3.3-3.5 3.1-9.1-.4-12.4zm220-251.2L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM256 51.9l76.1 76.1H256zM336 464H48V48h160v104c0 13.3 10.7 24 24 24h104zM209.6 214c-4.7-1.4-9.5 1.3-10.9 6L144 408.1c-1.4 4.7 1.3 9.6 6 10.9l24.4 7.1c4.7 1.4 9.6-1.4 10.9-6L240 231.9c1.4-4.7-1.3-9.6-6-10.9zm24.5 76.9l.2.2 32.8 28.9-32.8 28.9c-3.6 3.2-4 8.8-.8 12.4l.2.2 17.4 18.6c3.3 3.5 8.9 3.7 12.4.4l57.7-54.1c3.7-3.5 3.7-9.4 0-12.8l-57.7-54.1c-3.5-3.3-9.1-3.2-12.4.4l-17.4 18.6c-3.3 3.5-3.1 9.1.4 12.4z">
                                        </path>
                                    </svg> --}}
                                </a></li>

                            {{!-- <li><a href="#" id="save_local" title="Save Data"> --}}
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/files-and-folders.png"
                                        title="Save Data"> --}}
                                    {{!-- <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="save"
                                        height="32px" class="svg-inline--fa fa-save fa-w-14" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                            d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122 352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0 1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z">
                                        </path>
                                    </svg>
                                </a></li> --}}

                            <li><a href="#" id="save_data" title="Save Tree">
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/files-and-folders.png"
                                        title="Save Data In To DB">
                                    --}}
                                    {{!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" height="32px"
                                        data-icon="cloud-upload-alt" class="svg-inline--fa fa-cloud-upload-alt fa-w-20"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                            d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z">
                                        </path>
                                    </svg> --}}

                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80"
                                        style="enable-background:new 0 0 80 80;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <g id="Download">
                                            <path class="st0" d="M0.5,24.5c1.2-0.9,2.7-1.4,4.2-1.4h1.4V16c0-0.8,0.6-1.4,1.4-1.4h40.9v-2.8H40c-0.8,0-1.4-0.6-1.4-1.4V7.6
 c0-2.3-1.9-4.2-4.2-4.2H17.4c-2.3,0-4.2,1.9-4.2,4.2v2.8c0,0.8-0.6,1.4-1.4,1.4H4.7c-2.3,0-4.2,1.9-4.2,4.2V24.5z" />
                                            <path class="st0" d="M79.5,30.1c0-2.3-1.9-4.2-4.2-4.2h-7.1v5.6h7.1c0.8,0,1.4,0.6,1.4,1.4c0,0.3-0.1,0.7-0.3,0.9l-17,19.8
 c-0.3,0.3-0.7,0.5-1.1,0.5c-0.4,0-0.8-0.2-1.1-0.5L40.3,33.9c-0.5-0.6-0.4-1.5,0.2-2c0.3-0.2,0.6-0.3,0.9-0.3h7.1v-5.6H4.7
 c-2.3,0-4.2,1.9-4.2,4.2v45.1c0,2.3,1.9,4.2,4.2,4.2h70.5c2.3,0,4.2-1.9,4.2-4.2V30.1z M42.8,72.4c0,0.8-0.6,1.4-1.4,1.4H7.6
 c-0.8,0-1.4-0.6-1.4-1.4V55.5c0-0.8,0.6-1.4,1.4-1.4h33.9c0.8,0,1.4,0.6,1.4,1.4V72.4z" />
                                            <path class="st0" d="M9,71h31V56.9H9V71z M20.3,59.8h15.5c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4H20.3
 c-0.8,0-1.4-0.6-1.4-1.4C18.8,60.4,19.5,59.8,20.3,59.8z M20.3,65.4h15.5c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4H20.3
 c-0.8,0-1.4-0.6-1.4-1.4S19.5,65.4,20.3,65.4z M13.2,59.8h1.4c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4h-1.4
 c-0.8,0-1.4-0.6-1.4-1.4C11.8,60.4,12.4,59.8,13.2,59.8z M13.2,65.4h1.4c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4h-1.4
 c-0.8,0-1.4-0.6-1.4-1.4S12.4,65.4,13.2,65.4z" />
                                            <path class="st0"
                                                d="M51.3,0.5v32.4c0,0.8-0.6,1.4-1.4,1.4h-5.4l13.8,16.2l13.9-16.2h-5.4c-0.8,0-1.4-0.6-1.4-1.4V0.5H51.3z" />
                                            <path class="st0"
                                                d="M79.5,16c0-2.3-1.9-4.2-4.2-4.2h-7.1v2.8h4.2c0.8,0,1.4,0.6,1.4,1.4v7.1h1.4c1.5,0,3,0.5,4.2,1.4V16z" />
                                            <path class="st0" d="M68.2,17.4H71v5.6h-2.8V17.4z" />
                                            <path class="st0" d="M9,17.4h39.5v5.6H9V17.4z" />
                                        </g>
                                    </svg>
                                </a></li>

                            <li><a href="#" id="train_tree" title="Train Tree">
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/files-and-folders.png"
                                        title="Save Data In To DB">
                                    --}}
                                    {{!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" height="32px"
                                        data-icon="cloud-upload-alt" class="svg-inline--fa fa-cloud-upload-alt fa-w-20"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                            d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z">
                                        </path>
                                    </svg> --}}

                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 80"
                                        style="enable-background:new 0 0 75 80;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <g>
                                            <path class="st0"
                                                d="M18.3,40c0-12,9.8-21.8,21.8-21.8h2.3V14h6.2c1,3,3.8,5.2,7.2,5.2c4.2,0,7.6-3.4,7.6-7.6
 c0-4.2-3.4-7.6-7.6-7.6c-3.4,0-6.2,2.2-7.2,5.2h-6.2V2.8c0-1.3-1-2.3-2.3-2.3h-4.9c-2.5,0-4.5,2-4.5,4.5c-3,0.8-5.9,2-8.7,3.6
 c-1.8-1.7-4.6-1.7-6.4,0.1l-6.9,6.9c-0.9,0.9-1.3,2-1.3,3.2c0,1.2,0.5,2.3,1.3,3.2c-1.6,2.7-2.8,5.6-3.6,8.7
 c-2.5,0-4.5,2.1-4.5,4.5v9.8c0,2.5,2,4.5,4.5,4.5c0.8,3,2,5.9,3.6,8.7c-0.8,0.9-1.3,2-1.3,3.2c0,1.2,0.5,2.3,1.3,3.2l6.9,6.9
 c1.8,1.8,4.6,1.8,6.4,0.1c2.7,1.6,5.6,2.8,8.7,3.6c0,2.5,2.1,4.5,4.5,4.5h4.9c1.3,0,2.3-1,2.3-2.3v-6.6h6.2c1,3,3.8,5.2,7.2,5.2
 c4.2,0,7.6-3.4,7.6-7.6c0-4.2-3.4-7.6-7.6-7.6c-3.4,0-6.2,2.2-7.2,5.2h-6.2v-4.1h-2.3C28.1,61.8,18.3,52,18.3,40L18.3,40z" />
                                            <path class="st0" d="M66.8,41.8c-3.4,0-6.2,2.2-7.2,5.2H42.4V33h17.2c1,3,3.8,5.2,7.2,5.2c4.2,0,7.6-3.4,7.6-7.6
 c0-4.2-3.4-7.6-7.6-7.6c-3.4,0-6.2,2.2-7.2,5.2H42.4v-5.6h-2.3c-9.5,0-17.2,7.7-17.2,17.2s7.7,17.2,17.2,17.2h2.3v-5.6h17.2
 c1,3,3.8,5.2,7.2,5.2c4.2,0,7.6-3.4,7.6-7.6C74.4,45.1,71,41.8,66.8,41.8z" />
                                        </g>
                                    </svg>
                                </a></li>

                            <li class="setting-view"><a href="#" class="setting_button" title="setting">
                                    {{!-- <img class="tool-icon" src="TreeLogic/images/setting.png" title="setting">
                                    --}}
                                    <svg aria-hidden="true" focusable="false" height="32px" data-prefix="fas"
                                        data-icon="cog" class="svg-inline--fa fa-cog fa-w-16" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
                                        </path>
                                    </svg>
                                    {{!-- <span class="setting-arrow"></span> --}}
                                </a>
                                <div class="setting-cont">
                                    {{!-- <form action="">
                                        <div class="seting-head">
                                            <div>Canvas</div>
                                            <div class="navbar-right">1920X380</div>
                                        </div>
                                        <div class="seting-body">
                                            <div>Height<input type="tel" name="height"></div>
                                            <div class="navbar-right">Width<input type="tel" name="width"></div>
                                        </div>
                                        <div class="seting-body">
                                            <div>Maximum Number</div>
                                            <div class="navbar-right"><input type="tel" name="max-num"></div>
                                        </div>
                                        <div class="seting-save"><button type="submit">Save</button></div>
                                    </form> --}}
                                </div>
                            </li>

                            <li><a href="#" class="delete_selected_button" title="Delete Element">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.46 155.26">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <title>delete</title>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="chatbot">
                                                <path class="cls-1"
                                                    d="M4.55,54.59H18.2v96.13a4.54,4.54,0,0,0,4.54,4.54h91a4.55,4.55,0,0,0,4.55-4.54V54.59h13.64a4.55,4.55,0,1,0,0-9.1H4.55a4.55,4.55,0,1,0,0,9.1Zm40.94,82.48a4.55,4.55,0,0,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.09,0V63.68a4.55,4.55,0,1,1,9.09,0Z" />
                                                <path class="cls-1"
                                                    d="M127.37,22.74a4.55,4.55,0,0,0-4.55-4.54H91V4.55A4.55,4.55,0,0,0,86.43,0H50a4.54,4.54,0,0,0-4.55,4.55V18.2H13.65A4.54,4.54,0,0,0,9.1,22.74V36.39H127.37ZM54.59,9.1H81.88v9.1H54.59Z" />
                                            </g>
                                        </g>
                                    </svg>
                                    {{!-- <img class="tool-icon img-size" src="./dist/img/delete.png"
                                        title="Delete Element"> --}}
                                    {{!-- <svg aria-hidden="true" focusable="false" height="32px" data-prefix="far"
                                        data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                            d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z">
                                        </path>
                                    </svg> --}}
                                </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-12 padZero">
                <div class="panel panel-info tree-margin">
                    <div class="panel-body box panel-box">
                        <div class="flowchart-example-container set-height-container" id="flowchartworkspace">
                            <div class="jstooltip">
                                <span class="tooltiptext">
                                    <p class="operator-title">asdasdasdasda</p>
                                    <p class="operator-question">asdasdasdasda</p>
                                    <p class="operator-text-opt">asdasdasdasda</p>
                                    <p>Answers</p>
                                    <p>
                                    <ul class="operator-answers">
                                    </ul>
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        

        <div class="yubo_model tree_model">
            <div class="modal fade" role="dialog" id="property-modal">
                <div class="modal-dialog">
                    <!-- General Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Node Property
                                {{!-- <button type="button" class="btn btn-default  new_crm_btn">CRM</button>
                                <button type="button" class="btn btn-default  new_action_btn">Action</button>
                            </h4>
                            <div class="new_crm  bg-white"
                                style="width: 50%; background:#fff; transform: translate(310px, 20px);height: 135px;">
                                <div class="form-group CRMdiv hide row">
                                    <div class="col-md-6  new-enable-card text-center">
                                        <label>Enable</label>
                                        <input type="checkbox" class="crm text-center" id="gnrl_crm_ckbx">
                                    </div>
                                    <div class="col-md-6 properties_div hide" id="gnrl_properties_div">
                                        <select class="properties  new-prop" id="gnrl_crm_integration"></select>
                                    </div>
                                </div>
                                <button type="button"
                                    class="btn btn-success tree_model_submit btn-model">Submit</button>
                            </div>
                            <div class="new_action  bg-white"
                                style="width: 50%; background:#fff; transform: translate(310px, 20px);height: 135px;">
                                <div class="form-group actiondiv  row">
                                    <div class="col-md-6  new-enable-card text-center">
                                        <label>Enable</label>
                                        <input type="checkbox" class="gnrl_action_ckbx text-center"
                                            id="gnrl_action_ckbx">
                                    </div>
                                    <div class="col-md-6 genrl_action_properties hide" id="gnrl_action_div">
                                        <select class="actn-dropdown  new-act-dropdown" id="gnrl_action_dropdown">
                                            <option>Select Action to Associate</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button"
                                    class="btn btn-success tree_model_submit new-btn-model">Submit</button>
                            </div> --}}
                        </div>
                        <div class="modal-body">
                            <div class="form-group CRMdiv hide row" style="margin-left: -15px;">
                                <div class="col-md-6">
                                    <label>Integrate with CRM</label>
                                    <input type="checkbox" class="crm" id="gnrl_crm_ckbx">
                                </div>
                                <div class="col-md-6 properties_div hide" id="gnrl_properties_div">
                                    <select class="properties" id="gnrl_crm_integration"></select>
                                </div>
                            </div>
                            <div class="form-group CRMdiv hide row" style="margin-left: -15px;">
                                <div class="col-md-6  new-enable-card">
                                    <label>Associate with action</label>
                                    <input type="checkbox" class="gnrl_action_ckbx text-center" id="gnrl_action_ckbx">
                                </div>
                                <div class="col-md-6 genrl_action_properties hide" id="gnrl_action_div">
                                    <select class="actn-dropdown  new-act-dropdown" id="gnrl_action_dropdown">
                                        <option>Select Action to Associate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:9px">
                                <label for="analytics-opt">Analytics Option</label>
                                <input id="analytics-opt" type="checkbox" name="analytics-opt">   
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Operator's title: </label>
                                <input id="operator_title" class="form-control" type="text" list="intents">
                                <datalist id="intents">
                                </datalist>
                            </div>


                            <div class="form-group hide media-attached" style="" id="attach_media_div"> 
                               <div class="col-md-6">
                                <label> Attach media </label>
                                <input type="checkbox" class="" id="attach_media_chkbox">
                                <input type="text" id="operatorIdData" value="" hidden readonly>
                              </div>
                            </div>

                            <div class="form-group hide" style="margin-top:5px;" id="attach_media">
                                <div class="media-div">
                                    <input type="file" id='uploadConversationalMedia' class="choose-files" name="uploadConversationalMedia"  onchange="previewImg()" />
                                    <button type="submit" class="btn upload-button" onclick="uploadConversationalMedia()" class="upload-btns"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path
                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path
                                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                                        </svg> Upload media </button>
                                </div>
                               
                                
                                <img id="previewImg" />
                                <input class="form-control" type="text" value="" id="conv_fileLink_s3" />  

                            </div>

                            <div class="form-group editor_div">
                                <label for="question" id="label-question">Bot Says</label>
                                <div id="botQuestion">
                                  {{!-- <input id="question" class="form-control" type="text"> --}}
                                   <ul class="gnrl-response-tags"></ul>
                                </div>                                
                            </div>
                            <div class="form-group followup" style="margin-top: -9px;">
                                <label for="followupNode">Followup Node</label>
                                <select class="form-control node-list" id="gnrlfollowupNode" style="margin-bottom: 10px;">
                                    <option>Select node</option>
                                </select>
                                <input type="text" placeholder="Time interval in ms" id="gnrldelayInMs"
                                    class="form-control">
                            </div>
                            <div class="option-area">
                                <div class="form-group" style="margin-top:9px">
                                    <input id="text-opt" type="checkbox" name="text-opt">
                                    <label for="text-opt">Text Option</label>
                                </div>
                                <div class="form-group">
                                    <input id="operator_id" class="form-control" type="hidden">
                                </div>

                                <div class="prdcts">
                                    <div class="form-group">
                                        <label for="operator_title">Add Your Products</label>
                                    </div>
                                    <div class="row prdct-container" id="prdct-section">
                                        <div class="form-group" id="form-group-1">
                                            <div class="col-md-11 prodcut-add-div">
                                                <input type="text" name="prdctstitle[]"
                                                    class="form-control product_add_field" placeholder="Title"
                                                    id="prdct-title">
                                                <input type="text" name="prdctsimg[]"
                                                    class="form-control product_add_field" placeholder="Image Url"
                                                    id="prdct-img">
                                                <input type="text" name="prdctsprice[]"
                                                    class="form-control product_add_field" placeholder="Price"
                                                    id="prdct-price">
                                                <input type="text" name="prdctsdesc[]"
                                                    class="form-control product_add_field" placeholder="Description"
                                                    id="prdct-desc">
                                                <input type="text" name="prdctscart_link[]"
                                                    class="form-control product_add_field" placeholder="Cart Link"
                                                    id="cart-link">
                                                <input type="text" name="prdctsinfo_link[]"
                                                    class="form-control product_add_field" placeholder="Info Link"
                                                    id="info-link">
                                            </div>
                                            <div class="col-md-1">
                                                <button class="add_prdct_field btn btn-success tree_model_add">
                                                    <span>+</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="operator_title">Add Options</label>
                                </div>
                                <div class="row general-container" id="answer-section">
                                    <div class="form-group">

                                        {{!-- <div class="col-md-11">
                                            <input type="text" name="mytext[]" class="form-control" id="output_1">
                                        </div>
                                        <div class="col-md-1">
                                            <button class="add_form_field btn btn-success tree_model_add">
                                                <span>+ </span>
                                            </button>
                                        </div> --}}

                                        <div class="col-md-10" id="text-field">
                                            <input type="text" placeholder="text" name="mytext[]" class="form-control" id="output_1" data-text="1">
                                        </div>

                                        <div class="hidden" id="score-weight-1">
                                            <div class="col-sm-2">
                                                 <input type="text"  placeholder="weight" class="form-control " id="weight_1" data-text="1">
                                            </div>
                                            <div class="col-sm-3">
                                                 <input type="text"  placeholder="label" class="form-control " id="label_1" data-text="1">     
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <button class="add_form_field btn btn-success tree_model_add">
                                                <span>+ </span>
                                            </button>
                                        </div>

                                        <div class="col-md-1">
                                            <button class="btn tree_model_add newStarbtn" onclick="onAddOption()">
                                               
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    </svg>
                                                
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success tree_model_submit" id="save">Update
                            Tree</button>
                    </div>
                </div>
            </div>
        </div>


        {{!-- video node --}}
        <div id="property-modal-video" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Video Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Node Property</h4>

                    </div>
                    <form name="video-form" method="post" id="video-form" enctype='multipart/form-data'
                        action="process-file.php">
                        <div class="modal-body">
                            <div class="form-group CRMdiv hide row">
                                <div class="col-md-6">
                                    <label>Integrate with CRM</label>
                                    <input type="checkbox" class="crm" id="video_crm_ckbx">
                                </div>
                                <div class="col-md-6 properties_div hide" id="video_properties_div">
                                    <select class="properties" id="video_crm_integration"></select>
                                </div>
                            </div>
                             <div class="form-group" style="margin-top:9px">
                                <label for="video-analytics-opt">Analytics Option</label>
                                <input id="video-analytics-opt" type="checkbox" name="analytics-opt">   
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Operator's title: </label>
                                <input id="video_operator_title" class="form-control" type="text" list="intents">
                                <datalist id="intents">
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="question">Bot Says</label>
                                <input id="video_question" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="video-text-opt" type="checkbox" name="text-opt">
                                <label for="video-text-opt">Text Option</label>
                            </div>
                            <div class="form-group">
                                <input id="operator_id" class="form-control" type="hidden">
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Add your videos</label>
                            </div>
                            <div class="row video-container answer-area" id="answer-section">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="file" name="myFilesUpload[]" class="form-control" id="output_1">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="add_form_field btn btn-success">
                                            <span style="font-size:16px; font-weight:bold;">+ </span>
                                        </button>
                                    </div>
                                    <input type="hidden" name="media-type" class="form-control" value="videos">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="uplaod-video">Update Tree</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <!-- Image Modal content-->

        <div id="property-modal-image" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Node Property</h4>
                    </div>
                    <form name="image-form" id="image-form" method="post" enctype='multipart/form-data'
                        action="process-file.php">
                        <div class="modal-body">
                            <div class="form-group CRMdiv hide row">
                                <div class="col-md-6">
                                    <label>Integrate with CRM</label>
                                    <input type="checkbox" class="crm" id="image_crm_ckbx">
                                </div>
                                <div class="col-md-6 properties_div hide" id="image_properties_div">
                                    <select class="properties" id="image_crm_integration">
                                        <option>Select Property</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group" style="margin-top:9px">
                                <label for="image-analytics-opt">Analytics Option</label>
                                <input id="image-analytics-opt" type="checkbox" name="analytics-opt">   
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Operator's title: </label>
                                <input id="image_operator_title" class="form-control" type="text" list="intents">
                                <datalist id="intents">
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="question">Bot Says</label>
                                <input id="image_question" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="image-text-opt" type="checkbox" name="text-opt">
                                <label for="image-text-opt">Text Option</label>
                            </div>
                            <div class="form-group">
                                <input id="operator_id" class="form-control" type="hidden">
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Add Your Images</label>
                            </div>
                            <div class="row image-container answer-area" id="answer-section">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="file" name="myFilesUpload[]" class="form-control" id="output_1">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="add_form_field btn btn-success">
                                            <span style="font-size:16px; font-weight:bold;">+ </span>
                                        </button>
                                    </div>
                                    <input type="hidden" name="media-type" class="form-control" value="images">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="uplaod-image">Update Tree</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- End of Image modal --}}

        {{!-- Start of Contact Modal --}}
        <div class="yubo_model tree_model">
            <div id="property-modal-contact" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Node Property</h4>
                        </div>
                        <div class="modal-body">
                            {{!-- <div class="form-group CRMdiv hide row">
                                <div class="col-md-6">
                                    <label>Integrate with CRM</label>
                                    <input type="checkbox" class="crm" id="contact_crm_ckbx">
                                </div>
                                <div class="col-md-6 properties_div hide" id="cntct_properties_div">
                                    <select class="properties" id="contact_crm_integration"></select>
                                </div>
                            </div> --}}
                             <div class="form-group" style="margin-top:9px">
                                <label for="contact-analytics-opt">Analytics Option</label>
                                <input id="contact-analytics-opt" type="checkbox" name="analytics-opt">   
                            </div>
                            <div class="form-group">
                                <label for="operator_title">Operator's title: </label>
                                <input id="contact_operator_title" class="form-control" type="text" list="intents">
                                <datalist id="intents">
                                </datalist>
                            </div>

                            <div class="form-group">
                                <label for="question">Bot Says</label>
                                <input id="contact_question" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="contact_text_opt" type="checkbox" name="text-opt">
                                <label for="text-opt">Text Option</label>
                            </div>
                            <div class="form-group">
                                <label for="followupNode">Followup Node</label>
                                <select class="form-control node-list" id="cntctfollowupNode">
                                    <option>Select node</option>
                                </select>
                                <input type="text" placeholder="Time interval in ms" id="cntctdelayInMs"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text-opt">Integrations</label>
                                <select class="form-control" id="integrations">
                                    <option selected disabled>Select Integration</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input id="operator_id" class="form-control" type="hidden">
                            </div>
                            <div class="modal-body build-wrap" id="build-wrap"></div>
                            <div id="fb-rendered-form">
                                <form action="#"></form>
                                {{!-- <button class="btn btn-default edit-form tree_model_edit">Edit</button> --}}
                            </div>
                            <input type="hidden" id="formData">
                        </div>
                        <button type="button" class="btn btn-success tree_model_update" id="saveData">Update
                            Tree</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- End of Contact Modal --}}


        {{!-- Product node modal --}}
        {{!-- <div id="prdct-property-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Product Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Node Property</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="prdct_operator_title">Operator's title: </label>
                            <input id="prdct_operator_title" class="form-control" type="text" list="intents">
                            <datalist id="intents">
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="prdct_question" id="label-question">Bot Says</label>
                            <input id="prdct_question" class="form-control" type="text">
                        </div>
                        <div class="form-group followup">
                            <label for="followupNode">Followup Node</label>
                            <select class="form-control node-list" id="prdctfollowupNode">
                                <option>Select node</option>
                            </select>
                            <input type="text" placeholder="Time interval in ms" id="prdctdelayInMs"
                                class="form-control">
                        </div>
                        <div class="option-area">
                            <div class="form-group">
                                <input id="prdct-text-opt" type="checkbox" name="text-opt">
                                <label for="prdct-text-opt">Text Option</label>
                            </div>
                            <div class="form-group">
                                <input id="operator_id" class="form-control" type="hidden">
                            </div>
                            <div class="form-group">
                                <label for="prdct_operator_title">Add Options</label>
                            </div>
                            <div class="row prdct-general-container answer-area" id="answer-section">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="text" name="text[]" class="form-control" id="output_1">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="add_form_field btn btn-success">
                                            <span style="font-size:16px; font-weight:bold;">+ </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="saveprdct">Update Tree</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> --}}
        {{!-- End of product node --}}

        <div id="json-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">JSON Data of Tree</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>JSON Representation</label>
                            <textarea id="flowchart_data" class="form-control big-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="save_tree">Save</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        {{!-- <div id="setting-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">General Setting</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Canvas Height (px)</label>
                            <input type="text" id="canvas_height" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Canvas Width (px)</label>
                            <input type="text" id="canvas_width" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Maximum Number Of Output Links</label>
                            <input type="text" id="max_field" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="save-property">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> --}}
         <div id="setting-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close general-settings-close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title general-settings-heading">General Settingss</h4>
                    </div>
                    <div class="modal-body">
                        <div class="general-settings">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab1">Canvas Settings</a></li>
                                <li><a data-toggle="tab" href="#tab2">Analytics Settings</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade in active" style="padding-left: 20px">
                                    <div class="form-group" style="margin-top: 20px">
                                        <label>Canvas Height (px)</label>
                                        <input type="text" id="canvas_height" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Canvas Width (px)</label>
                                        <input type="text" id="canvas_width" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Maximum Number Of Output Links</label>
                                        <input type="text" id="max_field" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success" id="save-property">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <div id="tab2" class="tab-pane fade" style="padding-left: 20px">
                                    <div class="form-group" style="margin-top: 20px">
                                        <label>Analytics Settings: </label> <input style="margin: 5px" type="checkbox" id="codeNodeCheck" onclick="showInputBox()">
                                    </div>
                                    <div class="form-group" style="display:none" id="spreadsheet-url">
                                        <label>Spreadsheet URL:</label>
                                        <input type="text" id="spreadsheet-url-text" class="form-control">
                                    </div>
                                    <div class="form-group" style="display:none" id="spreadsheet-name">
                                        <label>Sheet Name:</label>
                                        <input type="text" id="spreadsheet-name-text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success" id="save-settings" onclick="saveSpreadsheetId()">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-success" id="save-property">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>-->
                </div>
            </div>
        </div>

        {{!--Start of code modal--}}
        <div class="yubo_model tree_model">
            <div id="property-modal-code" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="min-height: 675px">
                        <div class="modal-header">
                            <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Code Node Property</h4>
                        </div>
                        <div class="modal-body">
                            <!--***************************************************************************-->
                            <!--<div class="form-group" style="margin-bottom: 15px !important;">
                                <input type="hidden" id="code_operator_ID" class="form-control" type="text" list="intents">
                                <!-<datalist id="decisionIntents">
                                </datalist>->
                                <label for="operator_title">Operator's title: </label>
                                <input id="code_operator_title" class="form-control" type="text" list="intents">
                            </div>-->
                             <div class="form-group" style="margin-top:9px">
                                <label for="code-analytics-opt">Analytics Option</label>
                                <input id="code-analytics-opt" type="checkbox" name="analytics-opt">   
                            </div>
                            <div class="form-group" style="margin-bottom: 15px !important;">
                                <label for="operator_title">Operator's title: </label>
                                <input id="code_operator_title" class="form-control" type="text" list="intents">
                                <datalist id="intents">
                                </datalist>
                            </div>

                            <div class="form-group" style="margin-bottom: 15px !important;">
                                <label for="code_instructions">Please explain what would you like to do in this code-node.</label>
                                <div class="code_instructions">
                                    <textarea id="code_instructions" class="form-control" type="text"></textarea>
                                    <button type="button" class="btn btn-success tree_model_update" style="width: auto !important;" id="generateCode" onclick="generateCode()">Get code</button>
                                </div>
                            </div>

                            <div class="form-group">
                                    <input id="operator_id" class="form-control" type="hidden">
                                </div>
                            <div class="editor">
                                <!--<div style="width: 100%">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="add_variables" style="display: inline-block; border: 1px solid #fff; border-radius: 10px; width: 100%; background: #751c84; margin-bottom: 10px;">
                                                <div class="parameter_add"  id="variable_0" style="display: inline-flex; width: 87%">
                                                    <input  placeholder="Enter variable name" name="variable" value="{{name}}" class="add_new_var add_var_field" style="margin-bottom:12px; margin-right: 20px; border: 1px solid #fff;"/>
                                                    <input  placeholder="Enter variable value" name="var_value" value="{{name}}" class="add_new_var add_var_field" style="margin-bottom:12px; border: 1px solid #fff;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="editor__wrapper" id="textarea1" style="width: 100%; height:450px">
                                    <div class="editor__body" style="height: 100px; display: block; min-height: 100px;">
                                        <div id="editorCode" class="editor__code"></div>
                                    </div>
                                    <!--<div class="editor__footer">
                                        <div class="editor__footer-left">
                                            <button class="editor__btn editor__run" style="margin: 4px; margin-top: 12px" onclick="runBtnClick()">Run ></button>
                                            <!-<button class="editor__btn editor__reset" style="margin: 4px;">Refresh ></button>
                                            <button class="editor__btn" style="margin: 4px;" onclick="saveCode()">save ></button>-
                                        </div>
                                        <div class="editor__footer-right">
                                            <div class="editor__console">
                                                <ul class="editor__console-logs"></ul>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div style="height:50px">
                                <button type="button" class="btn btn-success tree_model_update" style="width: auto !important; margin-top:10px !important" id="saveCodeNode">Save And Update Tree</button>
                            </div>
                            <!--***************************************************************************-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{!-- {{>footer}} --}}

        {{!-- End of code modal--}}
        {{!-- CodeNode Log panel code here--}}
        <div style="text-align: end;">
            <button type="button" 
                    class="btn open_nodes" 
                    value="Show Div" 
                    onclick="showDiv()">Code Node Log</button>
        </div>

        <div class="col-lg-12 col-md-12 code-log-body" 
             id="welcomeNodeDiv"  
             style="display:none;">
            <div class="">
                <div style="border-bottom: 1.5px solid #d2d6de;padding: 0px 10px 3px 10px;">
                    <h4>Code Node Log</h4>
                    <div style="text-align: end; margin-top: -29px;">
                            <i class="fa fa-gear  refresh-node" 
                                aria-hidden="true" 
                                onclick = codeNodeSetting()
                                title="delete"></i>

                            <i class="fa fa-trash  refresh-node" 
                                aria-hidden="true" 
                                onclick = clearErrorLogs()
                                title="delete"></i>

                            <i class="fa fa-refresh refresh-node" 
                                aria-hidden="true" 
                                onclick = refreshErrorLog()
                                title="Refresh"></i>

                            <button id="closed_node" 
                                    style="border: none; background-color: transparent; margin-bottom:0px;margin: 0px;">
                                <i class="fa fa-times close_nodes" 
                                aria-hidden="true" 
                                title="Close"></i>
                            </button>
                    </div>
                </div>
                <div class="node_datas ">
                    <table class="">
                        <thead>
                            <tr>
                                <th>Error Data</th>
                                <th>Line No</th>
                                <th>Node Name</th>
                                <th>User Id</th>
                                <th>Date & Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="errorLogMainDiv">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="yubo_model tree_model">
            <div id="codeNodeModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="min-height: 307px !important ;width:600px">

                        <div class="modal-header">
                            <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit CodeNode Setting</h4>
                        </div>

                        <div class="modal-body">                           
                            <div class="form-group" style="margin-bottom: 15px !important;">
                                <label for="operator_title" >Enter User Id  </label>
                                <input  id="codeNodeUserId" class="form-control" type="text" >
                            </div>

                            <div style="height:50px">
                                <button type="button" 
                                        class="btn btn-success tree_model_update" 
                                        onclick = activateCodeNodeLog()
                                        id="codenodesetting">Save </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <div class="yubo_model tree_model">
            <div id="viewLogsModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="min-height: 307px !important ;width:800px">

                        <div class="modal-header">
                            <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">View CodeNode Log</h4>
                        </div>

                        <div class="modal-body">                           
                            <div class="form-group" style="margin-bottom: 15px !important;">
                                <label for="operator_title" >Error Data  </label>
                                <p id = "viewerrorData" class ="viewlogPara"> </p>

                                <label for="operator_title" >Line Number  </label>
                                <p id = "viewlineNumber" class ="viewlogPara"> </p>

                                <label for="operator_title" >Node Name  </label>
                                <p id = "viewnodeName" class ="viewlogPara"> </p>
                                
                                <label for="operator_title" >User Id  </label>
                                <p id = "viewuserId" class ="viewlogPara"> </p>
                                
                                <label for="operator_title" >Data and Time   </label>
                                <p id = "viewdate" class ="viewlogPara"> </p>

                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<input type="hidden" id="clientId" value="{{clientId}}">
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 3.0.0
    </div>
    <strong>Copyright &copy; 2023 Yugasa Software Labs</a>.</strong> All rights
    reserved.
</footer>

<div class="control-sidebar-bg"></div>
</div>

<script src="dist/js/admin/tree.js"></script>
<script>
    $('#property-modal-code').on('hide.bs.modal', function(e) {
        codeEditor.setValue("");
    })
    function onAddOption() {
        $('#weight_1').val('')
        $('#label_1').val('')
         var singleField = $('#text-field').hasClass('col-md-10')

         if(singleField == true) {
              $('#text-field').addClass('col-md-5')
              $('#text-field').removeClass('col-md-10')
              $("#score-weight-1").removeClass('hidden')
              $('.newStarbtn').addClass('starBtn')
           }else {
              $('#text-field').addClass('col-md-10')
              $('#text-field').removeClass('col-md-5')
              $("#score-weight-1").addClass('hidden')
              $('.newStarbtn').removeClass('starBtn')
        }
    }

    let run = document.getElementById(textarea1)
    let varFieldCount = 0
    let inputVal
    var add_wrapper = $(".add_variables");
    $(document).on("keypress", "input.add_var_field", function (e, j) {
        if (e.which == 13) {
            console.log("Add parameter....... ")
            varFieldCount = varFieldCount + 1
            inputVal += $(this).val();
            index = $('input.add_var_field').index(this);
            console.log("INDEX", index)
            $(add_wrapper).append(
                '<div class="parameter_add"  id="variable_' + varFieldCount + '" style="display: inline-flex; width: 100%">'+

                '<input placeholder="Enter variable name" class="add_var_field add_new_var"'+
                'name="expression" value="{{name}}"' +
                'style="margin-bottom:12px; margin-right:15px; border: 1px solid #fff;" />'+

                '<input placeholder="Enter variable values" class="add_var_field add_new_var"'+
                'name="var_value" value="{{name}}"'+
                'style="margin-bottom:12px;border: 1px solid #fff;" required />'+

                '<div class="col-md-1"><span class="delete btn btn-danger" style="margin-top: 10px!important; margin-bottom: 5px!important;height: 28px; padding: 0 7px; line-height: 24px;" ' +
                'id="delete_Variable_'+ varFieldCount +'" onclick="deleteVariable(this.id)' +
                '" style="font-size:16px; font-weight:bold;">' +
                '<svg xmlns="http://www.w3.org/2000/svg" style="height:10px; width:10px" viewBox="0 0 136.46 155.26">' +
                '<defs>' +
                '<style>' +
                '.cls-1 {' +
                'fill: #fff;' +
                '}' +
                '</style>' +
                '</defs>' +
                '<title>delete</title>' +
                '<g id="Layer_2" data-name="Layer 2">' +
                '<g id="chatbot">' +
                '<path class="cls-1" d="M4.55,54.59H18.2v96.13a4.54,4.54,0,0,0,4.54,4.54h91a4.55,4.55,0,0,0,4.55-4.54V54.59h13.64a4.55,4.55,0,1,0,0-9.1H4.55a4.55,4.55,0,1,0,0,9.1Zm40.94,82.48a4.55,4.55,0,0,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.1,0V63.68a4.55,4.55,0,0,1,9.1,0Zm27.29,0a4.55,4.55,0,1,1-9.09,0V63.68a4.55,4.55,0,1,1,9.09,0Z"></path>' +
                '<path class="cls-1" d="M127.37,22.74a4.55,4.55,0,0,0-4.55-4.54H91V4.55A4.55,4.55,0,0,0,86.43,0H50a4.54,4.54,0,0,0-4.55,4.55V18.2H13.65A4.54,4.54,0,0,0,9.1,22.74V36.39H127.37ZM54.59,9.1H81.88v9.1H54.59Z"></path>' +
                '</g>' +
                '</g>' +
                '</svg>' +
                '</span>' +
                '</div>' +

                '</div>'
            )
        }
    });

    function deleteVariable(id){
         var delBtnId = id
        let delBtnIndex = delBtnId.split('_')
        let decrementIndexVal = delBtnIndex[2]
        let parameterCount = parseInt(decrementIndexVal) - 1
        $('#variable_'+decrementIndexVal ).remove()
    }

     function saveSpreadsheetId(){
        var checkBox = document.getElementById("codeNodeCheck").checked;
        var spreadSheetURL = document.getElementById("spreadsheet-url-text").value
        var spreadSheetName = document.getElementById('spreadsheet-name-text').value
        console.log("checkBox", checkBox, spreadSheetURL)
        let requestData = {
            "codeNodeMonitorFlag": checkBox,
            "spreadsheetURL": spreadSheetURL,
            "sheetName": spreadSheetName
        }
        $.ajax({
            type: "POST",
            url: "/activateCodeNodeMonitor",
            data: requestData,
            success: async function (resp) {
                if (resp.status == "success") {
                    await swal({
                        title: resp.result,
                        icon: "success",
                        button: "OK",
                    })
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }
    
    function showInputBox(){
        var checkBox = document.getElementById("codeNodeCheck");
        var inputField = document.getElementById("spreadsheet-url");
        var nameField = document.getElementById("spreadsheet-name");
        if (checkBox.checked == true){
            inputField.style.display = "block";
            nameField.style.display = "block";
        } else {
            inputField.style.display = "none";
            nameField.style.display = "none";
        }
    }
    readCodeNodeMonitorSettings()
    function readCodeNodeMonitorSettings(){
        $.ajax({
            type: "POST",
            url: "/showCodeNodeSettings",
            success: async function (resp) {
                if (resp.status == "success") {
                    document.getElementById("codeNodeCheck").checked = resp.data.codeNodeMonitorFlag;
                    document.getElementById("spreadsheet-url-text").value = resp.data.spreadsheetURL;
                    document.getElementById("spreadsheet-name-text").value = resp.data.sheetName
                    var inputField = document.getElementById("spreadsheet-url");
                    var nameField = document.getElementById("spreadsheet-name");
                    if (resp.data.codeNodeMonitorFlag == true){
                        inputField.style.display = "block";
                        nameField.style.display = "block";
                    } else {
                        inputField.style.display = "none";
                        nameField.style.display = "none";
                    }
                } else {
                    swal({
                        title: "Something went wrong, please try again",
                        icon: "error",
                        button: "OK",
                    });
                }
            }, error: function (jqXHR, textStatus, err) {
                alert("Something went wrong, please try again")
            }
        });
    }



    // run.addEventListener('click', () => {
    //   console.log("In RUN")
    //   const html = editor.textContent
    //   iframe.src = "data:text/html;charset=utf-8,"+encodeURI
    //   (html);
    // })

    /*function saveCode(){
        let nodeTitle = document.getElementById("code_operator_title").value
        let nodeID = document.getElementById("code_operator_ID").value
        let node_id = (nodeID.split(" "))[1]
        console.log("node_id", node_id)
        const userCode = codeEditor.getValue();
        
        $.ajax({
            type: "POST",
            url: "/saveCodes",
            data: { code: userCode, nodeTitle: nodeTitle, nodeID: "n"+node_id},
            success: function(data) {
                if (data) {
                    if (data.statusCode == 200) {
                        alert("Code saved successfully")
                    } else {
                        swal({
                            title: data.message,
                            icon: "error",
                            type: 'info',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    }
                }
            },
            error: function(jqXHR, textStatus, err) {
                if (jqXHR.responseJSON.statusCode == 403) {
                    window.location.replace("https://admin.helloyubo.com/login");
                } else {
                    alert("Something went wrong, please try again")
                }
            }
        }) 
    }*/

</script>
  <script src="/dist/js/ace-editor-js/ace-editor/src-min/ace.js"></script>
    <script src="/dist/js/ace-editor-js/ace-editor/src-min/mode-javascript.js"></script>
    <script src="/dist/js/ace-editor-js/ace-editor/src-min/ext-language_tools.js"></script>

    <!-- Custom Scripts -->
    <script src="/dist/js/ace-editor-js/editor.js"></script>
    <!--<script src="/dist/js/ace-editor-js/editor-console.js"></script>-->

    <script type="text/javascript">

    tinymce.init({
        selector: '#botQuestion',
        // inline: true,
        menubar:false,
        statusbar: false,
        toolbar: 'undo redo | bold italic | link image',
        forced_root_block:'',
        force_br_newlines:true,
        force_p_newlines : false,
        entity_encoding : "raw",
        convert_fonts_to_spans: false,
        paste_as_text: true,
        plugins: 'link,paste',
        paste_as_text: true
    }); 
    </script>   

</body>

</html>
