{{>head}}
	<script src="dist/js/jquery.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="dist/js/bootstrap.js"></script>
	<script src="bower_components/custom/yugasa.flowchart.custom.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="bower_components/custom/flowchart.js"></script>

	<!-- Flowchart CSS and JS -->
	<link rel="stylesheet" href="dist/css/bootstrap.css">
	<link rel="stylesheet" href="dist/css/yugasa.flowchart.custom.css">

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
       
<div class="row tool-container">
	<div class="col-md-12">
		<div class="icon-bar">
			<a class="delete_selected_button" href="#"><img class="tool-icon" src="dist/img/bin.png" title="Delete Element"></a>
			<a id="save_local" href="#"><img class="tool-icon" src="dist/img/files-and-folders.png" title="Save data in to local storage"></i></a>
			<a calss="get_data" id="get_data" href="#"><img class="tool-icon" src="dist/img/json-file.png" title="Get JSON Data"></a>
			<a id="load_local" href="#"><img class="tool-icon" src="dist/img/download.png" title="Load Local Storage Data"></a>
			<a class="create_operator" href="#"><img class="tool-icon" src="dist/img/draw.png" title="Create Node"></a>
			<a id="save_data" href="#"><img class="tool-icon" src="dist/img/files-and-folders.png" title="Save Data in to DB"></a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-body box panel-box">
				<div class="flowchart-example-container" id="flowchartworkspace"></div>
			</div>
		</div>
	</div>
</div>

<div id="property-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Node Property</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="operator_title">Operator's title: </label>
					<input id="operator_title"  class="form-control" type="text">
				</div>
				<div class="form-group">
					<label for="question">Type Your Questions</label>
					<input id="question"  class="form-control" type="text">
				</div>
				<div class="form-group">
					<input id="text-opt"  type="checkbox" name="text-opt">
					<label for="text-opt">Text Option</label>
				</div>
				<div class="form-group">
					<input id="operator_id"  class="form-control" type="hidden">
				</div>
				<div class="row container1" id="answer-section">
					<div class="form-group">
						<div class="col-lg-12">
							<label for="operator_title">Add Your Answers</label>
						</div>
						<div class="col-md-10">
							<input type="text" name="mytext[]" class="form-control" id="output_1">
						</div>
						<div class="col-md-2">
							<button class="add_form_field btn btn-success">
								<span style="font-size:16px; font-weight:bold;">+ </span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer modal-footer-show">
				<button type="button" class="btn btn-success" id="save">Update Tree</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="json-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">JSON Data of Tree</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>JSON Representation</label>
					<textarea id="flowchart_data" class="form-control big-text"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <input type="hidden" id="clientId" value="{{clientId}}">

  {{>footer}}


   <script type="text/javascript">
  	  $('#tree').click(function(){
  		val = $('#flowchart_data').val();
  		console.log("val", val);
        $.ajax({
	        type: "POST",
	        url: "/uploadYourTree",
	        data: {clientId: document.getElementById('clientId').value, jsonTree:val},
	        success: function(data){
	           location.reload();
	        },error:function(jqXHR, textStatus, err){
	          alert('Please refresh !');
	        }
      	});
  	   
  	});
  </script>