
{{>head showActivateButton=showActivateButton }}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />  
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" /> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" /> 

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<style>

  .com_sbmit_btn_div {
    width: 50% !important;
    margin-left: 9%;
  }
  .userId {
    display: none;
  }

  .grp_model input {
    width: 38% !important;
  }

  button.grp_com_addMore_btn.add_more_user {
    padding: 8px 15px;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    color: #555;
    margin-left: 14%;
    border: none;
  }

  .table {
    margin-bottom: 0px !important;
    max-width: 99% !important;
  }

  .table-container.grp-table-container {
    display: block;
    overflow-y: scroll;
    border: 1px solid #fff;
    max-height: 112px;
  }
  
  .table-data-customCss{
     margin-top:30px;
  }
  .userIdData {
    display: none;
  }
  .grp_com_addMore {
    margin-top: 9%;
  }
  
  h3.grp_com_addMore_head {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
  }

  .content-wrapper.cont_wrap0{
    /*min-height:510px !important;*/
  }
    .dataTables_wrapper .dataTables_filter input {
    background-image: url('./dist/img/search_imageNew.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: right;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    outline: 0;
  }
  .dataTables_wrapper .dataTables_filter {
    padding-right: 8px;
  }


@media (max-width: 768px) {
  .modal-dialog {
    width: 738px !important;
  }


/*--------AP(CSS)---------------*/

  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, 
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 36%;
  }
}

@media (max-width: 768px) {
   span.dtr-data {
    display: inline-flex;
    /* justify-content: normal; */
  }

  .btn.btn-primary.btn-xs.email.user, .btn.btn-primary.btn-xs.btn-edit{
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  table.dataTable>tbody>tr.child ul.dtr-details {
    text-align: left;
     display: inline;
  }
}

@media (max-width: 500px){
  button.grp_com_addMore_btn.add_more_user {
   margin-left: 5%;
    margin-bottom: 10px;
  }

  .com-dlt img {
    top: -20px !important;
    left: 5px;
  }

  .com_sbmit_btn_div {
    width: 50% !important;
    margin-left: 13%;
  }
  

  /*--------AP(CSS)---------------*/

  span.dtr-data {
    display: inline-flex;
    /* justify-content: normal; */
  }

  .btn.btn-primary.btn-xs.email.user, .btn.btn-primary.btn-xs.btn-edit{
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  table.dataTable>tbody>tr.child ul.dtr-details {
    text-align: left;
     display: inline;
  }

  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, 
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 50%;
  }
}


@media (max-width: 1024px) {
   span.dtr-data {
    display: inline-flex;
    /* justify-content: normal; */
  }

  .btn.btn-primary.btn-xs.email.user, .btn.btn-primary.btn-xs.btn-edit{
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  table.dataTable>tbody>tr.child ul.dtr-details {
    text-align: left;
     display: inline;
  }
}


.button-action>button.btn-cancel {
    margin-top: 0px;
}

td>input {
  padding-left: inherit !important;
}
td.button-action {
    display: flex;
}
.button-action p, .button-action>button {
    display: inline-block;
    margin: 5px;
    height: auto;
    width: auto;
    vertical-align: top;
}
.button-action .btn {
    padding: 0;
    height: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: rebeccapurple !important;
  color: white !important;
  border: 1px solid rebeccapurple !important;
  
}
.paginate_button:hover {
  background: rebeccapurple !important;
  color: white !important;
  border: 1px solid rebeccapurple !important;
}


/*--------AP(CSS)---------------*/
td>input {
    width: 100%;
    padding: 3px 10px;
}

.button-action>button.btn-cancel {
    margin-top: 5px;
}

button.btn.btn-danger.btn-xs.delete {
    /* margin-right: 0px; */
    margin-left: -5px;
}

svg.svg-inline--fa.fa-eye.fa-w-18 {
    margin-left: -3px;
}

.button-action p, .button-action>button {
    margin: 4px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child{
  text-align: start !important;
}

.dtr-data{
  display: inline-flex !important;
}
.btn-danger {
    color: rgb(10, 9, 9);
    /*background-color: #d9534f;
    border-color: #d43f3a;*/
}

.view_datas:active,.edit_datas:active {
     color: rgb(14, 14, 14); 
     background-color: transparent !important;
    
   
}


.edit_datas:hover, .delete_datas:hover , .view_datas.hover {
     color: rgb(11, 11, 11); 
    background-color:transparent !important;
     border-color: white; 
}
.view_datas:active,.edit_datas:active{
      color: rgb(11, 11, 11); 
      border-color: white !important;
      background-color: white !important;
      box-shadow: transparent !important;
      -webkit-box-shadow: transparent !important;

}
.usermsg {
  background: #9200df;
}
.form-control{
  width: 85% !important;
}
.view_datas{
   height: 25px;
    width: 28px;
    margin-right: 1px;
    padding-left: 7px;
    background-color: transparent;
    color: black;
    border: none;

}
.view_datas:hover{
      background-color: transparent;
    color: black;
    border-color: transparent;
}
.edit_datas{
   height: 25px;
    width: 28px;
    margin-right: 1px;
    padding-left: 0px;
    background-color: transparent;
    color: black;
    border: none;

}
.delete_datas{
  height: 25px;
    width: 28px;
    margin-right: 1px;
    margin-left: 1px;
    padding-left: 3px;
    background-color: transparent;    
    /*margin-top: -7px;*/
    border: none;
}
.select_options{
  width: 85%;
    height: 37px;
    border-radius: 10px;

}
.user_buttons{
  width: 84px;
    border-radius: 4px;
    height: 34px;

}
.user_buttons:hover{
  background-color: none !important;
  color: black;
}
.modal_users{
  text-align: start;
    padding-left: 85px;

}
@media (max-width: 980px){
.btn-danger{
  padding-left: 0px;
}
}
  .table > thead:first-child > tr:first-child > th {
    font-size: 15px !important;
}
#userCommunicationTable tr:nth-child(even) {
    background-color: transparent !important;
}
tr:hover{
    background-color: #f0edf1 !important;
    cursor: pointer;
}
#userCommunicationTable tr:nth-child(even):hover{
    background-color: #f0edf1 !important;
    cursor: pointer;
}
.user_icons{
  width: 30px;
    height: 30px;
}
@media screen and (max-width: 767px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none !important;
}
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper cont_wrap0">
  <!-- Main content -->
  <section class="content">
    <div class="row margin-top-pad">
      <div class="col-md-4">
        <h1 class="main-title">Communication</h1>
      </div>

      <div class="col-md-8 text-align-right btn-comm">
        <input type="hidden" id="sDate" name="sDate" value={{startDate}} />
        <input type="hidden" id="eDate" name="eDate" value={{endDate}} />
        <input type="hidden" id="smilli" name="smilli" value={{milistartDate}} />
        <input type="hidden" id="emilli" name="emilli" value={{miliendDate}} />
        <input type="hidden" class="imagelist" value={{file_name}}>
        <input type="text" class=" button-color datarange-input" id="dateRange" name="daterange" />
        <button class=" btn btn-secondary button-color down_excel padding-button">Download CSV</button>
        <select name="filterLeads" id="filterLeads" class="select-btn button-color" onchange="filterLeads()">
          <option value="none" selected disabled hidden>
            {{#if filterValue}}
            {{filterValue}}
            {{else}}
            Select an Option
            {{/if}}
          </option>
          <option value="All">All</option>
          <option value="Leads">Leads</option>
        </select>
        <script>
          var startDate = document.getElementById('sDate').value;
          var endDate = document.getElementById('eDate').value;

          var millstardate = document.getElementById('smilli').value
          var milienddate = document.getElementById('emilli').value

          localStorage.setItem('startdate', millstardate)
          localStorage.setItem('enddate', milienddate)



          //For dates to display on X-Axis
          var dateArray = []
          var now = moment({{ startDateInMs }})
          var end_Date = moment({{ endDateInMs }})




          while (now.isSameOrBefore(end_Date)) {
            dateArray.push(now.format('DD MMM, YYYY'));
            now.add(1, 'days');
          }
          if (!dateArray.includes(end_Date.format('DD MMM, YYYY'))) {
            dateArray.push(end_Date.format('DD MMM, YYYY'));
          }

          $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            "startDate": startDate,
            "endDate": endDate,
            locale: {
              format: 'DD/MM/YYYY'
            }, maxDate: new Date()
          }, async function (start, end, label) {

            localStorage.setItem('startdate', start)
            localStorage.setItem('enddate', end)
            if (localStorage.getItem('filtervalue') == null) {
              var filter = 'All'
            } else {
              var filter = localStorage.getItem('filtervalue')
            }
            await location.replace('/chat?startDate=' + start + '&endDate=' + end + '&filter=' + filter);
          });
        </script>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs">
        <button class="bt2 com-dlt hide"><img src="./dist/img/Delete.png" title="delete"></button>
        {{!-- commented just not to push on master for now, uncomment it later when it's fully implemented and tested well --}}
        <button class="creategroup com-dlt com-grp hide"><img src="./dist/img/add-group.png"
            title="CreateGroup"></button> 
      </div>
      {{!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ser-form">
        <input type="text" placeholder="Search.." name="search" class="search-f searchbox1" onkeyup="searchbox()">
        <button type="submit" class="search-b "><i class="fa fa-search"></i></button>
      </div> --}}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-xs">
        <button class="bt2 com-dlt hide"><img src="./dist/img/Delete.png" title="delete"></button>
      </div>
    </div>

    <div class="row table-data-customCss">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="userCommunicationTable" class="table table-bordred table-hover table-striped">
            <thead>
              <th>SRC</th>
              <th class="userIdData"> </th>
              <th><input type="checkbox" class=" chkall" name="location[]" value="{{this.userId}}" /> </th>
              <th>Chat Time</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone No</th>
              <th>Location<span>*</span></th>
              <th>Status</th>
              <th>Uploaded File</th>
              <th>Action</th>
            </thead>
            <tbody>
              {{#data}}

              <tr class="tr2" id="tr2" data-name="{{this.name}}" data-email="{{this.email}}" data-phone="{{this.phone}}" data-location="{{this.location}}"
                status="{{this.status}}" data-time="{{this.time}}" data-index="{{this.index}}" userId="{{this.userId}}">

                <td><img src="./dist/img/src/{{this.src.src}}.png" alt="{{this.src.title}}" title="Source: {{this.src.title}}" height="20px"></td>
                <td width="1"><input type="checkbox" class="chkbx" name="location[]" value="{{this.userId}}" /></td>
                <td class="userId" style="display:none;">{{this.userId}}</td>
                 <td>{{this.time}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.location}}</td>
                <td>
                  <select class="form-control-select inprogress select2" id="gender1" style="background-color:#ebd7f7;">
                    <option value="0">Bot Communicated</option>
                    <option value="1">Agent Connected</option>
                    <option value="2">In Progress</option>
                    <option value="3">Proposal Submitted</option>
                    <option value="4">Bussiness Closed</option>
                    <option value="5">Bussiness Lost</option>
                  </select></td>
                <td>
                   {{#if this.imgType}}<img src="dist/img/updated-icon/upload_clip.png" userid="{{this.userId}}" id="image_clip"
                    data-toggle="modal" onclick="imgData(this)" data-target="#clipData" height="30px" width="30px"> {{/if}} 
                    
                </td>
                <td class="button-action" style="display: inline-flex;">
                  <p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class=" edit_datas btn-xs btn-edit" data-title="Edit" data-toggle="modal"
                      userid="{{this.userId}}" data-target="#edit" onclick="findUserInfobyId(this)" style="">
                      <img src="dist/img/updated-icon/edit@2x.png"  class="user_icons">
                      {{!-- <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit"
                        class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z">
                        </path>
                      </svg> --}}
                    </button>
                  </p>
                  <p data-placement="top" data-toggle="tooltip" title="Delete" >
                    <button onclick="deleteAllChat(this)" class="btn-xs delete delete_datas" value="{{this.userId}}" style="">
                    <img src="dist/img/updated-icon/delete@2x.png" class="user_icons">         
                      {{!-- <svg aria-hidden="true" focusable="false" height="32px" data-prefix="far" data-icon="trash-alt"
                        class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                          d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z">
                        </path>
                      </svg> --}}
                    </button>
                  </p>
                   <button type="button" class="btn-xs email view_datas" data-toggle="modal" onclick="getChatData(this)"
                    data-target="#getChatDatas" value="{{this.userId}}" id="{{@index}}">
                    <img src="dist/img/updated-icon/show@2x.png"  class="user_icons">
                    
                    {{!-- <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye"
                      class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512">
                      <path fill="currentColor"
                        d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z">
                      </path>
                    </svg> --}}
                  </button>

                </td>
              </tr>
              {{/data}}
            </tbody>  
          </table>

            <div class="yubo_model">
              <div class="modal fade" id="getChatDatas" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><img src="./dist/img/customer_chat.png">Customer Chat</h4>
                    </div>
                    <div class="modal-body">
                      <div class="table_chat">
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="yubo_model">
              <div class="modal fade" id="clipData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel">Uploaded Files</h4>
                      <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="image_div">
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="yubo_model">
              <div class="modal fade" id="edit" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><img src="./dist/img/customer_chat.png">User Data</h4>
                    </div>
                    <div class="modal-body modal_users" style="    ">
                      {{!-- <div class="table_chat">
                      </div> --}}
                      <label for="userName" style="    color: white;">Name:</label><br>
                      <input class="form-control" type="text" id="userName" name="userName"><br>
                      <label for="email" style="    color: white;">Email:</label><br>
                      <input class="form-control" type="email" id="email" name="email"><br>
                      <label for="phone" style="    color: white;">Phone No:</label><br>
                      <input class="form-control" type="text" id="phone" name="phone">

                      <label for="status" style="    color: white;margin-top: 14px;">Status:</label><br>
                      <select id="selectedStatus" class="select_options" style="background-color: #ebd7f7;">                        <option value="0">Bot Communicated</option>
                        <option value="1">Agent Connected</option>
                        <option value="2">In Progress</option>
                        <option value="3">Proposal Submitted</option>
                        <option value="4">Bussiness Closed</option>
                        <option value="5">Bussiness Lost</option>
                      </select></td>

                    </div>
                    <div class="modal-footer">
                    </div>
                    <div style="text-align: end;padding-right: 88px;">
                      <button class="btn btn-default user_buttons" id="updateUser" value="" onclick="updateUserInfo()" style=""> update </button>
                    <button class="btn btn-danger user_buttons" type="button" data-dismiss="modal" >Cancel</button>

                    </div>

                    
                  </div>
                </div>
              </div>
            </div>



          <div class="yubo_model grp_model">
            <div class="modal fade" id="creategroupmodel" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Create Group</h4>
                    <button type="button" class="modal_close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body ">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                        <div class="creategrouphead">
                          <h5>Group As:</h5>
                          <select class="group_select creategroup-select">
                            <option>createNew</option>
                          </select>
                        </div>
                        <div class="creategrouphead grouptitle">
                          <h5>Group Name:</h5>
                          <input class="groupName" type="text">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 com-sm-6 col-xs-6">
                        {{!-- <div class="grp_search_com">
                          <input type="text" class="searchTermGrp" placeholder="">
                          <button type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </div> --}}
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="grp-added-member">
                          <h3 class="grp_com_addMore_head">Participants</h3>
                          <div class="table-container grp-table-container">
                          <table id="group-com-table" class="table table-bordred table-hover table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody class="adduserdata removehtml">

                            </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="grp_com_addMore">
                          <input type="text" class="instant_user instantuserdata" value="" placeholder="Name">
                          <input type="email" class="instant_email instantuserdata" value="" placeholder="Email Id">
                          <button class="grp_com_addMore_btn add_more_user">Add</button>
                        </div>
                        <div class="com_sbmit_btn_div">
                          <button type="button" class="grp_model_btn createNewGroup addGroupdata">Create Group</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <!-- <ul class="uk-pagination" data-uk-pagination="{items:100, itemsOnPage:10}"></ul> -->
          {{!-- <ul class="pagination pull-right">
          </ul> --}}
        </div>

        <ul class="pagination pull-right">
        </ul>
      </div>
    </div>
    {{>footer}}

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{{!-- {{>footer}} --}}

<script>


  $(document).ready( function () {
    $('#userCommunicationTable').DataTable({
          dom: 'Blfrtip',
          responsive: true,
          rowReorder: true,
          paging: true,
          lengthChange: true,
          lengthMenu: [[10, 20, 30, -1], [10, 20, 30, "All"]],
          sort: true,
          searching: true,
          destroy: true, 
          columnDefs: [
              { targets: [0,1,2,5,6,8,9,10],  
                orderable: false
              },
          ],
          language: {
            search: "_INPUT_",
            searchPlaceholder: "Search..."
          },
          "oLanguage": { "Search": '<i class="icon-search"></i>' },
       
    });
  });

  var table = $('#userCommunicationTable').DataTable();
  $('#userCommunicationTable').on( 'page.dt', function () {
      var info = table.page.info();
  });

  function searchbox() {

    $('.tr2').hide();
    var $inputval = document.getElementsByClassName('searchbox1');
    var inputval1 = $inputval[0].value.toUpperCase();

    $('.tr2').each(function () {
      var email = $(this).attr("data-email");
      if (email.toUpperCase().indexOf(inputval1) > -1) {
        $(this).show();
      }

    });
    if ($inputval[0].selectionStart == 0) {
      changePage(1);
    }
  }


  $('.chkall').click(function () {
    var z = this.checked;
    $('.chkbx').each(function () {
      this.checked = z;
    })
    checkbox();
  });

  // $('.chkbx').click(function(){
  $('.chkbx').click(function () {
    checkbox();
  })

  function checkbox() {
    var i = 0;
    window.a = [];
    $('.chkbx').each(function () {
      if (this.checked == true) {
        $('.bt2').removeClass('hide');
        $('.creategroup').removeClass('hide');
        a.push($(this).attr('value'));
        i = 1;
      }

    })
    if (i != 1) {
      $('.bt2').addClass('hide');
      $('.creategroup').addClass('hide')
      $('.chkall').prop('checked', false)
    } else if (i == 1) {
      $('.chkall').prop('checked', true)
    }

  }

  $('.bt2').click(function () {
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this change!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((isconfirm) => {
      if (isconfirm) {
        $.ajax({
          type: "POST",
          url: "/deleteM",
          data: { userId: a },
          success: function (data) {
            location.reload();
          }, error: function (jqXHR, textStatus, err) {
            alert('text status ' + textStatus + ', err ' + err)
          }
        });
      }
    });
  })


  $('.select2').each(function () {
    var st = $(this).parents("td").parents("tr").attr('status');
    $(this).val(st);
    if(st == 1 ){
        $(this).css("cssText", "background-color: rgb(88 216 102) !important");
    }
  });

  $('.tr2').each(function () {
    var temp_indx = $(this).attr('data-index');
    if (temp_indx > 10) {
      $(this).hide();
    }
  });

  $('.select2').children('option:not(:selected)').hide();

  //This function delete chat 
 /* $('.delete').click(function () {
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this change!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((isconfirm) => {
      if (isconfirm) {
        $.ajax({
          type: "POST",
          url: "/deleteChat",
          data: { userId: $(this).val() },
          success: function (data) {
            location.reload();
          }, error: function (jqXHR, textStatus, err) {
            alert('text status ' + textStatus + ', err ' + err)
          }
        });
      }
    });
  }); */


 /* $("body").on("click", ".btn-edit", function () {
    // var loaded="false";
    var $row = $(this).closest("tr");
    var email = $(this).parents("tr").attr('data-email');
    var phone = $(this).parents("tr").attr('data-phone');

    $(this).parents("tr").find("td:eq(8)").find("select").children('option:not(:selected)').show();


    $(this).parents("tr").find("td:eq(5)").html('<input type="email"  id="email" value="' + email + '">');
    $(this).parents("tr").find("td:eq(6)").html('<input type="phone"  id="phone" value="' + phone + '">');


    $(this).parents("tr").find("td:eq(10)").prepend("<button class='btn btn-info btn-xs btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
    $(this).hide();
  });

  $("body").on("click", ".btn-cancel", function () {
    var $row = $(this).closest("tr");
    $('.select2').children('option:not(:selected)').hide();
    var email = $(this).parents("tr").attr('data-email');
    var name = $(this).parents("tr").attr('data-phone');


    $(this).parents("tr").find("td:eq(5)").text(email);
    $(this).parents("tr").find("td:eq(6)").text(name);
    $(this).parents("tr").find(".btn-edit").show();
    $(this).parents("tr").find(".btn-update").remove();
    $(this).parents("tr").find(".btn-cancel").remove();
  }); */

 /* $("body").on("click", ".btn-update", function () {
    var $row = $(this).closest("tr");
    // var $userId=$row.find("userId").text();
    var $email = document.getElementById("email").value;
    var $phone = document.getElementById("phone").value;
    var $userId = $(this).parents("tr").attr('userId');
    var status = $(this).parents("tr").find("td:eq(8)").find("select").children('option:selected');
    var $status = status[0].value;
    $.ajax({
      type: "POST",
      url: "/updateUserInfo",
      data: { userId: $userId, email: $email, phone: $phone, status: $status },
      // processData:false,
      success: function (data) {
        location.reload();
      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    });
  }); */


  async function findUserInfobyId(data) {
   
    $.ajax({
      type: "POST",
      url: "/findUserInfobyId",
      data: { userId: $(data).attr('userid')},
      // processData:false,
      success: function (data) {
       $('#userName').val(data.data.session.name)
       $('#email').val(data.data.session.email)
       $('#phone').val(data.data.session.phone)
       $('#updateUser').val(data.data.userId) 
       $('#selectedStatus').val(data.data.userStatus)

      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    });
  }

  async function updateUserInfo() {
    var name = $('#userName').val()
    var email = $('#email').val()
    var phone = $('#phone').val()
    var userId = $('#updateUser').val()
     var e = document.getElementById("selectedStatus");
     var status = e.value;
    
    $.ajax({
      type: "put",
      url: "/updateUserInfo",
      data: { userId: userId, email: email, phone: phone,status: status, name: name},
      success: function (data) {
        if(data.statusCode == 200) {
            swal({
              title: "User data update successfully",
              icon: "success",
            }) 
            } else {
              swal({
              title: "User data not updated",
              icon: "warning",
              });
          }
        $('#edit').modal('hide');
       location.reload();
      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    });

  }

  async function deleteAllChat(data){
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this change!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((isconfirm) => {
      if (isconfirm) {
        $.ajax({
          type: "POST",
          url: "/deleteChat",
          data: { userId: $(data).val()},
          success: function (data) {
            location.reload();
          }, error: function (jqXHR, textStatus, err) {
            alert('text status ' + textStatus + ', err ' + err)
          }
        });
      }
    });
  }

</script>

<script>
  async function filterLeads() {
    var val = document.getElementById("filterLeads").value;
    localStorage.setItem('filtervalue', val)
    let start = localStorage.getItem('startdate')
    let end = localStorage.getItem('enddate')
    if (localStorage.getItem('startdate') == null) {
      await location.replace('chat?filter=' + val);
    } else {
      await location.replace('chat?startDate=' + start + '&endDate=' + end + '&filter=' + val);
    }

  }
 $('.down_excel').click(function () {
    var comm_arr = [];
    let start = localStorage.getItem('startdate')
    let end = localStorage.getItem('enddate')
    $('.tr2').each(function () {
      comm_arr.push({ id: $(this).attr('data-index'), name: $(this).attr('data-name'), email: $(this).attr('data-email'), phone: $(this).attr('data-phone'), location: $(this).attr('data-location'), chattime: $(this).attr('data-time'), status: $(this).attr('status'), userId: $(this).attr('userId'), startDate: start, endDate: end})
    })
    if (comm_arr.length < 1) {
      alert('There are no chats to download');
      return;
    }
    var data = JSON.stringify(comm_arr);
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
      }
    };
    xhttp.open("POST", "/excelsheet", true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.responseType = "blob";
    xhttp.onload = function (event) {
      var blob = xhttp.response;
      var fileName = xhttp.getResponseHeader("fileName") //if you have the fileName header available
      var link = document.createElement('a');
      link.href = window.URL.createObjectURL(blob);
      link.download = fileName;
      link.click();
    };
    xhttp.send(data);

  })

  /* $('#image_clip').click(function () {
    $.ajax({
      type: "POST",
      url: "/imageupload",
      data: { userId: $(this).attr('userid') },
      success: function (data) {
         $('.image_div').html('')
        if (data && data.data.length>0) {
          let imagearray = data.data;
         imagearray.forEach((element) => {
                let modalhtml = '';
                if(element.path.includes('https')){
                  let fileType= element.path.split('.').pop() ;
                  if(fileType == 'pdf'){
                    modalhtml = `<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src="/dist/img/pdf-icon.png" height="50px" width="50px" 
                                  </a>
                                </th> `
                  }else if(fileType == 'jpeg' || fileType == 'jpg' || fileType == 'png' || fileType == 'gif' || fileType == 'webp'  ){
                  modalhtml = `<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src=${element.path} height="50px" width="50px" 
                                  </a>
                                </th> `
                  }else if(fileType == 'docx' ||fileType == 'doc' || fileType == 'msword'  ){
                  modalhtml =`<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src="/dist/img/Word-icon.png" height="50px" width="50px" 
                                  </a>
                                </th> `
                  }
                }else{
                        if (element.originalname.split('.').pop() == 'pdf') {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/dist/img/pdf-icon.png" height="50px" width="50px"></a></th>'
                        } else if (element.originalname.split('.').pop() == 'doc' ||
                          element.originalname.split('.').pop() == 'docx' ||
                          element.originalname.split('.').pop() == 'docm') {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/dist/img/Word-icon.png" height="50px" width="50px"></a></th>'
                        } else {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/uploads/' + element.filename + '" height="50px" width="50px"></a></th>'
                        }
                }
                $('.image_div').append(modalhtml)
              })

        }
      }, error: function (jqXHR, textStatus, err) {
        alert('text status ' + textStatus + ', err ' + err)
      }
    });
  }) */

  /***************************************
  for adding members to modal of given leads
  *****************************************/
  $('.creategroup').click(function (i) {
    $('.removehtml').html('');
    $('.chkbx').each(function (i) {
      if ((this.checked == true) && $(this).closest('.tr2').attr('data-email')) {
        $('.adduserdata').append(`<tr class ="userdatalist">
          <td  class="userdataname" data-name="${$(this).closest('.tr2').attr('data-name')}">${$(this).closest('.tr2').attr('data-name')}</td>
          <td class="userdatamail" data-mail="${$(this).closest('.tr2').attr('data-email')}">${$(this).closest('.tr2').attr('data-email')}</td>
           <td class="userdataid" data-id="${$(this).closest('.tr2').attr('userid')}">&#10005;</td> </tr>`);
      }
    })
     
      $.ajax({
            type: "POST",
            url: "/usergroupdata",
            data: '',
            success: function (data) {
            if (data) {
              $('.group_select').html('')
              $('.group_select').append(`<option>Create New</option>`)
            for(i=0;i<data.data.length;i++){
                $('.group_select').append(`<option groupId = ${data.data[i].groupId}>${data.data[i].groupName}</option>`)
            }
            }
            }, error: function (jqXHR, textStatus, err) {
            alert('Please refresh !');
            }
         })
  $('#creategroupmodel').modal('show');
  })
 
 
  /***********************************
  for creating group of users
  ************************************/
  $(document).on("click", ".createNewGroup", function () {
    let grpname = $('.groupName').val();
    if ($(this).html()=='Create Group' && grpname == '') {
      alert('Group name Cannot be blank');
      return;
    }else{
        let creategroup = [], parentobj = {};
            $('.userdatalist').each(function (i) {
              let groupobj = {
                userId: $(this).find('.userdataid').attr('data-id'), name: $(this).find('.userdataname').attr('data-name'), mail: $(this).find('.userdatamail').attr('data-mail')
              }
              creategroup.push(groupobj)
            })
            parentobj[$('.groupName').val()] = creategroup;

            $.ajax({
              type: "POST",
              url: "/creategroup",
              data: parentobj,
              success: function (data) {
                if (data) {
                  alert(data.msg)
                  location.reload();
                }
              }, error: function (jqXHR, textStatus, err) {
                alert('Please refresh !');
              }
            })
    }
   
  })
  /******************************************
  for deleting users from modal
  *******************************************/
  $(document).on("click", ".userdataid", function (e) {
    if ($('.userdatalist').length < 2) {
      return;
    }
    $(this).parent('tr').remove()
  })

// to linkyfy
function URLify(inputText) {
var replacedText, replacePattern1, replacePattern2, replacePattern3;

//URLs starting with http://, https://, or ftp://
replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

//URLs starting with "www." (without // before it, or it'd re-link the ones done above).
replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

//Change email addresses to mailto:: links.
replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

return replacedText;
}

  /******************************************
  for groups data from modal
  *******************************************/
  $('.group_select').on('change',function(){
    if($(this).val()!='Create New'){
      $('.grouptitle').addClass('hide');
       $('.addGroupdata').html('Add Members');
       $('.addGroupdata').removeClass('createNewGroup');
       $('.addGroupdata').addClass('addNewmember')
    }else{
        $('.addGroupdata').html('Create Group')
       $('.grouptitle').removeClass('hide');
       $('.addGroupdata').addClass('createNewGroup');
       $('.addGroupdata').removeClass('addNewmember')
    }
  })

  $(document).on('click',".add_more_user",function(e){
         if($('.instant_email').val()==''){
            alert('EmailId is mandatory')
         return ;
         }
         $('.adduserdata').prepend(`<tr class ="userdatalist">
          <td  class="userdataname" data-name="${$('.instant_user').val()}"></span></label>${$('.instant_user').val()}</td>
          <td class="userdatamail" data-mail="${$('.instant_email').val()}">${$('.instant_email').val()}</td>
           <td class="userdataid" data-id="Random${Math.random().toString(36).substr(2, 5)}">&#10005;</td> </tr>`);
         $('.instantuserdata').val('');
        
  })

    /**for adding more member*/
     $(document).on("click", ".addNewmember", function () {
        let creategroup=[]; 
        let groupId =  $('.group_select option:selected').attr('groupid');
          
        $('.userdatalist').each(function (i) {
      let groupobj = {
        userId: $(this).find('.userdataid').attr('data-id'), name: $(this).find('.userdataname').attr('data-name'), mail: $(this).find('.userdatamail').attr('data-mail')
      }
      creategroup.push(groupobj)
    })
       $.ajax({
      type: "POST",
      url: "/addmoremember",
      data: {groupId:groupId,data:creategroup},
      success: function (data) {
        if (data) {
          alert(data.msg)
          location.reload();
        }
      }, error: function (jqXHR, textStatus, err) {
        alert('Please refresh !');
      }
    })

  })

function getChatData(e){
    $('.table_chat').html('')
    var i = (e.id);
    $.ajax({
      type: "POST",
      url: "/userChat",
      data: { userId: e.value },
      success: function (data) {
        var wrapper = document.getElementsByClassName("table_chat")[i];
        var myHTML = '';

        for (data of data.data) {
          if (data.userMsg) {
            data.userMsg = data.userMsg ? URLify(data.userMsg) : "";
            if(data.attachmentLink!=undefined){
              data.userMsg='<a href="'+data.attachmentLink+'" target="+blank"><img src="/dist/img/Upload_Clip.png" style="width:10%; padding:10px;">View Attachment</a>'
            }
            if (data.userMsg) {
              myHTML += '<div class="usermsg"><p>' + data.userMsg + '</p><span class="userDate">' + data.userDate + ' at ' + data.userTime + '</span></div>';
            }
          } else {
            data.botMsg = data.botMsg ? URLify(data.botMsg) : ""
            let url = (data.url) ? '<a href="' + data.url + '" target="_blank" title="Sent from: ' + data.url + '"><i class="fa fa-globe"></i></a>' : '';
            if(data.attachmentLink!=undefined){
              data.botMsg='<a href="'+data.attachmentLink+'" target="+blank"><img src="/dist/img/Upload_Clip.png" style="width:10%; padding:10px;">View Attachment</a>'
            }
            if (data.botMsg) {
              myHTML += '<div class="botmsg"><p>' + data.botMsg + '</p>' + url + '<span class="botDate">' + data.botDate + ' at ' + data.botTime + '</span></div>';
            }
          }
        }
        $('.table_chat').append(myHTML);

      }, error: function (jqXHR, textStatus, err) {
        //show error message
        alert('text status ' + textStatus + ', err ' + err)
      }
    });
}

</script>

<script>  

  async function imgData(data) {
    $.ajax({
      type: "POST",
      url: "/imageupload",
      data: { userId: $(data).attr('userid')},
      success: function (data) {
         $('.image_div').html('')
        if (data && data.data.length>0) {
          let imagearray = data.data;
         imagearray.forEach((element) => {
                let modalhtml = '';
                if(element.path.includes('https')){
                  let fileType= element.path.split('.').pop() ;
                  if(fileType == 'pdf'){
                    modalhtml = `<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src="/dist/img/pdf-icon.png" height="50px" width="50px" 
                                  </a>
                                </th> `
                  }else if(fileType == 'jpeg' || fileType == 'jpg' || fileType == 'png' || fileType == 'gif' || fileType == 'webp'  ){
                  modalhtml = `<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src=${element.path} height="50px" width="50px" 
                                  </a>
                                </th> `
                  }else if(fileType == 'docx' ||fileType == 'doc' || fileType == 'msword'  ){
                  modalhtml =`<th>
                                  <a href=${element.path} target="_blank" > 
                                    <img src="/dist/img/Word-icon.png" height="50px" width="50px" 
                                  </a>
                                </th> `
                  }
                }else{
                        if (element.originalname.split('.').pop() == 'pdf') {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/dist/img/pdf-icon.png" height="50px" width="50px"></a></th>'
                        } else if (element.originalname.split('.').pop() == 'doc' ||
                          element.originalname.split('.').pop() == 'docx' ||
                          element.originalname.split('.').pop() == 'docm') {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/dist/img/Word-icon.png" height="50px" width="50px"></a></th>'
                        } else {
                          modalhtml = '<th><a href="/uploads/' + element.filename + '" title="' + element.originalname + '" target="_blank"><img src="/uploads/' + element.filename + '" height="50px" width="50px"></a></th>'
                        }
                }
                $('.image_div').append(modalhtml)
              })

        }
      }, error: function (jqXHR, textStatus, err) {
        alert('text status ' + textStatus + ', err ' + err)
      }
    });
    
  }

</script>


{{!-- <script src="dist/js/commonjs/pagination.js"></script> --}}
