<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">

{{>head}}
{{> sideNavBar sideNavValidation userTypePro=userTypePro}}

<style>
    .user_icons {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -5px;
        right: 39px;
        cursor: pointer;
    }
    .del-actions{
    position: absolute;
    right: -6px;
    width: 30px;
    height: 30px;
    top: -9px;
    }
    .delBtn {
    float: none !important; 
    width: auto;
    position: relative;
}
.action-edits{
    position: absolute;
    right: 30px;
    width: 30px;
    top: -10px;
    height: 30px;
    cursor: pointer;
}
div#tBody {
    padding-left: 0px !important;
}
.box {
    position: relative;
    border-radius: 3px;
    background: transparent !important; 
    border-top: 0px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
     box-shadow: none !important; 
}
.card.intent_fader.backColor-2 {
    width: 83% !important;
    transform: translate(52px, 5px);
}
.card.intent_fader {
    background-color: #f1e5ee !important;
    width: 82%;
    transform: translate(56px, 0px) !important;
}
.content {
    min-height: 250px;
    padding: 22px 30px 6px 25px !important;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    position: relative;
    height: auto;
}
.webhook_actions{
    padding-left: 0px;
    padding-right: 0px;
}
.user.card-header.new-card-head.new-card-disp{
    padding-left: 53px !important;
}
.card-name-cont{
    font-size: 1.4301vw !important;
}
.actionTable{
width: 96%; 
padding-top: 30px;
margin-top: 38px;
}
.table_actions{
padding-left: 0px;
margin-bottom: 28px;
}
</style>

<div class="content-wrapper back-img-story">
    <!-- Main content -->
    <section class="content">
        <div class="right-shift">
            <div class="intent-header padding-0">
                {{!-- <div class="col-md-12"> --}}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left: 45px;">
                            <h3 class="web_hook_sec">Webhooks and Actions</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                            <div class="addButton margin-top-add-button">
                                <button type="button" type="{{type}}" modal-id="add_webhook"
                                    class="btn btn-secondary add-intent add_webhook" aria-expanded="false">Add
                                    Webhooks</button>
                            </div>

                            <div class="addButton margin-top-add-button">
                                <button type="button" modal-id="add_actions"
                                    class="btn btn-secondary add-actions add_actions" aria-expanded="false">Add
                                    Actions</button>
                            </div>
                        </div>
                    </div>
                    {{!--
                </div> --}}

                {{>addwebhook}}
                {{>addactions}}

                {{!-- Container to show all webhooks start --}}
                <div class="row">
                    <div class="">
                <div class="webhookTable" id="joy" style="width: 94%;">
                    <div class="row table-primary" id="tBody"></div>
                </div>
                </div>
                {{!-- Container to show all webhooks end --}}

                {{!-- Container to show all actions start --}}
                <div class="table_actions" style="">
                <div class="actionTable" id="actionTable">
                    <div class="row table-primary" id="action-tBody">
                    </div>
                </div>
                </div>
                </div>
                {{!-- Container to show all actions end --}}

                
                {{>editwebhook}}
                {{>editaction}}
                {{>footer}}
    
            </div>
        </div>

    </section>
</div>

{{!-- {{>footer}} --}}

<script src="dist/js/external_lib/chosen.jquery.min.js"></script>
<script src="dist/js/webhook.js"></script>
<script src="dist/js/actions.js"></script>
<script src="dist/js/commonjs/common.js"></script>

<link rel="stylesheet" href="dist/css/new-dbintegration.css">
</body>

</html>