{{> head}}
{{> sideNavBar}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>

  img.creategrouphead_img {
    float: right;
    zoom: 0.4;
    position: relative;
    margin-top: 25px;
    margin-right: 25%;
  }

  .grp_model input {
      width: 40%;
  }

  td.dltuser.userdataid {
      zoom: 1.6;
  }

  button.grp_com_addMore_btn.add_more_user {
      padding: 8px 15px;
      color: #555;
      font-size: 14px;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 5px;
      outline: none;
    /* margin-left: 16%;*/
    margin-left: 11%;
  }

  .table-container.grp-table-container {
      display: block;
      overflow-y: scroll;
      height: 133px;
      /*height:102px;*/
  }

  .com_sbmit_btn_div {
      margin-left: 6% !important;
  }

  .com_sbmit_btn_div {
      width: 50% !important;
  }

  h3.grp_com_addMore_head {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
  }

  #group-com-table tbody tr td {
    padding: 3px !important;
}

.table-container.grp-table-container {
  display: block;
  overflow-y: scroll;
  border: 1px solid #fff;
  height: 90px;
}
.grp_com_addMore {
  margin-top: 9%;
}

table#group-com-table {
    margin-bottom: 0px !important;
}
</style>
<body>
    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
                    <h1 class="compaign-title">My Whatsapp Group</h1>
                </div>
            </div>
            <div class="my-group groupdata">  
            </div>
            <div class="yubo_model grp_model">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Group</h4>
                    <button type="button" class="modal_close"  aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body ">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                        <div class="creategrouphead">
                          <h5>Group Name:</h5>
                         <img src="./dist/img/edit_intent.png" class="creategrouphead_img"> <input type="text" class=
                         "groupname">
                        </div>
                      </div>
                      {{!-- <div class="col-lg-4 col-md-4 com-sm-6 col-xs-6">
                        <div class="grp_search_com">
                          <input type="text" class="searchTermGrp" placeholder="">
                          <button type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div> --}}
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="grp-added-member">
                            <h3 class="grp_com_addMore_head">Participants</h3>
                           <div class="table-container grp-table-container">
                                <table id="group-com-table" class="table table-bordred table-hover table-striped">
                            <thead>
                              <tr>
                                <th><label class="com_grp_chkbox">
                                  {{!-- <input type="checkbox" class="headingckbox adduserckbox"> --}}
                                    <span class="grp_checkmark"></span>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody class="userdatamodel removehtml">
                            </tbody>
                          </table>
                            </div>
                        
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="grp_com_addMore">
                          <h3 class="grp_com_addMore_head">Add More</h3>
                          <input type="text" class="instant_user instantuserdata" placeholder="User Name">
                          <input type="email" class="instant_email instantuserdata" placeholder="Email Id">
                          <button class="grp_com_addMore_btn add_more_user">Add</button>
                        </div>
                        <div class="com_sbmit_btn_div">
                          <button type="button" class="grp_model_btn update_edted_data">Update Group </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
<script src="dist/js/pages/whatsappgroup.js"></script>

{{> footer}}