

{{>head}}
{{> sideNavBar sideNavValidation}}
{{!-- date picker start here --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="dist/css/new-dbintegration.css">
<link rel="stylesheet" href="dist/css/whatsapp.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{{!--
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
--}}
{{!-- <script type="text/javascript" src="
https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="
https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="/socket.io/socket.io.js"></script> --}}
<style>
    .new_filter_desp_0 {
    /* max-width: 238px; */
    /* float: right; */
    /* text-align: left; */
    /* margin-bottom: 30px; */
    padding-left: 15px;
}
</style>

<div class="content-wrapper">
    <div class="col filter new_filter_desp_0">
        <h3>Whatsapp</h3>
    </div>
    <div class="content  new-manage-cont">
        <div class="row new-row">
            <div class="col-md-4">
                {{!--   --}}
                 <div class="customize-input">
                        {{!-- <button class="bt2 com-dlt hide">
                            <img src="./dist/img/Delete.png" title="delete">
                        </button> --}}
                        <button class="creategroup  com-grp ">
                            <img src="./dist/img/add-group.png" title="CreateGroup">
                        </button>

                        {{!-- <input class="form-control custom-shadow custom-radius border-0 bg-white" id="myInput" onkeyup="getUserList()" type="search" placeholder="Search User...." aria-label="Search">
                        
                        <button type="submit" class="search-b new-search-b "><i class="fa fa-search"></i></button> --}}
                    </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="customize-input">
                        {{!-- <button class="bt2 com-dlt hide">
                            <img src="./dist/img/Delete.png" title="delete">
                        </button> --}}
                        {{!-- <button class="creategroup  com-grp ">
                            <img src="./dist/img/add-group.png" title="CreateGroup">
                        </button> --}}

                        <input class="form-control custom-shadow custom-radius border-0 bg-white" id="myInput" onkeyup="getUserList()" type="search" placeholder="Search User...." aria-label="Search">
                        
                        <button type="submit" class="search-b new-search-b "><i class="fa fa-search"></i></button>
                    </div> 

                
                </div>
            </div>
            <div class="col-md-4 text-align-right">
                <div class="row">
                     <div class="image-upload padding-button" onchange="loadSlotJson()">
                        <label for="loadSlotJson">
                            <span class="btn btn-secondary button-color width-button upload-button "
                                for="loadSlotJson">Upload Excel</span>
                        </label>
                        <input type="file"  name="files[]" id="loadSlotJson" style="display: none;"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    </div>
                    {{!-- <form enctype="multipart/form-data">
                        <input id="loadSlotJson" type=file  name="files[]">
                    </form> --}}
                    {{!-- <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea> --}}

                    <button type="button" class=" btn btn-secondary
                    button-color border-radius-button down_excel new_button" data-target="#add_agents" data-toggle="modal" style="border-radius:
                    10px;" onclick="addUserBtn()" data-backdrop="static" data-keyboard="false">Add User</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" name="select-all" id="select-all  " class="chkall" /></th>
                    <th scope="col">Name</th>
                    <th scope="col">Mail Id</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="ExcelData">

            </tbody>
        </table>
    </div>


    {{!-- Start of form, to create new user --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="add_agents">
            <div class="modal-dialog">
                <div class="modal-content  new_modal_content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" class="close closeModal
                                padding-cross" onclick="discard(event)" aria-label="">✕</button>
                                <img class="edit-image-width" src="./dist/img/Add_Whatsapp.png" alt="">
                                Add User
                            </h4>
                            {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                        </div>
                        <form id="add_agents_new" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Name </label>
                                    <input  type="text" 
                                            id="userName" 
                                            name="name" 
                                            class="form-control"
                                            placeholder="User Name" required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Phone Number </label>
                                    <input  type="number" 
                                            id="userPhone"
                                            name="phone" 
                                            class="form-control"
                                            placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12 ">
                                     <label> Email </label>
                                    <input type="text" 
                                           id="userEmail" 
                                           name="email" 
                                           class="form-control"
                                           placeholder="Email" 
                                           required>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" class="discard_Btn closeModal"
                                        onclick="discard(event)">Discard</button>
                                    <button type="button" value="Submit" class="save_button createUser">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Start of form, to edit new user --}}
    <div class="yubo_model tree_model">
        <div class="modal" id="edit_agents">
            <div class="modal-dialog">
                <div class="modal-content  new_modal_content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <button type="button" 
                                        class=" closeModal close padding-cross" 
                                        onclick="discard(event)" 
                                        aria-label="">✕
                                </button>
                                <img class="edit-image-width" 
                                     src="./dist/img/Add_Agents.png" 
                                     alt="">
                                Edit User
                            </h4>
                        </div>
                        <form id="add_agents" role="form">
                            <div class="row margin-top-header">
                                <div class="col-md-12">
                                    <label> Name </label>
                                    <input type="text" 
                                           id="name" 
                                           class="form-control" 
                                           placeholder="Name" 
                                           required>
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Phone Number </label>
                                    <input type="number" 
                                           id="phone" 
                                           class="form-control"
                                           placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="row margin-top-input">
                                <div class="col-md-12">
                                    <label> Email </label>
                                    <input type="text" 
                                          id="email" 
                                          class="form-control"
                                          placeholder="Email"
                                          required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 intent_model_btn">
                                    <button type="button" 
                                            class="discard_Btn closeModal"
                                            onclick="discard(event)">Discard</button>
                                    <button type="button" 
                                            value="Save" 
                                            class="saveUpdates update_button">Update Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="yubo_model grp_model">
    <div class="modal fade" id="creategroupmodel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Create Group</h4>
            <button type="button" class="modal_close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body ">
            <div class="row">
                <div class="col-lg-8 col-md-8 com-sm-6 col-xs-6">
                    <div class="creategrouphead">
                        <h5>Group As:</h5>
                        <select class="group_select creategroup-select">
                        <option>createNew</option>
                        </select>
                    </div>
                    <div class="creategrouphead grouptitle">
                        <h5>Group Name:</h5>
                        <input class="groupName" type="text">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 com-sm-6 col-xs-6">
                {{!-- <div class="grp_search_com">
                    <input type="text" class="searchTermGrp" placeholder="">
                    <button type="submit">
                    <i class="fa fa-search"></i>
                    </button>
                </div> --}}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp-added-member">
                        <h3 class="grp_com_addMore_head">Participants</h3>
                        <div class="table-container grp-table-container">
                        <table id="group-com-table" class="table table-bordred table-hover table-striped">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="adduserdata removehtml">

                        </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="grp_com_addMore">
                        <input type="text" class="instant_user instantuserdata" value="" placeholder="Name">
                        <input type="email" class="instant_email instantuserdata" value="" placeholder="Email Id">
                        <button class="grp_com_addMore_btn add_more_user">Add</button>
                    </div>
                    <div class="com_sbmit_btn_div">
                        <button type="button" class="grp_model_btn createNewGroup addGroupdata">Create Group</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
    </div>
</div>

<input type="hidden" id="clientId" value="{{clientId}}" >
        
<script src="/dist/js/whatsapp.js"></script>

{{>footer}}
