/*
 * jquery.flowchart - CSS definitions
 */

.box {
    height: 550px;
    overflow-y: auto;
    overflow-x: auto;
}

.flowchart-container {
    position: relative;
    overflow-y: auto; 
}

.flowchart-links-layer,
.flowchart-operators-layer,
.flowchart-temporary-link-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.flowchart-links-layer {
    width:20000px;
    height:20000px;
}

.flowchart-operators-layer,
.flowchart-temporary-link-layer {
    pointer-events: none;
}

.flowchart-temporary-link-layer {
    display: none;
}

.flowchart-link,
.flowchart-operator {
    cursor: default;
}

.flowchart-operator-connector {
    position: relative;
    padding: 5px;
}

.flowchart-operator-connector-label {
    font-size: small;
}

.flowchart-operator-inputs .flowchart-operator-connector-label {
    margin-left: 14px;
}

.flowchart-operator-outputs .flowchart-operator-connector-label {
    text-align: right;
    margin-right: 5px;
}

.flowchart-operator-connector-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(204, 204, 204);
    position: absolute;
    top: 0px;
}

.flowchart-operator-connector-small-arrow {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    /*rgb(100, 100, 100);*/
    position: absolute;
    top: 5px;
    pointer-events: none;
}

.flowchart-operator-connector:hover .flowchart-operator-connector-arrow {
    border-left: 10px solid rgb(153, 153, 153);
}

.flowchart-operator-inputs .flowchart-operator-connector-arrow {
    left: -1px;
}

.flowchart-operator-outputs .flowchart-operator-connector-arrow {
    right: -10px;
}

.flowchart-operator-inputs .flowchart-operator-connector-small-arrow {
    left: -1px;
}

.flowchart-operator-outputs .flowchart-operator-connector-small-arrow {
    right: -7px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}


/* menu svg style */

.dropdown .dropdown-toggle svg,
.navbar-nav svg {
    color: #fff;
    fill: #fff;
    opacity: .8;
    height: 24px;
}

.dropdown:hover .dropdown-toggle svg,
.navbar-nav li:hover svg {
    opacity: 1;
}


/* Default Operator */

.flowchart-operator {
    position: absolute;
    width: auto;
    min-width: 120px;
    border: 1px solid #6800A1;
    background: #FAFAFA;
    pointer-events: auto;
    border-radius: 5px;
}

.flowchart-operator.hover {
    border-color: #999;
    border: 2px outset;
}

.answer-area {
    max-height: 200px;
    overflow-y: scroll;
}

.flowchart-operator.selected {
    border: 2px dashed #555;
}

.flowchart-operator.highlight {
    border: 2px dashed #ff8d00;
}

li.node_list {
    padding-top: 14px;
    padding-right: 20px;
}

li.save-message {
    padding: 22px;
    color: yellow;
}

div#alert-message {
    margin-bottom: 0px;
    margin-top: 5px;
}

.general.flowchart-default-operator.ui-draggable {
/*    background: url(../images/link.png) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;*/
    background-color: #FAFAFA;
}

.email_check.flowchart-default-operator.ui-draggable {
    background: url(../images/email.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}

.phone_check.flowchart-default-operator.ui-draggable {
    background: url(../images/phone.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}

.image.flowchart-default-operator.ui-draggable {
    background: url(../images/photography.png) no-repeat right;
    background-size: 25px;
    background-position: top right;
    background-color: #FAFAFA;
}

.video.flowchart-default-operator.ui-draggable {
    background: url(../images/youtube.png) no-repeat right;
    background-size: 25px;
    background-position: top right;
    background-color: #FAFAFA;
}

.calendar.flowchart-default-operator.ui-draggable {
    background: url(../images/calendar.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}

.product.flowchart-default-operator.ui-draggable {
    background: url(../images/product.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}

.contact.flowchart-default-operator.ui-draggable {
    background: url(../images/contact.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}

.code.flowchart-default-operator.ui-draggable {
    background: url(../images/code.svg) no-repeat right;
    background-size: 20px;
    background-position: top 3px right 3px;
    background-color: #FAFAFA;
}



/*.tool-container {
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background: #fff;
}*/

.panel-body {
    padding: 0px !important;
}

.navbar-inverse {
    background-color: #6800A1;
    border-color: #6800A1;
    margin-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #6800A1;
}

.tool-body {
    background: #F9FAFC;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
}

.border-bottom {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.panel-heading {
    padding: 5px 15px;
    height: 50px;
}

.heading6 {
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.icon-bar {
    width: 100%;
    background-color: #6800A1;
    overflow: auto;
    border-radius: 5px 5px 0px 0px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: none;
}

.big-text {
    height: 200px !important;
}

.modal-header {
    padding: 15px;
    background: #6800A1;
    color: #fff;
}

.tool-container {
    padding-top: 40px;
}

.icon-bar a {
    float: right;
    width: 7%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

img.tool-icon {
    width: 32px;
}

.icon-bar a:hover {
    background-color: #04c0f7;
}

.active {
    background-color: #4CAF50;
}

.flowchart-example-container {
/*    width: 936px;
    height: 499px;*/
    width: 20000px;
    height: 20000px;
    margin-bottom: 10px;
}

.flowchart-operator .flowchart-operator-title {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 1px solid #6800A1;
    background: #6800A1;
    border-bottom: 1px solid #6800A1;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: move;
    text-align: center;
    color: #fff;
}

.flowchart-operator .flowchart-operator-inputs-outputs {
    display: table;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flowchart-operator .flowchart-operator-inputs,
.flowchart-default-operator .flowchart-operator-outputs {
    display: table-cell;
    width: 50%;
}


/*
 * flowchart-vertical
 */

.flowchart-vertical .flowchart-operator-inputs,
.flowchart-vertical .flowchart-operator-outputs {
    position: relative;
    text-align: center;
    display: table;
    width: 100%;
}

.flowchart-vertical .flowchart-operator-connector-set {
    display: table-cell;
}

.flowchart-vertical .flowchart-operator-connector {
    position: relative;
}

.flowchart-vertical .flowchart-operator-connector-label {
    position: relative;
    text-align: center;
    width: 100%;
}

.flowchart-vertical .flowchart-operator-inputs .flowchart-operator-connector-label {
    margin-left: auto;
}

.flowchart-vertical .flowchart-operator-connector-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #6800A1;
    left: calc(50% - 10px);
}

.flowchart-vertical .flowchart-operator-connector:hover .flowchart-operator-connector-arrow {
    border-left-color: transparent;
    border-top-color: #999;
}

.flowchart-vertical .flowchart-operator-connector-small-arrow {
    border-right: 5px solid transparent;
    top: 2px;
    left: calc(50% - 5px);
}

.flowchart-vertical .flowchart-operator-connector-arrow {
    top: 0px;
}

.flowchart-vertical .flowchart-operator-outputs .flowchart-operator-connector-arrow {
    bottom: -20px;
    top: auto;
}

.flowchart-vertical .flowchart-operator-outputs .flowchart-operator-connector-small-arrow {
    left: calc(50% - 5px);
    bottom: -12px;
    top: auto;
}

.flowchart-vertical .flowchart-link rect {
    display: none;
}


/*
 * flowchart-operator-body
 */

.flowchart-operator-body {
    padding: 5px;
    cursor: move;
}

.jstooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.jstooltip .tooltiptext {
    visibility: hidden;
    min-width: 300px;
    max-width: 450px;
    background-color: #EEFBFF;
    color: #000000;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #6800A1;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* .jstooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
} */


/* select element style */

.select-node {
    width: 250px;
}

.select-node li {
    width: 100%;
}

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-node select option {
    background-color: #fff;
    color: #000;
    border: none;
    outline: 0px;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, #171616 50%), linear-gradient(135deg, #171616 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: #f0ebf3;
    border: 1px solid #fff;
    outline: 0px;
    color: rgb(20, 19, 19);
    cursor: pointer;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.setting-view {
    position: relative;
}


/* .setting-view:hover .setting_button {
    background-color: #fff;
    border-radius: 50% !important;
} */

.setting-view:hover .setting_button img {
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.2s ease;
}

.setting-view:hover .setting-cont,
.setting-view:hover .setting-arrow {
    display: block;
}

.setting-cont {
    background: #EEFBFF;
    opacity: 1;
    min-width: 5rem;
    width: 300px;
    position: absolute;
    transition: all 0.5s ease;
    right: -75%;
    display: none;
    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}


/* li.setting-view:hover div {
    visibility: visible;
    opacity: 1;
    display: block;
} */

.setting-arrow {
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    display: none;
}

.seting-head {
    border-bottom: 1px solid #6800A1;
}

.panel-info {
    border-color: #6800A1;
}

.seting-head,
.seting-body,
.seting-save {
    width: 100%;
    padding: 8px 15px;
    height: 36px;
}

.seting-head div,
.seting-body div {
    display: inline-block;
    width: 50%;
}

.seting-body input {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #6800A1;
    margin-left: 4px;
}

.seting-save {
    margin-bottom: 10px;
}

.seting-save button {
    float: right;
    border: none;
    outline: none;
    background-color: #6800A1;
    color: #fff;
    border-radius: 5px;
    padding: 4px 11px;
}

.setting-cont .navbar-right {
    text-align: right;
    margin: 0px !important;
}

#code_instructions {
    margin-right: 10px;
    height: 40px;
}
.code_instructions {
    display: flex;
}