#btrack-yubo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

.contact-profile {
  padding: 5px;
  display: block;
  background: linear-gradient(135deg, #000 0%, rgb(8, 92, 167) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.open-chat-window .close-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.close-img img {
  width: 16px;
  cursor: pointer;
  filter: brightness(5) invert(1);
}

#frame {
  width: 360px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}

@media screen and (max-width: 767px) {
  #frame {
      width: 100% !important;
      height: 100vh !important;
  }
}

#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel {
      width: 58px;
      min-width: 58px;
  }
}

#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      background: #32465a;
  }
}

#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}

#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
      height: 55px;
  }
}

#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
      width: 40px;
      margin-left: 4px;
  }
}

#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}

#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}

#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}

#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}

#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
      display: none;
  }
}

#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
      display: none;
  }
}

#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
      width: 58px;
      margin-top: 57px;
  }
}

#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
      margin-top: 62px;
  }
}

#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
      margin-left: 23px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}

#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
      padding: 15px 0 35px 22px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
      width: 14px;
      height: 14px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
      height: 18px;
      width: 18px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
      display: none;
  }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}

#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}

#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}

#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}

#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
      display: none;
  }
}

#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}

#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}

#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}

#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}

#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}

#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}

#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
  }
}

#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
      padding: 6px 0 46px 8px;
  }
}

#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}

#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}

#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}

#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}

#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
      display: none;
  }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
      float: none;
      width: 100%;
      padding: 15px 0;
  }
}

#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
      border-right: none;
      border-bottom: 1px solid #2c3e50;
  }
}

#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
      font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
      display: none;
  }
}

#frame .content {
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame .content {
      width: 100%;
      min-width: 300px !important;
  }
}

@media screen and (min-width: 900px) {
  #frame .content {
      width: calc(100% - 340px);
  }
}

#frame .content .contact-profile {
  width: 100%;
}

#frame .content .contact-profile img {
  max-width: 155px;
  max-height: 55px;
  display: block;
  margin-bottom: 5px;
}

#frame .content .contact-profile p {
  float: left;
}

#frame .content .contact-profile .social-media {
  float: right;
}

#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}

#frame .content .messages {
  height: auto;
  min-height: calc(100% - 140px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
      max-height: calc(100% - 140px);
  }
}

#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
  padding-bottom: 20px;
}

#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}

#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}

#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 280px;
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
      max-width: 300px;
  }
}

#frame .content .message-input {
  position: absolute;
  bottom: 12px;
  width: 100%;
  z-index: 99;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 15px;
}

#frame .content .message-input .wrap {
  position: relative;
}

#frame .content .message-input .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 50px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  border-radius: 25px;
  color: #000;
  border-radius: 25px;
  font-weight: 600;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
      padding: 12px 32px 13px 8px;
      border: 1px solid #f1f1f1;
  }
}

#frame .content .message-input .wrap input:focus {
  outline: none;
}

#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
      margin-top: 17px;
      right: 65px;
  }
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}


/*#frame .content .message-input .wrap button {
float: right;
border: none;
width: 50px;
padding: 12px 0;
cursor: pointer;
background: #32465a;
color: #f5f5f5;
}*/

#frame .content .message-input .wrap button {
  float: right;
  border: none;
  position: relative;
  display: block;
  width: 43px;
  right: 36px;
  border: none;
  width: 43px;
  cursor: pointer;
  background: #6307d1;
  color: #f5f5f5;
  border-radius: 50%;
  text-align: center;
}

#frame .content .message-input .wrap button:hover {
  background: #6DCDE9;
}

button.submit img {
  width: 20px;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
      padding: 10px 15px;
  }
}

#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
  outline: none;
}

#frame {
  bottom: -520px;
  transition: 0.5s ease-in-out bottom;
}

.chat-start {
  position: fixed;
  width: 66px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  bottom: 10px;
  right: 70px;
}


/*.chat-start img {
  width: 80px;
  box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
}*/

.chat-start img {
  width: 113px;
  position: absolute;
  /* left: -5px; */
  left: -23px;
  text-align: center;
  bottom: 30px;
  top: 11px;
  max-width: unset !important;
}

.yubo {
  position: relative;
}

.yubo.open-chat-window div#frame {
  bottom: 20px;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s steps(2, end) both;
  animation: bounce-top 0.9s steps(2, end) both;
}

@-webkit-keyframes bounce-top {
  0% {
      -webkit-transform: translateY(-45px);
      transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
  }
  24% {
      opacity: 1;
  }
  40% {
      -webkit-transform: translateY(-24px);
      transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  65% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
  }
  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
      -webkit-transform: translateY(-45px);
      transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
  }
  24% {
      opacity: 1;
  }
  40% {
      -webkit-transform: translateY(-24px);
      transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  65% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
  }
  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
  }
}

.widget-icon {
  width: 100%;
  bottom: 50px;
  /* margin: 0 auto; */
  position: relative;
  /*  background: #f79e3f;
box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
border-radius: 50%;*/
  text-align: center;
  padding: 14px 0;
  left: 20px;
  bottom: 100px;
}


/* text animation */

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
.pre-mesg {
  font-size: 18px !important;
  font: bold 7.5vw/1.6 'Signika', sans-serif;
  user-select: none;
}

.pre-mesg span {
  display: inline-block;
  animation: float .2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
      transform: none;
  }
  33% {
      transform: translateY(-1px) rotate(-2deg);
  }
  66% {
      transform: translateY(1px) rotate(2deg);
  }
}

.pre-mesg:hover span {
  animation: bounce .6s;
}

@keyframes bounce {
  0%,
  100% {
      transform: translate(0);
  }
  25% {
      transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
      transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.pre-mesg span {
  color: #f79644;
  /* text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); */
}


/* span:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

span:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}
*/

.pre-mesg span:nth-child(2) {
  animation-delay: .05s;
}

.pre-mesg span:nth-child(3) {
  animation-delay: .1s;
}

.pre-mesg span:nth-child(4) {
  animation-delay: .15s;
}

.pre-mesg span:nth-child(5) {
  animation-delay: .2s;
}

.pre-mesg span:nth-child(6) {
  animation-delay: .25s;
}

.pre-mesg span:nth-child(7) {
  animation-delay: .3s;
}

.pre-mesg span:nth-child(8) {
  animation-delay: .35s;
}

.pre-mesg span:nth-child(9) {
  animation-delay: .4s;
}

.pre-mesg span:nth-child(10) {
  animation-delay: .45s;
}

.pre-mesg span:nth-child(11) {
  animation-delay: .5s;
}

.pre-mesg span:nth-child(12) {
  animation-delay: .55s;
}

.pre-mesg span:nth-child(13) {
  animation-delay: .6s;
}

.pre-mesg span:nth-child(14) {
  animation-delay: .65s;
}

.pre-mesg span:nth-child(15) {
  animation-delay: .7s;
}

.pre-mesg span:nth-child(16) {
  animation-delay: .75s;
}

.pre-mesg span:nth-child(17) {
  animation-delay: .8s;
}

.pre-mesg span:nth-child(18) {
  animation-delay: .85s;
}

.pre-mesg span:nth-child(19) {
  animation-delay: .9s;
}

.pre-mesg span:nth-child(20) {
  animation-delay: .95s;
}

.pre-mesg span:nth-child(21) {
  animation-delay: 1s;
}


/* --------------------------------------------------------------------------------- */


/*  .icon:hover {
-moz-animation: rotatecircle 4s infinite linear;
-webkit-animation: rotatecircle 4s linear;
}*/

.outerCircle {
  background-color: transparent;
  border: 4px solid #f79e3f;
  opacity: .9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
}

.innerCircle {
  background-color: transparent;
  border: 3px solid rgba(189, 215, 60, 0.9);
  opacity: .9;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 100px;
  top: -110px;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  position: relative;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
  0% {
      -moz-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
  }
  50% {
      -moz-transform: rotate(145deg);
      opacity: 1;
  }
  100% {
      -moz-transform: rotate(-320deg);
      opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  0% {
      -moz-transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  0% {
      -webkit-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
  }
  50% {
      -webkit-transform: rotate(145deg);
      opacity: 1;
  }
  100% {
      -webkit-transform: rotate(-320deg);
      opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatecircle {
  0% {
      -moz-transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatecircle {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
  }
}

.close-img {
  display: none;
}

.open-chat-window .chat-start.bounce-top {
  display: none;
}

.close-img i {
  color: red;
  font-size: 15px;
  width: 16px;
  cursor: pointer;
  filter: brightness(5) invert(1);
}

.open-chat-window .close-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px !important;
  height: 20px;
}

.open-chat-window .close-img img {
  width: 16px !important;
  cursor: pointer;
  filter: brightness(5) invert(1);
}

.bootm-box {
  position: relative;
}

@-webkit-keyframes open-chat-windows {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
}

@keyframes open-chat-window {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
}

.open-chat-window {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.iframe-box {
  width: 360px;
  position: fixed;
  right: 5px;
  bottom: -520px;
  transition: 0.5s ease-in-out bottom;
  border-radius: 10px;
  border-radius: 10px;
  overflow: inherit;
}

.open-chat-window {
  bottom: 26px;
  /* transition-timing-function: cubic-bezier(0.42,0,0.58,1) */
}

iframe#frame-lode {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.powerd {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #8894ab;
  letter-spacing: 1px;
  line-height: 15px
}

.tag-line {
  float: none !important;
  overflow: hidden;
  font-size: 13px;
  color: #fff;
  line-height: 17px;
}

.powerd img {
  width: 32px;
}


/*###################################*/

.quickReplies:hover {
  background: #435f7a;
  color: #fff;
}

.quickReplies {
  font-size: 13px;
  color: #000;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #435f7a;
  background: transparent;
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: .5px;
  margin-right: 10px;
}

div#wave {
  position: relative;
  margin-top: 38vh;
  text-align: center;
  width: 100px;
  height: 100px;
}

div#wave .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}

div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}

div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%,
  60%,
  100% {
      transform: initial;
  }
  30% {
      transform: translateY(-15px);
  }
}

.iframe-box {
  z-index: 99999999;
}

@media screen and (max-width: 767px) {
  iframe#frame-lode {
      border-radius: 0;
  }
  .open-chat-window {
      bottom: 0px;
  }
  .iframe-box {
      width: 100%;
      right: 0;
  }
  iframe#frame-lode {
      height: 493px;
      border-radius: 0;
  }
  #frame {
    width: 100%;
    height: 100vh;
}
}


/*.close-img button {
  display: block;
  background: transparent;
  border: none;
  margin-top: 23px;
}*/

.widget-icon .bubble-animation {
  margin: 0px auto;
  display: block;
  width: 66px;
  max-width: 66px;
  height: 66px;
  border-radius: 50%;
  /*    background: #ffffff;*/
  cursor: pointer;
  animation: pulse 2s infinite;
  box-sizing: border-box;
}

.bubble-animation {
  animation: none;
}

@keyframes pulse {
  0% {
      -moz-box-shadow: 0 0 0 0 rgba(247, 150, 68, 0.4);
      box-shadow: 0 0 0 0 rgba(247, 150, 68, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(247, 150, 68, 0);
      box-shadow: 0 0 0 30px rgba(247, 150, 68, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(247, 150, 68, 0);
      box-shadow: 0 0 0 0 rgba(247, 150, 68, 0);
  }
}
/**external css*/



img#mic {
    display: none;
}
.tag-line.sub {
  display: none;
}
.replies p {
  border-radius: 20px 0px 20px 20px !important
}
.sent p {
  border-radius: 20px 20px 20px 0px !important
}
#fb-rendered-form {
  font-size: 13px !important;
}
#fb-rendered-form button{
  font-size: 13px !important;
  background: #6307d1;
}

#fb-rendered-form input{
  font-size: 13px !important;
}
#fb-rendered-form {
  font-size: 13px !important;
  margin-top: 10px;
  border-radius: 2%;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 0px 4px 1px #6307d1;
}
.rendered-form {
  padding-bottom: 5px;
  padding-top: 5px;
}.hy-icon {background:  rgb(164, 101, 93);}.icon {background:  rgb(164, 101, 93);}.contact-profile{  background: rgb(0, 0, 0);}#frame .content .message-input .wrap button{ background: rgb(164, 101, 93);}.tag-line.sub{color: rgb(171, 134, 130) ;}.tag-line{color: rgb(171, 134, 130);}.close-img svg {fill:rgb(164, 101, 93);cursor: pointer;}#frame .content .messages ul li.sent p{background:rgb(247, 243, 228);}#frame .content .messages ul li.sent p{ color:rgb(51, 51, 51);}#frame .content .messages ul li.replies p{background:rgb(164, 101, 93);}#frame .content .messages ul li.replies p{color:rgb(255, 255, 255);}.iframe-box {border: 1px solid rgb(164, 101, 93);background:rgb(255, 255, 255);}#frame{background:rgb(255, 255, 255);}.outerCircle {border: 4px solid rgb(164, 101, 93);border-right: 4px solid transparent;border-left: 4px solid transparent; }.innerCircle {border: 3px solid rgb(164, 101, 93);border-left: 3px solid transparent;border-right: 3px solid transparent; } #fb-rendered-form button, #popUp-body-Inner button {background: rgb(164, 101, 93);} #fb-rendered-form, .popUp-body-Inner {box-shadow: 0px 0px 4px 1px rgb(164, 101, 93);}
.widget-icon {
   left: -16px;
}