.contact-profile {
    padding: 10px 10px 10px;
    display: block;
    background: #6307d1;
}
#frame {
  width: 360px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame .content {
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: 100%;
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .content .contact-profile {
  width: 100%;
}
#frame .content .contact-profile .logo {
  max-width: 155px;
  max-height: 55px;
  display: block;
  margin-bottom: 5px;
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 180px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 260px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  padding-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
    background: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-size: 13px;
    word-break: break-word;
}
#frame .content .messages ul li.control {
  text-align: center;
  font-size: 11px !important;
  line-height: 0px;
  padding-top: 10px;
  padding-bottom: 7px;
}
#frame .content .messages ul li.control span {
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #6307d1;
  float: right;
  font-size: 13px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
  max-width: 280px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: absolute;
  bottom: 12px;
  width: 100%;
  z-index: 99;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 15px;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 125px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  border-radius: 25px;
  color: #000;
  border-radius: 25px;
  font-weight:600;
}
#frame .content .message-input .wrap input {
  padding: 12px 32px 13px 8px;
  border: 1px solid #f1f1f1;
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
    float: right;
    border: none;
    position: relative;
    display: block;
    width: 43px;
    right: 36px;
    border: none;
    width: 43px;
    cursor: pointer;
    background: #6307d1;
    color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
}
#frame .content .message-input .wrap button:hover {
    background: #6DCDE9;
}
button.submit img {
    width: 20px;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 10px 15px;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}
#frame {
    bottom: -520px;
    transition: 0.5s ease-in-out bottom;
}
.chat-start {
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    bottom: 50px;
    right: 70px;
}
.chat-start img {
    width: 30px;
}
.yubo {
    position: relative;
}
.yubo.open-chat-window div#frame {
  bottom: 20px;
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s steps(2, end) both;
          animation: bounce-top 0.9s steps(2, end) both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.hy-icon {
  width: 60px;
  top: -181px;
  height: inherit;
  /* margin: 0 auto; */
  position: relative;
  background: #6307d1;
  box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  text-align: center;
  padding: 14px 0;
  left: 20px;
}
  .hy-icon:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear;
  }
  .outerCircle {
    background-color: transparent;
    border: 4px solid #6307d1;
    opacity: .9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
}
  .innerCircle {
    background-color: transparent;
    border: 3px solid #6307d1;
    opacity: .9;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 100px;
    top: -110px;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    position: relative;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}
  
  
  @-moz-keyframes spinPulse {
      0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px transparent;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
  }
  @-moz-keyframes spinoffPulse {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
  }
  @-webkit-keyframes spinPulse {
      0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px transparent; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
  }
  @-webkit-keyframes spinoffPulse {
      0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
  }
  @-moz-keyframes rotatecircle {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
  }
  
  @-webkit-keyframes rotatecircle {
      0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
  }
  .close-img{
    display: none;
  }
  .open-chat-window .chat-start.bounce-top {
    display: none;
}
.close-img svg {
    width: 25px;
    fill: #fff;
    cursor: pointer;
}

.open-chat-window .close-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.bootm-box {
  position: relative;
}
@-webkit-keyframes open-chat-windows {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes open-chat-window {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
.open-chat-window {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.iframe-box {
    width: 360px;
    position: fixed;
    right: 16px;
    bottom: -520px;
    transition: 0.5s ease-in-out bottom;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 4px 1px rgba(0,0,0,0.4);
    z-index: 999999;
    background: #E6EAEA;
    height: 500px;
}
.open-chat-window{
  bottom: 26px;
  /* transition-timing-function: cubic-bezier(0.42,0,0.58,1) */
}
iframe#frame-lode {
/*   box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none !important;
}
.powerd {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #8894ab;
    letter-spacing: 1px;
    line-height: 15px
}
.tag-line {
    float: none !important;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}
.powerd img {
width: 45px;
position: relative;
top: 2px;
}

.powerd a {
line-height: 19px;
}



/*###################################*/


.quickReplies:hover {
    background: #435f7a;
    color: #fff;
}
.quickReplies {
    font-size: 13px;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #435f7a;
    background: transparent;
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: .5px;
    margin-right: 10px;
    cursor: pointer;
}

div#wave {
  position: relative;
    margin-top: 38vh;
    text-align: center;
    width: 100px;
    height: 100px;
}
div#wave .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}
@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 767px) {
  #frame {
    width: 100%;
    height: 100vh;
    min-height: auto;
    max-height: 100%;
  }
  iframe#frame-lode {
    width: 100%;
/*    height: 90vh;*/
  }
  .open-chat-window{
    bottom: 0 !important;
    width: 100%;
    right: 0;
  }
  .iframe-box {
    bottom: -960px;
    right: 0;
    width: 100%;
  }
}
img#mic {
    display: none;
}
.tag-line.sub {
  display: none;
}
.replies p {
  border-radius: 20px 0px 20px 20px !important
}
.sent p {
  border-radius: 20px 20px 20px 0px !important
}
#fb-rendered-form {
  font-size: 13px !important;
}
#fb-rendered-form button{
  font-size: 13px !important;
  background: #6307d1;
}

#fb-rendered-form input{
  font-size: 13px !important;
}
#fb-rendered-form {
  font-size: 13px !important;
  margin-top: 10px;
  border-radius: 2%;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 0px 4px 1px #6307d1;
}
.rendered-form {
  padding-bottom: 5px;
  padding-top: 5px;
}

#yubo .splide__slide img {
  vertical-align: bottom;
  width: 200px !important;
  border-radius: inherit !important;
  float: none !important;
  margin-bottom: 10px;
}

#yubo .splide__track h4.text-center {
  font-size: 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
}

#yubo .splide__pagination {
  top: 165px;
}

#yubo .splide__track h5.text-center {
  font-size: 11px;
  color: #fff;
  margin: 0;
}

#yubo .splide__slide {
  width: 6% !important;
  margin-right: -38px !important;
  margin-left: 15px !important;
  float: none !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-align: center !important;
}

#yubo .splide__slide .text-center {
  color: #000 !important;
  font-size: 14px !important;
}

#yubo .splide__pagination {
  display: none !important;
}

.contact-profile .contextmenu svg {
    fill: #fff;
}.hy-icon {background:  rgb(53, 152, 219);}.contact-profile{  background: rgb(255, 174, 0);}#frame .content .message-input .wrap button{ background: rgb(53, 152, 219);}.tag-line.sub{color: rgb(255, 255, 255) ;}.tag-line{color: rgb(255, 255, 255);}.close-img svg {fill:rgb(255, 255, 255);}#frame .content .messages ul li.sent p{background:rgb(255, 242, 102);}#frame .content .messages ul li.sent p{ color:rgb(51, 51, 51);}#frame .content .messages ul li.sent p a, #frame .content .messages ul li.sent p a:hover, #frame .content .messages ul li.sent p a:active, #frame .content .messages ul li.sent p a:visited { color:rgb(51, 51, 51); text-decoration: underline !important;font-weight: 700 !important;}#frame .content .messages ul li.replies p{background:rgb(255, 255, 255);}#frame .content .messages ul li.replies p{color:rgb(51, 51, 51);}#frame .content .messages ul li.replies p a, #frame .content .messages ul li.replies p a:hover, #frame .content .messages ul li.replies p a:active, #frame .content .messages ul li.replies p a:visited { color:rgb(51, 51, 51); text-decoration: underline !important;font-weight: 700 !important;}.iframe-box {border: 1px solid rgb(53, 152, 219);background:rgb(255, 255, 255);}#frame{background:rgb(255, 255, 255);}.outerCircle {border: 4px solid rgb(53, 152, 219);border-right: 4px solid transparent;border-left: 4px solid transparent; }.innerCircle {border: 3px solid rgb(53, 152, 219);border-left: 3px solid transparent;border-right: 3px solid transparent; } #fb-rendered-form button, #popUp-body-Inner button {background: rgb(53, 152, 219);} #fb-rendered-form, .popUp-body-Inner {box-shadow: 0px 0px 4px 1px rgb(53, 152, 219);} .contact-profile .contextmenu svg {fill: rgb(255, 255, 255);}