.contact-profile {
/*    padding: 10px 10px 10px;*/
    display: block;
    background: #6307d1;
}
#frame {
  width: 360px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame .content {
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: 100%;
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .content .contact-profile {
  width: 100%;
  height: 62px;
  overflow: hidden;
}
#frame .content .contact-profile .logo {
  max-width: 120px;
  max-height: 55px;
  display: block;
/*  margin-bottom: 5px;*/
}
#frame .content .contact-profile p {
  float: left;
}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 140px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 260px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  padding-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
    background: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-size: 13px;
    word-break: break-word;
}
#frame .content .messages ul li.control {
  text-align: center;
  font-size: 11px !important;
  line-height: 0px;
  padding-top: 10px;
  padding-bottom: 7px;
}
#frame .content .messages ul li.control span {
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #6307d1;
  float: right;
  font-size: 13px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
  max-width: 280px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: absolute;
  bottom: 12px;
  width: 100%;
  z-index: 99;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 15px;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 125px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  border-radius: 25px;
  color: #000;
  border-radius: 25px;
  font-weight:600;
}
#frame .content .message-input .wrap input {
  padding: 12px 32px 13px 8px;
  border: 1px solid #f1f1f1;
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
    float: right;
    border: none;
    position: relative;
    display: block;
    width: 43px;
    right: 36px;
    border: none;
    width: 43px;
    cursor: pointer;
    background: #6307d1;
    color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
}
#frame .content .message-input .wrap button:hover {
    background: #6DCDE9;
}
button.submit img {
    width: 20px;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 10px 15px;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}
#frame {
    bottom: -520px;
    transition: 0.5s ease-in-out bottom;
}
.chat-start {
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    bottom: 50px;
    right: 70px;
}
.chat-start img {
    width: 100%;
}
.yubo {
    position: relative;
}
.yubo.open-chat-window div#frame {
  bottom: 20px;
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s steps(2, end) both;
          animation: bounce-top 0.9s steps(2, end) both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.hy-icon {
  width: 60px;
  top: -181px;
  height: inherit;
  /* margin: 0 auto; */
  position: relative;
  background: #6307d1;
  box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  text-align: center;
  padding: 0px 0;
  left: 20px;
}
/*  .hy-icon:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear;
  }*/
.hy-icon:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  .outerCircle {
    background-color: transparent;
    border: 4px solid #6307d1;
    opacity: .9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
}
  .innerCircle {
    background-color: transparent;
    border: 3px solid #6307d1;
    opacity: .9;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 100px;
    top: -110px;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    position: relative;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}
  
  
  @-moz-keyframes spinPulse {
      0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px transparent;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
  }
  @-moz-keyframes spinoffPulse {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
  }
  @-webkit-keyframes spinPulse {
      0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px transparent; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
  }
  @-webkit-keyframes spinoffPulse {
      0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
  }
  @-moz-keyframes rotatecircle {
      0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
  }
  
  @-webkit-keyframes rotatecircle {
      0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
  }
  .close-img{
    display: none;
  }
  .open-chat-window .chat-start.bounce-top {
    display: none;
}
.close-img svg {
    width: 25px;
    fill: #fff;
    cursor: pointer;
}

.open-chat-window .close-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.bootm-box {
  position: relative;
}
@-webkit-keyframes open-chat-windows {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes open-chat-window {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
.open-chat-window {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.iframe-box {
    width: 360px;
    position: fixed;
    right: 16px;
    bottom: -520px;
    transition: 0.5s ease-in-out bottom;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.4);
    z-index: 999999;
    background: #E6EAEA;
    height: 500px;
}
.open-chat-window{
  bottom: 26px;
  /* transition-timing-function: cubic-bezier(0.42,0,0.58,1) */
}
iframe#frame-lode {
/*   box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none !important;
}
.powerd {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #8894ab;
    letter-spacing: 1px;
    line-height: 15px;
}
.tag-line {
    float: none !important;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.powerd img {
width: 45px;
position: relative;
top: 2px;
}

.powerd a {
line-height: 19px;
pointer-events: none;
display: none;
}

.powerd::after {
content: " Yugasa Bot";
}



/*###################################*/


.quickReplies:hover {
  background: #3dcd58;
  color: #fff;
  border: 1px solid #3dcd58;
}
.quickReplies {
    font-size: 13px;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #435f7a;
    background: transparent;
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: .5px;
    margin-right: 10px;
    cursor: pointer;
    text-align: left;
}

div#wave {
  position: relative;
    margin-top: 38vh;
    text-align: center;
    width: 100px;
    height: 100px;
}
div#wave .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}
@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 767px) {
  #frame {
    width: 100%;
    height: 100vh;
    min-height: auto;
    max-height: 100%;
  }
  iframe#frame-lode {
    width: 100%;
/*    height: 90vh;*/
  }
  .open-chat-window{
    bottom: 0 !important;
    width: 100%;
    right: 0;
  }
  .iframe-box {
    bottom: -960px;
    right: 0;
    width: 100%;
  }
}
img#mic {
    display: none;
}
.tag-line.sub {
  display: none;
}
.replies p {
  border-radius: 20px 0px 20px 20px !important
}
.sent p {
  border-radius: 20px 20px 20px 0px !important
}
#fb-rendered-form {
  font-size: 13px !important;
}
#fb-rendered-form button{
  font-size: 13px !important;
  background: #6307d1;
}

#fb-rendered-form input{
  font-size: 13px !important;
}
#fb-rendered-form {
  font-size: 13px !important;
  margin-top: 10px;
  border-radius: 2%;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 0px 4px 1px #6307d1;
}
.rendered-form {
  padding-bottom: 5px;
  padding-top: 5px;
}

#yubo .splide__slide img {
  vertical-align: bottom;
  width: 200px !important;
  border-radius: inherit !important;
  float: none !important;
  margin-bottom: 10px;
}

#yubo .splide__track h4.text-center {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  text-align: left;
}

#yubo .splide__pagination {
  top: 165px;
}

#yubo .splide__track h5.text-center {
  font-size: 11px;
  color: #fff;
  margin: 0;
}

#yubo .splide__slide {
  width: 6% !important;
  margin-right: -38px !important;
  margin-left: 15px !important;
  float: none !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-align: center !important;
}

#yubo .splide__slide .text-center {
  color: #000 !important;
  font-size: 14px !important;
}

#yubo .splide__pagination {
  display: none !important;
}

.hy-icon {background:  rgb(255,255,255);}.contact-profile{  background: rgb(61, 206, 89);}#frame .content .message-input .wrap button{ background: #42b4e6;}.tag-line.sub{color: rgb(250, 250, 250) ;}.tag-line{color: rgb(250, 250, 250);}.close-img svg {fill:rgb(255, 255, 255);}#frame .content .messages ul li.sent p{background:rgb(224, 251, 224);}#frame .content .messages ul li.sent p{ color:rgb(51, 51, 51);}#frame .content .messages ul li.sent p a, #frame .content .messages ul li.sent p a:hover, #frame .content .messages ul li.sent p a:active, #frame .content .messages ul li.sent p a:visited { color:rgb(51, 51, 51); text-decoration: underline;font-weight: 700 !important;}#frame .content .messages ul li.replies p{background:rgb(224, 233, 251);}#frame .content .messages ul li.replies p{color:rgb(51, 51, 51);}#frame .content .messages ul li.replies p a, #frame .content .messages ul li.replies p a:hover, #frame .content .messages ul li.replies p a:active, #frame .content .messages ul li.replies p a:visited { color:rgb(51, 51, 51); text-decoration: underline !important;font-weight: 700 !important;}.iframe-box {background:rgb(72, 221, 70);}#frame{background:rgb(255, 255, 255);}.outerCircle {border: 4px solid #019718;border-right: 4px solid transparent;border-left: 4px solid transparent; }.innerCircle {border: 3px solid #883D86;border-left: 3px solid transparent;border-right: 3px solid transparent; } #fb-rendered-form button, #popUp-body-Inner button {background: rgb(61, 206, 89);} #fb-rendered-form, .popUp-body-Inner {box-shadow: 0px 0px 4px 1px rgb(72, 221, 70);}

#frame .content .messages ul li.replies p {
  background: #f1f1f1;
}

.contact-profile {
  background: #42b4e6;
  box-shadow: -1.2px 1.6px 2px 0 rgba(0,0,0,0.2);
  border-bottom: 0 solid #ccc;
}

.iframe-box {
  background-image: url(https://helloyubo.com/sample/schneider/index_files/New-logo-11feb2019_1_.webp);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 230px;
  background-position-x: center;
}

#yubo .splide__slide{
  background: grey;
}
#yubo .splide__arrow {
  width: 1.2em;
  height: 1.2em;
  opacity: 0.8;
  height: 18% !important;
  border-radius: 2px !important;
  cursor: pointer;
}
#yubo .splide__arrow svg {
  width: .8em;
  height: .8em;
}
.splide__arrow--next {
  right: 0px !important;
}

.splide__arrow--prev {
  left: 0px !important;
}
#yubo .splide__slide .text-center {
  color: #000 !important;
  font-size: 13px !important;
  /* background: green; */
}
#yubo .splide__slide img {
  width: 100% !important;
}
#yubo .splide__slide {
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,0.5);
  width: 200px !important;
  margin: 11px !important;
  padding: 5px !important;
  background: #fff;
  /* border: 1px solid black; */
  border-radius: 5px !important;
  /* font-color: #3dce59 !important; */
  /* font-size: 2px !important; */
}
#yubo .prod_card:hover .cart_icon {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.3);
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}
#yubo.cart_icon {
  display: none;
}
#yubo .yubo_prod_card_n12 i.fa.fa-shopping-cart {
  margin-right: 30px;
  display: none;
}
#yubo .yubo_prod_card_n83 i.fa.fa-shopping-cart {
  margin-right: 30px;
  display: none;
}

#yubo .cart_icon .fa {
  color: rgb(61, 206, 89);
  font-size: 20px;
}
#yubo .cart_icon_hover {
position: absolute;
top: 40%;
text-align: center;
width: 100%;
}
#yubo .cart_icon {
display: none;
position: relative;
}
#yubo .cart_icon .fa {
  color: rgb(61, 206, 89);
  font-size: 20px;
  background: #fff;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

#yubo .cart_icon .fa.fa-info {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

#yubo .prod_card h5.text-center.price {
margin-left: auto !important;
display: block;
}
#yubo .prod_card .title_price {
display: flex;
width: 100%;
}

#yubo .prod_card .prod_info h5.desc {
  color: gray !important;
  font-size: 10px !important;
  text-align: left;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
  width: auto;
  letter-spacing: 1px;
}

#yubo .prod_card .prod_info {
padding: 0 5px;
}
#yubo .prod_card h5.text-center.price {
margin-left: auto !important;
display: block;
font-size: 12px !important;
font-weight: 600;
color: rgb(61, 206, 89) !important;
}

#yubo .prod_card h5.text-center.title {
font-size: 12px !important;
}

#yubo .splide__arrow:disabled {
  display: none;
}

.contextmenu svg {
  fill: rgb(255, 255, 255);
}

#frame .prod_info .desc p {
  padding: 0 !important;
  padding-top: 5px !important;
}
#frame .content .messages .recom_img {
  width: 100%;
  padding-bottom: 10px;
}

#frame .content .messages .sent a {
  border: 1px solid;
  border-radius: 6px;
  padding: 8px;
  display: inline-block;
  text-decoration: none !important;
  background: #3dcd58;
  color: #fff !important;
  border: 1px solid #3dcd58;
  margin: 4px;
  text-align: center;
  width: 90%;
}

#frame .content .prod_img {
    width: 100%;
    height: 200px !important;
    /* display: block; */
    display: flex;
    align-items: center;
}
#frame .content .prod_img img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#frame .content .prod_card{
    max-height: 300px;
    overflow: clip;
}
#frame .yubo_prod_card_n8 .yubo_info_link {
  display: none;
}

#frame .yubo_prod_card_n8 .fa-shopping-cart::before {
  content: "\f129";
}

#frame .content .yubo_prod_card_n8 .prod_img {
  width: 30%;
  height: 100px !important;
}

#frame .content .yubo_prod_card_n8 {
  display: flex;
}
#frame .content .yubo_prod_card_n8 .prod_info {
  width: 70%;
  text-align: left;
}

#yubo .yubo_prod_card_n8  .title_price {
  display: inline;
}

#yubo .prod_card  td {
  border: 1px solid;
  padding: 5px;
}

#yubo .yubo_prod_card_n51 .item_title {
  word-wrap: anywhere;
}

#frame .content .yubo_prod_card_n51 .prod_img {
  display: none;
}

#yubo .yubo_prod_card_n51:hover .cart_icon {
  display: none !important;
}
#yubo .yubo_prod_card_n50:hover .cart_icon {
  display: none !important;
}

#yubo .yubo_prod_card_n51 h4.text-center {
  text-align: center;
  background: #3dcd58;
  padding-top: 10px;
  color: #fff !important;
  border-radius: 5px;
  padding-bottom: 10px;
}
#yubo .yubo_prod_card_n51 .title_price {
  display: inline;
}

/*#frame .content .yubo_prod_card_n51 {
  overflow-y: scroll;
}*/

#yubo .yubo_products_n51 .splide__slide {
  width: 240px !important;
}

#yubo .yubo_prod_card_n51 h5.text-center.price {
  padding-bottom: 10px;
  padding-top: 5px;
}
#yubo .prod_card td {
  padding: 5px;
  background: rgb(224, 251, 224);
  font-weight: unset;
  color: rgb(51, 51, 51);
}

#yubo .yubo_prod_card_n8 .prod_info {
  padding-top: 10px;
}
#yubo .yubo_products_n8 .splide__slide {
  width: 240px !important;
}

#yubo .yubo_prod_card_n8 .cart_icon .fa {
  padding: 10px 15px 10px 15px;
}

.chat-start {
    width: 85px;
    height: 85px;
}
.hy-icon {
  width: 85px;
  top: -206px;
  left: 15px;
}
.innerCircle {
  top: -110px;
  width: 105px;
  height: 105px;
  left: 5px;
}
.outerCircle {
  width: 115px;
  height: 115px;
}
/*
.chat-start img {
  animation: shadowzoom 2s linear infinite;
}
@keyframes shadowzoom {
      0% { filter: drop-shadow(0px 0px 2px #42b4e6);}
      50% { filter: drop-shadow(0px 0px 8px #42b4e6); }
    100% { filter: drop-shadow(0px 0px 2px #42b4e6); }
  }

  .outerCircle {
  display: none;
}
.innerCircle {
  display: none;
}
.hy-icon {
  width: 120px;
  top: 30px;
  left: 40px;
  box-shadow: none;
  background: transparent;
}*/
#frame .content .contact-profile .logo {
  max-width: 118px;
  max-height: 200px;
  display: block;
  padding: none !important;
  position: relative;
  top: 28px;
  left: -5px;
}
#frame .content .contact-profile .tag-line {
  width: 60%;
  position: relative;
  left: -20px;
}

#frame .content .contact-profile {
  display: flex;
  align-items: center;
}

#frame .content .yubo_prod_card_n50 .prod_img {
  height: 45px !important;
  padding-top: 7px;
  padding-bottom: 5px;
}

#yubo .yubo_prod_card_n50 .title_price {
  text-align: center !important;
  padding-bottom: 5px;
}

#yubo .yubo_prod_card_n50  .text-center.title {
  text-align: center !important;
}

#yubo .yubo_prod_card_n50 .title_price {
  display: block;
}

#yubo .yubo_products_n51 #slider_1-track {
  padding-left: 75px !important;
}

/*#yubo .yubo_prod_card_n51 .prod_desc {
  max-height: 180px;
  overflow-y: scroll;
}*/

#frame .content .messages ul li.sent p b {
  font-weight: bold;
}

#frame .content .contact-profile:before {
  display: none;
/*    content: "(BETA version)";
    position: absolute;
    right: 11px;
    font-size: 11px;
    color: #fff;
    top: 44px;*/
}

#yubo .yubo_prod_card_n51 .prod_info {
  padding: 0 !important;
}

#yubo .yubo_prod_card_n51 .prod_desc::-webkit-scrollbar-thumb {
    border: 2px solid red;
    border-radius: 10px;
    width: 2px;
    
}
#yubo .yubo_prod_card_n51 .prod_desc:hover {
    overflow-y: auto;
}
#yubo .yubo_prod_card_n51 .prod_desc {
    max-height: 180px;
    overflow: hidden;
    scrollbar-width: thin;
}
#yubo .yubo_prod_card_n51 .prod_desc::-webkit-scrollbar {
    width: 2px;
}

#yubo .yubo_prod_card_n50 .prod_info {
  padding: 0 !important;
}

#yubo .yubo_prod_card_n50 .prod_desc::-webkit-scrollbar-thumb {
    border: 2px solid red;
    border-radius: 10px;
    width: 2px;
    
}
#yubo .yubo_prod_card_n50 .prod_desc:hover {
    overflow-y: auto;
}
#yubo .yubo_prod_card_n50 .prod_desc {
    max-height: 180px;
    overflow: hidden;
    scrollbar-width: thin;
}
#yubo .yubo_prod_card_n50 .prod_desc::-webkit-scrollbar {
    width: 2px;
}

#yubo .yubo_prod_card_n50 .tracking_details {
  width: 100%;
}

#yubo .prod_card .order_list {
  width: 100%;
}
