<link rel="stylesheet" href="https://localhost:4900/assets/test_chatbot.bot.css">
<script src="https://localhost:4900/assets/test_chatbot.bot.js"></script>

<!-- <link rel="stylesheet" href="https://yubo.yugasa.org/assets/test.bot.css">
<script src="https://yubo.yugasa.org/assets/test.bot.js"></script> -->

