
<!-- To run on live -->
<link rel="stylesheet" href="https://yubo.yugasa.org/assets/yugasa.bot.css">
<script src="https://yubo.yugasa.org/assets/yugasa.bot.js"></script>

<!-- To run on localhost -->
<!-- <link rel="stylesheet" href="https://localhost:4900/assets/yugasa.bot.css">
<script src="https://localhost:4900/assets/yugasa.bot.js"></script> -->
